.ui-helper-hidden{display:none}
.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table}
.ui-helper-clearfix:after{clear:both}
.ui-helper-clearfix{min-height:0}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:alpha(opacity=0)}
.ui-front{z-index:100}
.ui-state-disabled{cursor:default!important}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}
.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%}
.ui-widget{font-family:"Segoe UI",Arial,sans-serif;outline:0;font-size:1.1em}
.ui-widget .ui-widget{font-size:1em}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:"Segoe UI",Arial,sans-serif;font-size:1em}
.ui-widget-content{border:1px solid #b1b1b1;background:#FFF;color:#333}
.ui-widget-content a{color:#333}
/*.ui-widget-header{border:1px solid #535353;background:#4f4f4f url(images/gradient_1.png) repeat-x;color:#fff;font-weight:normal;text-shadow:0 1px 0 rgba(83,83,83,0.8)}*/
.ui-widget-header a{color:#fff;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #535353;background:#4f4f4f url(images/gradient_1.png) repeat-x;color:#fff;font-weight:normal;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#fff;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover{background-color:#2686AE;background:#2686ae url(images/gradient_2.png) repeat-x;border:1px solid #2788B1}
.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{background:#333 url(images/gradient_5.png) repeat-x;border:1px solid #3AB5E9}
.ui-state-hover a,.ui-state-hover a:hover{color:#fff;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #2788B1;background:#3bb7eb url(images/gradient_6.png) repeat-x}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{text-decoration:none}
.ui-widget-header.ui-state-default{background:#4f4f4f url(images/gradient_1.png) repeat-x 0 0;color:#fff;font-weight:normal;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-widget-header.ui-state-active{background:#2686ae url(images/gradient_2.png) repeat-x 0 0;color:#fff;font-weight:normal;text-shadow:0 1px 0 rgba(83,83,83,0.8);border:1px solid #2788B1}
.ui-widget-header.ui-state-hover{background:#2686ae url(images/gradient_2.png) repeat-x 0 0;color:#fff;font-weight:normal;text-shadow:0 1px 0 rgba(83,83,83,0.8);border:1px solid #2788B1}
.ui-widget-header.ui-state-default a,.ui-widget-header.ui-state-active a,.ui-widget-header.ui-state-hover a{color:#fff;font-weight:normal;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{background:#a1a1a1 url(images/gradient_3.png) repeat-x 0 0;font-weight:normal;color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.8);border:1px solid #B1B1B1}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#0c2837}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #D3404B;background:#f9e6e7;color:#3a0d11;-moz-border-radius:0!important;-webkit-border-radius:0!important;border-radius:0!important}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#3a0d11}
.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#3a0d11}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:alpha(opacity=70);font-weight:normal}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;nowhitespace:afterproperty;filter:alpha(opacity=35)}
.ui-state-highlight p,.ui-state-error p{font-size:.8em;line-height:16px}
.ui-icon{width:16px;height:16px;background-position:16px 16px}
.ui-icon,.ui-widget-content .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}
.ui-widget-header .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}
.ui-state-default .ui-icon{background-image:url(images/ui-icons_ffffff_256x240.png)}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(images/ui-icons_ffffff_256x240.png)}
.ui-state-active .ui-icon{background-image:url(images/ui-icons_ffffff_256x240.png)}
.ui-state-highlight .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}
.ui-icon-carat-1-n{background-position:0 0}
.ui-icon-carat-1-ne{background-position:-16px 0}
.ui-icon-carat-1-e{background-position:-32px 0}
.ui-icon-carat-1-se{background-position:-48px 0}
.ui-icon-carat-1-s{background-position:-64px 0}
.ui-icon-carat-1-sw{background-position:-80px 0}
.ui-icon-carat-1-w{background-position:-96px 0}
.ui-icon-carat-1-nw{background-position:-112px 0}
.ui-icon-carat-2-n-s{background-position:-128px 0}
.ui-icon-carat-2-e-w{background-position:-144px 0}
.ui-icon-triangle-1-n{background-position:0 -16px}
.ui-icon-triangle-1-ne{background-position:-16px -16px}
.ui-icon-triangle-1-e{background-position:-32px -16px}
.ui-icon-triangle-1-se{background-position:-48px -16px}
.ui-icon-triangle-1-s{background-position:-64px -16px}
.ui-icon-triangle-1-sw{background-position:-80px -16px}
.ui-icon-triangle-1-w{background-position:-96px -16px}
.ui-icon-triangle-1-nw{background-position:-112px -16px}
.ui-icon-triangle-2-n-s{background-position:-128px -16px}
.ui-icon-triangle-2-e-w{background-position:-144px -16px}
.ui-icon-arrow-1-n{background-position:0 -32px}
.ui-icon-arrow-1-ne{background-position:-16px -32px}
.ui-icon-arrow-1-e{background-position:-32px -32px}
.ui-icon-arrow-1-se{background-position:-48px -32px}
.ui-icon-arrow-1-s{background-position:-64px -32px}
.ui-icon-arrow-1-sw{background-position:-80px -32px}
.ui-icon-arrow-1-w{background-position:-96px -32px}
.ui-icon-arrow-1-nw{background-position:-112px -32px}
.ui-icon-arrow-2-n-s{background-position:-128px -32px}
.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}
.ui-icon-arrow-2-e-w{background-position:-160px -32px}
.ui-icon-arrow-2-se-nw{background-position:-176px -32px}
.ui-icon-arrowstop-1-n{background-position:-192px -32px}
.ui-icon-arrowstop-1-e{background-position:-208px -32px}
.ui-icon-arrowstop-1-s{background-position:-224px -32px}
.ui-icon-arrowstop-1-w{background-position:-240px -32px}
.ui-icon-arrowthick-1-n{background-position:0 -48px}
.ui-icon-arrowthick-1-ne{background-position:-16px -48px}
.ui-icon-arrowthick-1-e{background-position:-32px -48px}
.ui-icon-arrowthick-1-se{background-position:-48px -48px}
.ui-icon-arrowthick-1-s{background-position:-64px -48px}
.ui-icon-arrowthick-1-sw{background-position:-80px -48px}
.ui-icon-arrowthick-1-w{background-position:-96px -48px}
.ui-icon-arrowthick-1-nw{background-position:-112px -48px}
.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}
.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}
.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}
.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}
.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}
.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}
.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}
.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}
.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}
.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}
.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}
.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}
.ui-icon-arrowreturn-1-w{background-position:-64px -64px}
.ui-icon-arrowreturn-1-n{background-position:-80px -64px}
.ui-icon-arrowreturn-1-e{background-position:-96px -64px}
.ui-icon-arrowreturn-1-s{background-position:-112px -64px}
.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}
.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}
.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}
.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}
.ui-icon-arrow-4{background-position:0 -80px}
.ui-icon-arrow-4-diag{background-position:-16px -80px}
.ui-icon-extlink{background-position:-32px -80px}
.ui-icon-newwin{background-position:-48px -80px}
.ui-icon-refresh{background-position:-64px -80px}
.ui-icon-shuffle{background-position:-80px -80px}
.ui-icon-transfer-e-w{background-position:-96px -80px}
.ui-icon-transferthick-e-w{background-position:-112px -80px}
.ui-icon-folder-collapsed{background-position:0 -96px}
.ui-icon-folder-open{background-position:-16px -96px}
.ui-icon-document{background-position:-32px -96px}
.ui-icon-document-b{background-position:-48px -96px}
.ui-icon-note{background-position:-64px -96px}
.ui-icon-mail-closed{background-position:-80px -96px}
.ui-icon-mail-open{background-position:-96px -96px}
.ui-icon-suitcase{background-position:-112px -96px}
.ui-icon-comment{background-position:-128px -96px}
.ui-icon-person{background-position:-144px -96px}
.ui-icon-print{background-position:-160px -96px}
.ui-icon-trash{background-position:-176px -96px}
.ui-icon-locked{background-position:-192px -96px}
.ui-icon-unlocked{background-position:-208px -96px}
.ui-icon-bookmark{background-position:-224px -96px}
.ui-icon-tag{background-position:-240px -96px}
.ui-icon-home{background-position:0 -112px}
.ui-icon-flag{background-position:-16px -112px}
.ui-icon-calendar{background-position:-32px -112px}
.ui-icon-cart{background-position:-48px -112px}
.ui-icon-pencil{background-position:-64px -112px}
.ui-icon-clock{background-position:-80px -112px}
.ui-icon-disk{background-position:-96px -112px}
.ui-icon-calculator{background-position:-112px -112px}
.ui-icon-zoomin{background-position:-128px -112px}
.ui-icon-zoomout{background-position:-144px -112px}
.ui-icon-search{background-position:-160px -112px}
.ui-icon-wrench{background-position:-176px -112px}
.ui-icon-gear{background-position:-192px -112px}
.ui-icon-heart{background-position:-208px -112px}
.ui-icon-star{background-position:-224px -112px}
.ui-icon-link{background-position:-240px -112px}
.ui-icon-cancel{background-position:0 -128px}
.ui-icon-plus{background-position:-16px -128px}
.ui-icon-plusthick{background-position:-32px -128px}
.ui-icon-minus{background-position:-48px -128px}
.ui-icon-minusthick{background-position:-64px -128px}
.ui-icon-close{background-position:-80px -128px}
.ui-icon-closethick{background-position:-96px -128px}
.ui-icon-key{background-position:-112px -128px}
.ui-icon-lightbulb{background-position:-128px -128px}
.ui-icon-scissors{background-position:-144px -128px}
.ui-icon-clipboard{background-position:-160px -128px}
.ui-icon-copy{background-position:-176px -128px}
.ui-icon-contact{background-position:-192px -128px}
.ui-icon-image{background-position:-208px -128px}
.ui-icon-video{background-position:-224px -128px}
.ui-icon-script{background-position:-240px -128px}
.ui-icon-alert{background-position:0 -144px}
.ui-icon-info{background-position:-16px -144px}
.ui-icon-notice{background-position:-32px -144px}
.ui-icon-help{background-position:-48px -144px}
.ui-icon-check{background-position:-64px -144px}
.ui-icon-bullet{background-position:-80px -144px}
.ui-icon-radio-on{background-position:-96px -144px}
.ui-icon-radio-off{background-position:-112px -144px}
.ui-icon-pin-w{background-position:-128px -144px}
.ui-icon-pin-s{background-position:-144px -144px}
.ui-icon-play{background-position:0 -160px}
.ui-icon-pause{background-position:-16px -160px}
.ui-icon-seek-next{background-position:-32px -160px}
.ui-icon-seek-prev{background-position:-48px -160px}
.ui-icon-seek-end{background-position:-64px -160px}
.ui-icon-seek-start{background-position:-80px -160px}
.ui-icon-seek-first{background-position:-80px -160px}
.ui-icon-stop{background-position:-96px -160px}
.ui-icon-eject{background-position:-112px -160px}
.ui-icon-volume-off{background-position:-128px -160px}
.ui-icon-volume-on{background-position:-144px -160px}
.ui-icon-power{background-position:0 -176px}
.ui-icon-signal-diag{background-position:-16px -176px}
.ui-icon-signal{background-position:-32px -176px}
.ui-icon-battery-0{background-position:-48px -176px}
.ui-icon-battery-1{background-position:-64px -176px}
.ui-icon-battery-2{background-position:-80px -176px}
.ui-icon-battery-3{background-position:-96px -176px}
.ui-icon-circle-plus{background-position:0 -192px}
.ui-icon-circle-minus{background-position:-16px -192px}
.ui-icon-circle-close{background-position:-32px -192px}
.ui-icon-circle-triangle-e{background-position:-48px -192px}
.ui-icon-circle-triangle-s{background-position:-64px -192px}
.ui-icon-circle-triangle-w{background-position:-80px -192px}
.ui-icon-circle-triangle-n{background-position:-96px -192px}
.ui-icon-circle-arrow-e{background-position:-112px -192px}
.ui-icon-circle-arrow-s{background-position:-128px -192px}
.ui-icon-circle-arrow-w{background-position:-144px -192px}
.ui-icon-circle-arrow-n{background-position:-160px -192px}
.ui-icon-circle-zoomin{background-position:-176px -192px}
.ui-icon-circle-zoomout{background-position:-192px -192px}
.ui-icon-circle-check{background-position:-208px -192px}
.ui-icon-circlesmall-plus{background-position:0 -208px}
.ui-icon-circlesmall-minus{background-position:-16px -208px}
.ui-icon-circlesmall-close{background-position:-32px -208px}
.ui-icon-squaresmall-plus{background-position:-48px -208px}
.ui-icon-squaresmall-minus{background-position:-64px -208px}
.ui-icon-squaresmall-close{background-position:-80px -208px}
.ui-icon-grip-dotted-vertical{background-position:0 -224px}
.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}
.ui-icon-grip-solid-vertical{background-position:-32px -224px}
.ui-icon-grip-solid-horizontal{background-position:-48px -224px}
.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}
.ui-icon-grip-diagonal-se{background-position:-80px -224px}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:4px}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:4px}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:4px}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:4px}
.ui-widget-overlay{background:#222;opacity:.70;filter:alpha(opacity=70)!important;/*!important needed for ie7 and ie8*/}
.ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000;opacity:.20;filter:alpha(opacity=20);border-radius:5px}
.ui-resizable{position:relative}
.ui-resizable-handle{position:absolute;font-size:.1px;display:block}
.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}
.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black}
.ui-accordion{width:100%}
.ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;margin-top:1px;padding:.5em .5em .5em .7em;min-height:0}
.ui-accordion .ui-accordion-icons{padding-left:2.2em}
.ui-accordion .ui-accordion-noicons{padding-left:.7em}
.ui-accordion .ui-accordion-icons .ui-accordion-icons{padding-left:2.2em}
.ui-accordion-icons .ui-accordion-header a{padding-left:1.5em}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon,.ui-accordion .ui-accordion-header .ui-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}
.ui-accordion .ui-accordion-content{background:#f8fcfe;padding:1em 2.2em;border-top:0;overflow:auto;border:1px solid #B1B1B1;display:none;position:relative;top:1px;margin-bottom:2px;margin-top:-2px}
.ui-accordion .ui-accordion-header.ui-state-hover{background:#4f4f4f url(images/gradient_1.png) repeat-x;border-color:#39B1E4}
.ui-accordion .ui-accordion-header.ui-state-active{background:#2686ae url(images/gradient_2.png) repeat-x;border-color:#2788B1!important;border-bottom:0!important}
.ui-accordion .ui-accordion-li-fix{display:inline}
.ui-accordion .ui-accordion-header,.ui-accordion .ui-accordion-header a{display:block;font-weight:bold;color:#fff;text-shadow:0 1px 0 rgba(83,83,83,0.8);text-decoration:none}
.ui-accordion .ui-accordion-content-active{display:block}
.ui-accordion .ui-accordion-header,.ui-accordion .ui-accordion-content{border-radius:0}
.ui-autocomplete{position:absolute;z-index:2!important;cursor:default;background:#FFF;border:0 none!important;padding:0!important;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:0 2px 4px rgba(0,0,0,0.5);-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.5);box-shadow:0 2px 4px rgba(0,0,0,0.5)}
.ui-autocomplete-loading{background:#fff url('images/ui-anim_basic_16x16.gif') right center no-repeat}
.ui-autocomplete .ui-menu-item a.ui-state-hover,.ui-autocomplete .ui-menu-item a.ui-state-active{margin:0!important}
* html .ui-autocomplete{width:1px}
.ui-menu{list-style:none;padding:2px;margin:0;display:block;outline:0}
.ui-menu .ui-menu{margin-top:-3px;position:absolute}
.ui-menu .ui-menu-item{margin:0;padding:0;width:100%}
.ui-menu .ui-menu-divider{margin:5px -2px 5px -2px;height:0;font-size:0;line-height:0;border-width:1px 0 0 0}
.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:.2em .4em;border-radius:0;line-height:1.5;min-height:0;font-weight:normal}
.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active{background:#2686ae url(images/gradient_2.png) repeat-x!important;color:#FFF;text-shadow:0 1px 0 rgba(83,83,83,0.8);font-weight:normal;border:0 none}
.ui-menu .ui-state-disabled{font-weight:normal;margin:.4em 0 .2em;line-height:1.5}
.ui-menu .ui-state-disabled a{cursor:default}
.ui-menu-icons{position:relative}
.ui-menu-icons .ui-menu-item a{position:relative;padding-left:2em}
.ui-menu .ui-icon{position:absolute;top:.2em;left:.2em}
.ui-menu .ui-menu-icon{position:static;float:right;margin-top:.2em}
.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}
.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}
.ui-button-icon-only{width:2.2em}
button.ui-button-icon-only{width:2.4em}
.ui-button-icons-only{width:3.4em}
button.ui-button-icons-only{width:3.7em}
.ui-button .ui-button-text{display:block;line-height:normal}
.ui-button-text-only .ui-button-text{padding:.4em 1em}
.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}
.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}
.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}
input.ui-button{padding:.4em 1em}
.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px}
.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px}
.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em}
.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em}
.ui-buttonset{margin-right:7px}
.ui-buttonset .ui-button{margin-left:0;margin-right:-0.3em}
input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner{border:0;padding:0}
.ui-dialog{position:absolute;padding:0!important;outline:0;overflow:hidden;padding:0;background:#FFF;box-shadow:0 5px 8px rgba(0,0,0,0.8)}
.ui-dialog .ui-dialog-titlebar{padding:.5em 1em .3em!important;position:relative;border-width:0 0 1px 0;border-color:#979797;background:#a1a1a1 url(images/gradient_3.png) 0 0 repeat-x;border-radius:0}
.ui-dialog .ui-dialog-title{float:left;white-space:nowrap;max-width:90%;overflow:hidden;text-overflow:ellipsis;margin:.1em 0 .2em 0;color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.8);font-weight:normal!important}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:21px;margin:-10px 0 0 0;padding:1px;height:20px}
.ui-dialog .ui-dialog-titlebar-close .ui-icon{position:absolute;top:50%;left:50%;margin:-8px 0 0 -8px}
.ui-dialog .ui-dialog-titlebar.ui-state-focus{background:url("images/gradient_5.png") repeat-x scroll 0 0 #333;border:1px solid #3AB5E9}
.ui-dialog .ui-state-focus .ui-dialog-title{color:#FFF;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0;overflow:auto;zoom:1}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}
.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}
.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px}
.ui-draggable .ui-dialog-titlebar{cursor:move}
.ui-slider{position:relative;text-align:left;border:0 none}
.ui-state-focus .ui-slider-handle{border:0 none}
.ui-slider .ui-slider-handle{background:url(images/slider_handles.png) 0 -23px no-repeat;position:absolute;z-index:2;width:23px;height:23px;cursor:pointer}
.ui-slider .ui-state-hover{background-position:0 0!important}
.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0}
.ui-slider .ui-state-default{border:0 none}
.ui-slider-horizontal{height:4px;background:url(images/slider_h_bg.gif) 0 0 repeat-x}
.ui-slider-horizontal .ui-slider-handle{top:-9px;margin-left:-12px}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%;background:url(images/slider_h_bg.gif) 0 -4px repeat-x}
.ui-slider-horizontal .ui-slider-range-min{left:0}
.ui-slider-horizontal .ui-slider-range-max{right:0}
.ui-slider-vertical{width:4px;height:100px;background:url(images/slider_v_bg.gif) -4px 0 repeat-y}
.ui-slider-vertical .ui-slider-handle{left:-9px;margin-left:0;margin-bottom:-9px;background-position:0 -66px!important}
.ui-slider-vertical .ui-state-hover{background-position:0 -43px!important}
.ui-slider-vertical .ui-slider-range{left:0;width:100%;background:url(images/slider_v_bg.gif) 0 0 repeat-y}
.ui-slider-vertical .ui-slider-range-min{bottom:0}
.ui-slider-vertical .ui-slider-range-max{top:0}
.ui-tabs{background:#FFF;position:relative;padding:.2em;zoom:1;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border:0 none}
.ui-tabs .ui-tabs-nav{border-color:#a8a8a8;border-width:0 0 1px 0;margin:0;padding:0;background:transparent;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:1px;margin:0 .2em 1px 0;border-bottom:0!important;padding:0;white-space:nowrap;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px}
.ui-tabs .ui-tabs-nav li a{float:left;padding:.5em 1em;text-decoration:none}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{margin-bottom:0;padding-bottom:1px}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:text}
.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer}
.ui-tabs .ui-tabs-panel{display:block;border:1px solid #B1B1B1;padding:1em 1.4em;background:0;border-color:#a8a8a8;border-style:solid;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
.ui-tabs .ui-tabs-hide{display:none!important}
.ui-tabs .ui-tabs-nav li.ui-state-default{background:#a1a1a1 url(images/gradient_3.png) 0 0 repeat-x;border-color:#a8a8a8}
.ui-tabs .ui-tabs-nav li.ui-state-default a{color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.8)}
.ui-tabs .ui-tabs-nav li.ui-state-hover{background:#2686ae url(images/gradient_2.png) repeat-x}
.ui-tabs .ui-tabs-nav li.ui-state-hover a{color:#fff;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-tabs .ui-tabs-nav li.ui-state-active{background:#FFF}
.ui-tabs .ui-tabs-nav li.ui-state-active a{color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.8)}
.ui-datepicker{display:none;padding:.2em .2em 0;background:#FFF none;width:17em;-moz-box-shadow:0 5px 10px rgba(0,0,0,0.8);-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.8);box-shadow:0 5px 10px rgba(0,0,0,0.8)}
.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;background:url("images/gradient_1.png") repeat-x scroll 0 0 #4f4f4f;border:0 none;-moz-border-radius-bottomleft:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em;border:0;cursor:pointer}
.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}
.ui-datepicker .ui-datepicker-prev{left:2px}
.ui-datepicker .ui-datepicker-next{right:2px}
.ui-datepicker .ui-datepicker-prev-hover{left:1px}
.ui-datepicker .ui-datepicker-next-hover{right:1px}
.ui-datepicker .ui-datepicker-header .ui-state-hover{background:transparent;border:1px solid #535353}
.ui-datepicker .ui-datepicker-prev span{background-position:0 -32px!important}
.ui-datepicker .ui-datepicker-next span{background-position:-16px -32px!important}
.ui-datepicker .ui-datepicker-prev-hover span{background-position:0 -48px!important}
.ui-datepicker .ui-datepicker-next-hover span{background-position:-16px -48px!important}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-7px;background:url(../images/icon_sprite.png) no-repeat}
.ui-datepicker thead{background:url("images/gradient_7.png") repeat-x scroll left bottom #fafafa;border-top:1px solid #B1B1B1;border-bottom:1px solid #DCDCDC}
.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center;color:#FFF;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}
.ui-datepicker select.ui-datepicker-month-year{width:100%}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}
.ui-datepicker table{width:100%;border-collapse:collapse;margin:0 0 .4em}
.ui-datepicker th{padding:.3em .3em!important;/*!important needed to override jquery's default padding */text-align:center;font-weight:bold;border:0;font-size:.9em}
.ui-datepicker td{border:0;padding:1px}
.ui-datepicker td span,.ui-datepicker td a{display:block;padding:2px 3px 3px;text-align:right;text-decoration:none}
.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}
.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}
.ui-datepicker-buttonpane button{background:#4f4f4f url(images/gradient_1.png) 0 0 repeat-x!important;color:#fff!important;border-color:#b6b6b6!important;font-weight:bold!important;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}
.ui-datepicker .ui-datepicker-calendar a{background:transparent;border:0 none;text-shadow:none;color:#333}
.ui-datepicker .ui-datepicker-calendar a.ui-state-active{color:#37addf}
.ui-datepicker .ui-datepicker-calendar a.ui-state-hover{background:#3BB7EB;color:#FFF!important;text-shadow:0 1px 1px #2788B1}
.ui-datepicker .ui-datepicker-current-day .ui-state-default{color:#37ADDF!important;text-shadow:none}
.ui-datepicker.ui-datepicker-multi{width:auto}
.ui-datepicker-multi .ui-datepicker-group{float:left;padding-left:1%;padding-right:1%}
.ui-datepicker-multi .ui-datepicker-group table{margin:0 auto .4em}
.ui-datepicker-multi-2 .ui-datepicker-group{width:48%}
.ui-datepicker-multi-3 .ui-datepicker-group{width:31.3%}
.ui-datepicker-multi-4 .ui-datepicker-group{width:23%}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}
.ui-datepicker-row-break{clear:both;width:100%}
.ui-datepicker-rtl{direction:rtl}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}
.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}
.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right}
.ui-datepicker-rtl .ui-datepicker-group{float:right}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-datepicker-cover{display:none;display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}
.ui-progressbar{height:13px;overflow:hidden;text-align:left;background:url(images/progress_bar.gif) 0 -13px repeat-x;line-height:1%}
.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%;background:url(images/progress_bar.gif) 0 0 repeat-x}
.ui-igdialog-footer{background:#a1a1a1 url(images/gradient_3.png) 0 0 repeat-x;color:#333;font-weight:normal!important;padding:.4em 1em!important;text-shadow:0 1px 0 rgba(255,255,255,0.8);border-color:#979797}
.ui-iggrid .ui-iggrid-content{border-color:#b1b1b1}
.ui-iggrid-scrolldiv{background-color:#f3f3f3;border-bottom:1px solid #DCDCDC!important}
.ui-iggrid .ui-iggrid-scrolldiv:first-child,.ui-iggrid>table tr:first-child td,.ui-iggrid>table>tbody tr:first-child th{border-top:1px solid #DCDCDC!important}
.ui-iggrid-layout-helper>tbody>tr:first-child>td,.ui-iggrid-layout-helper>tbody>tr:first-child>td th{border-top:0 none!important}
.ui-iggrid th,.ui-iggrid th.ui-state-default{border-color:#535353 #535353 #535353 #757575}
.ui-iggrid>table>tbody tr:first-child th.ui-igpivotgrid-header{border-top-color:#535353!important}
.ui-iggrid th a,.ui-iggrid th.ui-state-default a,.ui-iggrid th.ui-state-hover a,.ui-iggrid th.ui-state-active a{font-size:larger; color:#000;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-iggrid th.ui-state-hover{background:#2686ae url(images/gradient_2.png) repeat-x;border:1px solid #2788B1}
.ui-iggrid th.ui-state-active{background:#757575 url(images/gradient_4.png) repeat-x !important;border:1px solid #2788B1}
.ui-iggrid th.ui-state-focus{background:#333 url(images/gradient_5.png) repeat-x;border:0px solid #2788B1}
.ui-iggrid .ui-iggrid-footer,.ui-iggrid .ui-iggrid-toolbar{background-color:#A1A1A1;background:#a1a1a1 url(images/gradient_3.png) repeat-x;font-weight:normal;text-align:left;color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.8);border:1px solid #B1B1B1;border-top:0;display:block}
.ui-iggrid .ui-iggrid-footer .ui-state-default,.ui-iggrid .ui-iggrid-toolbar .ui-state-default,.ui-iggrid .ui-iggrid-addrow td,.ui-iggrid .ui-iggrid-addrow th{background-color:#A1A1A1;background:#a1a1a1 url(images/gradient_3.png) repeat-x;border:1px solid #B1B1B1;color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.8);text-decoration:none}
.ui-iggrid .ui-iggrid-footer .ui-state-default a,.ui-iggrid .ui-iggrid-toolbar .ui-state-default a,.ui-iggrid .ui-iggrid-addrow td a{color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.8);text-decoration:none}
.ui-iggrid tbody .ui-icon,.ui-iggrid .ui-iggrid-addrow td .ui-icon{background-image:url("images/ui-icons_222222_256x240.png")}
.ui-iggrid th .ui-icon,.ui-iggrid .ui-iggrid-deletebutton .ui-icon,.ui-iggrid .ui-igedit-button .ui-icon,.ui-iggrid .ui-igcombo-button .ui-icon,.ui-iggrid .ui-iggrid-buttoncontainer .ui-icon{background-image:url("images/ui-icons_ffffff_256x240.png")}
.ui-iggrid .ui-iggrid-addrow td.ui-state-hover{border:1px solid #b1b1b1}
.ui-iggrid tbody td,.ui-iggrid tbody th.ui-iggrid-rowselector-class,.ui-iggrid thead .ui-iggrid-editingcell{border-width:1px;border-style:solid;border-color:#FFF #DCDCDC #DCDCDC #FFFFFF}
.ui-iggrid .ui-iggrid-editingcell .ui-iggrid-editor .ui-igedit-field{box-shadow:0 3px 2px rgba(100,100,100,0.1) inset}
.ui-iggrid .ui-ig-altrecord{background-color:#ebebeb}
.ui-iggrid .ui-ig-altrecord td,.ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class,.ui-iggrid tbody .ui-ig-altrecord td.ui-state-default{border-color:#EBEBEB #DCDCDC #DCDCDC #EBEBEB}
.ui-iggrid td.ui-state-highlight{background:0;color:#333;font-weight:normal;border-color:#fff #dcdcdc #dcdcdc #ffffff /*!important needed to override default cell colour */}
.ui-iggrid td.ui-state-hover,.ui-iggrid .ui-ig-altrecord td.ui-state-hover,.ui-iggrid .ui-ig-altrecord td.ui-state-default.ui-state-hover,.ui-iggrid th.ui-iggrid-rowselector-class.ui-state-hover,.ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-hover,.ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-default.ui-state-hover{color:#333;border-color:#FFF #DCDCDC #DCDCDC #FFFFFF;background:#fafafa url(images/gradient_7.png) repeat-x left bottom}
.ui-iggrid td.ui-state-hover a,.ui-iggrid .ui-ig-altrecord td.ui-state-hover a{color:#333;text-shadow:none}
.ui-iggrid td.ui-state-hover a:hover,.ui-iggrid .ui-ig-altrecord td.ui-state-hover a:hover{color:#37addf}
.ui-iggrid tbody td:first-child,.ui-iggrid tbody .ui-ig-altrecord td:first-child,.ui-iggrid tbody th.ui-iggrid-rowselector-class:first-child,.ui-iggrid th.ui-iggrid-rowselector-class.ui-state-hover,.ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-hover,.ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-default.ui-state-hover{border-left-color:#DCDCDC}
.ui-iggrid td.ui-state-focus,.ui-iggrid th.ui-iggrid-rowselector-class.ui-state-focus{border-color:#185170!important;background:#FFF none}
.ui-ig-altrecord td.ui-state-focus,.ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-focus{border-color:#185170!important;background:#EBEBEB none}
.ui-iggrid tr.ui-state-focus{background:#fff none}
.ui-iggrid .ui-ig-altrecord.ui-state-focus{background:#ebebeb none}
.ui-iggrid tr.ui-state-focus td,.ui-iggrid tr.ui-state-focus th{border-top-color:#185170!important;border-bottom-color:#185170!important}
.ui-iggrid .ui-ig-altrecord.ui-state-focus td,.ui-iggrid .ui-ig-altrecord.ui-state-focus th{border-top-color:#185170!important;border-bottom-color:#185170!important}
.ui-iggrid td.ui-state-active,.ui-iggrid .ui-ig-altrecord td.ui-state-active,.ui-iggrid th.ui-iggrid-rowselector-class.ui-state-active,.ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-active,.ui-iggrid tbody .ui-iggrid-mergedcell.ui-state-active,.ui-iggrid tbody .ui-ig-altrecord .ui-iggrid-mergedcell.ui-state-active,.ui-iggrid tbody .ui-iggrid-mergedcellstop.ui-state-active,.ui-iggrid tbody .ui-ig-altrecord .ui-iggrid-mergedcellstop.ui-state-active{background:0;background-color:#4EB7E2;background-image:-moz-linear-gradient(top,#4eb7e2,#2381a9);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#4eb7e2),color-stop(1,#2381a9));color:White;font-weight:normal;border-color:#4EB7E2 transparent #2788B1;text-shadow:none}
.ui-iggrid .ui-iggrid-paging-item.ui-state-focus,.ui-iggrid .ui-iggrid-paging-item.ui-state-default.ui-state-focus,.ui-iggrid .ui-iggrid-page.ui-state-focus,.ui-iggrid .ui-iggrid-pageui-state-default.ui-state-focus{background:#333 url(images/gradient_5.png) repeat-x;border:1px solid #2788B1}
.ui-iggrid .ui-iggrid-paging-item.ui-state-focus span,.ui-iggrid .ui-iggrid-paging-item.ui-state-default.ui-state-focus span,.ui-iggrid .ui-iggrid-page.ui-state-focus a,.ui-iggrid .ui-iggrid-pageui-state-default.ui-state-focus a{color:#fff;text-shadow:none}
.ui-iggrid .ui-iggrid-paging-item.ui-state-focus .ui-icon,.ui-iggrid .ui-iggrid-paging-item.ui-state-default.ui-state-focus .ui-icon{background-image:url(images/ui-icons_ffffff_256x240.png)}
.ui-menu .ui-icon{background-image:url("images/ui-icons_222222_256x240.png")}
.ui-igedit-list .ui-igedit-listitem{font-size:1em;line-height:1.4em}
.ui-iggrid-filterbutton{border:1px solid transparent}
.ui-iggrid-filterbutton.ui-state-hover,.ui-iggrid-filterbutton.ui-state-active,.ui-iggrid-filterbutton.ui-state-focus{border:1px solid #2788B1}
.ui-iggrid-filterdd,.ui-iggrid-featurechooser-dropdown-dialog,.ui-widget.ui-widget-content.ui-igpivot-filterdropdown,.ui-widget.ui-widget-content.ui-igpivot-metadatadropdown{background:#fff;border:1px solid #B1B1B1}
.ui-igedit-list .ui-igedit-listitem.ui-state-default,.ui-iggrid-filterddlist li.ui-state-default,.ui-iggrid-featurechooser-list li.ui-state-default,.ui-igcombo-listitemholder li.ui-state-default{background:#fff none;color:#333;text-shadow:none;border:0}
.ui-igedit-list .ui-igedit-listitem.ui-state-hover,.ui-igedit-list .ui-igedit-listitem.ui-state-active,.ui-iggrid-filterddlist li.ui-state-hover,.ui-iggrid-filterddlist li.ui-state-active,.ui-iggrid-filterddlistitem.ui-state-hover a,.ui-iggrid-filterddlistitem.ui-state-active a,.ui-iggrid-featurechooser-list li.ui-state-hover,.ui-iggrid-featurechooser-list li.ui-state-active,.ui-iggrid-featurechooser-list.ui-state-hover a,.ui-iggrid-featurechooser-list.ui-state-active a,.ui-igcombo-listitemholder li.ui-state-hover,.ui-igcombo-listitemholder li.ui-state-active,.ui-igcombo-listitemholder li.ui-state-hover a,.ui-igcombo-listitemholder li.ui-state-active a{background:#2686ae url(images/gradient_2.png) repeat-x;color:#FFF;text-shadow:0 1px 0 rgba(83,83,83,0.8);border:0}
.ui-igedit-list .ui-igedit-listitem.ui-state-highlight,.ui-igcombo-listitemholder li.ui-state-highlight,.ui-igcombo-listitemholder li.ui-state-highlight a{background:#a1a1a1 url(images/gradient_3.png) repeat-x 0 0;color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.8);border:0}
.ui-igedit-list .ui-igedit-listitem.ui-state-hover a,.ui-igedit-list .ui-igedit-listitem.ui-state-active a{color:#FFF;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-iggrid tbody td.ui-iggrid-nongrouprowemptycell,.ui-iggrid tbody .ui-ig-altrecord td.ui-iggrid-nongrouprowemptycell{background-color:white}
.ui-iggrid tbody td.ui-iggrid-nongrouprowemptycell.ui-state-hover{background-image:none}
.ui-draggable-dragging .ui-iggrid-headertext{font-family:"Segoe UI",Arial,sans-serif}
ui-iggrid-groupbyarea a,.ui-iggrid-groupbyareatext a{color:#3BB7EB}
.ui-iggrid-dragMarkup{z-index:10000}
.ui-iggrid-expandcolumn-expanded{border-bottom-width:0!important}
.ui-iggrid-expandcolumn-expanded.ui-state-focus{border-bottom-width:1px!important}
.ui-iggrid-altrecord+tr>td.ui-iggrid-childarea{background-color:#EBEBEB;border-color:#EBEBEB #DCDCDC #DCDCDC}
.ui-iggrid-featurechooser-list .item-selected .ui-iggrid-featurechooserddlistitemtext{text-shadow:none}
.ui-iggrid-modaldialog-caption-buttoncontainer .ui-button.ui-state-hover{background:#2686ae url(images/gradient_2.png) repeat-x;border:1px solid #2788B1;box-shadow:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.ui-iggrid-modaldialog-caption-buttoncontainer .ui-button.ui-state-hover .ui-button span{-moz-border-radius:3px;-webkit-border-radius:3px}
.ui-iggrid-dialog-groupby-button a,.ui-iggrid-columnchooser-item a,.ui-iggrid-sorting-dialog-unsortedcolumns-sortbybutton a{color:#3BB7EB;text-decoration:none}
.ui-widget-footer{border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC}
.ui-iggrid tfoot td.ui-widget-content,.ui-iggrid tfoot td.ui-state-default{background-color:transparent;color:#333;border-color:#DCDCDC;border-style:solid}
.ui-iggrid tfoot td.ui-state-hover{background-color:#ebebeb}
.ui-iggrid tfoot td.ui-state-default .ui-icon{background-image:url("images/ui-icons_222222_256x240.png")}
@-webkit-keyframes addingHighlight{0%{background-color:#4EB7E2}
100%{background-color:transparent}
}
@-moz-keyframes addingHighlight{0%{background-color:#4EB7E2}
100%{background-color:transparent}
}
.ui-iggrid-modifiedrecord>td{-webkit-animation-name:addingHighlight;-webkit-animation-timing-function:ease-in-out;-webkit-animation-duration:1s;-moz-animation-name:addingHighlight;-moz-animation-timing-function:ease-in-out;-moz-animation-duration:1s;-o-animation-name:addingHighlight;-o-animation-timing-function:ease-in-out;-o-animation-duration:1s;animation-name:addingHighlight;animation-timing-function:ease-in-out;animation-duration:1s}
.ui-iggrid-modifiedrecord>td{background-color:transparent;color:#666}
.ui-iggrid .ui-iggrid-mergedcell,.ui-iggrid .ui-ig-altrecord .ui-iggrid-mergedcell,.ui-iggrid .ui-iggrid-mergedcell.ui-state-highlight{background-color:#FFF}
.ui-iggrid .ui-iggrid-mergedcell,.ui-iggrid .ui-ig-altrecord .ui-iggrid-mergedcell,.ui-iggrid .ui-iggrid-mergedcell.ui-state-highlight,.ui-iggrid .ui-ig-altrecord .ui-iggrid-mergedcell.ui-state-highlight{color:#DCDCDC;border-bottom-color:transparent;border-top-color:transparent}
.ui-iggrid .ui-ig-altrecord .ui-iggrid-mergedcell,.ui-iggrid .ui-iggrid-mergedcellstop{border-left-color:#FFF}
.ui-iggrid .ui-iggrid-mergedcellstop.ui-state-highlight,.ui-iggrid .ui-iggrid-mergedcell.ui-state-highlight,.ui-iggrid .ui-ig-altrecord .ui-iggrid-mergedcell.ui-state-highlight{border-left-color:#B3E2F6}
.ui-iggrid .ui-iggrid-mergedcellstop,.ui-iggrid .ui-iggrid-mergedcellstop.ui-state-highlight,.ui-iggrid .ui-iggrid-mergedcell.ui-state-highlight,.ui-iggrid .ui-iggrid-altrecord .ui-iggrid-mergedcellstop,.ui-iggrid .ui-iggrid-altrecord .ui-iggrid-mergedcellstop.ui-state-highlight,.ui-iggrid .ui-iggrid-altrecord .ui-iggrid-mergedcell.ui-state-highlight{background-color:#FFF;border-bottom-color:#FFF;border-top-color:#FFF}
.ui-iggrid .ui-iggrid-mergedcell.ui-state-active,.ui-iggrid .ui-ig-altrecord .ui-iggrid-mergedcell.ui-state-active,.ui-iggrid .ui-iggrid-mergedcell.ui-state-focus,.ui-iggrid .ui-ig-altrecord .ui-iggrid-mergedcell.ui-state-focus{color:#FFF}
.ui-iggrid tbody .ui-iggrid-mergedcell.ui-state-hover,.ui-iggrid tbody .ui-ig-altrecord .ui-iggrid-mergedcell.ui-state-hover{color:#333}
.ui-iggrid .ui-ig-altrecord .ui-iggrid-mergedcellsbottom.ui-state-highlight,.ui-iggrid .ui-iggrid-mergedcellsbottom.ui-state-highlight{border-bottom-color:#B3E2F6}
.ui-iggrid tbody .ui-iggrid-mergedcell.ui-iggrid-mergedcellsbottom{border-bottom-color:#DCDCDC}
.ui-igrating,.ui-igrating.ui-state-default{background:transparent none;border:0}
.ui-icon.ui-igrating-vote,.ui-iggrid .ui-icon.ui-igrating-vote{background-image:url(images/igRating/ig-rating.png);background-position:-75px 0;width:20px;height:20px}
.ui-icon.ui-igrating-voteselected,.ui-iggrid .ui-icon.ui-igrating-voteselected{background-image:url(images/igRating/ig-rating.png);background-position:0 0;width:20px;height:20px}
.ui-icon.ui-igrating-votehover,.ui-iggrid .ui-icon.ui-igrating-votehover{background-image:url(images/igRating/ig-rating.png);background-position:-25px 0;width:20px;height:20px}
.ui-icon.ui-igrating-votedisabled,.ui-iggrid .ui-icon.ui-igrating-votedisabled{background-image:url(images/igRating/ig-rating.png);background-position:-100px 0;width:20px;height:20px}
.ui-icon.ui-igrating-votedisabledselected,.ui-iggrid .ui-icon.ui-igrating-votedisabledselected{background-image:url(images/igRating/ig-rating.png);background-position:-50px 0;width:20px;height:20px}
.ui-igplayer .ui-igplayer-controls{background:url("images/igVideoPlayer/igVPBackground.png") repeat-x;border:0}
.ui-igplayer-full-screen-mode .ui-igplayer:before{background:#4c4c4c;background:rgba(0,0,0,0.5);background:-moz-linear-gradient(top,#000 0,#4c4c4c 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#000),color-stop(100%,#4c4c4c));filter:progid:dximagetransform.microsoft.gradient(startColorstr='#000000',endColorstr='#4c4c4c',GradientType=0)}
.ui-igplayer .ui-igplayer-playbutton{font-weight:normal;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.ui-igplayer .ui-igplayer-playbutton .ui-icon-pause{background-image:url("images/igVideoPlayer/igVideoPlayerIcons.png");background-repeat:no-repeat;background-position:-23px -1px}
.ui-igplayer .ui-igplayer-playbutton .ui-icon-play{background-image:url("images/igVideoPlayer/igVideoPlayerIcons.png");background-repeat:no-repeat;background-position:-1px -1px}
.ui-igplayer .ui-igplayer-playbutton-icon{background-image:url("images/igVideoPlayer/igVideoPlayerIcons.png");background-repeat:no-repeat;background-position:-1px -1px}
.ui-igplayer .ui-igplayer-playbutton-text{background:none!important;border:0;font-size:11px;text-shadow:0 1px 0 rgba(83,83,83,0.8)}
.ui-igplayer .ui-igslider-handle{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.ui-igplayer .ui-igprogressbar{border:0}
.ui-igplayer .ui-igprogressbar-range{height:2px;background-color:-moz-linear-gradient(center top,#3bb7eb,#2686ae);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3BB7EB', EndColorStr='#2686AE')";
    border: 1px solid #288BB4;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#3bb7eb),color-stop(1,#2686ae));
}
.ui-igplayer .ui-igplayer-volumecontrol .ui-icon-volume-on{background-image:url("images/igVideoPlayer/igVideoPlayerIcons.png");background-repeat:no-repeat;background-position:-62px -2px}
.ui-igplayer .ui-igplayer-volumecontrol .ui-icon-volume-off{background-image:url("images/igVideoPlayer/igVideoPlayerIcons.png");background-repeat:no-repeat;background-position:-82px -2px}
.ui-igplayer-fullscreen-button{margin:5px}
.ui-igplayer .ui-igplayer-fullscreen-button .ui-icon-arrow-4-diag{background-image:url("images/igVideoPlayer/igVideoPlayerIcons.png");background-repeat:no-repeat;background-position:-102px -2px}
.ui-igplayer .ui-igplayer-fullscreen-button .ui-icon-closethick{background-image:url("images/igVideoPlayer/igVideoPlayerIcons.png");background-repeat:no-repeat;background-position:-122px -2px}
.ui-igplayer .ui-igplayer-volumeslider{width:10px;height:40px;position:absolute}
.ui-igplayer-related-video-replay{margin:5px;height:25px}
.ui-igplayer .ui-igplayer-related-video-replay .ui-icon-arrowrefresh-1-s{background-image:url("images/igVideoPlayer/igVideoPlayerIcons.png");background-repeat:no-repeat;background-position:-43px -2px}
.ui-igplayer .ui-igplayer-related-video-replay .ui-button-text{font-size:13px;line-height:17px}
.ui-igplayer .ui-igplayer-progresslabel{color:#fff}
.ui-igplayer .ui-igplayer-centerplaybutton-icon{color:#fff}
.ui-igplayer-video-title{color:#fff}
.ui-igplayer-playback-alone{padding-right:5px}
.ui-igplayer-bookmark-container{background-position: 0% 0%;
    color:#4D4D4D;background-color:-moz-linear-gradient(center top,#fff,#dadada);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#DADADA')";
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#dadada));
    background-repeat: repeat;
    background-attachment: scroll;
}
.ui-igplayer-bookmark-header{background-position: 0% 0%;
    border: 1px solid #4F4F4F;
    color:White;background-color:-moz-linear-gradient(center top,#757575,#4f4f4f);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#757575', EndColorStr='#4F4F4F')";
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#757575),color-stop(1,#4f4f4f));
    background-repeat: repeat;
    background-attachment: scroll;
}
.ui-igplayer-bookmark-list{border:1px solid #b1b1b1}
.ui-igplayer-bookmark-list>li:hover{border-color:#3ab5e9}
.ui-igplayer-bookmark-list>li.ui-igplayer-bookmark-active-item{color:#333;background-color:#F3F3F3;border:1px solid #B1B1B1}
.ui-igslider .ui-igslider-bookmark-tooltip .ui-widget-content{border:1px solid #288BB4;padding:4px 10px;background-color:#2686AE;background-image:none;color:White;background-color:-moz-linear-gradient(center top,#3bb7eb,#2686ae);background-image:-moz-linear-gradient(top,#3bb7eb,#2686ae);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3bb7eb),color-stop(1,#2686ae));background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3bb7eb),color-stop(100%,#2686ae))}
.ui-igslider .ui-igslider-bookmark-tooltip .ui-igtooltip-arrow-bottom{background:url("images/igVideoPlayer/igVPBookmarkSprite.png") repeat-x 0 -40px transparent;height:8px}
.ui-igplayer-bookmark-item-title:hover{text-decoration:none}
.ui-igprogressbar{background-color:-moz-linear-gradient(center top,#8d8d8d,#efefef);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8D8D8D', EndColorStr='#EFEFEF')";
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#8d8d8d),color-stop(1,#efefef));
}
.ui-igprogressbar-range{background-color:-moz-linear-gradient(center top,#3bb7eb,#2686ae);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3BB7EB', EndColorStr='#2686AE')";
    border: 1px solid #288BB4;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#3bb7eb),color-stop(1,#2686ae));
}
.ui-igupload-progressbar-icon-default,.ui-igupload-progressbar-icon-default{background:url(../images/icon_sprite.png) 0 -128px no-repeat!important}
.ui-igupload-progressbar-icon-exe{background:url(../images/icon_sprite.png) 0 -144px no-repeat!important}
.ui-igupload-progressbar-icon-images{background:url(../images/icon_sprite.png) 0 -160px no-repeat!important}
.ui-igupload-progressbar-icon-music{background:url(../images/icon_sprite.png) 0 -176px no-repeat!important}
.ui-igupload-progressbar-icon-video{background:url(../images/icon_sprite.png) 0 -192px no-repeat!important}
.ui-igupload-cancel-button .ui-button-icon-primary{background-image:url("images/ui-icons_222222_256x240.png")}
.ui-state-hover.ui-igupload-cancel-button{background-color:transparent!important}
.ui-igupload-cancel-button.ui-state-hover .ui-button-text{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
.ui-igupload-cancel-button.ui-state-hover .ui-icon-closethick,.ui-igupload-cancel-button.ui-state-focus .ui-icon-closethick{background-image:url("images/ui-icons_228ef1_256x240.png")}
.ui-igupload .ui-igprogressbar{background-color:-moz-linear-gradient(center top,#e0e0e0,#f9f9f9);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e0e0e0', EndColorStr='#f9f9f9')";
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e0e0e0),color-stop(1,#f9f9f9));
}
.ui-igupload-progress-container{background:none repeat scroll 0 0 #E0E0E0}
.ui-igupload-progressbar-filesize{color:gray}
.ui-igupload-summaryprogress-label{color:gray}
.ui-igupload-summaryprogress-secondary-label{color:white}
.ui-ie6 .ui-igprogressbar-range{filter:none!important;background-image:none!important;background-color:#2686AE!important}
.ui-ie6 .ui-igupload-summaryprogres_summpbar_progress{filter:none;background-image:none;background-color:#2686AE!important}
.ui-ie6 .ui-igprogressbar{filter:none;background-image:none;background-color:#F9F9F9}
.ui-ie6 .ui-igupload-uploadprogress{filter:none;background-image:none}
.ui-opera .ui-igprogressbar-range{background-image:url(images/gradient_2.png)!important;background-color:#2686AE!important}
.ui-widget-content.ui-igtree-root{background:0;border:0}
.ui-igtree a{color:#333}
.ui-igtree a.ui-state-hover,.ui-igtree a.ui-state-active{color:#fff}
.ui-igtree a.ui-state-focus{color:#333;background:#94D7F3 none;border:1px solid #3AB5E9;outline:0}
.ui-igtree-dropindicator.ui-state-error{border-radius:4px 4px 4px 4px!important}
.ui-igtree-dropindicator.ui-state-highlight .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}
.ui-igtree-insertline.ui-state-default{-webkit-border-image:-webkit-gradient(linear,left top,right top,color-stop(0.8,#535353),color-stop(1,transparent)) 100 0 stretch stretch}
.ui-igcheckbox-small.ui-state-default,.ui-igcheckbox-normal.ui-state-default,.ui-igcombo-checkbox.ui-state-default{background-image:none;background-color:#fff;border-color:#B2B2B2}
.ui-igcheckbox-small.ui-corner-all,.ui-igcheckbox-normal.ui-corner-all,.ui-igcombo-checkbox.ui-corner-all{border-radius:2px}
.ui-igcheckbox-small.ui-state-hover,.ui-igcheckbox-normal.ui-state-hover,.ui-igcombo-checkbox.ui-state-hover{background-color:#e7f6fc;border-color:#84D1F1}
.ui-igcheckbox-small.ui-state-focus,.ui-igcheckbox-normal.ui-state-focus,.ui-igcombo-checkbox.ui-state-focus{border-color:#18A6E2}
.ui-igcombo-checkbox.ui-state-default,.ui-igcombo-checkbox.ui-state-hover,.ui-igcombo-checkbox.ui-state-focus{background-image:none}
.ui-igcheckbox-small .ui-icon,.ui-igcheckbox-normal .ui-icon,.ui-iggrid th .ui-igcheckbox-normal.ui-state-default .ui-icon,.ui-igcombo-checkbox .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}
.ui-ightmleditor{background-color:#fff;border:1px solid #B1B1B1;background-image:-moz-linear-gradient(top,#fff,#e0e0e0);background-image:-webkit-gradient(linear,center top,center bottom,from(#fff),to(#e0e0e0));background-image:-o-linear-gradient(top,#fff,#e0e0e0);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#e0e0e0');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0')";background-image:linear-gradient(top,#fff,#e0e0e0)}
.ui-ightmleditor .ui-igtoolbar{background:transparent}
.ui-ightmleditor .ui-igtoolbar-wrap .ui-igbutton.ui-igbutton,.ui-ightmleditor .ui-igtoolbar .ui-igbutton{border-radius:0}
.ui-ightmleditor .ui-igtoolbar-wrap .ui-igbutton.ui-state-default,.ui-ightmleditor .ui-igtoolbar .ui-igbutton.ui-state-default{background-color:transparent;background-image:none;border-color:transparent}
.ui-splitbutton-arrow .ui-icon{background-image:url("images/ui-icons_222222_256x240.png")}
.ui-splitbutton-arrow.ui-state-hover .ui-icon,.ui-splitbutton-arrow.ui-state-active .ui-icon,.ui-splitbutton-arrow.ui-state-focus .ui-icon{background-image:url("images/ui-icons_ffffff_256x240.png")}
.ui-ightmleditor .ui-igtoolbar-wrap .ui-igbutton.ui-state-hover,.ui-ightmleditor .ui-igtoolbar .ui-igbutton.ui-state-hover{background-color:#2686AE;background:#2686ae url(images/gradient_2.png) repeat-x;border:1px solid #2788B1}
.ui-ightmleditor .ui-igtoolbar-wrap .ui-igbutton.ui-state-focus,.ui-ightmleditor .ui-igtoolbar .ui-igbutton.ui-state-focus{background:#333 url(images/gradient_5.png) repeat-x;border:1px solid #3AB5E9}
.ui-ightmleditor .ui-igtoolbar-wrap .ui-igbutton.ui-state-active,.ui-ightmleditor .ui-igtoolbar .ui-igbutton.ui-state-active{border:1px solid #185170;background:#3bb7eb url(images/gradient_6.png) repeat-x}
.ui-ightmleditor .ui-igcombo-fieldholder{border-color:#b1b1b1}
.ui-igbutton-viewsource.ui-state-default .ui-igbutton-viewsource-icon{background-position:-16px -160px}
.ui-ightmleditor .ui-igtoolbar .ui-igbutton.ui-state-hover{background:#2686ae url(images/gradient_3.png) repeat-x 0 0;border:1px solid #B1B1B1}
.ui-ightmleditor .ui-igtoolbar .ui-igbutton.ui-state-hover.ui-state-active{background:#2686ae url(images/gradient_6.png) repeat-x 0 0;border:1px solid #185170}
.ui-igbutton.ui-state-active .ui-igbutton-collapse,.ui-igbutton.ui-state-focus .ui-igbutton-collapse{background-position:-16px 0}
.ui-igbutton.ui-state-active .ui-igbutton-expand,.ui-igbutton.ui-state-focus .ui-igbutton-expand{background-position:-16px -16px}
.ui-igbutton.ui-state-active .ui-igbutton-redo,.ui-igbutton.ui-state-focus .ui-igbutton-redo{background-position:-16px -32px}
.ui-igbutton.ui-state-active .ui-igbutton-undo,.ui-igbutton.ui-state-focus .ui-igbutton-undo{background-position:-16px -48px}
.ui-igbutton.ui-state-active .ui-igbutton-increasefontsize,.ui-igbutton.ui-state-focus .ui-igbutton-increasefontsize{background-position:-16px -80px}
.ui-igbutton.ui-state-active .ui-igbutton-decreasefontsize,.ui-igbutton.ui-state-focus .ui-igbutton-decreasefontsize{background-position:-16px -96px}
.ui-igbutton.ui-state-active .ui-igbutton-viewsource,.ui-igbutton.ui-state-focus .ui-igbutton-viewsource{background-position:-16px -160px}
.ui-igbutton.ui-state-active .ui-igbutton-html,.ui-igbutton.ui-state-focus .ui-igbutton-html{background-position:-16px -112px}
.ui-igbutton.ui-state-active .ui-igbutton-html-add,.ui-igbutton.ui-state-focus .ui-igbutton-html-add{background-position:-16px -128px}
.ui-igbutton.ui-state-active .ui-igbutton-html-delete,.ui-igbutton.ui-state-focus .ui-igbutton-html-delete{background-position:-16px -144px}
.ui-igbutton.ui-state-active .ui-igbutton-html-valid,.ui-igbutton.ui-state-focus .ui-igbutton-html-valid{background-position:-16px -176px}
.ui-igbutton.ui-state-active .ui-igbutton-addimage,.ui-igbutton.ui-state-focus .ui-igbutton-addimage{background-position:-16px -192px}
.ui-igbutton.ui-state-active .ui-igbutton-link,.ui-igbutton.ui-state-focus .ui-igbutton-link{background-position:-16px -208px}
.ui-igbutton.ui-state-active .ui-igbutton-addlink,.ui-igbutton.ui-state-focus .ui-igbutton-addlink{background-position:-16px -224px}
.ui-igbutton.ui-state-active .ui-igbutton-unlink,.ui-igbutton.ui-state-focus .ui-igbutton-unlink{background-position:-16px -240px}
.ui-igbutton.ui-state-active .ui-igbutton-copy,.ui-igbutton.ui-state-focus .ui-igbutton-copy{background-position:-16px -256px}
.ui-igbutton.ui-state-active .ui-igbutton-cut,.ui-igbutton.ui-state-focus .ui-igbutton-cut{background-position:-16px -272px}
.ui-igbutton.ui-state-active .ui-igbutton-paste,.ui-igbutton.ui-state-focus .ui-igbutton-paste{background-position:-16px -288px}
.ui-igbutton.ui-state-active .ui-igbutton-table,.ui-igbutton.ui-state-focus .ui-igbutton-table{background-position:-16px -304px}
.ui-igbutton.ui-state-active .ui-igbutton-addrow,.ui-igbutton.ui-state-focus .ui-igbutton-addrow{background-position:-16px -320px}
.ui-igbutton.ui-state-active .ui-igbutton-addcolumn,.ui-igbutton.ui-state-focus .ui-igbutton-addcolumn{background-position:-16px -336px}
.ui-igbutton.ui-state-active .ui-igbutton-removerow,.ui-igbutton.ui-state-focus .ui-igbutton-removerow{background-position:-16px -352px}
.ui-igbutton.ui-state-active .ui-igbutton-removecolumn,.ui-igbutton.ui-state-focus .ui-igbutton-removecolumn{background-position:-16px -368px}
.ui-igbutton.ui-state-active .ui-igbutton-justifyleft,.ui-igbutton.ui-state-focus .ui-igbutton-justifyleft{background-position:-16px -384px}
.ui-igbutton.ui-state-active .ui-igbutton-justifycenter,.ui-igbutton.ui-state-focus .ui-igbutton-justifycenter{background-position:-16px -400px}
.ui-igbutton.ui-state-active .ui-igbutton-justifyright,.ui-igbutton.ui-state-focus .ui-igbutton-justifyright{background-position:-16px -416px}
.ui-igbutton.ui-state-active .ui-igbutton-justifyfull,.ui-igbutton.ui-state-focus .ui-igbutton-justifyfull{background-position:-16px -432px}
.ui-igbutton.ui-state-active .ui-igbutton-forecolor,.ui-igbutton.ui-state-focus .ui-igbutton-forecolor{background-position:-16px -448px}
.ui-igbutton.ui-state-active .ui-igbutton-backcolor,.ui-igbutton.ui-state-focus .ui-igbutton-backcolor{background-position:-16px -464px}
.ui-igbutton.ui-state-active .ui-igbutton-bold,.ui-igbutton.ui-state-focus .ui-igbutton-bold{background-position:-16px -480px}
.ui-igbutton.ui-state-active .ui-igbutton-italic,.ui-igbutton.ui-state-focus .ui-igbutton-italic{background-position:-16px -496px}
.ui-igbutton.ui-state-active .ui-igbutton-underline,.ui-igbutton.ui-state-focus .ui-igbutton-underline{background-position:-16px -512px}
.ui-igbutton.ui-state-active .ui-igbutton-strikethrough,.ui-igbutton.ui-state-focus .ui-igbutton-strikethrough{background-position:-16px -528px}
.ui-igbutton.ui-state-active .ui-igbutton-horizontalrule,.ui-igbutton.ui-state-focus .ui-igbutton-horizontalrule{background-position:-16px -544px}
.ui-igbutton.ui-state-active .ui-igbutton-indent,.ui-igbutton.ui-state-focus .ui-igbutton-indent{background-position:-16px -560px}
.ui-igbutton.ui-state-active .ui-igbutton-removeindent,.ui-igbutton.ui-state-focus .ui-igbutton-removeindent{background-position:-16px -576px}
.ui-igbutton.ui-state-active .ui-igbutton-unorderedlist,.ui-igbutton.ui-state-focus .ui-igbutton-unorderedlist{background-position:-16px -592px}
.ui-igbutton.ui-state-active .ui-igbutton-orderedlist,.ui-igbutton.ui-state-focus .ui-igbutton-orderedlist{background-position:-16px -608px}
.ui-ightmleditor-content iframe{border:1px solid #B1B1B1;-webkit-box-shadow:inset 2px 2px 3px rgba rgba(0,0,0,0.1);-moz-box-shadow:inset 2px 2px 3px rgba rgba(0,0,0,0.1);box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1)}
.ui-igcombo-clear .ui-icon,.ui-igedit-buttonclear .ui-icon{background-image:url("images/ui-icons_222222_256x240.png")}
.ui-igedit-buttonclear .ui-igedit-buttonimagehover{background-image:url("images/ui-icons_228ef1_256x240.png")}
.ui-igcombo-field,ui-igcombo-fieldholder,.ui-igcombo-fieldholder-ltr{box-shadow:0 3px 2px rgba(100,100,100,0.1) inset}
.ui-chart-palette-1{border-color:#EC6C2B!important;background-color:#EC6C2B!important}
.ui-chart-palette-2{border-color:#008000!important;background-color:#008000!important}
.ui-chart-palette-3{border-color:#0000FF!important;background-color:#0000FF!important}
.ui-chart-palette-4{border-color:#C00000!important;background-color:#C00000!important}
.ui-chart-palette-5{border-color:#FDBC9D!important;background-color:#FDBC9D!important}
.ui-chart-palette-6{border-color:#BEE6BE!important;background-color:#BEE6BE!important}
.ui-chart-palette-7{border-color:#BDBEFF!important;background-color:#BDBEFF!important}
.ui-chart-palette-8{border-color:#FFC9C9!important;background-color:#FFC9C9!important}
.ui-chart-palette-9{border-color:#e3720c!important;background-color:#F79036!important}
.ui-chart-palette-10{border-color:#582c7d!important;background-color:#793BAC!important}
.ui-chart-palette-11{border-color:#386a23!important;background-color:#48892D!important}
.ui-chart-palette-12{border-color:#C62D36!important;background-color:#D3404B!important}
.ui-chart-piechart-container,.ui-chart-legend-item-text{font-size:8px;font-family:"Segoe UI",Arial,sans-serif}
.ui-chart-toolbar .ui-slider-handle{height:18px;margin-left:-12px;top:-9px}
.touch .ui-chart-toolbar .ui-slider-handle{border:1px solid #535353;background:#4f4f4f url(images/gradient_1.png) repeat-x;margin-left:-15px;top:-15px}
.ui-sparkline{font-family:"Segoe UI",Arial,sans-serif;font-size:13px;padding:10px 5px 10px 5px}
.ui-sparkline-tooltip{-moz-box-shadow:0 0 2px #555;-webkit-box-shadow:0 0 2px #555;box-shadow:0 0 2px #555;padding:3px}
.ui-sparkline-sparkpath{background:#43ABD5;border:1px solid}
.ui-sparkline-negativesparkpath{background:#B9242E;border:1px solid}
.ui-sparkline-trendline{background:#7F7F7F;border:2px solid}
.ui-sparkline-markers{background:#43ABD5;border:3px solid}
.ui-sparkline-firstmarker{background:#237FA7;border:5px solid}
.ui-sparkline-lastmarker{background:#FBC139;border:5px solid}
.ui-sparkline-highmarker{background:#A3B929;border:4px solid}
.ui-sparkline-lowmarker{background:#AF39FF;border:3px solid}
.ui-sparkline-negativemarkers{background:#E5516F;border:3px solid}
.ui-sparkline-range{background:gray;opacity:.2}
.ui-sparkline-axis-x{font-family:"Segoe UI",Arial,sans-serif;border:2px solid #989EA3;color:#406090}
.ui-sparkline-axis-y{font-family:"Segoe UI",Arial,sans-serif;border:2px solid #989EA3;color:#406090;text-align:right}
.ui-funnel{font-family:Segoe UI,Arial,Helvetica,sans-serif;font-size:14px;color:#555}
.ui-funnel-tooltip{-moz-box-shadow:0 0 2px #555;-webkit-box-shadow:0 0 2px #555;box-shadow:0 0 2px #555;padding:3px}
.ui-funnel-slice{color:#FFF;border:0}
.ui-funnel-slice-selected{opacity:1.0}
.ui-funnel-slice-unselected{opacity:.49;border-color:transparent}
.ui-igsplitter-splitbar-horizontal.ui-state-default,.ui-igsplitter-splitbar-vertical.ui-state-default{background:none #DCDCDC;border-color:transparent}
.ui-igsplitter-splitbar-horizontal.ui-state-hover,.ui-igsplitter-splitbar-vertical.ui-state-hover{background:none #3BB7EB;border-color:transparent}
.ui-igpivot-metadataitem.ui-state-default{background:#2686ae url(images/gradient_2.png) repeat-x;border:1px solid #2788B1}
.ui-radialgauge-needle{background-color:#333}
.ui-radialgauge-needleCap{background-color:#494949;border-color:#494949}
.ui-radialgauge-backing{background-color:#ecedef;border:#a8a8a8}
.ui-radialgauge-scale{background-color:#44ACD6;border:0}
.ui-radialgauge-tick{background-color:#333;border-top-color:none}
.ui-radialgauge-minorTick{background-color:#494949;border:0}
.ui-radialgauge-label{background-color:#333;border:0}
.ui-radialgauge-range-palette-1{background-color:#A4bA29;border:0}
.ui-radialgauge-range-palette-2{background-color:#FDBD48;border-top-color:none}
.ui-radialgauge-range-palette-3{background-color:#F79036;border-top-color:none}
.ui-radialgauge-range-palette-4{background-color:#D3404B;border-top-color:none}
.ui-radialgauge-range-palette-5{background-color:#9E73C1;border-top-color:none}
.ui-radialgauge-range-palette-6{background-color:#793BAC;border-top-color:none}
.ui-radialgauge{font-family:'Arial','Segoe UI','Myriad Pro',sans-serif;font-size:16px}

.tabla-con-border-naranja{border-right:1px solid black; border-top:1px solid black; color:#EC6C2B; height:16px}
.tabla-con-border-verde{border-right:1px solid black; border-top:1px solid black; color:#008000; height:16px}
.tabla-con-border-azul{border-right:1px solid black; border-top:1px solid black; color:#0000FF; height:16px}
.tabla-con-border-rojo{border-right:1px solid black; border-top:1px solid black; color:#C00000;height:16px}

.tabla-con-border-naranja-abajo{border-right:1px solid black; border-top:1px solid black; border-bottom:1px solid black; color:#EC6C2B; height:16px}
.tabla-con-border-verde-abajo{border-right:1px solid black; border-top:1px solid black; border-bottom:1px solid black; color:#008000; height:16px}
.tabla-con-border-azul-abajo{border-right:1px solid black; border-top:1px solid black; border-bottom:1px solid black; color:#0000FF; height:16px}
.tabla-con-border-rojo-abajo{border-right:1px solid black; border-top:1px solid black; border-bottom:1px solid black; color:#C00000;height:16px}

.tabla-con-border{border-top:1px solid black; border-right:1px solid black; height:15px;}
.tabla-con-border-abajo{border-top:1px solid black; border-right:1px solid black; border-bottom:1px solid black; height:15px;}
.tabla-con-border-naranja-fondo-oscuro{border-top:1px solid black; border-right:1px solid black; border-bottom:1px solid #D3D3D3; color:#EC6C2B; height:15px; background-color:#D3D3D3}
.tabla-con-border-verde-fondo-oscuro{border-top:1px solid black; border-right:1px solid black; border-bottom:1px solid #D3D3D3; color:#008000; height:15px; background-color:#D3D3D3}
.tabla-con-border-azul-fondo-oscuro{border-top:1px solid black; border-left:1px solid #D3D3D3; border-bottom:1px solid #D3D3D3; border-right:1px solid black; color:#0000FF; height:15px; background-color:#D3D3D3}
.tabla-con-border-rojo-fondo-oscuro{border-top:1px solid black; border-right:1px solid black; border-bottom:1px solid #D3D3D3; color:#C00000; height:15px; background-color:#D3D3D3}
.tabla-con-border-fondo-oscuro{border-top:1px solid black; border-left:1px solid black; border-right:1px solid black; border-bottom:1px solid #D3D3D3; height:16px; background-color:#D3D3D3}
.tabla-con-border-fondo-oscuro-abajo{border-top:1px solid black; border-left:1px solid black; border-right:1px solid black; border-bottom:1px solid black; height:15px; background-color:#D3D3D3}


.ui-ig-altrecord ui-iggrid-altrecord{font-size:0.8em !important}
.ui-widget {font-size:0.8em !important}
#gridError_container{width:100% !important;}
#gridEvent_container{width:100% !important;}
#gridEvent_tooltips_container{width:200px !important; background:white !important; border:1 solid black !important}

#divGridKPI_table_headers{padding-right:0px !important}
#divGridLastDurationTimes_table_headers{padding-right:0px !important}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: #c6c6c6 url(imagesplugin/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x !important; border:0px !important}
.ui-tabs .ui-tabs-nav li.ui-state-active{background: #A0A0A0 !important;}