﻿.tdblanco
{
    BACKGROUND-COLOR: #ffffff
}
.tdrojo
{
    COLOR: #000000;
    BACKGROUND-COLOR: #FFFFFF}
.tdrojover11
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #EFEFEF;
    TEXT-DECORATION: none
}
.tdnegrover11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c00000;
    TEXT-DECORATION: none
}
.tdgrisver10
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #EFEFEF;
    TEXT-DECORATION: none
}
.tdmarronver11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c00000;
    TEXT-DECORATION: none
}
.tdmarron2ver10
{
    FONT-SIZE: 10px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #D5D5D5;
    TEXT-DECORATION: none
}
.tdmarron2ver9
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f0e6d6;
    TEXT-DECORATION: none
}
.ver9negro
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver10gris
{
    FONT-SIZE: 10px;
    COLOR: #05143f;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-DECORATION: none
}
.ver10negro
{
    FONT-SIZE: 10px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver10rojo
{
    FONT-SIZE: 10px;
    COLOR: #006185;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver11negro
{
    FONT-SIZE: 11px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver11blanco
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver14blanco
{
    FONT-SIZE: 14px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver14rojo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.enlacever11rojo
{
    FONT-SIZE: 14px;
    COLOR: #AB0020;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.enlacever11rojo:hover
{
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.linea
{
    BACKGROUND-COLOR: #FFFFFF
}
.margen1
{
    MARGIN: 3px 5px
}
.margen2
{
    MARGIN: 3px 1px
}
.margen3
{
    MARGIN: 3px 1px 3px 15px
}
.cabecera
{
    height : 25px;	
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #AB0020;
    TEXT-DECORATION: none;
	vertical-align:middle;
}
.par
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e0e0e0;
    TEXT-DECORATION: none
}
.impar
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #F4F3F3;
    TEXT-DECORATION: none
}
.logo
{
	height : 120px;
	width: 585px;
	background-image: url(../images/logo.jpg);
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
	text-align : right;
	background-repeat: no-repeat;
	}
.titulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textos
{
    FONT-SIZE: 12px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.lineahoriz
{
    background-image: url(../img/puntitos.gif)
}
.lineavert
{
    background-image: url(../img/dots_vert.gif)
}
.fondo
{
    background-image: url(../img/fondo.gif)
}




.button {
 
	/*basico*/
	width: 65 px;  height: 20px;  color: white; background-color: #0a94d6;
	text-align: center;  font-size: 18px;  line-height: 18px; valign: middle;
 
	/*bordes */
	border-left: solid 1px #0a94d6;
	border-top: solid 1px #0a94d6;
	border-right: solid 1px #0a94d6;
	border-bottom: solid 1px #0a94d6;
	}
 

a.button:link {
	text-decoration: none;
	color: fff;
}
 
a.button:hover {
	text-decoration: none;
	color: fff;
}

  
