﻿/**  Typography  **/
@font-face {
  font-family: "Gotham-Book";
  src: url("fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Book/Gotham-Book.woff2") format("woff2"), url("fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Gotham-Medium";
  src: url("fonts/Gotham-Medium/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Medium/Gotham-Medium.woff2") format("woff2"), url("fonts/Gotham-Medium/Gotham-Medium.woff") format("woff"), url("fonts/Gotham-Medium/Gotham-Medium.ttf") format("truetype"), url("fonts/Gotham-Medium/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-style: normal;
  font-weight: normal; }
html {
  overflow: -moz-scrollbars-vertical;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

.container-login {
  font-family: "Gotham-Book", sans-serif !important;
  font-size: 16px !important;
  line-height: 1 !important;/*CAP:originalmente 1.3*/
  color: #333;
  background-color: #fff;
  box-sizing: border-box; }
  .container-login *, .container-login *:before, .container-login *:after {
    box-sizing: inherit; }
  .container-login article,
  .container-login aside,
  .container-login details,
  .container-login figcaption,
  .container-login figure,
  .container-login footer,
  .container-login header,
  .container-login main,
  .container-login menu,
  .container-login nav,
  .container-login section,
  .container-login summary {
    display: block; }
  .container-login audio,
  .container-login canvas,
  .container-login progress,
  .container-login video {
    display: inline-block; }
  .container-login audio:not([controls]) {
    display: none;
    height: 0; }
  .container-login progress {
    vertical-align: baseline; }
  .container-login template,
  .container-login [hidden] {
    display: none; }
  .container-login a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects; }
  .container-login a:active,
  .container-login a:hover {
    outline-width: 0; }
  .container-login abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted; }
  .container-login b,
  .container-login strong {
    font-weight: inherit; }
  .container-login b,
  .container-login strong {
    font-weight: bolder; }
  .container-login dfn {
    font-style: italic; }
  .container-login h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  .container-login mark {
    background-color: #ff0;
    color: #000; }
  .container-login small {
    font-size: 80%; }
  .container-login sub,
  .container-login sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .container-login sub {
    bottom: -0.25em; }
  .container-login sup {
    top: -0.5em; }
  .container-login img {
    border-style: none; }
  .container-login svg:not(:root) {
    overflow: hidden; }
  .container-login hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible; }
  .container-login button,
  .container-login input,
  .container-login select,
  .container-login textarea {
    font: inherit;
    margin: 0; }
  .container-login optgroup {
    font-weight: bold; }
  .container-login button,
  .container-login input {
    overflow: visible; }
  .container-login button,
  .container-login select {
    text-transform: none; }
  .container-login button,
  .container-login html [type="button"],
  .container-login [type="reset"],
  .container-login [type="submit"] {
    -webkit-appearance: none; }
  .container-login button::-moz-focus-inner,
  .container-login [type="button"]::-moz-focus-inner,
  .container-login [type="reset"]::-moz-focus-inner,
  .container-login [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  .container-login button:-moz-focusring,
  .container-login [type="button"]:-moz-focusring,
  .container-login [type="reset"]:-moz-focusring,
  .container-login [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }
  .container-login fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  .container-login legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal; }
  .container-login textarea {
    overflow: auto; }
  .container-login [type="checkbox"],
  .container-login [type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  .container-login [type="number"]::-webkit-inner-spin-button,
  .container-login [type="number"]::-webkit-outer-spin-button {
    height: auto; }
  .container-login [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px; }
  .container-login [type="search"]::-webkit-search-cancel-button,
  .container-login [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  .container-login ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54; }
  .container-login ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit; }
  .container-login [tabindex="-1"]:focus {
    outline: none !important; }
  .container-login *:focus, .container-login *:active {
    /** Remove blue box Chrome **/
    outline: none; }
  .container-login h1, .container-login h2, .container-login h3, .container-login h4, .container-login h5, .container-login h6 {
    margin-top: 0;
    margin-bottom: .5em; }
  .container-login p {
    font-size: 1em;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 1em; }
  .container-login h1,
  .container-login h2,
  .container-login h3,
  .container-login h4,
  .container-login h5,
  .container-login h6,
  .container-login p,
  .container-login blockquote,
  .container-login pre,
  .container-login a,
  .container-login abbr,
  .container-login address,
  .container-login cit,
  .container-login code,
  .container-login del,
  .container-login dfn,
  .container-login em,
  .container-login ins,
  .container-login q,
  .container-login samp,
  .container-login small,
  .container-login strong,
  .container-login sub,
  .container-login sup,
  .container-login b,
  .container-login i,
  .container-login hr,
  .container-login dl,
  .container-login dt,
  .container-login dd,
  .container-login ol,
  .container-login ul,
  .container-login li,
  .container-login fieldset,
  .container-login legend,
  .container-login label {
    font-family: "Gotham-Book", sans-serif; }
  .container-login a {
    color: #333;
    text-decoration: none;
    cursor: pointer; }
    .container-login a:visited {
      text-decoration: none; }
    .container-login a:hover, .container-login a:active {
      text-decoration: underline; }
    .container-login a img {
      border: none; }
  .container-login img {
    vertical-align: middle; }
  .container-login [role="button"] {
    cursor: pointer; }
  .container-login a,
  .container-login area,
  .container-login button,
  .container-login [role="button"],
  .container-login input,
  .container-login label,
  .container-login select,
  .container-login summary,
  .container-login textarea {
    -ms-touch-action: manipulation;
        touch-action: manipulation; }
  .container-login label {
    display: inline-block;
    margin: 0;
    margin-bottom: .5em; }
  .container-login button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; }
  .container-login input,
  .container-login button,
  .container-login select,
  .container-login textarea {
    line-height: inherit; }
  .container-login input[type="radio"]:disabled,
  .container-login input[type="checkbox"]:disabled {
    cursor: not-allowed; }
  .container-login input[type="date"],
  .container-login input[type="time"],
  .container-login input[type="datetime-local"],
  .container-login input[type="month"] {
    -webkit-appearance: listbox; }
  .container-login textarea {
    resize: vertical; }
  .container-login fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0; }
  .container-login .text--right {
    text-align: right; }
  .container-login header {
    width: 100%;
    height: 80px;
    position: relative;
    margin-left: auto;
    min-height: auto;
    padding: 23px 30px 23px 20px;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 999; }
    .container-login header:before, .container-login header:after {
      content: " ";
      display: table; }
    .container-login header:after {
      clear: both; }
    .container-login header h2 {
      margin-bottom: 0;
      line-height: 1;
      position: relative;
      top: 10px; }
  .container-login .logo {
    width: 160px;
    height: 120px;
    position: absolute;
    top: -40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }
  .container-login .compound {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70px;
    overflow: hidden; }
    .container-login .compound h2 {
      font-size: 18px;
      font-family: 'Gotham-Medium', sans-serif; }
    .container-login .compound--fixed {
      max-width: 1351px;
      margin-left: auto;
      margin-right: auto; }
    .container-login .compound_layer-login {
      width: 40.370%;
      z-index: 99; }
    .container-login .compound_layer-text {
      width: 70%;
      left: 30%; }
      .container-login .compound_layer-text .shape {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 70px;
        background-image: url("img/shape.svg");
        background-position: 10px -2px;
        background-repeat: no-repeat;
        background-size: cover; }
  .container-login [class*=compound_] {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0; }
  .container-login main {
    width: 100%;
    height: 100%; }
  .container-login .grid {
    position: relative;
    margin-right: auto;
    margin-left: auto; }
    .container-login .grid:before, .container-login .grid:after {
      content: " ";
      display: table; }
    .container-login .grid:after {
      clear: both; }
  .container-login .\(6\/12\) {
    max-width: 50%; }
  .container-login .\(7\/12\) {
    max-width: 58.33333%; }
  .container-login .\(5\/12\) {
    max-width: 41.66667%; }
  .container-login .cf:before, .container-login .cf:after {
    content: " ";
    display: table; }
  .container-login .cf:after {
    clear: both; }
  .container-login .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    float: left; }
  .container-login .align {
    vertical-align: middle; }
    .container-login .align--bottom {
      vertical-align: bottom; }
  .container-login .input-group {
    width: 100%;
    font-size: 11px;
    margin-top: 20px; }
    .container-login .input-group label, .container-login .input-group a {
      display: block; }
    .container-login .input-group label > span {
      position: relative;
      left: 4px;
      bottom: 3px;
      font-size: 13px;
      color: #d6001c; }
    .container-login .input-group a {
      color: #d6001c; }
      .container-login .input-group a:hover {
        text-decoration: none; }
  .container-login .label {
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 10px;
    font-size: 12px; }
  .container-login .check {
    width: 18px;
    height: 18px;
    position: relative;
    margin-top: 12px;
    display: inline-block; }
    .container-login .check label {
      width: 18px;
      height: 18px;
      cursor: pointer;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background: #717574;
      border-radius: 4px; }
      .container-login .check label:after {
        content: '';
        width: 10px;
        height: 8px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid #fcfff4;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .container-login .check label:hover::after {
        opacity: 0.3; }
    .container-login .check input[type=checkbox] {
      width: 20px;
      height: 20px;
      visibility: hidden;
      -webkit-appearance: none; }
      .container-login .check input[type=checkbox]:checked + label:after {
        opacity: 1; }
  .container-login .input--login.input {
    border-radius: 4px;
    border: none;
    -webkit-appearance: none; }
    .container-login .input--login.input[type=text], .container-login .input--login.input[type="password"], .container-login .input--login.input[type="email"] {
      width: 100%;
      height: 40px;
      padding-left: 15px;
      color: #babdc7;
      font-size: 14px; }
    .container-login .input--login.input[type=submit] {
      width: 100%;
      margin-top: 12px;
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      background-color: #d6001c;
      -webkit-appearance: none;
      border-style: none;
      border: none;
      color: #e6e6e6;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      cursor: pointer; }
  .container-login .login {
    width: 370px;
    height: 450px;
    left: 20%;
    top: 140px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; }
    .container-login .login .forgotten {
      font-size: 13px; }
    .container-login .login_container {
      width: 100%;
      position: relative; }
      .container-login .login_container .hr {
        width: 100%;
        height: 1px;
        background-color: #babdc7; }
    .container-login .login_header {
      padding: 20px;
      background-color: #D6D8DE;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-family: 'Gotham-Medium', sans-serif; }
    .container-login .login_body {
      padding: 20px; }
      .container-login .login_body > span {
        font-size: 12px; }
    .container-login .login--proveedores .login_container .hr {
      background-color: #f4f4f4; }
    .container-login .login--proveedores .login_header {
      background-color: #f4f4f4; }
      .container-login .login--proveedores .login_header > div {
        width: 80%;
        display: inline-block;
        font-size: 12px;
        text-align: right;
        color: #9e9d9d; }
        .container-login .login--proveedores .login_header > div > a {
          color: #d6001c;
          padding-left: 5px; }
  .container-login .content {
    width: 64%;
    position: absolute;
    top: 70px;
    left: 36%;
    padding-right: 10%;
    font-weight: 300; }
    .container-login .content .hr {
      width: 100%;
      height: 1px;
      background-color: #d6001c;
      margin-top: 10px;
      margin-bottom: 10px; }
    .container-login .content_text {
      padding-top: 70px; }
      .container-login .content_text strong {
        font-family: "Gotham-Medium", sans-serif; }
    .container-login .content_soporte {
      margin-top: 50px; }
      .container-login .content_soporte h1, .container-login .content_soporte h2, .container-login .content_soporte h3, .container-login .content_soporte h4, .container-login .content_soporte h5, .container-login .content_soporte h6 {
        color: #d6001c;
        margin-bottom: 10px;
        font-size: 14px;
        font-family: "Gotham-Medium", sans-serif; }
      .container-login .content_soporte span {
        display: block;
        font-weight: 400;
        font-size: 14px; }
      .container-login .content_soporte--proveedores {
        width: 305px; }
    .container-login .content_footer {
      width: 100%;
      position: relative;
      margin-left: auto;
      min-height: auto;
      margin-top: 30px;
      display: table; }
      .container-login .content_footer:before, .container-login .content_footer:after {
        content: " ";
        display: table; }
      .container-login .content_footer:after {
        clear: both; }
      .container-login .content_footer .col {
        width: auto;
        display: table-cell;
        float: none; }
      .container-login .content_footer .cookies {
        display: block;
        font-size: 0.8rem;
        font-weight: 200;
        padding-bottom: 1px;
	color: #333 !important; }
        .container-login .content_footer .cookies:last-child {
          padding-bottom: 0; }
      .container-login .content_footer img {
        width: 50%;
        max-width: 120px; 
		margin-left:10%;
}
	
  @media only screen and (min-width: 1860px) and (max-width: 9999px) {
    .container-login .login {
      left: 40%; } }
  @media only screen and (max-width: 1024px) {
    .container-login .compound {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: initial; }
      .container-login .compound_layer-login {
        width: 100%; }
      .container-login .compound_layer-text {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin: -60px 0 0 0;
        padding-bottom: 30px; }
        .container-login .compound_layer-text .shape {
          width: 100%;
          height: 100%;
          top: 0px;
          position: absolute;
          background-image: url("img/shape_tablet.svg");
          background-position: 0px -1px;
          background-repeat: no-repeat;
          background-size: cover; }
        .container-login .compound_layer-text .content {
          width: 450px;
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          padding-top: 220px;
          padding-right: 0; }
          .container-login .compound_layer-text .content_text {
            padding: 0; }
    .container-login [class*=compound_] {
      height: 100%;
      position: relative;
      top: initial;
      bottom: initial; }
    .container-login .check label:hover:after {
      opacity: 0; }
    .container-login .login {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: 50px auto 20px auto; } }
  @media only screen and (max-width: 575px) {
    .container-login header h2 {
      display: none; }
    .container-login header .\(6\/12\) {
      width: 100%;
      max-width: 100%; }
    .container-login .logo {
      left: 0;
      right: 0;
      margin: auto; }
    .container-login .compound_layer-text {
      margin: -140px 0 0 0; }
      .container-login .compound_layer-text .content {
        width: 90%;
        min-width: 300px;
        padding-top: 280px; }
        .container-login .compound_layer-text .content_footer .cookies {
          top: 18px; }
    .container-login .login {
      width: 90%;
      min-width: 300px;
      max-width: 400px; }
      .container-login .login_body > span {
        font-size: 10px; } }
