﻿<div id="divPermisosCubos" style="clear:both; float:left;">
    <div id="divParaUON" class="Bordear ItemNuevoMensajePara" style="clear:both; float:left;">
	    <img id="imgParaUON" class="Image16" style="padding:2px;" src="images/UON.png"  />
    </div>
</div> 
<div id="divListaPara" tabindex="0" class="divContenedor" style="clear:both; float:left; width:100%; margin-bottom:-1px; min-height:18px; max-height:80px; overflow-y:auto;"></div>
<div id="divCuboOpcionesPara" class="divContenedor" style="display:none;">                            
	<div id="divParaUONPanel" class="ItemNuevoMensajeParaPanel" style="display:none;">								
		<div style="clear:both; float:left; width:100%;">
			<span id="lblParaUON" class="Texto12 Negrita" style="padding-left:5px;"></span>                                 
		</div>
		<div style="clear:both; float:left; width:100%; padding-left:5px;">
			<input id="txtParaUON" class="CajaTexto" style="width:95%;"/>                                                                  
		</div>
		<div id="tvParaUONTree" style="clear:both; float:left; width:100%; margin-bottom:5px; max-height:200px; overflow-y:auto;"></div>
	</div>
</div> 