@charset "UTF-8";

/* CSS Document */
body{margin:0px;padding:0px; font-family:Verdana, Geneva, sans-serif;overflow-y: scroll;

}
h1, h2, h3, h4, h5, h6{margin:0px;padding:0px;	}
.centrado{width:100%;margin:auto;border-top:3px solid #ed6600;}
.cabecera{display:block;width:100%;float:left;	}
.cabecera .centrado{display:block;overflow:hidden;background-color:#fff;color:#fff;position:relative;}
.cabecera .centrado a{color:#fff;text-decoration:none;}
.cabecera .centrado .logo{display:block;width:207px;height:32px;float:left;margin:32px 20px;}
.cabecera .centrado h1{float:left;margin:0px;padding:0px;margin-top:34px;text-transform:uppercase; color:#63544a;}
.cabecera .centrado h1 { color:#63544a;float:right;margin:0px;padding:0px;margin-top:34px; font:bold 18px Tahoma, Geneva, sans-serif;text-transform:uppercase; margin-right:34px;}
.cabecera .centrado .menu-navegacion{display:block;clear:both;margin:0px;	padding:0px;	border-top:1px solid #fff;	float:left;	list-style-type:none;	width:100%; background-color:#ed6600; height:37px; border-bottom:2px solid #635449;}
.cabecera .centrado .menu-navegacion .activo{color:#63544a; font-weight:bold;}
.cabecera .centrado .menu-navegacion li{float:left; font:normal 12px Verdana, Geneva, sans-serif;}
.cabecera .centrado .menu-navegacion span {float:left; font:normal 12px Verdana, Geneva, sans-serif;display:block;margin-left:26px;margin-top:10px;}
.cabecera .centrado .menu-navegacion li a{display:block;margin-left:36px;margin-top:10px;margin-right:0px;text-align:center; width:auto;}
.cabecera .centrado .menu-navegacion li a:link{display:block;margin-left:36px;margin-top:10px;margin-right:0px;text-align:center;}
.cabecera .centrado .menu-navegacion li a:hover{display:block;margin-left:36px;	margin-top:10px;margin-right:0px;text-align:center;color:#63544a;}

.cabecera .centrado .idiomas{	position: absolute;	margin-top:13px;right: 22px;	float: left;list-style-type: none; font:normal 10px Verdana, Geneva, sans-serif; width: 100px;	color: #63544a; /*text-transform:uppercase;*/}
.cabecera .centrado .idiomas li{float:left;margin-left:5px;}
.cabecera .centrado .idiomas li a{text-decoration:none;color: #ec6600;	}
.cabecera .centrado .idiomas li a:hover{text-decoration:underline;color: #8F8171;}
/*.cabecera .centrado .idiomas li a:visited{text-decoration:none;color: #ffffff;}
.cabecera .centrado .idiomas li:after{ content:" | ";}
.cabecera .centrado .idiomas li.last:after{content:"";}*/

.cuerpo{display:block;width:100%;float:left; font-family:Verdana, Geneva, sans-serif; margin-top:30px;}
.cuerpo .home{display:block;/*min-height:393px;*/height:425px; background:url(../img/bk-img-home.jpg) top left no-repeat;margin-top:0px;position:relative;}
.cuerpo .home .wform{position:absolute;right:120px;width:300px;min-height:425px; background:url(../img/bk-wform.png) top left repeat; margin-top:3px;}
.cuerpo .home .wform .text{margin-left:20px;margin-right:20px;margin-top:20px;width:246px;border-radius:4px;padding:10px;	border:1px;	border-color:#A51A1A;	font-family:Verdana;	font-size:12px;color:#000;background-color:#b3d7de;}

.bt_entrar{/*display:block;overflow:hidden;clear:both;padding-left:20px;padding-right:20px;margin-top:20px;*/ margin:auto; text-align:center; clear:both; margin-top:26px; width:100%;}
.bt_entrar .bt{float:left;}
.bt_claves{color:#000; font:normal 11px Verdana, Geneva, sans-serif; width:100%; clear:both; margin-top:20px; text-align:center;}
.bt_claves a:link{color:#000;text-decoration:underline;}
.bt_claves a:hover{text-decoration:none;}

.cuerpo .home .wform h2{ font:bold 15px Verdana, Geneva, sans-serif;color:#fff;line-height:45px;background-color:#35251a;padding-left:21px;}
.cuerpo .home .wform h3{ font:bold 16px Verdana, Geneva, sans-serif; color:#635449;clear:both;display:block;text-align:center;border-top: 1px solid #ed6600;margin-top:25px;margin-left:10px;margin-right:10px;padding-bottom:20px;padding-top:20px;}
/*.cuerpo .home .wform input.bt{display:block;width:122px;height:31px;line-height:31px;background-image:url(entrar.png);	background-color:transparent;border:0px;color:#35261a;	text-align:center;	font-size:16px;	text-transform:uppercase;	cursor:pointer;	}
.cuerpo .home .wform .bt_solicitar{display:block;width:186px;height:31px;line-height:31px;background-image:url(soliciitar.png); color:#35261a;text-align:center;font-size:16px; text-transform:uppercase; text-decoration:none;}*/

.cuerpo .centrado {border-top:0px;}
.cuerpo .centrado .rastro{ font:normal 11px Verdana, Geneva, sans-serif;color:#000000; width:940px; margin-left:33px; border-bottom:2px solid #c1bbb6; padding-bottom:4px; text-transform:uppercase;}
.cuerpo .centrado .rastro p{margin:0px;padding:0px;}
.cuerpo .centrado .rastro a{color:#ed6600;text-decoration:none;line-height:8px;}

/*.cuerpo .centrado .rastro a:after{ content:" > ";	}
.cuerpo .centrado .rastro a.last:after{ content:"";}*/
.cuerpo .centrado .contenido h1{color:#ed6600;margin-bottom:0px; font:bold 18px Verdana, Geneva, sans-serif; margin-top:18px; padding-bottom:8px;	}
.cuerpo .centrado .cuerpo-imagen{display:block;float:left;width:268px;padding-bottom:10px;text-align:right;}
.cuerpo .centrado .cuerpo-imagen .pdf {background:url(../img/bk-pdf.gif) top left no-repeat; width:268px; height:79px; float:left;}
.cuerpo .centrado .cuerpo-imagen a {float:left;display:block;font-size:11px;color:#63544a;margin-right:15px;margin-top:15px;line-height:25px;padding-left:74px; text-align:left; text-decoration:none;}
.cuerpo .centrado .cuerpo-imagen a strong{ text-transform:uppercase;color:#63544a; font-size:14px;}
/*.cuerpo .centrado .cuerpo-inicio-izda{display:block;float:left;width:600px;padding:10px 20px 0 0;border-bottom:1px solid #000;text-align:left;}
.cuerpo .centrado .cuerpo-inicio-izda a {float:right;display:block;font-size:11px;text-transform:uppercase;color:#ed6600;margin-right:15px;margin-top:10px;line-height:20px;background-image:url(pdf.png);	background-repeat:no-repeat;	background-position:left;	padding-left:25px;	}*/
.cuerpo .centrado .cuerpo-recurso{display:block;float:left;width:140px;font-size:12px; margin-left:20px;}
.cuerpo .centrado .cuerpo-recurso img {padding-top:20px;}
.cuerpo .centrado .cuerpo-recurso h2{fon-size:12px; color:#ed6600;}
.cuerpo .centrado .cuerpo-contenido{display:block;float:left;width:60%;font-size:12px;margin-left:1%;}
.cuerpo .centrado .cuerpo-contenido.ayuda{display:block;float:left;width:600px;font-size:12px;margin-left:20px;}
.cuerpo .centrado .cuerpo-contenido p{margin:0px;padding:0px;padding-bottom:20px;font-size:12px; line-height:18px;}
.cuerpo .centrado .cuerpo-contenido h2{font-size:14px;color:#ed6600;padding-bottom:20px; text-decoration:underline;}
.cuerpo .centrado .cuerpo-contenido h3{font-size:14px;color:#ed6600;margin-bottom:20px;border-bottom:1px solid #ed6600;}
.cuerpo .centrado .cuerpo-contenido h4{font-size:14px;color:#000;padding-bottom:20px;}
.cuerpo .centrado .cuerpo-contenido ol {font-weight:bold; color:#ed6600;}	
.cuerpo .centrado .cuerpo-contenido ol li{padding-bottom:10px;}
.cuerpo .centrado .cuerpo-contenido ol li span { color:#000; font-weight:normal; line-height:18px;}
.cuerpo .centrado .cuerpo-contenido ol li span.normal { color:#000; font-weight:normal; line-height:18px;}
.cuerpo .centrado .cuerpo-contenido .mail {text-align:center; color:#ed6600; font:bold 12px Verdana, Geneva, sans-serif;}
.cuerpo .centrado .cuerpo-contenido .mail a {text-decoration:none;color:#ed6600;}
.cuerpo .centrado .cuerpo-inicio-dcha{display:block;float:right;width:200px;font-size:14px;	}
.cuerpo .centrado .cuerpo-inicio-dcha p{margin:0px;padding:0px;padding-bottom:20px;}
.cuerpo .centrado .cuerpo-inicio-dcha h2{font-size:14px;color:#ed6600;padding-bottom:20px;}
.cuerpo .centrado .cuerpo-inicio-dcha h3{font-size:14px;color:#ed6600;margin-bottom:20px;border-bottom:1px solid #ed6600;}
.cuerpo .centrado .cuerpo-inicio-dcha h4{font-size:14px;color:#000;padding-bottom:20px;}
.cuerpo .centrado .cuerpo-inicio-dcha ol li{padding-bottom:10px;}

.black {text-decoration:none; color:#000; font-weight:bold;}

.orange {color:#ed6600;}
ul.politica {}
ul.politica li { margin-bottom:10px; list-style-type:disc; color:#ed6600;}
ul.politica li span {color:#000; line-height:18px;}
ul.politica li span a.orange {color:#ed6600; text-decoration:none;}

ul.bienvenido {}
ul.bienvenido li {list-style-type:square; color:#ec6600; margin-top:15px;}
ul.bienvenido li span { color:#000; font-weight:normal; line-height:18px;}

.raya_separa {clear:both; height:20px; border-top:2px solid #c1bbb6;}

.cuerpo .centrado .cuerpo-imagen-ayuda{display:block;float:left;width:250px;padding-bottom:10px;text-align:right;}
.cuerpo .centrado .cuerpo-imagen-ayuda .pdf {background:url(../img/bk-pdf.gif) top left no-repeat; width:268px; height:79px; float:left;}
.cuerpo .centrado .cuerpo-imagen-ayuda a {float:left;display:block;font-size:11px;color:#63544a;margin-right:15px;margin-top:15px;line-height:25px;padding-left:74px; text-align:left; text-decoration:none;}
.cuerpo .centrado .cuerpo-imagen-ayuda a strong{ color:#63544a; font-size:14px;}
.pdf .ayuda a strong {text-transform:none; font-size:13px;}
.manual_consulta {margin-top:165px; padding-top:10px; border-top:2px solid #c1bbb6; width:268px; font:normal 12px Verdana, Geneva, sans-serif;}
.manual_consulta strong {font-size:14px;}
.manual_consulta.datos {margin-top:30px;}
.cuerpo-contenido .ayuda {float:left; display:inline; width:400px;}
.cuerpo .centrado #cont_gen ol {font-weight:bold; color:#ed6600;}	
.cuerpo .centrado #cont_gen ol li{padding-bottom:10px;}
.cuerpo .centrado #cont_gen ol li span { color:#000; font-weight:normal; line-height:18px;}

.footer {clear:both; width:1000px;margin:auto; color:#000; font:normal 8px Verdana, Geneva, sans-serif; text-align:center; line-height:30px;}
.pie{display:block;width:100%;float:left;}
.pie .centrado{display:block;height:140px;background-color:#ec6600;font-size:12px;position:relative;color:#35261A;}
.home .pie .centrado{height:185px;}
.pie .margen{display:block;width:100%;background-color:#fff;height:45px;}
.tit_soporte{position:absolute;top:0px;right:120px;width:280px;padding:10px;padding-bottom:0px;padding-top:12px;background-color:#635449;font-size:11px;height:34px; color:#fff; text-align:center;	}

.datos_fullstep{position:absolute;top:45px;right:120px;width:280px;padding:10px;padding-bottom:0px;padding-top:10px;background-color:#b3d7de;font-size:11px;height:130px;	}
.datos_fullstep .tlf{ font:bold 18px Verdana, Geneva, sans-serif; line-height:26px;}
.datos_fullstep .mail{color:#000;font-weight:bold;text-decoration:none; font-size:11px;	}
.datos_fullstep .mail a{text-decoration:none; color:#000;}
.datos_fullstep .mail a:hover{text-decoration:none;}

.datos_fullstep .horario{padding-top:4px; font-size:12px;}
.datos_fullstep .horario p {font-size:11px;}
.datos_fullstep hr {padding-top:0px; border:0px; height:1px; background-color:#fff; margin-top:5px;}
.pie .centrado{ height:80px;}
.pie .centrado .izquierda{display:block;float:none;text-align:center;}
.pie .centrado .poweredby{display:block;float:none;text-align:right;}
.pie .centrado .derecha{display:block;float:right;}

.home .pie .centrado .izquierda{float:left;text-align:left;}
.home .pie .centrado .izquierda{float:left;text-align:left;font-family:Verdana;font-size:11px;color:#35261A;}
.home .pie .centrado .poweredby{float:left;text-align:right;font-family:Verdana;font-size:9px;color:#35261A;}
.home .pie .centrado .izquierda a:link {float:left;text-align:left;font-family:Verdana;font-size:12px;color:#fff;text-decoration:none;}
.home .pie .centrado .izquierda a:hover {float:left;text-align:left;color:#fff;text-decoration:none;}
.home .pie .centrado p.izquierda#cookies {padding-left:10px;}
.home .pie .centrado p.izquierda{display:block;margin:0px;padding:8px;padding-top:15px; padding-left:20px;}
.home .pie .centrado p.izquierda span {padding-left:10px; color:#635449;}
.home .pie .centrado p.derecha {display:block;margin:0px;padding:0px;padding-top:9px;}
.home .pie .centrado p.copyright{display:block;margin:0px;padding:10px; padding-left:20px;margin-top:60px; clear:both; color:#fff; font-size:10px; width:auto; float:left;}
.home .pie .centrado p.powered {margin:0px;padding:10px; padding-left:20px;margin-top:60px; color:#fff; font-size:11px; width:200px; float:left; margin-left:70px;}

.pie .centrado p.izquierda#cookies {margin-left:0px;}
.pie .centrado p.izquierda{display:block;margin:0px;padding:8px;padding-top:15px; margin-left:140px; float:left;}
.pie .centrado p.izquierda a {color:#fff; text-decoration:none;}
.pie .centrado p.izquierda span {margin-left:10px; color:#635449;}
.pie .centrado p.derecha {display:block;margin:0px;padding:0px;padding-top:9px;}
.pie .centrado p.copyright{display:block;margin:0px;padding:10px; padding-left:80px;margin-top:10px; color:#fff; font-size:10px; width:auto; text-align:center; float:left;}
.pie .centrado p.powered {margin:0px;padding:10px;margin-top:10px; color:#fff; font-size:11px; width:200px; float:left; margin-left:30px;}





#cont_gen { font-family: Verdana; height: auto; margin: 0 auto; text-align: left; width: 815px;font-size:12px;color:#35261A;} 

#izd_gen {float: left;height: auto; padding: 10px 0 10px 15px; width: 800px; border-bottom:3px solid #c1bbb6;}
#izd_gen ul {list-style: none outside none; margin: 30px 0 0 30px;padding: 0;width: 150px;}
#izd_gen ul li {color: #FF0000; margin-bottom: 5px;}
/*#izd_gen ul li:first-child a {order: medium none;}*/
#izd_gen ul li a {background: url("../images/punto_verde.png") no-repeat scroll left center rgba(0, 0, 0, 0);border-top: 1px dotted #CCCCCC; display: inline-block;padding: 10px 0 10px 10px;}
#imagen-recurso-pop {float:left; display:inline; width:257px;}

#drc_gen {float: left; display:inline;font-size: 12px;padding: 0 5px 0 15px; width: 800px; }
#drc_gen.claves {width:520px;}
#drc_gen .tit {font:bold 18px Verdana, Geneva, sans-serif; text-align:left; color:#ed6600; padding-bottom:5px;}	
#drc_gen div.interior-pop { padding: 20px;}
.text-pop{margin-left:10px;margin-right:10px;margin-top:10px;width:220px;border-radius:4px;padding:5px;	border:1px;	border-color:#A51A1A;	font-family:Verdana;	font-size:12px;color:#000;background-color:#b3d7de;}

.recupera { border-collapse:collapse; margin-left:20px; margin-top:10px;}

#drc_gen h1 { font:normal 20px Verdana, Geneva, sans-serif;/*border-left: 1px solid #ed6600;*/color: #ed6600;line-height: 20px;margin: 0 0 20px; padding: 65px 0 0 0px;}
#drc_gen ol li {margin-bottom: 10px;}
#cont_gen a{font-family:Verdana;color:#ed6600;text-decoration:underline;}
#cont_gen a:hover{ font-family:Verdana;color:#000;text-decoration:none;}
#drc_gen div.int { background: url("../images/esquina_blanca.png") no-repeat scroll right bottom #F4F4F4; padding: 20px; width:100%;}
.rojo {color: #666666;}
#drc_gen .fin { border-top: 1px dotted #666666;float: left;margin-top: 17px;width: 377px;}
.bt_arriba { background: url("../img/flecha_arriba.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: inline-block;float: right;height: 15px;margin-top: 10px;width: 30px; padding-bottom:5px;}

.recordar-claves {background: url("../img/img-recuerdo2.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height: 83px; margin-top: 30px;padding: 5px 20px 0 170px; width: 170px;}
.recordar-claves div {font-size:11px; line-height:18px; width:300px;}
.caja_acepto {float: left; width: 48%;}
.caja_documentos { float: left;width: 80%;}
.tam_20 {font-size:20px;}
.tam_14 {font-size:14px;}
.limpia {clear:both;}
.bt_registro_pop {cursor: pointer; background:url(../img/btn_enviar.gif) top left no-repeat; width:89px; height:26px; display:block; font:bold 12px Verdana, Geneva, sans-serif; color:#ffffff; border:0px; float:right; margin-right:58px;}
.centrado_claves{width:100%;margin:auto;border-top:3px solid #ed6600;}


#cont_gen .bt_registro {display: block;margin: auto;text-decoration: none;float:right; font:normal 18px Verdana, Geneva, sans-serif;border:0px;height:32px;border-radius: 3px;color:#fff;width:120px; background-color:#ed6600;}

.int-legal{font-family: Verdana;height: auto;margin: 0 auto;text-align: left;font-size:12px;color:#35261A;	}

.checkboxRequiredMsg{display:none;}

	

/*.pie .centrado p.powered {margin-right: 17px;margin-top: -4px;}*/

/*pagina inicio*/

.textos_inicio p{font-family:Verdana; font-size:12px;}
.textos_inicio ul li{ color:#ed6600; margin-bottom:5px;font-size:12px;}
.textos_inicio a{font-size:12px;margin-right:15px;margin-top:10px;line-height:20px;padding-left:25px;color:#ed6600;}

	.centrado-inicio{width:90%;margin:auto;}
	.cuerpo .centrado-inicio .contenido-inicio h1{font-weight:normal;font-size:50px;color:#ed6600;margin-bottom:0px;}

	.cuerpo .centrado-inicio .cuerpo-dcha{	display:block;float:right;width:400px;height: 391px;padding-bottom:10px;text-align:left;background:  no-repeat scroll right bottom #F4F4F4;border-left: 1px solid #C4D500;margin-right:50px;}

.cuerpo .centrado-inicio .cuerpo-dcha p{margin:20px;padding:0px;font-family:Verdana;font-size:12px;}
.cuerpo .centrado-inicio .cuerpo-dcha ul {list-style: none outside none;    margin: 30px 0 0 30px;    padding: 0;    width: 300px;	}
.cuerpo .centrado-inicio .cuerpo-dcha ul li { background-image:url(pdf.png);	background-repeat:no-repeat;	background-position:left;	margin-bottom: 5px;	border-top: 1px dotted #CCCCCC;
    display: inline-block;    padding: 0px 0 10px 30px;}
/*.cuerpo .centrado-inicio .cuerpo-dcha ul li:first-child a { border: medium none;}*/
.cuerpo .centrado-inicio .cuerpo-dcha ul li a:link {    font-family:Verdana;	font-size:12px;	color: #ed6600;	text-decoration:underline;}
.cuerpo .centrado-inicio .cuerpo-dcha ul li a:hover {font-family:Verdana;	font-size:12px;	color: #8F8171;	text-decoration:none;}
.cuerpo .centrado-inicio .cuerpo-dcha .soporte {
    background: url("../images/recordar-claves.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 93px;
    margin-top: 30px;
    padding: 5px 20px 0 100px;
    width: 280px;
	display:block;
	float:right;
	font-family:Verdana;
	font-size:10px;
}
.soporte a:link {color: #35261A;text-decoration:underline;}
.soporte a:hover {color: #8F8171;text-decoration:none;}
.cuerpo .centrado-inicio .cuerpo-contenido-inicio{	font-family:Verdana;	font-size:12px;	color: #35261A;	display:block;	float:left;	width:750px;	}
.cuerpo .centrado-inicio .cuerpo-contenido-inicio p{margin:20px;padding:0px;padding-bottom:20px;}
.cuerpo .centrado-inicio .cuerpo-contenido-inicio h2{font-size:14px;color:#ed6600;padding-bottom:20px;}
.cuerpo .centrado-inicio .cuerpo-contenido-inicio h3{font-size:14px;color:#ed6600;margin-bottom:20px;border-bottom:1px solid #ed6600;}
.cuerpo .centrado-inicio .cuerpo-contenido-inicio h4{font-size:14px;color:#000;padding-bottom:20px;}
.cuerpo .centrado-inicio .cuerpo-contenido-inicio ol li{padding-bottom:10px;}
.cuerpo .centrado .cuerpo-menu {float:left; display:inline;}
.cuerpo .centrado .cuerpo-menu ul {list-style: none outside none; margin: 30px 0 0 30px; padding: 0;width: 180px;}
.cuerpo .centrado .cuerpo-menu ul li {
    background: url("../img/bk-li-ayuda.gif"); background-position:0px 10px; background-repeat:no-repeat;
	margin-bottom: 5px;
	border-top: 1px dotted #CCCCCC;
    display: inline-block;
    padding: 10px 0 10px 20px;
}
/*.cuerpo .centrado .cuerpo-menu ul li:first-child a {    border: medium none;}*/
.cuerpo .centrado .cuerpo-menu ul li a {color:#000; text-decoration:none;}
.cuerpo .centrado .cuerpo-menu ul li a:link {    font-family:Verdana;	font-size:12px;	color: #000;	text-decoration:none;}
.cuerpo .centrado .cuerpo-menu ul li a:hover {    font-family:Verdana;	font-size:12px;	color: #000;	text-decoration:none;}
/*.idiomas {display:none;}*/

/* INICIO */
.cuerpo .centrado .cuerpo-menu-inicio {float:right; display:inline; margin-right:35px; width:35%}
.cuerpo .centrado .cuerpo-menu-inicio ul {list-style: none outside none; margin: 30px 0 0 30px; padding: 0;width: 285px;}
.cuerpo .centrado .cuerpo-menu-inicio ul li {
    background: url("../img/bk-li-ayuda.gif"); background-position:0px 10px; background-repeat:no-repeat;width: 180px;
	margin-bottom: 5px;
	border-top: 1px dotted #CCCCCC;
    display: inline-block;
    padding: 10px 0 10px 20px;
}

.cuerpo .centrado .cuerpo-menu-inicio ul li a {color:#000; text-decoration:none;}
.cuerpo .centrado .cuerpo-menu-inicio ul li a:link {    font-family:Verdana;	font-size:12px;	color: #000;	text-decoration:none;}
.cuerpo .centrado .cuerpo-menu-inicio ul li a:hover {    font-family:Verdana;	font-size:12px;	color: #000;	text-decoration:none;}
.manual_consulta_inicio {margin-top:30px; padding-top:10px; border-top:2px solid #c1bbb6; width:268px; font:normal 12px Verdana, Geneva, sans-serif;}
.manual_consulta_inicio strong {font-size:14px;}
.manual_consulta_inicio p {padding-left:12px;}
.logo_left{float:left;}
.logo_right{float:right;}