﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="EnBlanco.master.vb" Inherits="Fullstep.FSNWeb.EnBlanco" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>" lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
    
    <head id="Head1" runat="server">
            <title></title>
            <asp:ContentPlaceHolder ID="head" runat="server">
        
            </asp:ContentPlaceHolder>
    </head>

    

<body id="bodyEnBlanco" runat="server" style="background-color: #DCDCDC; width: 100%; padding: 0px; margin: 0px">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div id="masterBlanco">
        <asp:ContentPlaceHolder ID="CPH4" runat="server">
        </asp:ContentPlaceHolder>
        <asp:Panel ID="panelUpdateProgress" runat="server" CssClass="updateProgress" Style="display: none">
            <div style="position: relative; top: 30%; text-align: center;">
                <asp:Image ID="ImgProgress" runat="server" SkinID="ImgProgress" />
                <asp:Label ID="LblProcesando" runat="server" ForeColor="Black" Text="Cargando ..."></asp:Label>
            </div>
        </asp:Panel>
        <ajx:ModalPopupExtender ID="ModalProgress" runat="server" TargetControlID="panelUpdateProgress"
			BackgroundCssClass="modalBackground" PopupControlID="panelUpdateProgress" />
    </div>
    <div id="popupFondo" class="FondoModal" style="display:none; position:absolute; z-index:1001; margin:auto; width:100%; top:0; left:0;"></div>
    </form>
    <div id="fileupload" style="display:none;">
		<form id="formFileupload" action="" method="post" enctype="multipart/form-data">
			<div class="fileupload-buttonbar">
				<label for="ifileUpload" class="fileinput-button">                    
					<input id="ifileUpload" type="file" name="files[]" multiple="multiple" />
				</label>
			</div>
		</form>
	</div>
</body>
</html>
