﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Publica.master.vb" Inherits="Fullstep.FSNWeb.Publica" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>"  lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">

<head id="Head1" runat="server">
	<title></title>
	<asp:ContentPlaceHolder ID="head" runat="server">
	</asp:ContentPlaceHolder>  
</head>
<body style="width:100%; padding:0px; margin:0px">
	<form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager" runat="server">
            <CompositeScript>
                <Scripts>
                    <asp:ScriptReference Path="../js/jquery/jquery.min.js" />
                    <asp:ScriptReference Path="../js/politicacookies.js" />
                </Scripts>
            </CompositeScript>
        </asp:ScriptManager>
	<div>
		<table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
			<tr>
				<td>
					<div id="Cabecera" style="text-align:right; min-height:30px; padding-bottom:20px; width:100%;" class="Cabecera Texto12">
						<asp:Panel ID="panMenuCabecera" runat="server" style="float:right; line-height:30px; padding-right:20px; padding-top:5px">

						</asp:Panel>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="Pestanias" style="width:100%;">
						<table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
							<tr style="height:35px; vertical-align:middle; text-align:center;" class="Cabecera Texto12">
								<td style="width:30px; max-width:30px;">
									&nbsp;
								</td>
								<td rowspan="2" style="height:70px; width:195px; max-width:195px; text-align:left;">
									<table cellpadding="0" cellspacing="0" border="0" style="height:70px; width:195px;">
										<tr>
											<td style="width:5px; height:5px;" class="LogoTopLeft"></td>
											<td style="width:185px;" class="SkinLogo"></td>
											<td style="width:5px; height:5px;" class="LogoTopRight"></td>
										</tr>
										<tr>
											<td colspan="3" class="SkinLogo" style="width:195px; height:65px; text-align:center; vertical-align:middle;">
												<asp:Image ID="imgLogo" runat="server" ImageAlign="Middle" SkinID="LogoCab" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="Contenido" style="background-color:#FFFFFF; padding-left:5px; padding-top:10px; min-height:250px;">
						<asp:ContentPlaceHolder ID="CPH1" runat="server">
						</asp:ContentPlaceHolder>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="Pie" style="padding-bottom:15px; padding-top:30px; width:100%; text-align:center;" class="Pie" runat="server">
						<center>
							<table cellpadding="0" cellspacing="0" border="0" style="width:90%;">
								<tr>
									<td style="width:50%; text-align:left; vertical-align:top;">
										<asp:Label ID="lblVersion" runat="server" Text="FULLSTEP - Software version: "></asp:Label>
										<asp:Label ID="lblNumVersion" runat="server" Text="0.0.0"></asp:Label>
										<br />
										<asp:Label ID="lblAnyoCopy" runat="server" Text="1999 - XXXX"></asp:Label>
										<asp:Label ID="lblCopyright" runat="server" Text=" &amp;copy; FULLSTEP NETWORKS, S.L. - Todos los derechos reservados"></asp:Label>
										<br />
										<br />
										<asp:HyperLink ID="lnkPieFullstep" runat="server" CssClass="Pie" NavigateUrl="http://www.fullstep.com"
											Target="_blank">www.fullstep.com</asp:HyperLink>
										<div id="DivQSInfo" runat="server">
										</div>
									</td>
									<td style="width:50%; text-align:right; vertical-align:top;">
										<asp:Image ID="imgLogoPie" runat="server" SkinID="LogoPie" />
									</td>
								</tr>
							</table>
						</center>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div id="popupFondo" class="FondoModal" style="display:none; position:absolute; z-index:1000; margin:auto; width:100%; top:0; left:0;"></div>    
	</form>

</body>
</html>
