﻿<style type="text/css">

.titulo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-weight: bold; color: #FF7E00; text-decoration: none}
.titulo1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #FF7E00; text-decoration: none}
.subtitulo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #FF7E00; text-decoration: none}
.textos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #333333; text-decoration: none}
.registro {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #333333; text-decoration: none}
.subtit {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #333333; text-decoration: none}
.formulario {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #FF7E00; text-decoration: none}
.solutions {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: italic; font-weight: normal; color: #FF7E00; text-decoration: none}
a:link {text-decoration:none;color:#FF7E00; text-decoration:underline}
a:visited {text-decoration:none;color:#666666}
a:active {text-decoration:none;color:#FF7E00}
a:hover {  color: #FF7E00; text-decoration: none}
.TextoClaro
{
	color:#ffffff!important;
}
.Negrita
{
	font-weight:bold;
}
.FondoModal
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
</style>
