﻿<div id="fileUploadCKEditorImage" style="display:none;">
	<form id="formFileUploadCKEditorImage" action="" method="post" enctype="multipart/form-data">
		<div class="fileupload-buttonbar">
			<label class="fileinput-button">                    
				<input type="file" name="files[]" multiple="multiple" />
			</label>
			<div class="fileupload-progressbar"></div>
		</div>
	</form>
</div>
