@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "bankia";
    font-style: normal;
    font-weight: normal;
    src: url("bankia/bankia-regular-webfont-1.eot?#iefix") format("embedded-opentype"), url("bankia/bankia-regular-webfont-2.woff") format("woff"), url("bankia/bankia-regular-webfont-3.ttf") format("truetype"), url("bankia/bankia-regular-webfont-4.svg#foco-webfont") format("svg");
	}
	
@font-face {
    font-family: "bankiaMedium";
    font-style: normal;
    font-weight: normal;
    src: url("bankia/bankia-medium-webfont-1..eot?#iefix") format("embedded-opentype"), url("bankia/bankia-medium-webfont-2.woff") format("woff"), url("bankia/bankia-medium-webfont-3.ttf") format("truetype"), url("bankia/bankia-medium-webfont-4.svg#foco-webfont") format("svg");
	}

@font-face {
    font-family: "bankiaBold";
    font-style: normal;
    font-weight: normal;
    src: url("bankia/bankia-bold-webfont-1.eot?#iefix") format("embedded-opentype"), url("bankia/bankia-bold-webfont-1.woff") format("woff"), url("bankia/bankia-bold-webfont-3.ttf") format("truetype"), url("bankia/bankia-bold-webfont-4.svg#focobold-webfont") format("svg");
	}
	
.bankia {
    font-family: bankia;
	}

.bankia_medium {
    font-family: bankiaMedium;
	}

.bankia_bold {
    font-family: bankiaBold;
	}


body{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	}
	
h1, h2, h3, h4, h5, h6{
	margin:0px;
	padding:0px;
	}
	
.centrado{
	width:1000px;
	margin:auto;
	}
	
.cabecera{
	display:block;
	width:100%;
	float:left;
	}
	
.cabecera .centrado{
	display:block;
	overflow:hidden;
	background-color:#35251a;
	color:#fff;
	border-bottom:7px solid #c4d500;
	position:relative;
	}

.cabecera .centrado a{
	color:#fff;
	text-decoration:none;
	}
	
.cabecera .centrado .logo{
	display:block;
	width:175px;
	height:44px;
	float:left;
	margin:36px;
	}
	
.cabecera .centrado h1{
	float:left;
	margin:0px;
	padding:0px;
	margin-top:48px;
	font-size:32px;
	font-weight:normal;
	font-family: bankia;
	text-transform:uppercase;
	
	}

.cabecera .centrado .menu-navegacion{
	display:block;
	clear:both;
	margin:0px;
	padding:0px;
	border-top:1px solid #c4d500;
	float:left;
	list-style-type:none;
	width:100%;
	}
	
.cabecera .centrado .menu-navegacion li{
	float:left;
	font-size:15px;
	height:55px;
	font-family:bankiaMedium;
	}
	
.cabecera .centrado .menu-navegacion li a{
	display:block;
	margin-left:36px;
	margin-top:10px;
	margin-right:0px;
	text-align:center;
	max-width:185px;
	}
	
.cabecera .centrado .idiomas{
	position:absolute;
	top:36px;
	right:18px;
	float:left;
	list-style-type:none;
	font-size:12px;
	font-family:bankia;
	}
	
.cabecera .centrado .idiomas li{
	float:left;
	margin-left:5px;
	}
	
.cabecera .centrado .idiomas li:after{ 
	content:" | ";
	}
	
.cabecera .centrado .idiomas li.last:after{ 
	content:"";
	}

.cuerpo{
	display:block;
	width:100%;
	float:left;
	}

.cuerpo .home{
	display:block;
	min-height:393px;
	background-image:url(fondo-home.jpg);
	background-repeat:no-repeat;
	margin-top:20px;
	position:relative;
	}
	
.cuerpo .home .wform{
		position:absolute;
		right:120px;
		width:300px;
		min-height:393px;
		background-image:url(sesenta.png);
		}
		
		
.cuerpo .home .wform .text{
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	width:246px;
	border-radius:4px;
	padding:7px;
	border:0px;
	font-family:bankia;
	font-size:16px;
	color:#8e8a88;
	}

.bt_entrar{
	display:block;
	overflow:hidden;
	clear:both;
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
	}

.bt_entrar .bt{
	float:left;
	}
		
	.bt_claves{
		color:#fff;
		font-size:14px;
		font-family:bankia;
		float:right;
		width:130px;
	}
		
.cuerpo .home .wform h2{
	font-size:15px;
	font-family:bankia;
	font-weight:normal;
	color:#fff;
	line-height:45px;
	background-color:#35251a;
	padding-left:25px;
	}
	
.cuerpo .home .wform h3{
	font-family:bankiaBold;
	clear:both;
	display:block;
	text-align:center;
	font-size:15px;
	font-weight:normal;
	color:#fff;
	border-top: 1px solid #c4d500;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	}

.cuerpo .home .wform input.bt{
	font-family:bankiaBold;
	display:block;
	width:122px;
	height:31px;
	line-height:31px;
	background-image:url(entrar.png);
	background-color:transparent;
	border:0px;
	color:#35261a;
	text-align:center;
	font-size:16px;
	text-transform:uppercase;
	cursor:pointer;
	}

.cuerpo .home .wform .bt_solicitar{
	font-family:bankiaBold;
	display:block;
	width:186px;
	height:31px;
	line-height:31px;
	background-image:url(soliciitar.png);
	color:#35261a;
	text-align:center;
	font-size:16px;
	text-transform:uppercase;
	text-decoration:none;
	}

.cuerpo .centrado .rastro{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	}
	
.cuerpo .centrado .rastro p{
	margin:0px;
	padding:0px;
	}

.cuerpo .centrado .rastro a{
	color:#000000;
	text-decoration:underline;
	line-height:48px;
	}
	
.cuerpo .centrado .rastro a:after{ 
	content:" » ";
	}
	
.cuerpo .centrado .rastro a.last:after{ 
	content:"";
	}


.cuerpo .centrado .contenido h1{
	font-weight:normal;
	font-size:50px;
	color:#c4d600;
	margin-bottom:0px;
	font-family: bankiaBold;
	font-stretch:condensed;
	}

.cuerpo .centrado .cuerpo-imagen{
	display:block;
	float:left;
	width:300px;
	padding-bottom:10px;
	border-bottom:1px solid #000;
	text-align:right;
	}
	
.cuerpo .centrado .cuerpo-imagen a{
	font-family:bankia;
	float:right;
	display:block;
	font-size:11px;
	text-transform:uppercase;
	color:#017a99;
	margin-right:15px;
	margin-top:10px;
	line-height:20px;
	background-image:url(pdf.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:25px;
	}
	
.cuerpo .centrado .cuerpo-contenido{
	display:block;
	float:right;
	width:670px;
	font-size:14px;
	}

.cuerpo .centrado .cuerpo-contenido p{
	margin:0px;
	padding:0px;
	padding-bottom:20px;
	}
	
.cuerpo .centrado .cuerpo-contenido h2{
	font-size:14px;
	color:#c4d600;
	padding-bottom:20px;
	}
	
.cuerpo .centrado .cuerpo-contenido h3{
	font-size:14px;
	color:#c4d600;
	margin-bottom:20px;
	border-bottom:1px solid #c4d600;
	}
	
.cuerpo .centrado .cuerpo-contenido h4{
	font-size:14px;
	color:#000;
	padding-bottom:20px;
	}
	
.cuerpo .centrado .cuerpo-contenido ol li{
	padding-bottom:10px;
	}

.pie{
	display:block;
	width:100%;
	float:left;
	}

.pie .centrado{
	display:block;
	height:140px;
	background-color:#c4d500;
	font-size:12px;
	position:relative;
	}
	
.home .pie .centrado{
	height:185px;
	}
	
.pie .margen{
	display:block;
	width:100%;
	background-color:#fff;
	height:45px;
	}
	
.datos_fullstep{
	position:absolute;
	top:0px;
	right:120px;
	width:260px;
	padding:20px;
	padding-bottom:0px;
	padding-top:10px;
	background-color:#efedee;
	font-size:12px;
	height:175px;
	}
	
.datos_fullstep .tlf{
	font-size:21px;
	}
	
.datos_fullstep .mail{
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}

.pie .centrado{
	font-family:bankia;
	}

	
.pie .centrado .izquierda{
	display:block;
	float:none;
	
	text-align:center;
	}

.pie .centrado .derecha{
	display:block;
	float:right;
	}
	
.home .pie .centrado .izquierda{
	float:left;
	
	text-align:left;
	}
	
.pie .centrado p.izquierda,
.pie .centrado p.derecha {
	display:block;
	margin:0px;
	padding:10px;
	padding-top:110px;
	}
	
#cont_gen {
    font-family: Arial,Helvetica,sans-serif;
    height: auto;
    margin: 0 auto;
    text-align: left;
    width: 730px;
	font-size:12px;
	}
	
#izd_gen {
    float: left;
    height: auto;
    padding: 50px 0 0 15px;
    width: 200px;
	}
	
#izd_gen ul {
    list-style: none outside none;
    margin: 30px 0 0 30px;
    padding: 0;
    width: 150px;
}

#izd_gen ul li {
    color: #FF0000;
    margin-bottom: 5px;
}

#izd_gen ul li:first-child a {
    border: medium none;
}

#izd_gen ul li a {
    background: url("../images/punto_verde.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border-top: 1px dotted #CCCCCC;
    display: inline-block;
    padding: 10px 0 10px 10px;
}
	
#drc_gen {
    float: left;
    height: auto;
    padding: 0 15px 15px 0;
    width: 500px;
	}
	
#drc_gen h1 {
    border-left: 1px solid #C4D500;
    color: #C4D500;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 65px 0 0 25px;
}

#drc_gen ol li {
    margin-bottom: 10px;
}

#cont_gen a{ color:#000;
	}

#drc_gen div.int {
    background: url("../images/esquina_blanca.png") no-repeat scroll right bottom #F4F4F4;
    border-left: 1px solid #C4D500;
    padding: 20px 20px 20px 70px;
}

.rojo {
    color: #C4D500;
}

#drc_gen .fin {
    border-top: 1px dotted #666666;
    float: left;
    margin-top: 17px;
    width: 377px;
}

.bt_arriba {
    background: url("../images/flecha_arriba.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: right;
    height: 15px;
    margin-top: 10px;
    width: 23px;
}

.recordar-claves {
    background: url("../images/recordar-claves.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 88px;
    margin-top: 30px;
    padding: 5px 20px 0 100px;
    width: 290px;
}

.caja_acepto {
    float: left;
    width: 48%;
}

.bt_registro {
	display:block;
	margin:0px;
	padding:0px;
    background-color: #c4d500;
    background-image: -moz-linear-gradient(center top , #e3e8a6, #c4d500);
    background-repeat: repeat-x;
    border: 1px solid #c4d500;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 20px;
	line-height: 14px;
    padding-top: 2px;
    text-align: center;
    width: 80px;
}

#cont_gen .bt_registro {
    color: #FFFFFF;
    display: block;
    margin: auto;
    text-decoration: none;
    width: 70px;
}

.checkboxRequiredMsg{
	display:none;
	}