
a:link {
	color: #3865b7;
	text-decoration: underline;
	font-weight:bolder;
}
a:visited {
	text-decoration: none;
	color: #3865b7;
}
a:hover {
	text-decoration: none;
	color: #3865b7;
}

body {
	font-family: Verdana, Arial, sans-serif;
	text-align:center;
}


#principal #cabecera #titulo {
	float: right;
	width: 740px;
	padding-bottom: px;
	padding-top: 45px;
	font-size: 30px;
	color: #294778;
	text-align:left;
	}

#principal #cuerpo #imagen-principal {
	background-image: url(images/Portal-Ocaso.jpg);
	width: 600px;
	height: 434px;
	font-size: 18px;
	float:left;
}
#principal #cuerpo #formulario {
	width:348px;
	height: 434px;
	padding-left: 0px;
	margin-top: auto;
	padding-top: 0px;
	border-right: 1px solid #cbcbcb;
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	background-color:#fff;
	float: left;
	}

#principal #cuerpo #formulario .tit {
	margin-top:0px;
	height: 50px;
	width: 348px;
	text-align: center;
	font-size: 24px;
	background-image:url(images/acceso-proveedores.png)
}
#principal #cuerpo #formulario form{
	position: relative;
	height: 220px;
	padding-left: 30px;
	padding-right: 30px;
	}
#principal #cuerpo #formulario input.text{
	width: 266px;
	height: 28px;
	padding-left: 6px;
	margin-top: 10px;
}
#principal #cuerpo #formulario #frmLogin .bt {
	float: right;
	margin-right: 22px;
	border-radius: 4px;
	width: 130px;
	height: 26px;
	margin-top: 20px;
	color: rgba(252,252,252,1.00);
	font-size: 14px;
}

#principal #cuerpo #formulario #frmLogin .bt_claves {
	float: right;
	text-align:right;
	width: 200px;
	margin-top: 15px;
	margin-right: 22px;
	font-size: 12px;
	}

#principal #cuerpo #formulario #registro{
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	padding-top:20px;
	}
#principal #cuerpo #formulario #registro .tit_registro {
	float: right;
	text-align: right;
	width: 220px;
	margin-top: 5px;
	margin-right: 22px;
	font-size: 16px;
	font-weight:bold;
	color:#474747;
	
}
#principal #cuerpo #formulario #registro .bt_solicitar {
	float: right;
	height: 32px;
	width: 120px;
	right: 22px;
	padding-right:20px;
	margin-top:5px;

}
#pie-pagina {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#pie-pagina #pie-pagina-superior {
	padding-left: 5px;
	margin-top: 10px;
	border-top-color: #3865b7;
	border-top-style: solid;
	border-width: 1px;
	padding-top: 10px;
	text-align: left;
}
#pie-pagina #pie-pagina-inf-izq {
	margin-top: 10px;
	text-align: left;
}
#pie-pagina #pie-pagina-inf-dcha {
	text-align: right;
	font-size:10px;
}

#principal #cuerpo #formulario #registro .bt_solicitar a {
	color: rgba(255,255,255,1.00);
	text-decoration: none;
}
#nav_home{ 
	width:950px; 
	padding:16px 0 26px;
	margin-right: auto;
	margin-left: auto;
}

#nav_home .datos_fullstep{
	width:348px; 
	color:#225542;
	text-align: left;
	}

#nav_home .datos_fullstep p{
	margin-top:5px;
	margin-bottom:5px;
	color:#225542;
	text-align: left;
}

#nav_home .contenido-home {
    color: #4C4C4C;
    display: block;
    float: left;
    height: 200px;
    width: 600px;
}

#nav_home .contenido-home h2{
	text-align: left
	}

#nav_home .contenido-home p{
	text-align: left
	}
	

/*paginas genericas*/
#cont_gen{ 
	margin:0 auto; 
	width:730px; 
	text-align:left; 
	font-family:Verdana,Arial, Helvetica, sans-serif; 
	font-size:14px
	}
#izd_gen{ 
	width:200px; 
	padding:10px 0 0 15px; 
	height:auto; 
	float:left
	}
#drc_gen{ 
	width:500px; 	
	height:auto; 
	float:left; 
	padding:0 15px 15px 0;
	}
#drc_gen h1{ margin:0; padding:65px 0 0 25px; font-size:20px; font-weight:normal; color:#4c4c4c; border-left:#4c4c4c 1px solid; margin-bottom:20px; line-height:20px;}
#drc_gen div.int{ border-left:#4c4c4c 1px solid; background:#F4F4F4 url(images/esquina_blanca.png) no-repeat right bottom; padding:20px 20px 20px 20px;}
#drc_gen div.int .bt_registro{
	width:140px;
	height:18px;
	padding-top:2px;
	text-align:center;
	color:#FFF;
	cursor:pointer;
	font-family:Verdana,Arial, Helvetica, sans-serif;
	font-size:12px;
	/*--------------*/
	background-color: #3c69bd;
	border: 1px solid #585858;
	border-radius: 10px;
}