﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="extFrameUrlExterna.aspx.vb" Inherits=".extFrameUrlExterna" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
		<TITLE id="PageCaption">FULLSTEP</TITLE>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<style type="text/css">
            html, body, div, iframe { margin:0; padding:0; height:100%; }
            iframe { display:block; width:100%; border:none; }
        </style>
	</head>
	<body>
	    <iframe runat="server" id="fraPMPortalMain" name="fraPMPortalMain" ></iframe>
	</body>
</html>
