


html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body, html { font-size:100%; padding:0; margin:0;}
*, html { padding:0; margin:0;}

body { padding:0; margin:0; font:13px/20px 'Roboto', sans-serif; font-weight:400; color:#292826; background:#fff ;}


/* genericos */
a { color:#8aa300; text-decoration:underline} 
a:hover {color:#292826; text-decoration:underline}
a img { border:0;}
p { font-weight:normal; margin:0; padding:10px 0; color:#292826; line-height:20px;}     
strong { font-weight:700;}

h1 { line-height:120%; text-align:right; font-weight:700; font-size:26px; padding:60px 0 30px 0; color:#7d7d7c;}
h2 { line-height:120%; text-align:left; font-weight:400; font-size:33px; padding:15px 0; color:#8ba21c;}
h3 { line-height:120%; text-align:left; font-weight:700; font-size:16px; padding:10px 0; color:#8ba21c;}
h4 { line-height:120%; text-align:left; font-weight:700; font-size:16px; padding:10px 0; color:#4a4a30;}


img { max-width:100%}
.img-izq { float:left; padding:20px 20px 20px 0}
.img-dcha { float:right; padding:20px 0 20px 20px}


.btn { max-width:100%; font-size:16px; color:#fff; text-align:center; transition: background 0.3s ease-in-out 0s; text-decoration:none; padding:7px 15px; font-weight:700; border:0; margin:0; line-height:100%; display:inline-block; cursor:pointer; text-decoration:none; border-radius:5px; background:#8aa300;}
.btn-dcha {  max-width:100%; font-size:16px; color:#fff; text-align:center; transition: background 0.3s ease-in-out 0s; text-decoration:none; padding:7px 15px; font-weight:700; border:0; margin-top:3%; line-height:100%; display:inline-block; cursor:pointer; text-decoration:none; border-radius:5px; background:#8aa300;float:right}
.btn:hover { text-decoration:none; color:#fff; background:#292826}

form { float:left; width:100%}
form label { float:left; width:100%; clear:both; padding:0}
form label.condiciones { padding:30px 0}
form label .checkbox { width:auto; display:inline-block; border:1px solid #ea3998; cursor:pointer; vertical-align:middle; margin:0 5px 0 0}
form label textarea,
form label input,
form label input { width:100%; border:0; color:#292826; background:#f1f1f1; padding:8px 14px; font-size:14px; }
form label textarea { font:13px/20px 'Roboto Condensed', sans-serif; font-weight:400;}
form .btn { color:#fff; font-size:16px; font-weight:700;}


/*grid*/
section { width:100%; clear:both; float:left; padding:0}
.container { position:relative; max-width:100%; width:1000px; padding:0; margin:0 auto;}
.text { position:relative; padding:5px 40px; width:100%; float:left}
.text-default { position:relative; padding:5px 80px 5px 0px; width:100%; float:left}
.columna { float:left; width:21%;}
.centro { float:right; width:74.5%; }



/*popup*/
.popup .container { width:780px}
.popup .columna { width:32%;}
.popup .centro { width:62%; padding-top:10px }

.popup form label { text-align:left; padding:4px 0;}
.popup form button { float:right; margin:10px 0}

.popup .atencion-proveedor { padding-top:0}


/*header*/
#heading {width:100%; clear:both; float:left; padding:0}
#heading .logotipo { float:left; padding:20px 10px 20px 0;}
#heading h1 { float:right;}
#heading nav { z-index:10; position:absolute; top:5px; right:40px; width:200px; max-width:100%}
#heading ul { list-style:none; width:100%; padding:0; margin:0; float:left; text-align:right}
#heading ul li { display:inline-block;padding:0 0 0 15px; margin:0; position:relative}
#heading ul li a,
#heading ul li strong { text-decoration:none; cursor:pointer; font-weight:700; color:#4a462a; font-size:14px;}
#heading ul li strong .fa { color:#4a462a; vertical-align:middle; margin-right:5px; font-size:18px;}
#heading ul li ul { display:none; position:absolute; top:20px; background:#f7f7f7; text-align:center}
#heading ul li ul li { width:100%; display:block; clear:both; padding:5px}
#heading ul li ul li a { font-weight:400}
#heading ul li strong:hover,
#heading ul li a:hover { color:#8aa300;}



.intro { float:left; clear:both; width:100%; padding:0; margin:0 0 20px 0; border-bottom:1px solid #d7d7d7;}
.intro h2 {  padding:10px 0}
.migas { list-style:none; width:100%; padding:0; margin:0; text-align:left}
.migas li { color:#8b8b88; font-size:12px; display:inline-block; padding:0 5px 0 0; margin:0} 
.migas li a { color:#8b8b88; text-decoration:none} 
.migas li a:hover{color:#292826; text-decoration:none}


.columna nav { width:100%; float:left; clear:both; }
.columna nav ul { width:100%; float:left; clear:both; list-style:none }
.columna nav ul li { width:100%; float:left; clear:both; padding:5px 0; margin:0;}
.columna nav ul li a { font-weight:700; font-size:14px; color:#4a462a; text-decoration:none}
.columna nav ul li a:hover { color:#8aa300; text-decoration:none}

.atencion-proveedor { float:left; padding:30px 0; width:100%;}
.atencion-proveedor h2 { padding:0 0 5px 0; font-weight:700; font-size:18px; color:#8aa300; border-bottom:1px solid #d7d7d7}
.atencion-proveedor p { line-height:18px; font-size:12px; color:#4a462a}
.atencion-proveedor p span {color:#8aa300}
.atencion-proveedor p strong { display:block; padding:8px 0; font-size:15px; font-weight:700; color:#8aa300}
.atencion-proveedor p strong.alt { color:#000}
.atencion-proveedor p a { display:block; text-decoration:none; font-size:11px; color:#8aa300}
.atencion-proveedor p a:hover { color:#4a462a; text-decoration:none}

.atencion-proveedor-recuerdo { float:left; padding:0; width:100%;}
.atencion-proveedor-recuerdo h2 { padding:0 0 5px 0; font-weight:700; font-size:18px; color:#8aa300; border-bottom:1px solid #d7d7d7}

/*footer*/
#footer {width:100%; clear:both; float:left; padding:20px 0}
.footer-soporte { float:left; width:100%; background:#f6f6f6 url(../img/bk-footer.jpg) top left no-repeat}
.footer-soporte .soporte { float:right; width:520px; padding:0; max-width:90%; background:#eeeeee; margin:20px;}
.footer-soporte .soporte-titular { float:left; padding:20px;}
.footer-soporte .soporte-titular h3 { color:#8aa300; font-size:16px; padding:0; margin:0}
.footer-soporte .soporte-titular p { padding:0; margin:0; color:#292826; font-size:16px}
.footer-soporte .soporte-titular p a { font-size:11px; color:#4a462a; text-decoration:none}
.footer-soporte .soporte-titular p a:hover { color:#292826;}
.footer-soporte .soporte-horario { float:left; padding:20px;}
.footer-soporte .soporte-horario p { padding:0; margin:0; font-size:11px; color:#292826; font-weight:700}
.footer-soporte .soporte-horario p strong {font-size:13px; }
#footer .text { padding:20px 40px;}
#footer .text img { float:right }    
#footer .text p { padding:0; margin:0; color:#4a462a; font-size:10px;} 
#footer .text p a { text-decoration:none; color:#4a462a; font-size:12px;}
#footer .text p a:hover { color:#8aa300;}


.ancla-back { position:absolute; top:0; right:0; text-decoration:none;}
.ancla-back i { font-size:32px; color:#8aa300;}
.ancla-back:hover { text-decoration:none;}
.ancla-back:hover i { color:#4a462a;}

.ancla-wrapper { z-index:1; border-bottom:1px solid #d7d7d7; padding:0 0 20px 0; position:relative; margin:0 0 20px 0}


/*home*/
.section-acceso { float:left; width:100%; background:url(../img/bk-entrada.jpg) center center no-repeat; background-size:cover }
.acceso { width:300px; max-width:90%; background:rgba(255,255,255,.75); float:right; margin:0 38px 0 0;}
.acceso h2 { font-size:20px; font-weight:700; background:#8ba21c; color:#ffffff; padding:10px 0; text-align:center; text-transform:uppercase}
.acceso div { padding:20px; float:left; width:100%;}
.acceso form { padding:0; margin:0; width:100%; float:left; clear:both; text-align:center}
.acceso form label { text-align:left; padding:8px 0;}
.acceso form .btn { margin:15px 0}
.acceso .acceso-recordar { font-size:11px;}
.acceso .acceso-recordar a { color:#000}
.acceso .acceso-recordar a:hover {color:#8aa300;}  
.acceso h4 { font-size:17px; border-top:1px solid #a4a294; font-weight:700; padding:25px 0 10px 0; margin-top:10px; text-align:center; text-transform:uppercase} 
.acceso p { text-align:center;} 


/*inicio*/

#inicio .centro { text-align:left;}
#inicio .container { position:relative; max-width:100%; width:100%; padding:0; margin:0 auto;}
#inicio .columna { float:right; width:21%;}
#inicio .centro { float:left; width:74.5%; }

#inicio .centro h3 { font-size:18px; color:#8aa300}

#inicio .centro p { font-size:15px; color:#585858}

#inicio .bloque-info h2 { background:#8ba400 url(../img/bk-detacado.png) left bottom no-repeat; text-align:center; padding:8px 5px; color:#fff; font-size:16px; font-weight:400}
#inicio .bloque-info p { font-size:13px; color:#4a462a; font-weight:700}
#inicio .bloque-info div { padding:13px; background:#eee; margin:5px 0 0 0; width:100%; float:left; clear:both}
#inicio .bloque-info div strong { display:block; border-bottom:1px solid #cdcdcd; padding:5px; font-size:19px; color:#4a462a; font-weight:400}
#inicio .bloque-info ul { width:100%; float:left; clear:both; margin:0; padding:10px 0;}
#inicio .bloque-info ul li { border:0; color:#e5087e; clear:both; float:left; margin:0 0 0 20px; padding:3px 0 3px 5px;}
#inicio .bloque-info ul li a {text-decoration:none; font-size:14px; color:#4a462a; font-weight:700}
#inicio .bloque-info ul li a:hover {text-decoration:none; color:#8aa300;}

#inicio .centro .bloque-info { float:right; width:220px; max-width:100%; margin:0 0 30px 30px; z-index:9999; position:relative;}
#inicio .columna .bloque-info { margin-bottom:20px}
#inicio .columna .bloque-info p { color:#000; font-weight:400}

/*interior*/

#ayuda .centro h3 { font-size:15px; color:#8aa300}

.lista-enum { padding:10px 0; margin:0;}
.lista-enum li { color:#8ba400; margin-left:20px; padding:8px 5px; font-size:13px;}
.lista-enum li p { padding:0; color:#000}
.lista-enum li .destacado { padding:12px 0; color:#626262}

.bloque-info h2 { background:#8ba400 url(../img/bk-detacado.png) left bottom no-repeat; text-align:center; padding:8px 5px; color:#fff; font-size:16px; font-weight:400}
.bloque-info p { font-size:13px; color:#4a462a; font-weight:700}
.bloque-info div { padding:13px; background:#eee; margin:5px 0 0 0; width:100%; float:left; clear:both}
.bloque-info div strong { display:block; border-bottom:1px solid #cdcdcd; padding:5px; font-size:19px; color:#4a462a; font-weight:400}
.bloque-info ul { width:100%; float:left; clear:both; margin:0; padding:10px 0;}
.bloque-info ul li { border:0; color:#e5087e; clear:both; float:left; margin:0 0 0 20px; padding:3px 0 3px 5px;}
.bloque-info ul li a {text-decoration:none; font-size:14px; color:#4a462a; font-weight:700}
.bloque-info ul li a:hover {text-decoration:none; color:#8aa300;}

.centro .bloque-info { float:right; width:220px; max-width:100%; margin:0 0 30px 30px; z-index:9999; position:relative;}
.columna .bloque-info { margin-bottom:20px}
.columna .bloque-info p { color:#000; font-weight:400}

.centro p { line-height:18px; color:#000; font-size:13px;}

.faq { list-style:none; width:100%; float:left; clear:both; margin:0; padding:10px 0;}
.faq li { padding:20px 0; border-bottom:1px solid #cdcdcd;}
.faq li p { padding-left:15px; text-indent:-15px}
.faq .pregunta { color:#8aa300;}
.faq li .lista-enum { padding:0 0 0 8px}
.faq li .lista-enum li { border:0; padding:8px 5px;}
.faq li .lista-enum li p { color:#535353; text-indent:0; padding-left:0}

.sobre i { color:#d7dade; font-size:18px}
.sobre:hover i { color:#535353; }

.condiciones-acceso { float:left; width:100% }
.condiciones-acceso p { color:#4a462a; padding-left:20px}
.condiciones-acceso .info { padding:10px 20px; float:left; background:#f6f6f6 ;width:100%; margin:10px 0; clear:both  }
.condiciones-acceso .info p { padding:5px 0}

.text-derecha { font-size:15px; padding-right:35px; text-align:right}


/*password*/
#password .centro { text-align:left;}
#password .container { position:relative; max-width:100%; width:950px; padding:0; margin:0 auto;}
#password .columna { float:left; width:21%;}
#password .centro { float:right; width:74.5%; }

#password .centro h3 { font-size:18px; color:#8aa300}

/*aviso legal*/
.aviso-legal{text-align:left;margin-left:2%;}
.aviso-legal p{font-size:1.3em; }
.checkboxRequiredMsg{
	display:none;
	}

@media screen and (max-width:840px) {
		
	.columna,
	.centro { float:left; width:100%;}
	
	.popup .columna { width:32%;}
	.popup .centro { float:right; width:62%; padding-top:10px }
	
	.columna nav { float:left; width:50%;}
	.columna .atencion-proveedor { margin:0; padding-top:0; float:right; max-width:50%; width:220px}
	
	.popup .atencion-proveedor {  max-width:100%; width:100%}
	
}



@media screen and (max-width:600px) {
	
	#heading { text-align:center} 
	#heading .logotipo { width:100%;}
	#heading .logotipo img { float:none}
	#heading .text { padding:20px 10px 0 10px}
	#heading h1 ,
	h1 { width:100%; text-align:center; padding:10px 0;}
	#heading nav { left:0; right:0; width:200px; width:100%}
	#heading ul { text-align:center}
	
	.text { padding:5px 20px}

}

@media screen and (max-width:480px) {

	.acceso { width:90%; margin:0 5%; float:left}
	#footer .text { padding:20px}
	#footer .text img { float:none} 
	
	.columna nav {width:100%;}
	.columna .atencion-proveedor { padding-top:30px; max-width:100%; width:100%}
	
	.centro .bloque-info { float:left; max-width:100%; width:100%; margin:0 0 20px 0}
		
	.popup .columna ,
	.popup .centro { width:100%; padding:0 }
	.popup .atencion-proveedor { padding-top:0}

}

