﻿.menu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.menu:link
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.menu:visited
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.menu:active
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.menu:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.titulo
{
    FONT-WEIGHT: none;
    FONT-SIZE: 18px;
    COLOR: #d71a21;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.subtitulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textos
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000000;
    LINE-HEIGHT: 14px;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textosr
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #d71920;
    LINE-HEIGHT: 14px;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.textosr:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #d71920;
    LINE-HEIGHT: 14px;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.textosr:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #d71920;
    LINE-HEIGHT: 14px;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.textosr:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #d71920;
    LINE-HEIGHT: 14px;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.textosr:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #d71920;
    LINE-HEIGHT: 14px;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.subtextos
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textosres
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.textosres:link
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline}
A.textosres:active
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.textosres:hover
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.textosres:visited
{
    FONT-SIZE: 10px;
    COLOR: #333333;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.logo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #d71a21;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.logo:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #d71a21;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.logo:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #d71a21;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.logo:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #d71a21;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.logo:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #d71a21;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.textos:link
{
    FONT-SIZE: 12px;
    TEXT-DECORATION: unerline	
}
A.textos:visited
{
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.textos:active
{
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.textos:hover
{
    FONT-SIZE: 12px;
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold;
}
.titulopr
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 36px;
    COLOR: #d71920;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
INPUT
{
    FONT-SIZE: 10px;
    FONT-FAMILY: "Arial"
}
.recuadro
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 6px;
    COLOR: #990000;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.subtexto
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #990000;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.TextoClaro
{
	color:#ffffff!important;
}
.Negrita
{
	font-weight:bold;
}
.FondoModal
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}