﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="EjecutarSSIS.aspx.vb" Inherits="Fullstep.FSNWeb.EjecutarSSIS" Theme="" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
<head runat="server">
</head>
<body runat="server">
<form runat="server">

<asp:panel runat="server" id="PanelLoad" HorizontalAlign="Center" style="text-align:center">
    <img id="imgCarga0" runat="server" alt="Cargando...Espere por favor" 
        src="App_Themes/Demo/images/cargando.gif" />
<asp:label Text="Cargando...espere por favor" ID="lblcargando" runat="server"></asp:label>
    &nbsp;
</asp:panel>
<div id="DivBoton" runat="server" style="width: 100%; position:absolute; height: 100%; text-align: center" visible="false"> <asp:Button ID="BtnDescarga" runat="server" Text="Descargar" CssClass="Normal" OnClick="BtnDescarga_OnClick" /></div>
 <div id="Div1" runat="server" style="width: 100%; position:absolute; height: 100%; text-align: center" visible="false"><asp:Label ID="LblPaqueteMal" runat="server" Text="Error al ejecutar el paquete SSIS, vuelva a intentarlo por favor" CssClass="Normal"></asp:Label></div>
</form>
</body>
</html> 


<%--<HEAD>
<script type="text/javascript">
function Cargo() {
    getElementById("DivCargando").style.visibility = "visible ";
return false;
}
</script>
</HEAD>
<body style="background-color:White;"  onload="document.getElementById('DivImg').style.display='block';"> 
<div id="DivImg" runat="server" style="width: 100%; position:absolute; height: 100%; text-align: center; display:block"><img src="App_Themes/Demo/images/cargando.gif" alt="Cargando...espera por favor" id="imgCargando" visible="true" /></div>
</body>
</html>--%>