﻿<div id="divLoggedUser" class="divMenuItem" style="padding-right:0px;">
	<div id="divUsuImagen" style="float:left; padding:5px;">
		<img id="imgUsuImagen" class="LoggedUserImage Link" />
	</div>	
</div>
<div id="divMensajes" class="divMenuItem" style="display:none;">
	<div id="divMensajesTitulo" style="float:left; width:100%;">
		<span id="lblMensajesTitulo" class="Texto14"></span>
	</div>
	<div id="divMensajesOpciones" style="float:left; width:100%;">
		<ul class="MenuItemMenu">
			<li id="OptionMiContenido" class="MenuItemMenuOpcion Texto12 MenuItemMenuOpcionSeleccionado">
				<div style="position:relative;">                            
					<img id="imgMiContenido" class="MenuItemMenuOpcionImagen Image16"  src="images/MiContenido.png" />
					<span id="lblMiContenido" class="Texto12"></span>
                    <div id="AlertNotificacionCNMiContenido" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
                        <span id="NumeroAlertNotificacionCNMiContenido" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
                    </div>
				</div>                        
			</li>
			<li id="OptionTemas" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative;">
					<img id="imgTemas" class="MenuItemMenuOpcionImagen Image16"  src="images/Temas.png" />
					<span id="lblTemas" class="Texto12"></span>
                    <div id="AlertNotificacionCNTemas" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
                        <span id="NumeroAlertNotificacionCNTemas" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
                    </div>
				</div>                        
			</li>
			<li id="OptionEventos" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative;">
					<img id="imgEventos" class="MenuItemMenuOpcionImagen Image16"  src="images/Eventos.png" />
					<span id="lblEventos" class="Texto12"></span>
                    <div id="AlertNotificacionCNEventos" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
                        <span id="NumeroAlertNotificacionCNEventos" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
                    </div>
				</div>                        
			</li>
			<li id="OptionNoticias" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative;">
					<img id="imgNoticias" class="MenuItemMenuOpcionImagen Image16"  src="images/Noticias.png" />
					<span id="lblNoticias" class="Texto12"></span>
                    <div id="AlertNotificacionCNNoticias" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
                        <span id="NumeroAlertNotificacionCNNoticias" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
                    </div>
				</div>                        
			</li>					
			<li id="OptionPreguntas" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative;">
					<img id="imgPreguntas" class="MenuItemMenuOpcionImagen Image16"  src="images/Preguntas.png" />
					<span id="lblPreguntas" class="Texto12"></span>
                    <div id="AlertNotificacionCNPreguntas" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
                        <span id="NumeroAlertNotificacionCNPreguntas" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
                    </div>
				</div>                        
			</li>
            <li id="OptionMensajesUrgentes" class="MenuItemMenuOpcion Texto12">
				<div>
					<img id="imgMensajesUrgentes" class="MenuItemMenuOpcionImagen Image16"  src="images/MensajesUrgentes.png" />
					<span id="lblMensajesUrgentes" class="Texto12"></span>
				</div>                        
			</li>
			<li id="OptionMeGusta" class="MenuItemMenuOpcion Texto12">
				<div>
					<img id="imgMeGusta" class="MenuItemMenuOpcionImagen Image16"  src="images/MeGusta.png" />
					<span id="lblMeGusta" class="Texto12"></span>
				</div>                        
			</li>
		</ul>
	</div>
</div>
<script id="divNombreUsuario" type="text/x-jquery-tmpl">
	<div id="divUsuNombre" class="Link" style="padding-right:5px;">
		<span id="lblUsuNombre" class="Texto14 Negrita TextoResaltado"></span>
	</div>
</script> 