﻿<script type="text/javascript">
	function get_TemplateTipoMensaje(tipo) {
		switch (tipo) {
			case 1:
				return '#itemTema';
				break;
			case 2:
				return '#itemEvento';
				break;
			case 3:
				return '#itemNoticia';
				break;
			case 4:
				return '#itemPregunta';
				break;
			case 5:
				return '#itemMensajeUrgente';
				break;
		}
	}
	function get_TemplateTipoMeGusta(MeGusta) {
		switch (MeGusta.NumeroUsuariosMeGusta) {
			case 0:
				return '#TemplateVacio';
				break;
			case 1:
				if (MeGusta.MeGusta == 1) {
					return '#MeGusta'
				} else {
					return '#LeGusta'
				}
				break;
			case 2:
				if (MeGusta.MeGusta == 1) {
					if (MeGusta.UltimoMeGustaUsu == 1) {
						return '#MeGustaLesGusta'
					} else {
						return '#LeGustaMeGusta'
					}
				} else {
					return '#LesGusta'
				}
				break;
			default:
				if (MeGusta.MeGusta == 1) {
					if (MeGusta.UltimoMeGustaUsu == 1) {
						return '#MeGustaLesGusta'
					} else {
						return '#LeGustaMeGustaLesGusta'
					}
				} else {
					return '#LesGusta'
				}
				break;
		}
	}
	function get_TemplateMeGustaInfo(MeGusta) {
		if (MeGusta && MeGusta.NumeroUsuariosMeGusta > 0) {
			return '#MeGustaInfo';
		} else { return '#TemplateVacio'; }
	}
	function get_TemplateRespuestasMultiples(TieneRespuestasOcultas) {
		if (TieneRespuestasOcultas) {
			return '#RespuestasMultiples';
		} else { return '#TemplateVacio'; }
	}
	function get_TemplateTitulo(titulo) {
		if (titulo == '') {
			return '#TemplateVacio';
		} else {
			return '#TituloMensaje';
		}
	}
	function get_Adjuntos(Adjuntos) {
		if (Adjuntos == null || Adjuntos.length == 0) {
			return '#TemplateVacio';
		} else {
			return '#Adjuntos';
		}
	}
	function get_TemplateDownloadMsg(tipoadjunto) {
		switch (tipoadjunto) {
			case 0:
				return "#attachLink";
				break;
			case 1:
				return "#attachImage";
				break;
			case 2:
				return "#attachVideo";
				break;
			case 10:
			case 11:
			case 12:
			case 13:
				return "#attachFile";
				break;
		}
	}
	function get_OcultarMostrar(Oculto) {
		if (Oculto) {
			return "#MostrarMensaje";
		} else {
			return "#OcultarMensaje";
		}
	}
</script>
<script id="itemMensaje" type="text/x-jquery-tmpl">
	<li id='msg_${IdMensaje}' EnProceso='${EnProceso}' class='SeparadorInf' {{if Oculto}}style='display:none;'{{/if}}>		
		{{tmpl get_OcultarMostrar(Oculto)}}
		{{tmpl get_TemplateTitulo(Titulo)}}
		<div class='Texto12' style='float:right; width:40%;'>            
			<div style='float:right; margin-right:15px;'>				
				<span id='msgInfoCategoria' style='margin-right:2px;'>dCategoría:</span> 
				<span id='msgCategoria_${IdMensaje}' title='${Categoria.Denominacion}' EnProceso='${EnProceso}' class='Negrita' style='margin-right:2px;'>{{if Leido}}{{if Categoria.Denominacion.length>26}}${Categoria.Denominacion.substring(0,23) + '...'}{{else}}${Categoria.Denominacion}{{/if}}{{else}}{{if Categoria.Denominacion.length>20}}${Categoria.Denominacion.substring(0,17) + '...'}{{else}}${Categoria.Denominacion}{{/if}}{{/if}}</span>·
				<span id='msgFechaAltaRelativa' class='Texto12 TextoOscuro' style='margin-top:5px; margin-bottom:5px;' date='${FechaAlta}'>${FechaAltaRelativa}</span>
			</div>
			<div id='AlertNotificacionCN' class='fondoAlerta' style='float:right; text-align:center; height:15px; margin-right:5px;{{if Leido}} display:none;{{/if}}'>
				<span id='msgNoLeido' class='Texto10 TextoClaro Negrita' style='line-height:15px; padding:0px 3px 0px 3px;'>NO LEIDO</span>
			</div>		
		</div>				
		<div style='clear:both; float:left; width:100%; margin-top:5px; margin-bottom:5px; padding-right:5px;'>				
			<img id='msgUsuImg_${IdMensaje}' EnProceso='${EnProceso}' class='Image50' style='float:left;' src='${InfoUsuario.ImagenUrl}' />				
			<div style='margin-left:55px;'>
				<div style='float:left; width:100%;'>
					{{tmpl get_TemplateTipoMensaje(Tipo)}}                    
				</div>
				{{tmpl get_Adjuntos(Adjuntos)}}    
				<div class='Texto12' style='float:left; margin-top:5px; margin-bottom:5px;'>
					<div style='float:left;'>	
						<span id='msgUsuNombre_${IdMensaje}' EnProceso='${EnProceso}' class='Texto12'>${InfoUsuario.Nombre}</span>
						(<span id='msgUsuSituacionUO_${IdMensaje}' EnProceso='${EnProceso}' class='Texto12'>${InfoUsuario.SituacionUO}</span>)	
					</div>            		
					{{tmpl "#opciones"}}
				</div>
				{{tmpl "#Respuestas"}}										
				{{tmpl "#RespuestaNuevaTpl"}}					
			</div>
		</div>
	</li>
</script>
<script id="OcultarMensaje" type="text/x-jquery-tmpl"> 
	<div id='msgOcultarMensaje_${IdMensaje}' class='OcultarPopUp Ocultar' style='float:right; width:20px; height:20px;'></div>
	<div id='msgMostrarMensaje_${IdMensaje}' class='MostrarPopUp Ocultar' style='float:right; width:20px; height:20px;'></div>
</script>
<script id="MostrarMensaje" type="text/x-jquery-tmpl"> 
	<div id='msgOcultarMensaje_${IdMensaje}' class='OcultarPopUp Ocultar' style='float:right; width:20px; height:20px;'></div>
	<div id='msgMostrarMensaje_${IdMensaje}' class='MostrarPopUp' style='float:right; width:20px; height:20px;'></div>
</script>
<script id="opciones" type="text/x-jquery-tmpl">	
	<div id='divOpcionesMensaje_${IdMensaje}_${IdRespuesta}' style='float:left;{{if MensajeHistorico}} display:none;{{/if}}'>
		<span class='Texto12' style='float:left; padding:0px 2px 0px 2px'>·</span><span id='msgResponder_${IdMensaje}_${IdRespuesta}_${IdDiscrepancia}' EnProceso='${EnProceso}' class='Link Texto12' style='float:left;'>DResponder</span>
		{{if IdDiscrepancia==0}}{{if MeGusta.MeGusta==0}}<span class='Texto12' style='float:left; padding:0px 2px 0px 2px'>·</span><span id='msgMeGusta_${IdMensaje}_${IdRespuesta}' EnProceso='${EnProceso}' class='Link Texto12' style='float:left;'></span>{{/if}}{{/if}}
	</div>	   
</script>
<script id="Respuestas" type="text/x-jquery-tmpl"> 
	<div id='divRespuestasMensaje_${IdMensaje}'  EnProceso='${EnProceso}' class='msgRespuestas'>
		{{tmpl get_TemplateMeGustaInfo(MeGusta)}}   
		{{tmpl get_TemplateRespuestasMultiples(TieneRespuestasOcultas)}}
			 
		<div id='divRespuestas_${IdMensaje}' EnProceso='${EnProceso}' style='float:left; width:100%;'>       
			{{each Respuestas}}
				{{tmpl($value) "#Respuesta"}}  			
			{{/each}}   
		</div>          
		<div id='divNuevaRespuestaDefault_${IdMensaje}' EnProceso='${EnProceso}' class='SeparadorSup' style='float:left; width:100%; padding-top:5px; padding-bottom:5px;{{if NumeroRespuestas==0}}display:none;{{/if}}'>
			<input id='msgNuevaRespuestaDefault_${IdMensaje}' EnProceso='${EnProceso}' type='text' class='CajaTexto Texto12 textoDefecto' style='margin-left:5px; width:95%;' value='DEscribe una respuesta' />
		</div>              					
	</div>    
</script>
<script id="MeGustaInfo" type="text/x-jquery-tmpl"> 
	<div id='divMeGusta_${IdMensaje}_${IdRespuesta}' EnProceso='${EnProceso}' class='msgMeGustaInfo'>
		<img id='imgMeGusta' class='MenuItemMenuOpcionImagen Image16' style='margin-left:5px;' src='${rutanormal}images/MeGusta.png' />
		{{tmpl get_TemplateTipoMeGusta(MeGusta)}}					
	</div>        
</script>
<script id="MeGusta" type="text/x-jquery-tmpl"> 
	<span id='msgTmplMeGusta_${IdMensaje}_${IdRespuesta}' class="Texto12" style="padding-left:5px;"></span>
</script>
<script id="LeGusta" type="text/x-jquery-tmpl">
	<span id='msgTmplLeGusta_${IdMensaje}_${IdRespuesta}' class="Texto12 TextoOscuro" style="padding-left:5px;">${MeGusta.UsuariosMeGusta[0].Nombre}</span>
</script>
<script id="LeGustaMeGusta" type="text/x-jquery-tmpl"> 
	<span id='msgTmplLeGustaMeGusta_${IdMensaje}_${IdRespuesta}' class="Texto12 TextoOscuro" style="padding-left:5px;">${MeGusta.UsuariosMeGusta[0].Nombre}</span>
</script>
<script id="MeGustaLesGusta" type="text/x-jquery-tmpl"> 
	<span id='msgTmplMeGustaLesGusta_${IdMensaje}_${IdRespuesta}' class='Texto12 TextoOscuro' style='padding-left:5px;'>
	<span id='lnkMeGusta_${IdMensaje}_${IdRespuesta}' class='Link Texto12'>${MeGusta.NumeroUsuariosMeGusta-1} $$$</span></span>
	{{tmpl '#ListaUsuariosMeGusta'}} 
</script>
<script id="LeGustaMeGustaLesGusta" type="text/x-jquery-tmpl"> 
	<span id='msgTmplLeGustaMeGustaLesGusta_${IdMensaje}_${IdRespuesta}' class="Texto12 TextoOscuro" style="padding-left:5px;">
		${MeGusta.UsuariosMeGusta[0].Nombre}<span id='lnkMeGusta_${IdMensaje}_${IdRespuesta}' class='Link Texto12'>${MeGusta.NumeroUsuariosMeGusta-2} $$$</span></span>    
	{{tmpl '#ListaUsuariosMeGusta'}}    
</script>
<script id="LesGusta" type="text/x-jquery-tmpl"> 
	<span id='msgTmplLesGusta_${IdMensaje}_${IdRespuesta}' class='Texto12 TextoOscuro' style='padding-left:5px;'>
		${MeGusta.UsuariosMeGusta[0].Nombre}<span id='lnkMeGusta_${IdMensaje}_${IdRespuesta}' class='Link Texto12'>${MeGusta.NumeroUsuariosMeGusta-1} $$$</span></span>
	{{tmpl '#ListaUsuariosMeGusta'}} 
</script>
<script id="ListaUsuariosMeGusta" type="text/x-jquery-tmpl"> 
	<div id='divListaUsuariosMeGusta_${IdMensaje}_${IdRespuesta}' class='msgMeGustaInfoUsuariosLista'>
		<div id='btnCerrarListaUsuarios_${IdMensaje}_${IdRespuesta}' class='CerrarPopUp' style='float:right;'></div>
		{{each MeGusta.UsuariosMeGusta}}
			{{if MeGusta.UltimoMeGustaUsu || $index>0}}<span class='Texto12 TextoOscuro'>${Nombre}<br/></span>{{/if}}
		{{/each}}
	</div>
</script>
<script id="RespuestasMultiples" type="text/x-jquery-tmpl"> 
	<div id="divVerTodasRespuestas_${IdMensaje}" class="SeparadorSup" style="float:left; width:100%; padding-top:3px; padding-bottom:3px;">
		<span id="VerRespuestas_${IdMensaje}" class='Link Texto12' style="margin-left:5px;">${NumeroRespuestas}</span>
	</div>
</script>
<script id="Respuesta" type="text/x-jquery-tmpl">
	<div id='msgRespuesta_${IdMensaje}_${IdRespuesta}' EnProceso='${EnProceso}' class='SeparadorSup' style='float:left; width:100%; padding-bottom:5px; padding-top:5px; {{if Visible==0}}display:none;{{/if}}'>
		<img id='msgUsuImgRespuesta_${IdMensaje}_${IdRespuesta}' EnProceso='${EnProceso}' class='Image50' style='float:left; margin-left:5px;' src='${InfoUsuario.ImagenUrl}' />
		<div id='msgRespuestaContenido_${IdMensaje}_${IdRespuesta}' style='margin-left:60px;'>			
			<div class='Texto12' style='float:left; width:100%;'>				
				<div style='clear:both; float:left; width:100%;'>
					<span class='Texto14 TextoOscuro' style='margin-top:5px;'>{{html Contenido}}</span>
				</div>
			</div>
			{{tmpl get_Adjuntos(Adjuntos)}}
			<div class='Texto12' style='float:left; margin-right:5px; margin-top:5px;'>    
				<div style='float:left; margin-right:5px;'>        
					<span id='msgUsuRespuestaNombre_${IdMensaje}_${IdRespuesta}' EnProceso='${EnProceso}' class='Texto12' style='float:left;'>${InfoUsuario.Nombre}</span>
					<span id='msgUsuRespuestaSituacionUO_${IdMensaje}_${IdRespuesta}' class='Texto12' EnProceso='${EnProceso}' style='float:left;'>(${InfoUsuario.SituacionUO})</span>
					{{if UsuarioCitado}} 
					<span class='TextoEnfatizado Negrita' style='float:left;'>en respuesta a </span>
					<span class='Negrita' style='float:left;'>${UsuarioCitado.Nombre}</span>
					(<span style='float:left;'>${UsuarioCitado.SituacionUO}</span>)
					{{/if}}
				</div>
				<div id='AlertNotificacionCN' class='fondoAlerta' style='float:left; text-align:center; height:15px; margin-right:5px;{{if Leido}} display:none;{{/if}}'>
					<span id='msgNoLeido' class='Texto10 TextoClaro Negrita' style='float:left; line-height:15px; padding:0px 3px 0px 3px;'>NO LEIDO</span>
				</div>
				<div style='float:left; margin-right:5px;'>
					<span id='FechaAltaRelativa' class='Texto12 TextoOscuro' style='float:left;' date='${FechaAlta}'>${FechaAltaRelativa}</span>
				</div>	
				{{tmpl "#opciones"}}
			</div>		
			{{tmpl get_TemplateMeGustaInfo(MeGusta)}}
		</div>
	</div>
</script>
<script id="RespuestaNuevaTpl" type="text/x-jquery-tmpl"> 
	<div id='divRespuestaNueva_${IdMensaje}' EnProceso='${EnProceso}' class='msgRespuesta' style='display:none;'>
		<div style='margin-left:5px; padding-top:3px;'>
			<span class='Texto12'>Respondiendo a </span>
			<span id='msgRespuestaNombreCitado_${IdMensaje}' EnProceso='${EnProceso}' class='Texto12'></span>
		</div>
		<div style='margin:5px;'>
			<div id='msgRespuestaNueva_${IdMensaje}' EnProceso='${EnProceso}' name='msgRespuestaNueva_${IdMensaje}' style="height:50px;"></div>
		</div>
		<div id='msgAdjuntoRespuesta_${IdMensaje}' EnProceso='${EnProceso}' class='Link Texto12 Negrita' style='float:left; line-height:20px; margin-left:5px; padding:3px;'>
			<img class='Image16' style='vertical-align:middle;' src='${rutanormal}images/adjunto.png' />
			<span>DAdjuntos</span>
		</div>
		<div class='botonRedondeado' id='btnCancelarResponder_${IdMensaje}' EnProceso='${EnProceso}' style='float:right; margin-right:10px;'>
			<span class='Texto12 TextoClaro'></span>
		</div>    
		<div class='botonRedondeado' id='btnResponder_${IdMensaje}' EnProceso='${EnProceso}' style='float:right; margin-right:10px;'>
			<span class='Texto12 TextoClaro'></span>
		</div>
		<div id='divListaAdjuntosRespuesta_${IdMensaje}' EnProceso='${EnProceso}' style='clear:both; float:left; margin-top:5px; padding:5px; width:95%;'></div>
	</div>
</script>
<script id="itemTema" type="text/x-jquery-tmpl">
	<span id="msgContenido_${IdMensaje}" class="Texto14 TextoOscuro" style="margin-top:5px;">{{html Contenido}}</span>
</script>
<script id="TituloMensaje" type="text/x-jquery-tmpl"> 
	<div style="clear:both; float:left; width:60%;">
		<span class="Texto14 TextoOscuro Negrita">${Titulo}</span>	    
	</div>
</script>
<script id="itemEvento" type="text/x-jquery-tmpl">
	<div class="msgUsuMensaje">
		<div class="calendarioEvento">
			<div class="calendarioEventoMes">
				<span class="Texto12 TextoClaro"><b>${MesCorto}</b></span>
			</div>
			<div class="calendarioEventoDia">
				<span class="Texto22 Negrita"><b>${Dia}</b></span>
			</div>
		</div>
		<div style="margin-left:50px;">
			<div><span class="Texto12 TextoOscuro Negrita">${Cuando} · ${Donde}</span></div>
			<div><span id="msgContenido_${IdMensaje}" class="Texto14 TextoOscuro" style="margin-top:5px;">{{html Contenido}}</span></div>
		</div>
	</div>
</script>
<script id="itemNoticia" type="text/x-jquery-tmpl">
	<div class="msgUsuMensaje">
		<img class="imagenMensaje" src="${rutanormal}images/Noticias.png" />
		<div style="margin-left:50px;">
			<div><span id="msgContenido_${IdMensaje}" class="Texto12 TextoOscuro" style="margin-top:5px;">{{html Contenido}}</span></div>
		</div>
	</div>
</script>
<script id="itemPregunta" type="text/x-jquery-tmpl">
	<div class="msgUsuMensaje">
		<img class="imagenMensaje" src="${rutanormal}images/Preguntas.png" />
		<div style="margin-left:50px;">
			<div><span id="msgContenido_${IdMensaje}" class="Texto14 TextoOscuro" style="margin-top:5px;">{{html Contenido}}</span></div>
		</div>
	</div>
</script>
<script id="itemMensajeUrgente" type="text/x-jquery-tmpl">
	<div class="msgUsuMensaje">
		<img class="imagenMensaje" src="${rutanormal}images/MensajesUrgentes.png" />
		<div style="margin-left:50px;">
			<div><span id="msgContenido_${IdMensaje}" class="Texto14 TextoOscuro" style="margin-top:5px;">{{html Contenido}}</span></div>
		</div>
	</div>
</script>
<script id="Adjuntos" type="text/x-jquery-tmpl"> 
	<div class='msgAdjuntos' style='float:left; width:95%; padding:0px 5px 0px 5px; margin-top:5px;'>
		{{each Adjuntos}}
			<div class="template-download SeparadorInf" style="position:relative; float:left; width:100%; min-height:20px; padding:5px 0px 5px 0px;">
				{{tmpl($value) get_TemplateDownloadMsg(TipoAdjunto)}}
			</div>
		{{/each}}  
	</div>  
</script>
<script id="attachFile" type="text/x-jquery-tmpl">
	<div style='float:left; width:85px; text-align:center;'>
		<img class='Image30' src='${Thumbnail_Url}'/> 
	</div>
	<div style='position:absolute; width:90%; line-height:24px; margin-left:85px; top:30%;'>
		<div class='name' title='${Nombre}' style='float:left; width:60%; line-height:24px; overflow:hidden; white-space:nowrap;'>
			<a id='msgDescargar_${IdAdjunto}' class='Link Texto12' data-file='${Url}' target='_blank' EnProceso='${EnProceso}'>${Nombre}</a>
		</div>
		<div class='size Texto12' style='float:left; width:80px; line-height:24px; margin-left:10px;'>${Size} ${SizeUnit}</div>
		<div class='Link Texto12' style='float:left; margin-left:10px;'>
			<span id='msgDescargar__${IdAdjunto}' class='Subrayado' data-file='${Url}' EnProceso='${EnProceso}'></span>
		</div>
	</div>
</script>
<script id="attachImage" type="text/x-jquery-tmpl">
	<div class='preview' style='float:left; width:85px; text-align:center;'>        
		<a class='msgAdjuntoImage Link Texto12' style='width:80px;' data-url='${Thumbnail_Url}'>
			<img src='${Thumbnail_Url}' class='Image80'/>
		</a>        
	</div>
	<div style='position:absolute; width:90%; top:40%; line-height:24px; margin-left:85px;'>
		<div class='name' title='${Nombre}' style='float:left; width:60%; line-height:24px; overflow:hidden; white-space:nowrap;'>
			<a class='msgAdjuntoImage Link Texto12' data-url='${Thumbnail_Url}'>${Nombre}</a>
		</div>
		<div class='size Texto12' style='float:left; width:80px; line-height:20px; margin-left:10px;'>${Size} ${SizeUnit}</div>
		<div class='Link Texto12' style='float:left; margin-left:10px;'>
			<span id='msgDescargar__${IdAdjunto}' class='Subrayado' data-file='${Url}' EnProceso='${EnProceso}'></span>
		</div>
	</div>
</script>
<script id="attachVideo" type="text/x-jquery-tmpl"> 
	<div id='msgAdjunVideo_${IdAdjunto}' style='position:relative; float:left; width:100%;'>
		<div class='videopreview Link Texto12' style='float:left; width:80px; min-height:40px; overflow:hidden;'>
			<img src='${rutanormal}images/playvideo.png' style='margin-left:0px;' />
		</div>  
		<div style='position:absolute; width:90%; top:40%; line-height:24px; margin-left:85px;'>
			<div class='name' title='${Nombre}' style='float:left; width:60%; line-height:24px; overflow:hidden; white-space:nowrap;'>
				<a class='Link Texto12' href='${Url}' target='_blank'  style='text-decoration:none;'>${Nombre}</a>
			</div>
			<div class='size Texto12' style='float:left; width:80px; line-height:24px; margin-left:10px;'>${Size} ${SizeUnit}</div>
			<div class='Link Texto12' style='float:left; margin-left:10px;'>
				<span id='msgDescargar__${IdAdjunto}' class='Subrayado' data-file='${Url}' EnProceso='${EnProceso}'></span>
			</div>
		</div>
	</div>
	<div class='video-js-box' style='display:none; clear:both; float:left; width:100%; text-align:center;'>
		<video class='video-js' style='height:250px;' controls>
			<source src='${Thumbnail_Url}' {{tmpl get_VideoType(TipoAdjunto)}} />
			<object id='flash_fallback_1' class='vjs-flash-fallback' type='application/x-shockwave-flash'
			data='http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf'>
				<param name='movie' value='http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf' />
				<param name='allowfullscreen' value='true' />
				<param name='flashvars' value='config={"playlist":[{"url": "${Thumbnail_Url}","autoPlay":true,"autoBuffering":true}]}' />                
			</object>
		</video>
	</div>
</script>
<script id="VideoTypeMp4" type="text/x-jquery-tmpl">
	type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'        
</script>
<script id="VideoTypeWebm" type="text/x-jquery-tmpl">
	type='video/webm; codecs="vp8, vorbis"'       
</script>
<script id="VideoTypeOgg" type="text/x-jquery-tmpl">
	type='video/ogg; codecs="theora, vorbis"'        
</script>
<script id="VideoType3pg" type="text/x-jquery-tmpl">
	type='video/3gpp' 
</script>
<script id="attachLink" type="text/x-jquery-tmpl">
	<div style='float:left; width:85px; text-align:center; padding:5px 0px 5px 0px;'>
		<img class='Image20' src='${Thumbnail_Url}'/> 
	</div>
	<div style='position:absolute; width:90%; line-height:24px; margin-left:85px; top:30%;'>
		<div class='name' title='${Nombre}' style='float:left; width:60%; line-height:24px; overflow:hidden; white-space:nowrap;'>
			<a id='msgLink_${IdAdjunto}' class='Link Texto12' data-file='${Url}' target='_blank'>${Nombre}</a>
		</div>
	</div>
</script>
<script id="TemplateVacio" type="text/x-jquery-tmpl"></script>
<script id="itemDiscrepancia" type="text/x-jquery-tmpl">
	<li id='msg_${IdMensaje}' EnProceso='${EnProceso}' class='SeparadorInf SubMenuMIStyle' {{if Oculto || DiscrepanciaCerrada}}style='display:none;'{{/if}}>
		<div style='clear:both; float:left; width:100%; margin-top:5px; margin-bottom:5px; padding-right:5px;'>
			<span id='lblInfoLinea_${IdDiscrepancia}' class='Texto14'></span>
			<span id='lblDiscrepanciaAbierta_${IdDiscrepancia}' class='Texto14'{{if DiscrepanciaCerrada}} style='display:none;'{{/if}}></span>
			<span id='lblDiscrepanciaCerrada_${IdDiscrepancia}' class='Texto14'{{if !DiscrepanciaCerrada}} style='display:none;'{{/if}}></span>
		</div>
        {{tmpl get_TemplateTitulo(Titulo)}}
		<div class='Texto12' style='float:right; width:40%;'>            
			<div style='float:right; margin-right:15px;'>				
				<span id='msgInfoCategoria' style='margin-right:2px;'>dCategoría:</span> 
				<span id='msgCategoria_${IdMensaje}' title='${Categoria.Denominacion}' EnProceso='${EnProceso}' class='Negrita' style='margin-right:2px;'>{{if Leido}}{{if Categoria.Denominacion.length>26}}${Categoria.Denominacion.substring(0,23) + '...'}{{else}}${Categoria.Denominacion}{{/if}}{{else}}{{if Categoria.Denominacion.length>20}}${Categoria.Denominacion.substring(0,17) + '...'}{{else}}${Categoria.Denominacion}{{/if}}{{/if}}</span>·
				<span id='msgFechaAltaRelativa' class='Texto12 TextoOscuro' style='margin-top:5px; margin-bottom:5px;' date='${FechaAlta}'>${FechaAltaRelativa}</span>
			</div>
			<div id='AlertNotificacionCN' class='fondoAlerta' style='float:right; text-align:center; height:15px; margin-right:5px;{{if Leido}} display:none;{{/if}}'>
				<span id='msgNoLeido' class='Texto10 TextoClaro Negrita' style='line-height:15px; padding:0px 3px 0px 3px;'></span>
			</div>		
		</div>				
		<div style='clear:both; float:left; width:100%; margin-top:5px; margin-bottom:5px; padding-right:5px;'>				
			<img id='msgUsuImg_${IdMensaje}' EnProceso='${EnProceso}' class='Image50' style='float:left;' src='${InfoUsuario.ImagenUrl}' />				
			<div style='margin-left:55px;'>
				<div style='float:left; width:100%;'>
					{{tmpl get_TemplateTipoMensaje(Tipo)}}                    
				</div>
				{{tmpl get_Adjuntos(Adjuntos)}}    
				<div class='Texto12' style='float:left; margin-top:5px; margin-bottom:5px;'>
					<div style='float:left;'>	
						<span id='msgUsuNombre_${IdMensaje}' EnProceso='${EnProceso}' class='Texto12'>${InfoUsuario.Nombre}</span>
						(<span id='msgUsuSituacionUO_${IdMensaje}' EnProceso='${EnProceso}' class='Texto12'>${InfoUsuario.SituacionUO}</span>)	
					</div>            		
					{{tmpl "#opciones"}}
				</div>
				{{tmpl "#Respuestas"}}										
				{{tmpl "#RespuestaNuevaTpl"}}					
			</div>
		</div>		
		<div id='btnAbrirDiscrepancia_${IdDiscrepancia}' class='botonRedondeado' style='margin-right:5px;display:none;'>
			<span id='lblAbrirDiscrepancia_${IdDiscrepancia}' style='line-height:23px;'>DAbrir Discrepancia</span>
		</div>
		<div id='btnCerrarDiscrepancia_${IdDiscrepancia}' class='botonRedondeado' style='margin-right:5px;{{if DiscrepanciaCerrada}}display:none;{{/if}}'>
			<span id='lblCerrarDiscrepancia_${IdDiscrepancia}' style='line-height:23px;'>DCerrar Discrepancia</span>
		</div>
	</li>
</script>