﻿<div id="divParaOpciones" style="clear:both; float:left;">
    <div id="divParaUON" class="Bordear ItemNuevoMensajePara" style="clear:both; float:left;" cargar>
	    <img id="imgParaUON" class="Image16" style="padding:2px;" src="images/UON.png"  />
    </div>
    <div id="divParaProve" class="Bordear ItemNuevoMensajePara" style="float:left;" cargar>
	    <img id="imgParaProve" class="Image16" style="padding:2px;" src="images/Proveedor.png"  />
    </div>
    <div id="divParaProceCompras" class="Bordear ItemNuevoMensajePara" style="float:left;" cargar>
	    <img id="imgParaProceCompras" class="Image16" style="padding:2px;" src="images/ProcesoCompra.png"  />
    </div>
    <div id="divParaEstrucCompras" class="Bordear ItemNuevoMensajePara" style="float:left;" cargar>
	    <img id="imgParaEstrucCompras" class="Image16" style="padding:2px;" src="images/EstrucCompras.png"  />
    </div>
    <div id="divParaGrupos" class="Bordear ItemNuevoMensajePara" style="float:left;" cargar>
	    <img id="imgParaGrupos" class="Image16" style="padding:2px;" src="images/Grupos.png"  />
    </div>   
</div>                     
<div id="divListaPara" tabindex="0" class="divContenedor" style="clear:both; float:left; width:100%; margin-bottom:-1px; min-height:18px; max-height:80px; overflow-y:auto;"></div>
<div id="divOpcionesPara" class="divContenedor" style="display:none;">                            
	<div id="divParaUONPanel" class="ItemNuevoMensajeParaPanel" style="display:none;">								
		<div style="clear:both; float:left; width:100%;">
			<span id="lblParaUON" class="Texto12 Negrita" style="padding-left:5px;"></span>                                 
		</div>
		<div style="clear:both; float:left; width:100%; padding-left:5px;">
			<input id="txtParaUON" class="CajaTexto" style="width:95%;"/>                                                                  
		</div>
		<div id="tvParaUONTree" style="clear:both; float:left; width:100%; margin-bottom:5px; max-height:200px; overflow-y:auto;"></div>
	</div>
	<div id="divParaProvePanel" class="ItemNuevoMensajeParaPanel" style="display:none; padding-top:5px;">
		<div id="divitemParaProve-Todos" class="ItemParaProveedor Link">
			<span id="lblParaProveTodos" class="Texto12 Subrayado" style="padding-left:5px;"></span>
		</div>
		<div id="divitemParaProve-Calidad" class="ItemParaProveedor Link">
			<span id="lblParaProveCalidad" class="Texto12 Subrayado" style="padding-left:5px;"></span>                                    
		</div>
		<div id="divitemParaProve-Potenciales" class="ItemParaProveedor Link">
			<span id="lblParaProvePotencialesCalidad" class="Texto12 Subrayado" style="padding-left:5px;"></span>                                     
		</div>
		<div id="divitemParaProve-Reales" class="ItemParaProveedor Link">
			<span id="lblParaProveRealesCalidad" class="Texto12 Subrayado" style="padding-left:5px;"></span>                                     
		</div>
		<div style="clear:both; float:left; width:100%;">
			<div id="divitemParaProve-MatGS" class="ItemParaProveedor Link" style="clear:both; float:left;">
				<span id="lblParaProveMaterialGS" class="Texto12 Subrayado" style="padding-left:5px;"></span>                                                                        
			</div>
			<div id="divParaProveMatGS" style="clear:both; float:left; width:100%;">
				<div class="Bordear" style="clear:both; float:left; width:95%; margin-top:2px; margin-left:5px;">
					<input type="text" id="txtParaProveMatGS" class="Texto12 TextoOscuro CajaTextoSinBorde" style="height:18px;"/>                                    
				</div>
				<div id="tvParaProveMatGS" cargar class="divContenedor" style="display:none; width:95%; margin-left:5px; max-height:200px; overflow-y:auto;"></div>
			</div>
		</div> 
		<div style="clear:both; float:left; width:100%;">
			<div id="divitemParaProve-MatQA" class="ItemParaProveedor Link" style="clear:both; float:left;">
				<span id="lblParaProveMaterialQA" class="Texto12 Subrayado" style="padding-left:5px;"></span>                                   
			</div>
			<div style="clear:both; float:left; width:97%; margin-top:2px; margin-left:5px;">
				<div id="cboParaProveMatQA"></div>                                    
			</div>
		</div>                                
		<div style="clear:both; float:left; width:100%; margin-top:5px; padding-top:2px; padding-bottom:2px;">
			<div style="clear:both; margin-left:5px;">
				<span id="lblParaProveBuscarPor" class="Texto12"></span>                                        
			</div>
			<div style="clear:both; float:left; width:20%; margin-left:5px;">
				<div>
					<span id="lblParaProveBuscarCodigo" class="Texto12"></span>
				</div>
				<div class="Bordear">
					<input type="text" id="txtParaProveBuscarCodigo" class="Texto12 TextoOscuro CajaTextoSinBorde" style="width:95%;"/>
				</div>                                        
			</div>
			<div style="float:left; width:20%; margin-left:5px;">
				<div>
					<span id="lblParaProveBuscarNIF" class="Texto12"></span>
				</div>
				<div class="Bordear">
					<input type="text" id="txtParaProveBuscarNIF" class="Texto12 TextoOscuro CajaTextoSinBorde" style="width:95%;"/>
				</div>                                        
			</div>
			<div style="float:left; width:53%; margin-left:5px;">
				<div>
					<span id="lblParaProveBuscarDenominacion" class="Texto12"></span>
				</div>
				<div class="Bordear">
					<input type="text" id="txtParaProveBuscarDenominacion" class="Texto12 TextoOscuro CajaTextoSinBorde" style="width:95%;"/>
				</div>                                        
			</div>
			<div id="divParaProveBuscar" class="Link" style="clear:both; float:left; margin-left:5px; padding-top:2px; padding-bottom:2px;">
				<span id="lblParaProveBuscar" class="Texto12 Subrayado"></span>
			</div>
		</div>
		<div id="divParaProveBusquedaProve" style="clear:both; float:left; width:100%; padding-top:2px; padding-bottom:2px; display:none;">
			<div style="clear:both; float:left; width:100%;">
				<span id="lblParaProveedores" class="Texto12 Negrita" style="margin-left:5px;"></span>
			</div>
			<div style="clear:both; float:left; width:100%; margin-bottom:5px;">
				<div id="divParaProveLista" class="divLista" style="float:left; max-height:80px; margin-left:5px;"></div>
			</div>
		</div>
	</div>
	<div id="divParaProceComprasPanel" class="ItemNuevoMensajeParaPanel" style="display:none;">
		<div style="clear:both; float:left; margin: 0px 5px 0px 5px; line-height:20px;">
			<span id="lblParaProceCompra" class="Texto12 Negrita"></span>                                   
		</div>
		<div style="clear:both; float:left; width:100%; margin: 0px;">
			<div style="float:left; width:60px; margin-left:5px; border:solid 1px Transparent;">
				<span id="lblParaProceCompraAnio" class="Texto12"></span> 
			</div>
			<div style="float:left; width:120px; margin-left:5px; margin-right:5px; border:solid 1px Transparent;">
				<span id="lblParaProceCompraGMN1" class="Texto12"></span> 
			</div>
			<div style="margin-left:5px; border:solid 1px Transparent;">
				<span id="lblParaProceCompraCodDen" class="Texto12"></span> 
			</div>
		</div>
		<div style="clear:both; float:left; width:100%; margin: 0px 0px 5px 0px;">
			<div id="cboParaProceComprasAnyo" style="float:left; width:60px; margin-left:5px;"></div>
			<div id="cboParaProceComprasGMN1" style="float:left; width:120px; margin-left:5px;"></div>
			<div id="cboParaProceComprasCodDen" style="margin-left:5px;"></div>
		</div>
		<div id="divitemParaProceCompras-Todos" class="ItemParaProceCompras Link">
			<span id="lblParaProceComprasTodosIntegrantes" class="Texto12 Subrayado" style="padding-left:5px;"></span>
		</div>
		<div id="divitemParaProceCompras-Responsable" class="ItemParaProceCompras Link">
			<span id="lblParaProceComprasResponsable" class="Texto12 Subrayado" style="padding-left:5px;"></span>
		</div>
		<div id="divitemParaProceCompras-Invitados" class="ItemParaProceCompras Link">
			<span id="lblParaProceComprasInvitados" class="Texto12 Subrayado" style="padding-left:5px;"></span>
		</div>
		<div id="divitemParaProceCompras-Compradores" class="ItemParaProceCompras Link">
			<span id="lblParaProceComprasCompradores" class="Texto12 Subrayado" style="padding-left:5px;"></span>
		</div>
		<div id="divitemParaProceCompras-Proveedores" class="ItemParaProceCompras Link">
			<span id="lblParaProceComprasProveedores" class="Texto12 Subrayado" style="padding-left:5px;"></span>
		</div>
	</div>
	<div id="divParaEstrucComprasPanel" class="ItemNuevoMensajeParaPanel" style="display:none;">
		<div style="clear:both; float:left; width:100%; margin-top:5px;">
			<div id="divitemParaEstrucCompras-MatGS" class="ItemParaEstrucCompras Link" style="clear:both; float:left;">
				<span id="lblParaEstrucComprasMatGS" class="Texto12 Subrayado" style="padding-left:5px;"></span>                                                                        
			</div>
			<div id="divParaEstrucComprasMatGS" style="clear:both; float:left; width:100%;">
				<div class="Bordear" style="clear:both; float:left; width:95%; margin-top:2px; margin-left:5px;">
					<input type="text" id="txtParaEstrucComprasMatGS" class="Texto12 TextoOscuro CajaTextoSinBorde" style="height:18px;"/>                                   
				</div>
				<div id="tvParaEstrucComprasMatGS" cargar class="divContenedor" style="display:none; width:95%; margin-left:5px; max-height:200px; overflow-y:auto;"></div>
			</div>
		</div> 
		<div style="clear:both; float:left; width:100%; margin:5px 0px 0px 5px;">
			<div style="clear:both; float:left;">
				<span id="lblParaEstrucComprasEquipo" class="Texto12 Negrita"></span>                                                                   
			</div>
			<div class="Bordear" style="clear:both; float:left; width:95%; margin-top:2px;">
				<input type="text" id="txtParaEstrucComprasEquipo" class="Texto12 TextoOscuro CajaTextoSinBorde" style="height:18px;" />                                   
			</div>
		</div>
		<div style="clear:both; float:left; width:100%; margin:5px 0px 5px 0px;">
			<div id="tvParaEstrucComprasEquipos" class="divLista" style="max-height:160px;"></div>
		</div>
	</div>
	<div id="divParaGruposPanel" class="ItemNuevoMensajeParaPanel" style="display:none;">
		<div id="divParaGrupoBusqueda" style="clear:both; float:left; width:100%; margin:5px 0px 5px 0px;">									
			<div style="clear:both; float:left; margin-left:5px; width:100%;">
				<span id="lblParaGruposGruposCorporativos" class="Texto12 Negrita">DGrupos corporativos</span>                                   
			</div>
			<div style="clear:both; float:left; width:100%;">
				<div id="cboParaGruposGruposCorporativos" style="margin-left:5px;"></div>                               
			</div>
		</div>
		<div class="divLista">
			<div id="divitemParaGrupo-EP" class="ItemParaGrupo Link">
				<span id="lblParaGruposEP" class="Texto12 Subrayado" style="padding-left:5px;"></span>
			</div>
			<div id="divitemParaGrupo-GS" class="ItemParaGrupo Link">
				<span id="lblParaGruposGS" class="Texto12 Subrayado" style="padding-left:5px;"></span>
			</div>
			<div id="divitemParaGrupo-PM" class="ItemParaGrupo Link">
				<span id="lblParaGruposPM" class="Texto12 Subrayado" style="padding-left:5px;"></span>
			</div>
			<div id="divitemParaGrupo-QA" class="ItemParaGrupo">
				<span id="lblParaGruposQA" class="Texto12 Subrayado" style="padding-left:5px;"></span>
			</div>
			<div id="divitemParaGrupo-SM" class="ItemParaGrupo Link">
				<span id="lblParaGruposSM" class="Texto12 Subrayado" style="padding-left:5px;"></span>
			</div>	
		</div>							
	</div>
</div>
