﻿<div id="popup" class="popupCN" style="display:none; position:absolute; z-index:1004; padding:10px;">	          
    <div style="position:relative; clear:both; float:left; width:100%; margin-top:15px; text-align:center;">
        <div id="btnAceptarBusquedaPopUp" class="botonRedondeado" style="margin-right:5px;">
			<span id="lblAceptarBusquedaPopUp" style="line-height:23px;">DAceptar</span>
		</div>
		<div id="btnCancelarBusquedaPopUp" class="botonRedondeado" style="margin-left:5px;">
			<span id="lblCancelarBusquedaPopUp" style="line-height:23px;">DCancelar</span>
		</div>
    </div>    
</div> 
