﻿<div id="popupThumbnail" style="display:none; position:absolute; z-index:1002; min-width:20%; max-width:80%; max-height:80%;">	          
	<div style="position:relative; clear:both; float:left; width:100%; margin-top:5px; margin-bottom:5px; text-align:right;">
		<div id="btnCerrarPopUpThumbnail" class="CerrarPopUp" style="float:right; width:30px; height:30px;"></div>
	</div>    
</div> 
