<%@ Page Language="vb" AutoEventWireup="false" Codebehind="inicio.aspx.vb" Inherits="Fullstep.PMWeb.fulldemo.inicio.spa.inicio" %>
<%@ Register TagPrefix="uc1" TagName="menu" Src="../../../_common/menu.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>inicio</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<STYLE>@import url( ../../../styles/<%=ConfigurationSettings.AppSettings("custom")%>.css ); </STYLE>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<uc1:menu id="Menu1" runat="server"></uc1:menu>
		</form>
	</body>
</HTML>
