﻿.menu
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.titulo
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9px;
    COLOR: #00438C;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.subtitulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textos
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #00438C;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textosinicio
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #00438C;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textoblanco
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.tituloblanco
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.formulario
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #003375;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.enlaces
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A:link
{
    FONT-SIZE: 9px;
    COLOR: #003375;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-SIZE: 9px;
    COLOR: #003375;
    TEXT-DECORATION: none
}
A:active
{
    FONT-SIZE: 9px;
    COLOR: #003375;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-SIZE: 9px;
    COLOR: #003375;
	FONT-WEIGHT:bold;
    TEXT-DECORATION: none
}
INPUT
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana
}
A.textoblanco:visited{
FONT-SIZE: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
	FONT-WEIGHT:bold;
}
A.textoblanco:active{
FONT-SIZE: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.textoblanco:hover{
FONT-SIZE: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.textoblanco:link{
FONT-SIZE: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
		FONT-WEIGHT:bold;
}
A.enlaces:hover{
FONT-SIZE: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.enlaces:link{
FONT-SIZE: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
		FONT-WEIGHT:bold;
}
#divNoticias {
position:relative;
left:30px;
position:relative;
top:1px;
width:70%;
height:80%;
overflow-y:scroll; 
padding-top: 0px;
padding-right: 15px;
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:10px;
color:#00438C;}
#divNoticiasright {
	position:static;
	left:1px;
	top:2px;
	width:200px;
	height:200px;
	overflow-y:scroll;
	background-color: #FBFBFA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #2C4FA0;
}
.noticias {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #2C4FA0;
	text-decoration: none;
	line-height: 14px;
}


