<%@ Page Language="vb" AutoEventWireup="false" Codebehind="comentestado.aspx.vb" Inherits="Fullstep.FSNWeb.comentestado"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<title></title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
		<meta name="vs_defaultClientScript" content="JavaScript" />
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
	</head>
	<body>
		<form id="Form1" method="post" runat="server">
			<table id="tblcoment" height="90%" cellspacing="1" cellpadding="1" width="99%" border="0"
				style="Z-INDEX: 102; LEFT: 12px; POSITION: absolute; TOP: 20px">
				<tr height="98%">
					<TD>
						<asp:TextBox id="txtComent" runat="server" Width="660px" Height="340px" TextMode="MultiLine" ReadOnly="True"></asp:TextBox></TD>
				</tr>
				<tr height="40">
					<TD align="center"><INPUT id="cmdCerrar" type="button" value="Cerrar" name="cmdCerrar" runat="server" class="botonPMWEB" onclick="window.close()" /></TD>
				</tr>
			</table>
		</form>
	</body>
</html>
