<%@ Page Language="vb" AutoEventWireup="false" Codebehind="detallepedidoPMWEB.aspx.vb" Inherits="Fullstep.FSNWeb.detallepedidoPMWEB" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head runat="server">
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<frameset runat="server" id="fraWS" rows="0,*" frameborder="no">
		<frame name ="fraPMDetallePedidoHidden" id="fraPMDetallePedidoHidden" scrolling="yes" src="detallepedidohid.aspx?<%=Request.QueryString.tostring %>" marginheight="0" marginwidth="0" frameborder="0"   framespacing="0">
		<frame name ="fraPMDetallePedidoVisible" id="fraPMDetallePedidoVisible" scrolling="auto" src="detallepedidovis.aspx?<%=Request.QueryString.tostring %>" marginwidth="0" marginheight="0" frameborder="0" framespacing="0" height="100%">
	</frameset>
</html>
