<%@ Page Language="vb" AutoEventWireup="false" Codebehind="eliminarSolicitud.aspx.vb" Inherits="Fullstep.FSNWeb.eliminarSolicitud"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<title></title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1"/>
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1"/>
		<meta name="vs_defaultClientScript" content="JavaScript"/>
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5"/>	
	</head>	
	<script type="text/javascript">
		
		function EliminarOK(Instancia)
		{
		window.open("accionsolicitud.aspx?Accion=2&Instancia=" + Instancia ,"_parent") 
		}
        			
		function EliminarNoOKExistenProcesos(Instancia)
		{
		window.open("accionsolicitud.aspx?Accion=2&Error=2&Instancia=" + Instancia ,"_parent") 
		}
			
	</script>
	<body>
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</html>
