﻿/* CSS Document */
.menu {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #FFFFFF; text-decoration: none}
A.menu:link { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px;color: #ffffff; text-decoration: none}
A.menu:visited {  font-size: 12px;color: #ffffff; text-decoration: none}
A.menu:active {  font-size: 12px;color: #ffffff; text-decoration: none}
A.menu:hover {  font-size: 12px;color: #ffffff; font-weight:bold; text-decoration: none}
.titulo {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bolder; color: #000000; text-decoration: none}
.subtitulo {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #000000; text-decoration: none}
.textos {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 14px;
}
.textos2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 14px;
}
.texfnegro {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	line-height: 14px;
}
A.texfnegro:link {font-family: Verdana, Arial,  Helvetica, sans-serif; font-size: 9px; color: #ffffff; text-decoration: none}
A.texfnegro:visited {font-size: 9px;color: #ffffff; text-decoration: none}
A.texfnegro:active {font-size: 9px;color: #ffffff; text-decoration: none}
A.texfnegro:hover {font-size: 9px;color: #ffffff; font-weight:bold; text-decoration: none}

.texfecha {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color:#0099cc;
	text-decoration: none;
	line-height: 14px;
}
.registro {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 14px;
}
A.registro:link {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; color: #0099cc; text-decoration: none}
A.registro:visited {font-size: 12px;color: #0099cc; text-decoration: none}
A.registro:active {font-size: 12px;color: #0099cc; text-decoration: none}
A.registro:hover {font-size: 12px;color: #0099cc; font-weight:bold; text-decoration: none}

.formulario {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #ffffff; text-decoration: none}
A.formulario:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px;color: #ffffff; text-decoration: none}
A.formulario:visited { font-size: 9px;color: #ffffff; text-decoration: none}
A.formulario:active { font-size: 9px;color: #ffffff; text-decoration: none}
A.formulario:hover {font-size: 9px;color: #ffffff; text-decoration: none}
.subtextos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none}
A.subtextos:link {font-family: Verdana, Arial,  Helvetica, sans-serif; font-size: 9px; color: #000000; text-decoration: none}
A.subtextos:visited {font-size: 9px;color: #000000; text-decoration: none}
A.subtextos:active {font-size: 9px;color: #000000; text-decoration: none}
A.subtextos:hover {font-size: 9px;color: #000000; font-weight:bold; text-decoration: none}

.textosres {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10px; font-style: normal;  color: #333333; text-decoration: none}
.bottom { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 9px;color: #666666; text-decoration: none}
A.bottom:link { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 9px;color: #8BC205; text-decoration: none}
A.bottom:visited {  font-size: 9px;color: #333333; text-decoration: none}
A.bottom:active {  font-size: 9px;color: #666666; text-decoration: none}
A.bottom:hover {  font-size: 9px;color: #8BC205; font-weight:bold; text-decoration: none}

.nav {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none}
A.nav:visited{
	FONT-SIZE: 10px; COLOR: #AB0120; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none}
A.nav:link {
	 FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none}

A.nav:active {
	FONT-WEIGHT: 300; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none}

A.nav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #AB0120; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none}
.blanco {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
A.blanco:visited{
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none}
A.blanco:link {
	 FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none}

A.blanco:active {
	FONT-WEIGHT: 300; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none}

A.blanco:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none}

.logo {
	font-family: Arial, Verdana, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.logo:link {
	font-family: Arial, Verdana, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A:link {
	font-size: 12px;
	text-decoration:none;
	color:#999999;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
A:visited {font-size: 12px; text-decoration:none;color:#000000}
A:active {font-size: 12px; text-decoration:none;color:#000000}
A:hover {  font-size: 12px; FONT-WEIGHT: bold; color: #000000; text-decoration: none}
.titulopr {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 28px;
	font-style: normal;
	FONT-WEIGHT: bold;
	color: #000000;
}
INPUT {font-family:"Arial";font-size:10px;}
.recuadro {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 6px; font-style: normal; font-weight: normal; color: #9C9A9C; text-decoration: none}
.subtexto {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #666666; text-decoration: none}
