﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/App_Master/EnBlanco.Master" CodeBehind="cn_NuevoMensaje_GS.aspx.vb" Inherits="Fullstep.FSNWeb.cn_NuevoMensaje_GS" %>
<asp:Content ID="MuroUsuarioCN" ContentPlaceHolderID="CPH4" runat="server">
    <div id="divNuevosMensajes" style="float:left; width:95%;"></div>
</asp:Content>