﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="AbandonarSesion.aspx.vb" Inherits="Fullstep.FSNWeb.AbandonarSesion" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        function cerrar() {
            window.open('', '_parent', '');
            window.parent.close();
            return false;
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
