<%@ Page Language="vb" AutoEventWireup="false" Codebehind="attachfileEMail.aspx.vb" Inherits="Fullstep.FSNWeb.attachfileEMail"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<title></title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</head>
    <SCRIPT type="text/javascript">
		<!--

        function anyadirAdjunto(fich) {
            p = window.opener
            p.AdjuntarAttach(fich)
            window.close()
        }	
		-->
	    </SCRIPT>
	<body>
		<form id="Form1" method="post" runat="server">
			<TABLE id="Table1" style="Z-INDEX: 101; LEFT: 8px; POSITION: absolute; TOP: 16px" width="100%"
				border="0">
				<TR>
					<TD width="100%"><asp:label id="lblSeleccione" runat="server" CssClass="captionBlue">DSeleccione el fichero a adjuntar</asp:label></TD>
				</TR>
				<TR>
					<TD align="center"><INPUT class="botonPMWEB" id="miFile" style="WIDTH: 376px; HEIGHT: 22px" type="file" size="43"
							name="miFile" runat="server">
					</TD>
				</TR>
				<TR>
					<TD align="center"><INPUT class="botonPMWEB" id="cmdUpload" type="submit" value="DUpload" name="Submit1" runat="server">&nbsp;&nbsp;&nbsp;
					</TD>
				</TR>
			</TABLE>
		</form>
		</SCRIPT>
	</body>
</html>
