﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="controlarLineaVinculada.aspx.vb" Inherits="Fullstep.FSNWeb.controlarLineaVinculada" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<title></title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">           
	</head>
<body style="background-color: #FFFFFF;margin-top: 0px; margin-left: 0px" onload="window.focus();">
	<form id="Form1" runat="server">

	</form>
</body>
</html>
