<%@ Page Language="vb" AutoEventWireup="false" Codebehind="desconectar.aspx.vb" Inherits="Fullstep.FSNWeb.desconectar"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<title></title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</head>
	<script>
	function init()
		{		
		window.open("<%=ConfigurationManager.AppSettings("ruta")%>default.aspx?idioma=" + sIdi,"_top")
		}
	</script>
	<body onload="init()">
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</html>
