<%@ Page Language="vb" AutoEventWireup="false" Codebehind="presupuestosreadonly.aspx.vb" Inherits="Fullstep.FSNWeb.presupuestosreadonly"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<title></title>
		<meta content="Microsoft Visual Studio .NET 7.1" name=GENERATOR>
		<meta content="Visual Basic .NET 7.1" name=CODE_LANGUAGE>
		<meta content=JavaScript name=vs_defaultClientScript>
		<meta content=http://schemas.microsoft.com/intellisense/ie5 name=vs_targetSchema>
	</head>
	<script>		
		function Aceptar()
		{
			window.close();
		}
	</script>
<body>
<form id=Form1 method=post runat="server">
<table height="100%" cellSpacing=0 cellPadding=0 width="100%" border=0>
  <tr>
	<td></TD></TR>
  <tr>
	<td>
	  <table class=igTreeEnTab id=tblPresupuestos height="100%" cellSpacing=0 
	  cellPadding=2 width="100%" border=0 runat="server"></TABLE>
		<tr>
			<td vAlign="bottom" align="center" height="100%">
				<INPUT class="botonPMWEB" id="cmdAceptar" onclick="Aceptar()" type="button" value="Aceptar" name="cmdAceptar" runat="server">
			</td>
		</tr></TD></TR></TABLE></FORM> 
	</body>
</html>
