<%@ Page Language="vb" AutoEventWireup="false" Codebehind="tablaexternareg.aspx.vb" Inherits="Fullstep.FSNWeb.tablaexternareg"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<title></title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</head>
	<script>
		function cambiartamanyo(filas){
			var ancho=700-document.body.offsetWidth;
			var alto=(25*filas)+100-document.body.offsetHeight;
			window.resizeBy(ancho, alto);
		}
	</script>	
	<body>
		<form id="Form1" method="post" runat="server">
			<br>
			<table cellSpacing="0" cellPadding="0" width="100%" border="0">
				<tr>
					<td vAlign="top"><asp:table id="tblReg" runat="server" HorizontalAlign="Center" Width="90%" CellSpacing="2"
							BorderWidth="0" BorderStyle="None" CellPadding="4"></asp:table></td>
				</tr>
			</table>
			<br/><br/>
			<div align="center"><INPUT id="cmdCerrar" onclick="window.close(); return false" type="button" value="nCerrar"
					name="cmdCerrar" class="botonPMWEB" runat="server"></div>
		</form>
	</body>
</html>
