

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body, html { font-size:100%; padding:0; margin:0;}
*, html { padding:0; margin:0;}

body { padding:0; margin:0; /*font:13px/20px 'Roboto Condensed', sans-serif;*/ font:12px/20px Arial, Helvetica, sans-serif; font-weight:400; color:#292826; background:#fff ;}


/* genericos */
a { color:#dd7009; text-decoration:underline} 
a:hover {color:#292826; text-decoration:underline}
a img { border:0;}
p { font-weight:normal; margin:0; padding:10px 0; color:#292826; line-height:20px;}     
strong { font-weight:700;}

h1 { line-height:120%; text-align:right; font-weight:700; font-size:26px; padding:60px 0 30px 0; color:#3645b0;}
h2 { line-height:120%; text-align:left; font-weight:400; font-size:33px; padding:15px 0; color:#3645b0;}
h3 { line-height:120%; text-align:left; font-weight:700; font-size:16px; padding:10px 0; color:#3645b0;}
h4 { line-height:120%; text-align:left; font-weight:700; font-size:22px; padding:10px 0; color:#3645b0;}
h2 em {font:normal 25px Arial, Helvetica, sans-serif; font-style:italic;}

img { max-width:100%}
.img-izq { float:left; padding:20px 20px 20px 0}
.img-dcha { float:right; padding:20px 0 20px 20px}


.btn { max-width:100%; font-size:14px; color:#fff; text-align:center; transition: background 0.3s ease-in-out 0s; text-decoration:none; padding:7px 15px; font-weight:700; border:0; margin:0; line-height:100%; display:inline-block; cursor:pointer; text-decoration:none; border-radius:0px; background:#3645b0; float:left}
.btn-dcha { float:right}
.btn-left { float:left; display:inline;}
.btn:hover { text-decoration:none; color:#fff; background:#dd7009}

form { float:left; width:100%}
form label { float:left; width:100%; clear:both; padding:0}
form label.condiciones { padding:30px 0}
form label .checkbox { width:auto; display:inline-block; border:1px solid #ea3998; cursor:pointer; vertical-align:middle; margin:0 5px 0 0}
form label textarea,
form label input,
form label input { width:100%; border:0; color:#292826; background:#f1f1f1; padding:4px 14px; font-size:13px; }
form label textarea { font:13px/20px 'Roboto Condensed', sans-serif; font-weight:400;}
form .btn { color:#fff; font-size:14px; font-weight:700;}

form.recovery { float:left; width:95%; padding-left:40px; padding-bottom:30px;}
form.recovery label { float:left; width:100%; clear:both; padding:0}
form.recovery label span {width:150px; float:left; display:inline; font-size:12px; color:#292826; }
form.recovery label.condiciones { padding:30px 0}
form.recovery label .checkbox { width:auto; display:inline-block; border:1px solid #ea3998; cursor:pointer; vertical-align:middle; margin:0 5px 0 0}
form.recovery label textarea,
form.recovery label input,
form.recovery label input { width:60%; border:0; color:#292826; background:#f1f1f1; padding:6px 14px; font-size:13px; display:inline; float:left;}
form.recovery label textarea { font:13px/20px 'Roboto Condensed', sans-serif; font-weight:400;}
form.recovery .btn { color:#fff; font-size:14px; font-weight:700; margin-right:13px;}


/*grid*/
section { width:100%; clear:both; float:left; padding:0}
.container { position:relative; max-width:100%; width:1000px; padding:0; margin:0 auto;}
.container-inicio { position:relative; max-width:100%; width:1400px; padding:0; margin:0 auto;}
.text { position:relative; padding:5px 40px; width:100%; float:left}
.columna { float:left; width:21%;}
.centro { float:right; width:74.5%; }



/*popup*/

.popup{ border-top:3px solid #db6d22;}
.popup .container { width:780px; }
.popup .columna { width:32%;}
.popup .centro { width:62%; padding-top:10px }

.popup form label { text-align:left; padding:4px 0;}
.popup form button { float:right; margin:10px 0}

.popup .atencion-proveedor { padding-top:0}


/*header*/
/* header */
/*.header { position:relative; background:#fff url(../img/bk-header.png) 0 0 repeat-x;} */
.logo { padding:1.7em 0; background:#fff url(../img/bk-header.png) 0 0 repeat-x; width:100%; float:left; clear:both; height:8.4em;}
.homeimg { max-width:100%; width:100%;}


#heading {width:100%; clear:both; float:left; padding:0}
.logotipo { float:left; padding-left:30px;}
 h1 { float:right; font:normal 13px Arial, Helvetica, sans-serif; color:#aaaaaa;}
nav { z-index:10; position:absolute; top:5px; right:20px; width:150px; max-width:100%;font-weight:700;}
nav ul.idiomas { float:right;}
#heading nav ul.idiomas li { float:left; display:inline; color:#000; padding:0 5px;}
#heading nav ul.idiomas li a { text-decoration:none; color:#000;}

.menu { margin:0 auto; clear:both; padding:0; width:1000px; max-width:100%; }

.header .menu-container { display:block;}

.header ul { z-index:9999999; position:relative; float:left; width:100%; text-align:right; padding:0; margin:0; margin:auto; list-style:none; background-color:#3645b0; }
.header ul li { width:auto; margin:0 auto}
.header ul li a,
.header ul li strong { text-decoration:none; cursor:pointer; font-weight:700; color:#ffffff; font-size:14px; width:100%;}
.header ul li.menu-padre { display:inline-block; padding:0 1.1em; margin:0; position:relative;}
.header ul li.menu-padre+li { text-align:center; }

.header ul li a { font-size:1.0em; text-align:center; display:inline-block; text-decoration:none;padding-top:20px; padding-bottom:20px; text-align:center; color:#ffffff; text-transform:uppercase;}
.header ul li a:hover,.header ul li.activo a {color:#dd7009; text-decoration:underline;}

.header ol { display:none}
.header .menu-rsp {display:none; background:url(../img/ico-responsive.png) center center no-repeat; z-index:999999999; width:2em; height:2em; position:absolute; left:1em; top:2em;}
.header .menu-rsp span { display:none}
.oculta { color:#fff; line-height:40px; font-size:25px; padding-top:14px;}


.intro { float:left; clear:both; width:100%; padding:0; margin:0 0 20px 0; border-bottom:1px solid #d7d7d7;}
.intro h2 {  padding:10px 0}
.migas { list-style:none; width:100%; padding:0; margin:0; text-align:left}
.migas li { color:#8b8b88; font-size:12px; display:inline-block; padding:0 5px 0 0; margin:0} 
.migas li a { color:#8b8b88; text-decoration:none} 
.migas li a:hover{color:#292826; text-decoration:none}


.columna nav { width:100%; float:left; clear:both; }
.columna nav ul { width:100%; float:left; clear:both; list-style:none }
.columna nav ul li { width:100%; float:left; clear:both; padding:5px 0; margin:0;}
.columna nav ul li a { font-weight:700; font-size:14px; color:#4a462a; text-decoration:none}
.columna nav ul li a:hover { color:#dd7009; text-decoration:none}

.atencion-proveedor { float:left; padding:30px 0; width:100%;}
.atencion-proveedor h2 { padding:0 0 5px 0; font-weight:700; font-size:18px; color:#3645b0; border-bottom:1px solid #3645b0}
.atencion-proveedor p { line-height:18px; font-size:12px; color:#4a462a}
.atencion-proveedor p span {color:#dd7009}
.atencion-proveedor p strong { display:block; padding:8px 0; font-size:15px; font-weight:700; color:#dd7009}
.atencion-proveedor p strong.alt { color:#000}
.atencion-proveedor p a { display:block; text-decoration:none; font-size:11px; color:#dd7009}
.atencion-proveedor p a:hover { color:#4a462a; text-decoration:none}



/*footer*/
#footer {width:100%; clear:both; float:left; padding:0 0 20px 0}
#footer .text { padding:20px 40px;}    
#footer .text p { padding:0 40px; margin:0; line-height:11px; text-align:center; color:#666666; font-size:8px;} 
#footer .text p a { text-decoration:none; color:#666666; font-size:12px;}
#footer .text p a:hover { color:#dd7009;}
#footer .footer-menu { background:#3645b0; position:relative; float:left; padding:20px 10px 20px 35px; width:100%; clear:both;}
#footer .footer-menu p { color:#fff; font-size:10px; line-height:12px;}
#footer .footer-menu ul { list-style:none; width:auto; padding:10px 0 30px 0; margin:0;} 
#footer .footer-menu ul li { display:inline-block; padding:0; margin:0; }
#footer .footer-menu ul li a { font-weight:bold; text-decoration:none; color:#fff; padding:0 7px;}
#footer .footer-menu ul li:first-child a { border-right:1px solid #fff; }
#footer .footer-menu ul li a:hover { color:#000; text-decoration:none}
#footer .footer-menu ul li a.activo{ color:#000; text-decoration:none}
#footer .footer-menu .fullstep { position:absolute; right:20px; bottom:20px;}
	
	
.ancla-back { position:absolute; top:0; right:0; text-decoration:none;}
.ancla-back i { font-size:32px; color:#dd7009;}
.ancla-back:hover { text-decoration:none;}
.ancla-back:hover i { color:#4a462a;}

.ancla-wrapper { z-index:1; border-bottom:1px solid #d7d7d7; padding:0 0 20px 0; position:relative; margin:0 0 20px 0}
.limpia {clear:both; float:left}

/*home*/
.section-acceso { float:left; width:100%; background:url(../img/bk-entrada.jpg) top center no-repeat; margin-bottom:-16px; background-size:contain }
.home-acceso { width:100%; max-width:100%; float:left; margin:282px 120px 0 0;  background:rgba(255,255,255,.75);}
.home-acceso .acceso { width:250px; max-width:100%; float:left;  }
.home-acceso .acceso h2 { font-size:20px; font-weight:700;background-color:#dd7009; color:#ffffff; padding:70px 30px 30px 50px; text-align:left; text-transform:uppercase; min-height:184px;}
.home-acceso  .capa-form { padding:4px 10px 4px 10px; float:left; width:350px; max-width:100%; display:inline;}
.home-acceso  form { padding:0; margin:0; width:100%; float:left; display:inline; text-align:center; border-right:1px solid #dd7009; padding-right:15px;}
.home-acceso form label { text-align:left; padding:8px 0;}
.home-acceso form .btn { margin:15px 0}
.home-acceso span.acceso-recordar { font-size:11px; padding-right:20px; padding-top:20px; float:left;}
.home-acceso .acceso-recordar a { color:#000}
.home-acceso .acceso-recordar a:hover {color:#dd7009;}  
.home-acceso h4 { font-size:17px;  font-weight:700; padding:15px 0 10px 0; margin-top:10px; text-align:center; text-transform:uppercase; color:#666666; width:100%; float:left;} 
.home-acceso p { text-align:center; } 

.soporte h4 { font-size:17px; font-weight:700; padding:0 0 10px 0; margin-top:10px; text-align:left; text-transform:uppercase; color:#000; width:100%; float:left;}
.soporte { z-index:9999; position:relative; padding:10px 0 0 10px; width:300px; height:200px; max-width:90%;  float:right; margin:0 100px 0 0; }
.soporte h2 { font-size:17px; font-weight:700; color:#000; padding:0; text-align:left; text-transform:uppercase}
.soporte h3 { font-size:17px; font-weight:700; color:#292826; padding:5px 0; text-align:left; text-transform:none}
.soporte a { color:#fff; text-decoration:none}
.soporte a.portal {font-weight:bold; color:#666666;}
.soporte a:hover { color:#dd7009; text-decoration:none}
.soporte p { color:#666666; font-size:11px; padding:3px 0 0 0; margin:0}
.soporte p strong { color:#292826;}
.soporte div { float:left; width:100%; clear:both; padding:12px 10px; padding-left:0px;}
.soporte div+div { border:0}
.soporte .horario p{color:#fff; text-align:left; padding-top:10px;}
.soporte .horario p strong{color:#fff;text-align:left;}

/*interior*/

#ayuda .centro h3 { font-size:15px; color:#dd7009}

.lista-enum { padding:10px 0; margin:0;}
.lista-enum li { color:#8ba400; margin-left:20px; padding:8px 5px; font-size:13px;}
.lista-enum li p { padding:0; color:#000}
.lista-enum li .destacado { padding:12px 0; color:#626262}

.bloque-info h2 { background:#8ba400 url(../img/bk-detacado.png) left bottom no-repeat; text-align:center; padding:8px 5px; color:#fff; font-size:16px; font-weight:400}
.bloque-info p { font-size:13px; color:#4a462a; font-weight:700}
.bloque-info div { padding:13px; background:#eee; margin:5px 0 0 0; width:100%; float:left; clear:both}
.bloque-info div strong { display:block; border-bottom:1px solid #cdcdcd; padding:5px; font-size:19px; color:#4a462a; font-weight:400}
.bloque-info ul { width:100%; float:left; clear:both; margin:0; padding:10px 0;}
.bloque-info ul li { border:0; color:#e5087e; clear:both; float:left; margin:0 0 0 20px; padding:3px 0 3px 5px;}
.bloque-info ul li a {text-decoration:none; font-size:14px; color:#4a462a; font-weight:700}
.bloque-info ul li a:hover {text-decoration:none; color:#dd7009;}

.centro .bloque-info { float:right; width:220px; max-width:100%; margin:0 0 30px 30px; z-index:9999; position:relative;}
.columna .bloque-info { margin-bottom:20px}
.columna .bloque-info p { color:#000; font-weight:400}

.centro p { line-height:18px; color:#000; font-size:13px;}

.faq { list-style:none; width:100%; float:left; clear:both; margin:0; padding:10px 0;}
.faq li { padding:20px 0; border-bottom:1px dotted #cdcdcd;}
.faq li p { padding-left:25px; text-indent:-25px}
.faq .pregunta { color:#dd7009;}
.faq li .lista-enum { padding:0 0 0 15px}
.faq li .lista-enum li { border:0; padding:8px 5px;}
.faq li .lista-enum li p { color:#535353; text-indent:0; padding-left:0}

.sobre i { color:#d7dade; font-size:18px}
.sobre:hover i { color:#535353; }

.condiciones-acceso { float:left; width:100% }
.condiciones-acceso p { color:#4a462a; padding-left:20px}
.condiciones-acceso .info { padding:10px 20px; float:left; background:#f6f6f6 ;width:100%; margin:10px 0; clear:both  }
.condiciones-acceso .info p { padding:5px 0}

.text-derecha { font-size:15px; padding-right:35px; text-align:right}
.cabecera-politicas {width:100%; height:auto;}
.migas {margin-left:37px; font:bold 12px Arial, Helvetica, sans-serif; color:#3645b0; text-transform:uppercase;}
.migas a { color:#c1c1c1; text-decoration:none;}

/* pego aqui */
section { width:100%; clear:both; float:left; padding:0}
.container { position:relative; max-width:100%; width:1000px; padding:0; margin:0 auto;}
.text { position:relative; padding:5px 15px; padding-top:0px;width:100%; padding-left:0px; float:left}
.popup .text.blue {border-top:2px solid #c1bbb6;}
.popup .logotipo {float:left;}
.columna { float:left; width:23%; max-width:240px;  }
.centro { float:left; margin-left:20px; width:65.5%; border-right:3px solid #eeeeee; padding-right:8px;}
.centro.sin {border-right:0px;}
.centro.inicio { float:left; margin-left:20px; width:65.5%; border-right:0px solid #eeeeee; padding-left:8px;border-right:0px; text-align:left;}

.centro.inicio h4 { color:#3645b0; font:bold 18px Arial, Helvetica, sans-serif;}

.centro.sin.solicitud { width:80%;}
.centro.sin.solicitud h2 { color:#3645b0; font:normal 30px Arial, Helvetica, sans-serif;}
.columna-dcha { float:right; width:13%; text-align:center; }
.columna-izda { float:left; width:26%; text-align:center; margin-left:37px; }
.columna.sol { float:left; width:10%; max-width:150px;text-align:center; }
.columna .imagen {text-align:left; padding-top:0px; margin-top:0px; margin-left:37px; }
.columna .descarga-pdf {text-align:left; padding-top:10px; padding-bottom:10px; margin-top:0px; margin-left:37px; }
.centro h2 {font:bold 36px Arial, Helvetica, sans-serif; color:#ed6600; margin-top:0px; padding-top:0px;}
.centro h4 {font:bold 18px Arial, Helvetica, sans-serif; color:#ed6600; margin-top:0px; padding-top:0px; text-transform:uppercase;}
.lista-enum { padding:10px 0; margin:0;}
.lista-enum li { color:#dd7009; margin-left:20px; padding:8px 5px; font-size:13px;}
.lista-enum li p { padding:0; color:#000}
.lista-enum li p strong { color:#dd7009;}
.lista-enum li .destacado { padding:12px 0; color:#dd7009;}
.lista-enum li ul li {color:#000; list-style-type:none; padding:0px;}
.lista-enum li ul li a {color:#000000; text-decoration:none;}
.lista-enum li ul li a:hover {color:#dd7009; text-decoration:underline;}
.blue { color:#dd7009;}
/* Servicios */
#servicios {margin-top:20px;}
#servicios .centro h3 { font-size:15px; color:#dd7009}
.pdf {background:url(../img/ico-pdf.gif) bottom right no-repeat; padding-right:30px; text-align:left; font:bold 12px Arial, Helvetica, sans-serif; color:#ed683e; text-decoration:none; padding-top:12px; }
.pdf:hover {text-decoration:underline;color:#ed683e; }
.peq {font:normal 11px Arial, Helvetica, sans-serif; color:#000; line-height:14px; padding-top:0px;}

.pulse {background:url(../img/bk-pulse.gif) bottom right no-repeat; padding-right:20px; text-align:left; font:bold 12px Arial, Helvetica, sans-serif; color:#dd7009; text-decoration:none; padding-top:12px; }
.pulse:hover {text-decoration:underline;color:#dd7009; }


.capa-pulse-ant {float:left; display:inline; max-width:70%;}
.capa-pulse {float:right; display:inline-block;}
.pulse-peq {background:url(../img/bk-pulse.gif) bottom right no-repeat; padding-right:20px; text-align:left; font:normal 10px Arial, Helvetica, sans-serif; color:#dd7009; text-decoration:none; padding-top:4px; }
.pulse-peq:hover {text-decoration:underline;color:#dd7009; }

.lista-enum li {clear:both;}

.ancla-back { position:absolute; top:-60px; right:0; text-decoration:none;}
.ancla-back i { font-size:32px; color:#dd7009;}
.ancla-back:hover { text-decoration:none;}
.ancla-back:hover i { color:#4a462a;}

.ancla-wrapper { z-index:1; border-bottom:1px solid #d7d7d7; padding:0 0 20px 0; position:relative; margin:0 0 20px 0}


/*popup*/
.cierra-popup {float:right; display:inline; margin-top:25px; cursor:pointer;}
.popup .container { width:780px}
.popup .columna { width:32%;padding-top:0px }
.popup .centro { width:62%; padding-top:10px }

.popup form label { text-align:left; padding:4px 0;}
.popup form button { float:right; margin:10px 0}

.popup .atencion-proveedor { padding-top:0}



.capa-cierre-recup {clear:both; width:100%; border-top:1px solid #dd7009; margin-top:15px;}
.imagen-capa-cierre {float:left; width:22%; padding-left:0px; padding-top:10px; min-width:202px; display:inline;}
.texto-capa-cierre {float:left; width:99%; display:inline; padding-left:10px; padding-top:15px; color:#000;}
.texto-capa-cierre strong {color:#dd7009;}
.texto-capa-cierre strong.telefono {color:#000000; clear:both; font-size:14px; display:block;}
.centrado {text-align:center;}
.columna.descarga {}
.columna-dcha .descarga {}
.salir {background-color:#39C; color:#fff; float:right; display:inline; padding:0 4px; margin-top:30px; text-decoration:none; font-weight:bold;}
.raya_separa {clear:both; height:20px; border-top:2px solid #c1bbb6;}



.cuerpo-menu-inicio {float:left; display:inline; margin-right:30px; text-align:left;}
.cuerpo-menu-inicio ul li {
    background: url("../img/bk-li-ayuda.gif"); background-position:0px 10px; background-repeat:no-repeat;width: 180px;
	margin-bottom: 5px;
	border-top: 1px dotted #CCCCCC;
    display: inline-block;
    padding: 10px 0 10px 25px;
}
.azul { text-decoration:underline; color:#0099cc;}
.cuerpo-menu-inicio ul li a {color:#000; text-decoration:none;}
.cuerpo-menu-inicio ul li a:link { color: #000;	text-decoration:none;}
.cuerpo-menu-inicio ul li a:hover { color: #000;	text-decoration:none;}
.manual_consulta_inicio {margin-top:15x; padding-top:10px; width:202px; }
.manual_consulta_inicio strong {font-size:13px;}
.manual_consulta_inicio p {padding-left:12px; font-size:11px}

.int { background:#e1e1e1; padding: 15px; width:100%; text-align: justify;}
.bt_registro {display: block;margin: auto;text-decoration: none;float:right; font:bold 12px Arial, Helvetica, sans-serif;border:0px;height:24px; cursor:pointer;color:#fff;width:96px; background-color:#3645b0; text-transform:uppercase;}
.caja_registro {height:150px; padding:0 5px; overflow:auto; background:#FFF; border:#CCC 1px solid}
.checkboxRequiredMsg{display:none;}
label {float:left; display:inline;}
p.imprimir { float:right; width:96px; margin-top:15px; background-color:#db6d22; padding:0px; height:24px;}
p.imprimir a {font:bold 12px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-transform:uppercase; text-align:center; padding-bottom:0px; padding-top:5px; display:block}

.contenedor-impresion {margin:0 auto; max-width:646px; text-align:left; padding:10px;}
.cabecera-impresion {float:left; width:100%; padding-bottom:10px; margin-bottom:20px; border-bottom:2px solid #dd7009;}
.contenedor-impresion h2 {font:bold 36px Arial, Helvetica, sans-serif; color:#dd7009; margin-top:0px; padding-top:0px;}
.contenedor-impresion h4 {font:bold  22px Arial, Helvetica, sans-serif; color:#dd7009; margin-top:0px; padding-top:0px;}
p.sang { padding-left:15px; /*text-indent:25px*/}

h4.blue {font:bold 18px Arial, Helvetica, sans-serif; color:#3645b0; margin-top:0px; padding-top:0px;}
h4.orange {font:bold 18px Arial, Helvetica, sans-serif; color:#db6d22; margin-top:0px; padding-top:0px;}

/* Página inicio */
#servicios {margin-top:20px;}
#servicios .centro h3 { font-size:15px; color:#dd7009}
.columna-izda-inicio { float:left; width:26%; text-align:left; margin-left:37px; }