﻿.tdblanco
{
    BACKGROUND-COLOR: #ffffff
}
.tdrojo
{
    BACKGROUND-IMAGE: url(../images/fondo_original.jpg);
    COLOR: #000000;
    BACKGROUND-COLOR: #0099cc
}
.tdrojover11
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #a5c7ff;
    TEXT-DECORATION: none
}
.tdnegrover11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #8ab3c7;
    TEXT-DECORATION: none
}
.tdgrisver10
{
    FONT-SIZE: 10px;
    COLOR: #666666;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e5e5e5;
    TEXT-DECORATION: none
}
.tdmarronver11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #0099cc;
    TEXT-DECORATION: none
}
.tdmarron2ver10
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ceeff7;
    TEXT-DECORATION: none
}
.tdmarron2ver9
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f0e6d6;
    TEXT-DECORATION: none
}
.ver9negro
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver10gris
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #d8d8d8;
    TEXT-DECORATION: none
}
.ver10negro
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver10rojo
{
    FONT-SIZE: 10px;
    COLOR: #006185;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver11negro
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver11blanco
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver14blanco
{
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.ver14rojo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.enlacever11rojo
{
    FONT-SIZE: 11px;
    COLOR: #ff6600;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.enlacever11rojo:hover
{
    FONT-SIZE: 11px;
    COLOR: #ff6600;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.linea
{
    BACKGROUND-COLOR: #c0c0c0
}
.margen1
{
    MARGIN: 3px 5px
}
.margen2
{
    MARGIN: 3px 1px
}
.margen3
{
    MARGIN: 3px 1px 3px 15px
}
.cabecera
{
    height : 25px;	
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #0099CC;
    TEXT-DECORATION: none
}
.par
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e0e0e0;
    TEXT-DECORATION: none
}
.impar
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #F4F3F3;
    TEXT-DECORATION: none
}
.logo
{
	height : 120px;
	width: 585px;
	background-image: url(../images/logo.jpg);
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
	text-align : right;
	background-repeat: no-repeat;
	}
.titulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textos
{
    FONT-SIZE: 11px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.lineahoriz
{
    background-image: url(../img/puntitos.gif)
}
.lineavert
{
    background-image: url(../img/dots_vert.gif)
}
.fondo
{
    background-image: url(../img/fondo.gif)
}