﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="attachfileEmail.aspx.vb" Inherits="Fullstep.PMPortalWeb.attachfileEmail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
		<!--

        function anyadirAdjunto(fich) {
            p = window.opener
            p.AdjuntarAttach(fich)
            window.close()
        }	
		-->
		</script>
</head>
<body>
    <form id="Form1" method="post" runat="server">
			<TABLE id="Table1" style="Z-INDEX: 101; LEFT: 8px; POSITION: absolute; TOP: 16px" width="100%"
				border="0">
				<TR>
					<TD width="100%"><asp:label id="lblSeleccione" runat="server" CssClass="captionBlue">DSeleccione el fichero a adjuntar</asp:label></TD>
				</TR>
				<TR>
					<TD align="center"><input class="boton" id="miFile" style="WIDTH: 376px; HEIGHT: 22px" type="file" size="43"
							name="miFile" runat="server">
					</TD>
				</TR>
				<TR>
					<TD align="center"><input class="boton" id="cmdUpload" type="submit" value="DUpload" name="Submit1" runat="server">&nbsp;&nbsp;&nbsp;
					</TD>
				</TR>
			</TABLE>
		</form>
</body>
</html>
