<%@ Control Language="vb" AutoEventWireup="false" Codebehind="campos.ascx.vb" Inherits="Fullstep.PMPortalWeb.campos" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" enableViewState="False" %>
<%@ Reference Control="desglose.ascx" %>
<asp:table id="tblDesglose" Width="100%" runat="server" style="table-layout :fixed ">
    <asp:TableRow>
        <asp:TableCell Width="40%"></asp:TableCell>
        <asp:TableCell Width="1%"></asp:TableCell>
        <asp:TableCell Width="1%"></asp:TableCell>
        <asp:TableCell Width="58%"></asp:TableCell>
    </asp:TableRow>
</asp:table>
