<%@ Page Language="vb" AutoEventWireup="false" Codebehind="detalledenominacion.aspx.vb" Inherits="detalledenominacion" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
		<title>detalledenominacion</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</head>
	<body onload="javascript:document.title=cadenatitulo;" MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<TABLE id="tblDenominacion" style="Z-INDEX: 101; LEFT: 8px; POSITION: absolute; TOP: 32px"
				cellSpacing="1" cellPadding="1" width="100%" border="0" height="150">
				<TR>
					<TD class="ugfilatablaCabecera" style="WIDTH: 100px">
						<asp:Label id="lblCaso1" runat="server"></asp:Label></TD>
					<TD class="ugfilatablaHist">
						<asp:Label id="lblDescripcionCaso1" runat="server"></asp:Label></TD>
				</TR>
				<TR>
					<TD class="ugfilatablaCabecera" style="WIDTH: 100px">
						<asp:Label id="lblCaso2" runat="server"></asp:Label></TD>
					<TD class="ugfilatablaHist">
						<asp:Label id="lblDescripcionCaso2" runat="server"></asp:Label></TD>
				</TR>
				<TR>
					<TD class="ugfilatablaCabecera" style="WIDTH: 100px">
						<asp:Label id="lblCaso3" runat="server"></asp:Label></TD>
					<TD class="ugfilatablaHist">
						<asp:Label id="lblDescripcionCaso3" runat="server"></asp:Label></TD>
				</TR>
			</TABLE>
		</form>
	</body>
</html>
