<%@ Page Language="vb" AutoEventWireup="false" Codebehind="downloadhidden.aspx.vb" Inherits="Fullstep.PMPortalWeb.downloadhidden" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
		<title>downloadhidden</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		
	</head>
	<body MS_POSITIONING="GridLayout" onload="init()">
		<form id="Form1" method="post" runat="server">
            <script>
function init()
{
window.setTimeout(download,2000)
}

function download()
{
    var oIdArchivoContrato=document.getElementById("idArchivoContrato")
    var oIdContrato=document.getElementById("idContrato")
    var oNombre=document.getElementById("txtNombre")
    var oPath=document.getElementById("txtPath")
    window.open("downloadfile.aspx?IdArchivoContrato="+ oIdArchivoContrato.value + "&IdContrato=" + oIdContrato.value + "&download=1&src=" + oPath.value + "&nombre=" + oNombre.value + "&fname=<%=server.urlEncode(request("nombre"))%>","_self")
}
		</script>
			<input runat="server" id="txtPath" type="hidden"/>
            <input runat="server" id="txtNombre" type="hidden"/>
            <input type="hidden" name="idContrato" id="idContrato" runat="server" />
            <input type="hidden" name="idArchivoContrato" id="idArchivoContrato" runat="server" />
		</form>
	</body>
</html>
