<%@ Page Language="vb" AutoEventWireup="false" Codebehind="espera.aspx.vb" Inherits="espera"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
		<title>espera</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">		
	</head>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:Image id="Image1" src="../_common/images/cursor-espera_grande.gif" runat="server" style="Z-INDEX: 101; LEFT: 152px; POSITION: absolute; TOP: 48px"></asp:Image>
			<asp:Label id="LblCadena" style="Z-INDEX: 102; LEFT: 24px; POSITION: absolute; TOP: 16px" runat="server"
				Width="352px" CssClass="captionBlue"></asp:Label>
		</form>
	</body>
</html>
