<%@ Page Language="vb" AutoEventWireup="false" Codebehind="impexp.aspx.vb" Inherits="Fullstep.PMPortalWeb.impexp"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
<head id="Head1" runat="server">
		<title></title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</head>
	<body language="javascript" MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:xml id="xmlPres" runat="server"></asp:xml></form>
	</body>
</html>
