<%@ Control Language="vb" AutoEventWireup="false" Codebehind="mensajes.ascx.vb" Inherits="Fullstep.PMPortalWeb.mensajesControl" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" enableViewState="False" %>
<LINK href="http://localhost/PMPortalWeb/script/styles/federlan.css" type="text/css" rel="stylesheet">
<P><igtbl:ultrawebgrid id="uwgSolicitudes" runat="server" Height="100%" Width="100%">
		<DisplayLayout AllowSortingDefault="OnClient" RowHeightDefault="20px" Version="4.00" HeaderClickActionDefault="SortSingle"
			BorderCollapseDefault="Separate" RowSelectorsDefault="No" Name="uwgSolicitudes" TableLayout="Fixed">
			<AddNewBox>
				<Style BorderWidth="1px" BorderStyle="Solid" BackColor="LightGray">

<BorderDetails ColorTop="White" WidthLeft="1px" WidthTop="1px" ColorLeft="White">
</BorderDetails>

				</Style>
			</AddNewBox>
			<Pager>
				<Style BorderWidth="1px" BorderStyle="Solid" BackColor="LightGray">

<BorderDetails ColorTop="White" WidthLeft="1px" WidthTop="1px" ColorLeft="White">
</BorderDetails>

				</Style>
			</Pager>
			<HeaderStyleDefault BorderStyle="Solid" CssClass="VisorHead">
				<BorderDetails ColorTop="White" WidthLeft="1px" WidthTop="1px" ColorLeft="White"></BorderDetails>
			</HeaderStyleDefault>
			<FrameStyle Width="100%" BorderWidth="1px" Font-Size="8pt" Font-Names="Verdana" BorderStyle="Solid"
				Height="100%" CssClass="VisorFrame"></FrameStyle>
			<FooterStyleDefault BorderWidth="1px" BorderStyle="Solid" BackColor="LightGray">
				<BorderDetails ColorTop="White" WidthLeft="1px" WidthTop="1px" ColorLeft="White"></BorderDetails>
			</FooterStyleDefault>
			<ClientSideEvents CellClickHandler="uwgSolicitudes_CellClickHandler"></ClientSideEvents>
			<EditCellStyleDefault BorderWidth="0px" BorderStyle="None"></EditCellStyleDefault>
			<RowStyleDefault BorderWidth="1px" BorderStyle="Solid" CssClass="VisorRow">
				<Padding Left="3px"></Padding>
				<BorderDetails WidthLeft="0px" WidthTop="0px"></BorderDetails>
			</RowStyleDefault>
		</DisplayLayout>
		<Bands>
			<igtbl:UltraGridBand></igtbl:UltraGridBand>
		</Bands>
	</igtbl:ultrawebgrid></P>
