<%@ Page Language="vb" AutoEventWireup="false" Codebehind="validararticulo.aspx.vb" Inherits="Fullstep.PMPortalWeb.validararticulo" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
		<title>validararticulo</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script>
		
		function articuloIncorrecto()
		{
		var p=window.parent		
		oArt = p.fsGeneralEntry_getById(sArtClientId)	
		if (oArt.getValue()!="")
			alert(arrTextosML[0])
			
		oArt.setValue(null)
		
		oArt.setDataValue(null)
		}
		
		function articuloValidado()
		{
		var p=window.parent		
		oMat = p.fsGeneralEntry_getById(sMatClientId)
		if (oMat)
			p.mat_seleccionado(sMatClientId , sGMN1, sGMN2, sGMN3, sGMN4, 4 ,sDenGMN, TodosNiveles)
		
		oArt = p.fsGeneralEntry_getById(sArtClientId)	
		oArt.setValue(sCodArt + " - " + sDenArt)
		oArt.setDataValue(sCodArt)
		
		if (oArt.idEntryPREC) 
			if (oArt.idEntryPREC != '') {
				oPrecio = p.fsGeneralEntry_getById(oArt.idEntryPREC);
				if (oPrecio) {
					oPrecio.setValue(dPrecioUltADJ);
					oPrecio.setDataValue(dPrecioUltADJ);
				}
			}
				
		if (oArt.idEntryPROV) 
			if (oArt.idEntryPROV != '') {
				oProveedor = p.fsGeneralEntry_getById(oArt.idEntryPROV);
				if (oProveedor) { 
						oProveedor.setDataValue(sCodPROV);
						if (sCodPROV != '')
							oProveedor.setValue(sCodPROV + " - " + sDenPROV);
						else
							oProveedor.setValue('');			
				}	
			}	
						
		if (oArt.idEntryUNI)
			if (oArt.idEntryUNI!= '') {
				oUnidad = p.fsGeneralEntry_getById(oArt.idEntryUNI);
				if (oUnidad) {
					oUnidad.setDataValue(sUNI);
					oUnidad.setValue(sDenUNI):
				}else
					if (oArt.UnidadDependent) {
						oArt.UnidadDependent.value = sUnidad;
					}
			}
		
		}
		</script>
	</head>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</html>
