﻿<style type="text/css">

.titulo1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #f3cd2a; text-decoration: none}
.subtitulo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; color: #facc00; text-decoration: none}
.textos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #333333; text-decoration: none}
.registro {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #333333; text-decoration: none}
.subtit {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #333333; text-decoration: none}
.formulario {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bolf; color: #000000; text-decoration: none}
.solutions {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: italic; font-weight: normal; color: #FF7E00; text-decoration: none}
a:link {
	text-decoration:underline;
	color:#335588;
	text-decoration:none;
	font-weight: bold;
}
a:visited {
	text-decoration:none;
	color:#335588;
	font-weight: bold;
}
a:active {
	text-decoration:none;
	color:#335588;
	font-weight: bold;
}
a:hover {
	color: #335588;
	font-weight: bold;
	text-decoration: underline;
}
.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: facc00;
}
.TextoClaro
{
	color:#ffffff!important;
}
.Negrita
{
	font-weight:bold;
}
.FondoModal
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
</style>
