body
{
	margin-top:0;
}

input
{
	font-family:Verdana ;
	font-size:12px;
}
TEXTAREA 
{
	font-family:Verdana;
	font-size:12px;
}

a
{
	font-family:Verdana;
	font-style:normal ;
}

a:visited
{
	font-family:Verdana;
	font-style:normal ;
	color:black;
	text-decoration:none;
}
a:hover
{
	font-family:Verdana;
	font-style:normal ;
	color:black;
	text-decoration:none;
}
a:active
{
	font-family:Verdana;
	font-style:normal ;
	color:black;
	text-decoration:none;
}

.fntLogin
{
	font-family:Verdana;
	font-size:12px;
	font-style:normal;
	color : Black 
}

.fntRequired
{
	font-family:Verdana;
	font-size:10px;
	color:Red
}

.fntRed
{
	font-family:Verdana;
	font-size:12px;
	color:Red
}

.SinDatos
{
	font-family:verdana;
	color:Red;
	font-weight:bold;
	font-size:12px;
}




.tituloDarkBlue
{
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	color:darkblue;
}
.subtitulo
{
	font-family:Verdana;
	font-size: 14px;
	font-weight:bold;
	color:darkblue;
}

.tituloUnderline
{
	font-family:Verdana;
	font-size: 16px;
	font-weight:bold;
	color:blue;
	text-decoration :underline;
}


.parrafo
{
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:Black;
	
}	

.bordeado
{
	border: solid 1px darkblue;
	padding : 2 2 2 2;
}
.caption
{
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
}

.captionBlue
{
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	color:cornflowerblue;
}

.captionBlueSmall
{
	font-family:Verdana;
	font-size:11px;
	color:cornflowerblue;
}

.captionBlueSmallBold
{
	font-family:Verdana;
	font-weight:bold;
	font-size:11px;
	color:cornflowerblue;
}

.captionDarkBlue
{
	font-weight: bold;
	font-size: 12px;
	color: dimgray;
	font-family: Verdana;
}

.captionDarkBlueSmall
{
	font-family:Verdana;
	font-size:11px;
	color:dimgray;
}

.cabecera
{
	font-weight: normal;
	font-size: 12px;
	color: black;
	font-family: Verdana;
	height: 18px;
	background-color: lightblue;
	text-align: left;
}

.ugfilatabla
{
	font-family:Verdana;
	font-size:12px;
	border-style:none;
	border-bottom-style:dashed ;
	border-bottom-color:Black;
	border-bottom-width:1px;
	cursor:hand ;
}

.ugfilaalttabla
{
	font-family:Verdana;
	font-size:12px;
	border-style:none;
	border-bottom-style:dashed  ;
	border-bottom-color:Black;
	border-bottom-width:1px;
	cursor:hand ;
}

.ugDesglose
{
	border:solid 1 gray;
}
	
	
.ugfilatablaDesglose
{
	font-family:Verdana;
	font-size:12px;
	border-bottom-style:dashed ;
	border-bottom-color:Black;
	border-bottom-width:1px;
}

.ugfilaalttablaDesglose
{
	font-family:Verdana;
	font-size:12px;
	border-bottom-style:dashed ;
	border-bottom-color:Black;
	border-bottom-width:1px;
}


.TipoTexto
{
	border-style:Ridge Inset Inset Ridge;
	border-color:#A0A0A0 White White #A0A0A0;
	border-width:2px;
}

.TipoTextoCorto
{
	border-style:Ridge Inset Inset Ridge;
	border-color:#A0A0A0 White White #A0A0A0;
	border-width:2px;
}

.TipoTextoMedio
{
	border-style:Ridge Inset Inset Ridge;
	border-color:#A0A0A0 White White #A0A0A0;
	border-width:2px;
}
.TipoTextoLargo
{
	border-style:Ridge Inset Inset Ridge;
	border-color:#A0A0A0 White White #A0A0A0;
	border-width:2px;
}
.TipoTextoLargoBoton
{
	width:25px;
	background-repeat:no-repeat;
	background-image:url(http://localhost/WSWeb/script/images/img1.gif)
}
.CampoSoloLectura
{
	font-family:Verdana;
	font-size:12px;
	border-style:none;
	width:100%;
	font-size:12px;
	height:16px;
	overflow:hidden;

}

.TipoNumero
{
	border-width:2px;
	border-style:Ridge Inset Inset Ridge;
	border-color:#A0A0A0 White White #A0A0A0;
}
.TipoFecha
{
	border-width:2px;
	border-style:Ridge Inset Inset Ridge;
	border-color:#A0A0A0 White White #A0A0A0;
}
.TipoArchivo
{
	border-width:0px;
	border-style:solid;
	border-color:#A0A0A0;
	background-color:Transparent;
	font-size:10px;
	height:16px;
	overflow:hidden;
}

.Tipodesglose
{
	border-width:0px;
	border-style:solid;
	border-color:#A0A0A0;
	background-color:transparent; 
	height:16px;
	overflow:hidden;
}

.igCalendarFooterStyle
{
	background-color :  #E7EFFF;
	color: blue ;
	border-style:solid;
	border-color: Black ;
	border-width:1px;
	
}
.igCalendarSelectedDayStyle
{
	background-color : #C0C0C0;
	color : Black;
}
.igCalendarOtherMonthDayStyle
	{
	background-color : #E7EFFF; 
	}
.igCalendarStyle
{	
	width : 274px;
	background-color:white;
	color : Black ;
	font-family :"Verdana";
	font-size :9pt;
}

.igCalendarTodayDayStyle
{
	background-color:#B3B3FF;
}

.igCalendarDayHeaderStyle
{
	height:1pt;
	background-color :#E7EFFF;
	color :black;
	font-size :8pt;
	border-bottom-width : 1pt;
	border-bottom-color :Gray;
	border-bottom-style:solid;
}

.igCalendarTitleStyle
{
	height:18px;
	background-color :#E7EFFF;
	color:#E0E0E0;
	font-weight:bold;
                        
}

.igDropDown
{
	border:solid 1 black;
}
.igDropDownStyle
{
	background-color:White;
	color:Black;
	font-family:Verdana;
	font-size:10px;
	cursor:hand;
}

.linea1
{
	border-bottom:solid 1 blue;
}
.linea2
{
	border-bottom:solid 1 red;
}

.igTree
{
	border:solid 1 blue;
	font-family:Verdana;
	font-size:10px;
	padding:5 5 5 5;
}

.trasparent
{
	background-color:Transparent;
}


.TablaLink
{
	font-family:Verdana;
	font-size:10px;
	color:blue;
	cursor :hand;
	text-decoration :underline;
}


.CaptionLink
{
	font-weight: bold;
	font-size: 12px;
	cursor: hand;
	color: cornflowerblue;
	font-family: Verdana;
	text-decoration: underline;
}

.CaptionLinkRed
{
	font-family:Verdana;
	font-size:12px;
	color:red;
	font-weight:bold;
	cursor :hand;
	text-decoration :underline;
}

.EstadosRow
{
	border-left-color: gray;
	border-bottom-color: gray;
	border-top-color: gray;
	border-right-color: gray;
	background-color : whitesmoke; 
}
.EstadosBoton
{
	Font-Size:10px;
	width:80px;
	overflow:visible;
	padding-left:5px;
	padding-right:5px;
	border-left-color: lightsteelblue;
	border-bottom-color: lightsteelblue;
	border-top-style: solid;
	border-top-color: lightsteelblue;
	font-family: Verdana;
	border-right-style: solid;
	border-left-style: solid;
	height: 20px;
	background-color: #e1edff;
	border-right-color: lightsteelblue;
	border-bottom-style: solid;
}

.EstadosUsuario
{
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:Black;
	background-color: #ededec;
}	
.EstadosFondo1
{	
	background-color: whitesmoke;
}
.EstadosFondo2
{
	background-color: #ededec;
}
.VisorFrame
{
  background-color : #e1edff;
  font-family : Verdana ; 
  font-size : 8px; 
  font-style : normal ; 
  font-weight : normal ; 
}
.VisorRow
{
	font-weight: normal;
	font-size: xx-small;
	font-style: normal;
	font-family: Verdana;
	background-color: #e1edff;
	text-decoration: none;
}
.VisorHead
{
	background-color: whitesmoke;
	color: midnightblue;
	font-family: Verdana;
	font-style : normal ;
	font-size:  x-small ;
	
}
.botonCargar
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 10px;
	border-left-color: lightsteelblue;
	border-bottom-color: lightsteelblue;
	overflow: visible;
	width: 80px;
	border-top-style: solid;
	border-top-color: lightsteelblue;
	font-family: Verdana;
	border-right-style: solid;
	border-left-style: solid;
	height: 20px;
	background-color: #e1edff;
	border-right-color: lightsteelblue;
	border-bottom-style: solid;
}

.ugfilatablaHist
{
	font-family:Verdana;
	font-size:12px;
	background-color:#E1EDFF;
}

.ugfilatablaHistActual
{
	font-family:Verdana;
	font-size:12px;
	background-color:#FFC080;
}

.cabeceraSolicitud
{
	border-right: cornflowerblue 2px solid;
	padding-right: 3px;
	border-top: cornflowerblue 2px solid;
	padding-left: 3px;
	padding-bottom: 3px;
	border-left: cornflowerblue 2px solid;
	padding-top: 3px;
	border-bottom: cornflowerblue 2px solid;
}

.ugfilatablaCabecera
{
	font-size: 12px;
	color: #003399;
	font-family: Verdana;
	background-color: #ccccff;
	text-align: left;
}

.ugfilatablaCabeceraBold
{
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color: white;
	background-color:black;
	text-align:left;
}

.ugfilatablaCabeceraBlue
{
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color: darkblue;
	background-color:#E1EDFF;
	text-align:left;
}

.ugfilatablaPar
{
	font-family:Verdana;
	font-size:12px;
	border-style:none;
	background-color:#929ec7;
}

.ugfilatablaImPar
{
	font-family:Verdana;
	font-size:12px;
	border-style:none;
	background-color:#81c2a0;
}



.UnderlineBlue
{
	font-weight: bold;
	font-size: 10px;
	color: gray;
	font-style: italic;
	font-family: Verdana;
}

.UnderlineRed
{
	font-weight: bold;
	font-size: 10px;
	color: gray;
	font-style: italic;
	font-family: Verdana;
}

.TituloSinDatos
{
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	color:Red;
}
.CabeceraCampoArchivo
{
	background-color : #E1EDFF ;
	font-style: normal ; 
	font-family : Verdana ; 
	 font-size : x-small ; 
	 color : black ;
}

.captionGris
{
	font-family:Verdana;
	font-weight:bold;
	font-size:14px;
	color:Gray;
}

.fntGray
{
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	color:Gray;
}
.ComboRowAlternate
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}
.Combo
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}
.ComboFooter
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}
.ComboFrame
{
	 background-color : White;
}
.ComboHeader
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;
		
}
.ComboRow
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}

.captionBlueUnderline
{
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	color:cornflowerblue;
	text-decoration :underline;
}

.UnderlineGray
{
	font-weight: bold;
	font-size: 10px;
	color: gray;
	cursor: hand;
	font-family: Verdana;
	text-decoration: underline;
}

.fsstyentrydd
{background-color:buttonface;border-width:2px;border-style:Outset Ridge Ridge Outset;border-color:White #A0A0A0 #A0A0A0 White;font-size:1pt;}



.uwtScrollButtons
	{
	}
	
	
.uwcCombo
	{
		border:solid 1 black;
	}


.MenuPopUP
{
	margin-left:0;
	font-family:Verdana ;
	margin:0 0 0 0 ;
	font-size:10px;
	border-style:none;
	border-color: trasparent;
	border-width:0;
	background-color:silver;
	border-style:Ridge Outset Outset Ridge;
	border-color:White #A0A0A0 #A0A0A0 White ;
	
}




.igTreeEnTab
{
	font-family:Verdana;
	font-size:10px;

}



<!-- personalizable -->


.uwtDefaultTab
{
	font-family:Verdana;
	font-size:8pt;
	font-weight:normal;
	background-color:#E7EFFF;
}

#uwtDefaultTab
{
	border-color:#0056D7;
}


.titulo
{
	font-weight: bold;
	font-size: 14px;
	color: cornflowerblue;
	font-family: Verdana;
}


.cabeceraDesglose
{
	font-weight: normal;
	font-size: 10px;
	color: #333399;
	font-family: Verdana;
	height: 18px;
	background-color: #a6caf0;
	text-align: left;
}


.boton
{
	Font-Size:10px;
	width:80px;
	overflow:visible;
	padding-left:5px;
	padding-right:5px;
	border-left-color: lightsteelblue;
	border-bottom-color: lightsteelblue;
	border-top-style: solid;
	border-top-color: lightsteelblue;
	font-family: Verdana;
	border-right-style: solid;
	border-left-style: solid;
	height: 20px;
	background-color: #e1edff;
	border-right-color: lightsteelblue;
	border-bottom-style: solid;
}


.uwtTabsGeneral
{
	background-color:#88B0E0;
	border-color:#88B0E0;
	border-style:solid;
	border-width:1px;
}
#uwtDefaultTabGeneral
{
	border-color:#0056D7;
}
.uwtDefaultTabGeneral
{
	font-family:Verdana;
	font-size:8pt;
	font-weight:normal;
	background-color:#e1edff;
}

.UGRID_NIVEL1
{
	font-weight: bold;
	font-size: 8pt;
	background-image: none;
	color :White;
	font-style: normal;
	font-family: Verdana;
	background-color: #99ccff;
}



.UGRID_NIVEL2
{
	font-weight: bold;
	font-size: 8pt;
	background-image: none;
	color: black;
	font-style: normal;
	font-family: Verdana;
	background-color: #E1EDFF;
}

.UGRID_NIVEL3
{
	font-weight: bold;
	font-size: 8pt;
	background-image: none;
	color: black;
	font-style: normal;
	font-family: Verdana;
	background-color: LIGHTBLUE;
}

.UGRID_NIVEL4
{
	font-weight: bold;
	font-size: 8pt;
	background-image: none;
	color: black;
	font-style: normal;
	font-family: Verdana;
	background-color: LIGHTCYAN;
}

.UGRID_NIVEL5
{
	font-weight: bold;
	font-size: 8pt;
	background-image: none;
	color: black;
	font-style: normal;
	font-family: Verdana;
	background-color: white;
}

.UGRID_NIVEL1_CAL
{
	font-weight: bold;
	font-size: 8pt;
	font-style: normal;
	font-family: Verdana;
	background-color: #99ccff;
	color: Black;
}
.tituloDarkUnderline
{
	font-family:Verdana;
	font-size: 16px;
	font-weight:bold;
	color:darkblue;
	text-decoration :underline;
}
.Grid_Cabecera
{
	font-weight: bold;
	font-size: 18px;
	color: black;
	border-top-style: none;
	border-bottom: none;
	font-family: Verdana;
	border-right-style: none;
	border-left-style: none;
	background-color: white;
	text-align: left;
}

A .flujo
{
	font-weight: bold;
	font-size: 8pt;
	color: dimgray;
	font-family: Verdana;
	font-style:italic ;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	text-decoration: none;
	border-bottom-style: none;
	cursor:hand ;
}

.ugMenuItem
{
	border-right: white thin solid;
	border-top: white thin solid;
	font-size: 10px;
	margin: 0px;
	border-left: white thin solid;
	width: 160px;
	color: black;
	border-bottom: white thin solid;
	font-family: Verdana;
	background-color: lightblue;
}

.ugMenu
{
	margin-left:0;
	font-family:Verdana ;
	margin:0 0 0 0 ;
	font-size:10px;
	border-style:none;
	border-color:#929ec7;
	border-width:1;
}

.noConformidadCierreOK
{
	color:Green;
	font-weight:bold;
}

.noConformidadCierreNoOK
{
	color:Red;
	font-weight:bold;
}

.enlaceAdj
{
	font-family:Verdana;
	font-size:12px;
	font-style:normal ;
}

.fsstyentryddFecha
{background-color:buttonface;border-color:White #A0A0A0 #A0A0A0 White;font-size:1pt;}