@charset "UTF-8";
/**  Typography  **/
@font-face {
  font-family: "Gotham-Book";
  src: url("fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Book/Gotham-Book.woff2") format("woff2"), url("fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Gotham-Medium";
  src: url("fonts/Gotham-Medium/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Medium/Gotham-Medium.woff2") format("woff2"), url("fonts/Gotham-Medium/Gotham-Medium.woff") format("woff"), url("fonts/Gotham-Medium/Gotham-Medium.ttf") format("truetype"), url("fonts/Gotham-Medium/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-style: normal;
  font-weight: normal; }
html {
  overflow: -moz-scrollbars-vertical;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.container-portal-proveedores-2 {
  font-family: "Gotham-Book", sans-serif !important;
  font-size: 16px !important;
  line-height: 1.3 !important;
  color: #333;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .container-portal-proveedores-2 *, .container-portal-proveedores-2 *:before, .container-portal-proveedores-2 *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }
  .container-portal-proveedores-2 article,
  .container-portal-proveedores-2 aside,
  .container-portal-proveedores-2 details,
  .container-portal-proveedores-2 figcaption,
  .container-portal-proveedores-2 figure,
  .container-portal-proveedores-2 footer,
  .container-portal-proveedores-2 header,
  .container-portal-proveedores-2 main,
  .container-portal-proveedores-2 menu,
  .container-portal-proveedores-2 nav,
  .container-portal-proveedores-2 section,
  .container-portal-proveedores-2 summary {
    display: block; }
  .container-portal-proveedores-2 audio,
  .container-portal-proveedores-2 canvas,
  .container-portal-proveedores-2 progress,
  .container-portal-proveedores-2 video {
    display: inline-block; }
  .container-portal-proveedores-2 audio:not([controls]) {
    display: none;
    height: 0; }
  .container-portal-proveedores-2 progress {
    vertical-align: baseline; }
  .container-portal-proveedores-2 template,
  .container-portal-proveedores-2 [hidden] {
    display: none; }
  .container-portal-proveedores-2 a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects; }
  .container-portal-proveedores-2 a:active,
  .container-portal-proveedores-2 a:hover {
    outline-width: 0; }
  .container-portal-proveedores-2 abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted; }
  .container-portal-proveedores-2 b,
  .container-portal-proveedores-2 strong {
    font-weight: inherit; }
  .container-portal-proveedores-2 b,
  .container-portal-proveedores-2 strong {
    font-weight: bolder; }
  .container-portal-proveedores-2 dfn {
    font-style: italic; }
  .container-portal-proveedores-2 h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  .container-portal-proveedores-2 mark {
    background-color: #ff0;
    color: #000; }
  .container-portal-proveedores-2 small {
    font-size: 80%; }
  .container-portal-proveedores-2 sub,
  .container-portal-proveedores-2 sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .container-portal-proveedores-2 sub {
    bottom: -0.25em; }
  .container-portal-proveedores-2 sup {
    top: -0.5em; }
  .container-portal-proveedores-2 img {
    border-style: none; }
  .container-portal-proveedores-2 svg:not(:root) {
    overflow: hidden; }
  .container-portal-proveedores-2 hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible; }
  .container-portal-proveedores-2 button,
  .container-portal-proveedores-2 input,
  .container-portal-proveedores-2 select,
  .container-portal-proveedores-2 textarea {
    font: inherit;
    margin: 0; }
  .container-portal-proveedores-2 optgroup {
    font-weight: bold; }
  .container-portal-proveedores-2 button,
  .container-portal-proveedores-2 input {
    overflow: visible; }
  .container-portal-proveedores-2 button,
  .container-portal-proveedores-2 select {
    text-transform: none; }
  .container-portal-proveedores-2 button,
  .container-portal-proveedores-2 html [type="button"],
  .container-portal-proveedores-2 [type="reset"],
  .container-portal-proveedores-2 [type="submit"] {
    -webkit-appearance: none; }
  .container-portal-proveedores-2 button::-moz-focus-inner,
  .container-portal-proveedores-2 [type="button"]::-moz-focus-inner,
  .container-portal-proveedores-2 [type="reset"]::-moz-focus-inner,
  .container-portal-proveedores-2 [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  .container-portal-proveedores-2 button:-moz-focusring,
  .container-portal-proveedores-2 [type="button"]:-moz-focusring,
  .container-portal-proveedores-2 [type="reset"]:-moz-focusring,
  .container-portal-proveedores-2 [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }
  .container-portal-proveedores-2 fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  .container-portal-proveedores-2 legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal; }
  .container-portal-proveedores-2 textarea {
    overflow: auto; }
  .container-portal-proveedores-2 [type="checkbox"],
  .container-portal-proveedores-2 [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  .container-portal-proveedores-2 [type="number"]::-webkit-inner-spin-button,
  .container-portal-proveedores-2 [type="number"]::-webkit-outer-spin-button {
    height: auto; }
  .container-portal-proveedores-2 [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px; }
  .container-portal-proveedores-2 [type="search"]::-webkit-search-cancel-button,
  .container-portal-proveedores-2 [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  .container-portal-proveedores-2 ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54; }
  .container-portal-proveedores-2 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit; }
  .container-portal-proveedores-2 [tabindex="-1"]:focus {
    outline: none !important; }
  .container-portal-proveedores-2 *:focus, .container-portal-proveedores-2 *:active {
    /** Remove blue box Chrome **/
    outline: none; }
  .container-portal-proveedores-2 h1, .container-portal-proveedores-2 h2, .container-portal-proveedores-2 h3, .container-portal-proveedores-2 h4, .container-portal-proveedores-2 h5, .container-portal-proveedores-2 h6 {
    margin-top: 0;
    margin-bottom: .5em; }
  .container-portal-proveedores-2 p {
    font-size: 1em;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 1em; }
  .container-portal-proveedores-2 h1,
  .container-portal-proveedores-2 h2,
  .container-portal-proveedores-2 h3,
  .container-portal-proveedores-2 h4,
  .container-portal-proveedores-2 h5,
  .container-portal-proveedores-2 h6,
  .container-portal-proveedores-2 p,
  .container-portal-proveedores-2 blockquote,
  .container-portal-proveedores-2 pre,
  .container-portal-proveedores-2 a,
  .container-portal-proveedores-2 abbr,
  .container-portal-proveedores-2 address,
  .container-portal-proveedores-2 cit,
  .container-portal-proveedores-2 code,
  .container-portal-proveedores-2 del,
  .container-portal-proveedores-2 dfn,
  .container-portal-proveedores-2 em,
  .container-portal-proveedores-2 ins,
  .container-portal-proveedores-2 q,
  .container-portal-proveedores-2 samp,
  .container-portal-proveedores-2 small,
  .container-portal-proveedores-2 strong,
  .container-portal-proveedores-2 sub,
  .container-portal-proveedores-2 sup,
  .container-portal-proveedores-2 b,
  .container-portal-proveedores-2 i,
  .container-portal-proveedores-2 hr,
  .container-portal-proveedores-2 dl,
  .container-portal-proveedores-2 dt,
  .container-portal-proveedores-2 dd,
  .container-portal-proveedores-2 ol,
  .container-portal-proveedores-2 ul,
  .container-portal-proveedores-2 li,
  .container-portal-proveedores-2 fieldset,
  .container-portal-proveedores-2 legend,
  .container-portal-proveedores-2 label {
    font-family: "Gotham-Book", sans-serif; }
  .container-portal-proveedores-2 a {
    color: #333;
    text-decoration: none;
    cursor: pointer; }
    .container-portal-proveedores-2 a:visited {
      text-decoration: none; }
    .container-portal-proveedores-2 a:hover, .container-portal-proveedores-2 a:active {
      text-decoration: underline; }
    .container-portal-proveedores-2 a img {
      border: none; }
  .container-portal-proveedores-2 img {
    vertical-align: middle; }
  .container-portal-proveedores-2 [role="button"] {
    cursor: pointer; }
  .container-portal-proveedores-2 a,
  .container-portal-proveedores-2 area,
  .container-portal-proveedores-2 button,
  .container-portal-proveedores-2 [role="button"],
  .container-portal-proveedores-2 input,
  .container-portal-proveedores-2 label,
  .container-portal-proveedores-2 select,
  .container-portal-proveedores-2 summary,
  .container-portal-proveedores-2 textarea {
    -ms-touch-action: manipulation;
        touch-action: manipulation; }
  .container-portal-proveedores-2 label {
    display: inline-block;
    margin: 0;
    margin-bottom: .5em; }
  .container-portal-proveedores-2 button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; }
  .container-portal-proveedores-2 input,
  .container-portal-proveedores-2 button,
  .container-portal-proveedores-2 select,
  .container-portal-proveedores-2 textarea {
    line-height: inherit; }
  .container-portal-proveedores-2 input[type="radio"]:disabled,
  .container-portal-proveedores-2 input[type="checkbox"]:disabled {
    cursor: not-allowed; }
  .container-portal-proveedores-2 input[type="date"],
  .container-portal-proveedores-2 input[type="time"],
  .container-portal-proveedores-2 input[type="datetime-local"],
  .container-portal-proveedores-2 input[type="month"] {
    -webkit-appearance: listbox; }
  .container-portal-proveedores-2 textarea {
    resize: vertical; }
  .container-portal-proveedores-2 fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0; }
  .container-portal-proveedores-2 .text--right {
    text-align: right; }
  .container-portal-proveedores-2 header {
    width: 100%;
    height: 80px;
    position: relative;
    margin-left: auto;
    min-height: auto;
    padding: 23px 30px 23px 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 999; }
    .container-portal-proveedores-2 header:before, .container-portal-proveedores-2 header:after {
      content: " ";
      display: table; }
    .container-portal-proveedores-2 header:after {
      clear: both; }
    .container-portal-proveedores-2 header h2 {
      margin-bottom: 0;
      line-height: 1;
      position: relative;
      top: 10px; }
  .container-portal-proveedores-2 .logo {
    width: 160px;
    height: 120px;
    position: absolute;
    top: -40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }
  @media only screen and (max-width: 575px) {
    .container-portal-proveedores-2 header h2 {
      display: none; }
    .container-portal-proveedores-2 header .\(6\/12\) {
      width: 100%;
      max-width: 100%; }
    .container-portal-proveedores-2 .logo {
      left: 0;
      right: 0;
      margin: auto; } }
  .container-portal-proveedores-2 .compound {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70px;
    overflow: hidden; }
    .container-portal-proveedores-2 .compound h2 {
      font-family: 'Gotham-Medium', sans-serif; }
    .container-portal-proveedores-2 .compound--fixed {
      max-width: 1351px;
      margin-left: auto;
      margin-right: auto; }
    .container-portal-proveedores-2 .compound_layer-text {
      overflow: auto; }
      .container-portal-proveedores-2 .compound_layer-text.-left {
        width: 100%;
        left: 0; }
        @media only screen and (max-width: 1024px) {
          .container-portal-proveedores-2 .compound_layer-text.-left {
            margin-top: 120px; } }
        .container-portal-proveedores-2 .compound_layer-text.-left .content {
          width: 50%;
          position: absolute;
          top: 40px;
          padding: 30px 90px 0 50px;
          font-weight: 300;
          z-index: 99; }
      .container-portal-proveedores-2 .compound_layer-text.-right {
        width: 50%;
        left: 50%;
        z-index: 9;
        background-position: -100000px -100000px;
        background-repeat: no-repeat; }
        .container-portal-proveedores-2 .compound_layer-text.-right .content {
          width: 100%;
          position: absolute;
          top: 40px;
          padding-top: 0;
          padding-bottom: 0;
          font-weight: 300; }
          .container-portal-proveedores-2 .compound_layer-text.-right .content_text {
            overflow-x: hidden; }
            .container-portal-proveedores-2 .compound_layer-text.-right .content_text ul {
              line-height: 1.8; }
            .container-portal-proveedores-2 .compound_layer-text.-right .content_text a {
              color: #b40000;
              font-family: "Gotham-medium", sans-serif; }
            .container-portal-proveedores-2 .compound_layer-text.-right .content_text .push {
              padding-left: 35%;
              padding-right: 5%; }
          .container-portal-proveedores-2 .compound_layer-text.-right .content .img.full-width {
            height: 300px;
            margin-left: -20%;
            margin-right: -10%;
            margin-top: 20px;
            margin-bottom: 30px;
            background-repeat: no-repeat;
            background-position: center 70%;
            background-size: cover; }
  .container-portal-proveedores-2 [class*=compound_] {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0; }
  @media only screen and (max-width: 1024px) {
    .container-portal-proveedores-2 .compound {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
      .container-portal-proveedores-2 .compound_layer-login {
        width: 100%; }
      .container-portal-proveedores-2 .compound_layer-text {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin: 0;
        padding-bottom: 30px; }
        .container-portal-proveedores-2 .compound_layer-text.-left .content {
          padding: 100px 50px 0 50px; }
        .container-portal-proveedores-2 .compound_layer-text.-right {
          width: 100%;
          left: 0;
          margin: 0;
          padding-top: 30px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center; }
          .container-portal-proveedores-2 .compound_layer-text.-right .content_text .push {
            padding-left: 50px;
            padding-right: 50px; }
        .container-portal-proveedores-2 .compound_layer-text.-left .content, .container-portal-proveedores-2 .compound_layer-text.-right .content {
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto; }
          .container-portal-proveedores-2 .compound_layer-text.-left .content_text, .container-portal-proveedores-2 .compound_layer-text.-right .content_text {
            padding: 0; }
          .container-portal-proveedores-2 .compound_layer-text.-left .content_footer, .container-portal-proveedores-2 .compound_layer-text.-right .content_footer {
            display: table;
            padding-bottom: 0; }
    .container-portal-proveedores-2 [class*=compound_] {
      height: 100%;
      position: relative;
      top: initial;
      bottom: initial; }
    .container-portal-proveedores-2 .check label:hover:after {
      opacity: 0; }
    .container-portal-proveedores-2 .login {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: 50px auto 20px auto; }
    .container-portal-proveedores-2 .page-footer {
      display: none; } }
  @media only screen and (max-width: 575px) {
    .container-portal-proveedores-2 .compound_layer-text.-right {
      padding-top: 0; }
    .container-portal-proveedores-2 .compound_layer-text.-left .content {
      padding: 0 20px !important; }
    .container-portal-proveedores-2 .compound_layer-text .content {
      padding: 0 !important; }
      .container-portal-proveedores-2 .compound_layer-text .content .img.full-width {
        height: 200px !important;
        margin-left: -20px !important;
        margin-right: -20px !important; }
      .container-portal-proveedores-2 .compound_layer-text .content_text .push {
        padding: 0 20px !important; } }
  .container-portal-proveedores-2 .align {
    vertical-align: middle; }
    .container-portal-proveedores-2 .align--bottom {
      vertical-align: bottom; }
  .container-portal-proveedores-2 .cf:before, .container-portal-proveedores-2 .cf:after {
    content: " ";
    display: table; }
  .container-portal-proveedores-2 .cf:after {
    clear: both; }
  .container-portal-proveedores-2 .color.-main {
    color: #333; }
  .container-portal-proveedores-2 .color.-red {
    color: #b40000; }
  .container-portal-proveedores-2 .fz.-main {
    font-family: "Gotham-Book", sans-serif; }
  .container-portal-proveedores-2 .fz.-bold {
    font-family: "Gotham-Medium", sans-serif; }
  .container-portal-proveedores-2 .fz--10 {
    font-size: 10px !important; }
  .container-portal-proveedores-2 .fz--12 {
    font-size: 12px !important; }
  .container-portal-proveedores-2 .fz--14 {
    font-size: 14px !important; }
  .container-portal-proveedores-2 .fz--16 {
    font-size: 16px !important; }
  .container-portal-proveedores-2 .fz--18 {
    font-size: 18px !important; }
  .container-portal-proveedores-2 .grid {
    position: relative;
    margin-right: auto;
    margin-left: auto; }
    .container-portal-proveedores-2 .grid:before, .container-portal-proveedores-2 .grid:after {
      content: " ";
      display: table; }
    .container-portal-proveedores-2 .grid:after {
      clear: both; }
  .container-portal-proveedores-2 .\(6\/12\) {
    max-width: 50%; }
  .container-portal-proveedores-2 .\(7\/12\) {
    max-width: 58.3333333333%; }
  .container-portal-proveedores-2 .\(5\/12\) {
    max-width: 41.6666666667%; }
  .container-portal-proveedores-2 .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    float: left; }
    .container-portal-proveedores-2 .col--left {
      max-width: 18%; }
    .container-portal-proveedores-2 .col--right {
      max-width: 82%; }
  .container-portal-proveedores-2 main {
    width: 100%;
    height: 100%; }
  .container-portal-proveedores-2 header {
    margin: 0; }
  .container-portal-proveedores-2 .nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 83px;
    left: 0;
    font-size: 13px;
    padding: 5px 0 3px 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.1); }
    .container-portal-proveedores-2 .nav_item {
      text-transform: uppercase;
      font-family: 'Gotham-Medium', sans-serif; }
      .container-portal-proveedores-2 .nav_item.active {
        color: #b40000; }
  .container-portal-proveedores-2 .language > .active {
    color: #b40000; }
  .container-portal-proveedores-2 .language > * {
    font-family: 'Gotham-Medium', sans-serif; }
  .container-portal-proveedores-2 .images {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .container-portal-proveedores-2 .images .image {
      width: 100px;
      height: 100px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain; }
      .container-portal-proveedores-2 .images .image--1 {
        background-image: url(img/politica-compras.png); }
      .container-portal-proveedores-2 .images .image--2 {
        background-image: url(img/ser-proveedor.png); }
      .container-portal-proveedores-2 .images .image--3 {
        background-image: url(img/que-compramos.png); }
      .container-portal-proveedores-2 .images .image--4 {
        background-image: url(img/compra-responsable.png); }
  .container-portal-proveedores-2 .shape-container {
    width: 67%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0; }
    .container-portal-proveedores-2 .shape-container.-tablet {
      display: none; }
    .container-portal-proveedores-2 .shape-container .shape {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 70px;
      background-image: url("img/shape.svg");
      background-position: -50px -50px;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 9; }
    @media only screen and (max-width: 1024px) {
      .container-portal-proveedores-2 .shape-container {
        display: none; }
        .container-portal-proveedores-2 .shape-container.-tablet {
          width: 100%;
          display: block; }
          .container-portal-proveedores-2 .shape-container.-tablet .shape {
            width: 100%;
            height: 100%;
            top: 32%;
            background-image: url("img/shape_tablet.svg");
            background-position: 0 0; } }
    @media only screen and (max-width: 768px) {
      .container-portal-proveedores-2 .shape-container.-tablet .shape {
        top: 30%; } }
    @media only screen and (max-width: 667px) {
      .container-portal-proveedores-2 .shape-container.-tablet .shape {
        top: 25%; } }
    @media only screen and (max-width: 500px) {
      .container-portal-proveedores-2 .shape-container.-tablet .shape {
        top: 23%; } }
  .container-portal-proveedores-2 .content h1, .container-portal-proveedores-2 .content h2 {
    font-size: 18px; }
  .container-portal-proveedores-2 .content h1, .container-portal-proveedores-2 .content h2, .container-portal-proveedores-2 .content h3 {
    font-family: "Gotham-Medium", sans-serif;
    font-weight: normal;
    color: #b40000; }
  .container-portal-proveedores-2 .content ul {
    list-style: none;
    margin: 1em 0;
    padding: 0; }
  .container-portal-proveedores-2 .content li > strong {
    color: #b40000; }
  .container-portal-proveedores-2 .content li::before {
    content: "• ";
    color: #b40000; }
  .container-portal-proveedores-2 .content_text {
    padding-top: 70px; }
    .container-portal-proveedores-2 .content_text strong {
      font-family: "Gotham-Medium", sans-serif; }
  .container-portal-proveedores-2 .content_soporte {
    margin-top: 50px; }
    .container-portal-proveedores-2 .content_soporte h1, .container-portal-proveedores-2 .content_soporte h2, .container-portal-proveedores-2 .content_soporte h3, .container-portal-proveedores-2 .content_soporte h4, .container-portal-proveedores-2 .content_soporte h5, .container-portal-proveedores-2 .content_soporte h6 {
      color: #b40000;
      margin-bottom: 10px;
      font-size: 14px;
      font-family: "Gotham-Medium", sans-serif; }
    .container-portal-proveedores-2 .content_soporte span {
      display: block;
      font-weight: 400;
      font-size: 14px; }
    .container-portal-proveedores-2 .content_soporte--proveedores {
      width: 325px; }
    .container-portal-proveedores-2 .content_soporte .container, .container-portal-proveedores-2 .content_soporte .container a {
      font-family: "Gotham-Medium", sans-serif; }
  .container-portal-proveedores-2 .content_footer {
    width: 100%;
    min-height: auto;
    position: relative;
    padding-bottom: 50px;
    margin-left: auto;
    margin-top: 50px;
    display: table; }
    .container-portal-proveedores-2 .content_footer:before, .container-portal-proveedores-2 .content_footer:after {
      content: " ";
      display: table; }
    .container-portal-proveedores-2 .content_footer:after {
      clear: both; }
    .container-portal-proveedores-2 .content_footer .col {
      width: auto;
      display: table-cell;
      float: none; }
    .container-portal-proveedores-2 .content_footer .links {
      display: block;
      font-size: 0.8rem;
      font-weight: 200;
      padding-bottom: 1px; }
      .container-portal-proveedores-2 .content_footer .links:last-child {
        padding-bottom: 0; }
    .container-portal-proveedores-2 .content_footer img {
      width: 100%;
      max-width: 150px; }
  .container-portal-proveedores-2 .content .hr {
    width: 100%;
    height: 1px;
    background-color: #b40000;
    margin-top: 10px;
    margin-bottom: 10px; }
  .container-portal-proveedores-2 .login {
    width: 370px;
    height: 530px;
    left: 20%;
    top: 140px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; }
    .container-portal-proveedores-2 .login .forgotten {
      font-size: 13px;
      font-family: 'Gotham-Medium', sans-serif; }
    .container-portal-proveedores-2 .login .registrate {
      color: #b40000;
      font-size: 12px;
      font-family: 'Gotham-Medium', sans-serif;
      line-height: 20px; }
      .container-portal-proveedores-2 .login .registrate:hover {
        text-decoration: none; }
    .container-portal-proveedores-2 .login .cuenta {
      color: #666666;
      text-align: right;
      font-size: 12px; }
    .container-portal-proveedores-2 .login_container {
      width: 100%;
      position: relative; }
      .container-portal-proveedores-2 .login_container .hr {
        width: 100%;
        height: 2px;
        background-color: #E6E6E6; }
    .container-portal-proveedores-2 .login_header {
      padding: 20px;
      background-color: #F3F3F3;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-family: 'Gotham-Medium', sans-serif; }
    .container-portal-proveedores-2 .login_body {
      padding: 20px; }
      .container-portal-proveedores-2 .login_body > span {
        font-size: 12px; }
    .container-portal-proveedores-2 .login--proveedores .login_container .hr {
      background-color: #f4f4f4; }
    .container-portal-proveedores-2 .login--proveedores .login_header {
      background-color: #f4f4f4; }
      .container-portal-proveedores-2 .login--proveedores .login_header > div {
        width: 80%;
        display: inline-block;
        font-size: 12px;
        text-align: right;
        color: #9e9d9d; }
        .container-portal-proveedores-2 .login--proveedores .login_header > div > a {
          color: #b40000;
          padding-left: 5px; }
    @media only screen and (max-width: 1024px) {
      .container-portal-proveedores-2 .login {
        left: unset;
        top: unset;
        position: relative; } }
  .container-portal-proveedores-2 .input-group {
    width: 100%;
    font-size: 11px;
    margin-top: 35px; }
    .container-portal-proveedores-2 .input-group label, .container-portal-proveedores-2 .input-group a {
      display: block; }
    .container-portal-proveedores-2 .input-group label > span {
      position: relative;
      left: 4px;
      bottom: 3px;
      font-size: 13px;
      color: #b40000; }
    .container-portal-proveedores-2 .input-group a {
      color: #b40000; }
      .container-portal-proveedores-2 .input-group a:hover {
        text-decoration: none; }
  .container-portal-proveedores-2 .label {
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 10px;
    font-size: 12px; }
  .container-portal-proveedores-2 .check {
    width: 18px;
    height: 18px;
    position: relative;
    margin-top: 12px;
    display: inline-block; }
    .container-portal-proveedores-2 .check label {
      width: 18px;
      height: 18px;
      cursor: pointer;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background: #717574;
      border-radius: 4px; }
      .container-portal-proveedores-2 .check label:after {
        content: '';
        width: 10px;
        height: 8px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid #fcfff4;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .container-portal-proveedores-2 .check label:hover::after {
        opacity: 0.3; }
    .container-portal-proveedores-2 .check input[type=checkbox] {
      width: 20px;
      height: 20px;
      visibility: hidden;
      -webkit-appearance: none; }
      .container-portal-proveedores-2 .check input[type=checkbox]:checked + label:after {
        opacity: 1; }
  .container-portal-proveedores-2 .input--login.input {
    border: 2px solid #F9F9F9;
    border-radius: 4px;
    -webkit-appearance: none; }
    .container-portal-proveedores-2 .input--login.input[type=text], .container-portal-proveedores-2 .input--login.input[type="password"], .container-portal-proveedores-2 .input--login.input[type="email"] {
      width: 100%;
      height: 40px;
      padding-left: 15px;
      color: #babdc7;
      font-size: 14px; }
    .container-portal-proveedores-2 .input--login.input[type=submit] {
      width: 100%;
      margin-top: 10px;
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      background-color: #b40000;
      -webkit-appearance: none;
      border-style: none;
      border: none;
      color: #e6e6e6;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      cursor: pointer; }
  @media only screen and (max-width: 575px) {
    .container-portal-proveedores-2 .login {
      width: 90%;
      max-width: 370px;
      margin: 80px auto 20px auto; } }
  .container-portal-proveedores-2 .page-footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    display: none; }
    .container-portal-proveedores-2 .page-footer > ul {
      width: 100%;
      text-align: right;
      display: inline-block;
      padding-right: 7%; }
      .container-portal-proveedores-2 .page-footer > ul > li {
        height: 40px;
        display: inline-block;
        line-height: 40px;
        font-size: 0.8rem;
        font-weight: 200;
        padding-right: 10px; }
        .container-portal-proveedores-2 .page-footer > ul > li:last-child {
          padding-left: 30px; }
    .container-portal-proveedores-2 .page-footer .fullstep-pro:hover {
      text-decoration: none; }
    .container-portal-proveedores-2 .page-footer .fullstep-pro > span {
      color: #b40000; }
    @media (max-height: 750px) {
      .container-portal-proveedores-2 .page-footer {
        display: block; } }
