@charset "UTF-8";
/**  Typography  **/
@font-face {
  font-family: "Gotham-Book";
  src: url("fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Book/Gotham-Book.woff2") format("woff2"), url("fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Gotham-Medium";
  src: url("fonts/Gotham-Medium/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Medium/Gotham-Medium.woff2") format("woff2"), url("fonts/Gotham-Medium/Gotham-Medium.woff") format("woff"), url("fonts/Gotham-Medium/Gotham-Medium.ttf") format("truetype"), url("fonts/Gotham-Medium/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-style: normal;
  font-weight: normal; }
html {
  overflow: -moz-scrollbars-vertical;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.container-portal-proveedores {
  font-family: "Gotham-Book", sans-serif !important;
  font-size: 16px !important;
  line-height: 1.3 !important;
  color: #333;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .container-portal-proveedores *, .container-portal-proveedores *:before, .container-portal-proveedores *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }
  .container-portal-proveedores article,
  .container-portal-proveedores aside,
  .container-portal-proveedores details,
  .container-portal-proveedores figcaption,
  .container-portal-proveedores figure,
  .container-portal-proveedores footer,
  .container-portal-proveedores header,
  .container-portal-proveedores main,
  .container-portal-proveedores menu,
  .container-portal-proveedores nav,
  .container-portal-proveedores section,
  .container-portal-proveedores summary {
    display: block; }
  .container-portal-proveedores audio,
  .container-portal-proveedores canvas,
  .container-portal-proveedores progress,
  .container-portal-proveedores video {
    display: inline-block; }
  .container-portal-proveedores audio:not([controls]) {
    display: none;
    height: 0; }
  .container-portal-proveedores progress {
    vertical-align: baseline; }
  .container-portal-proveedores template,
  .container-portal-proveedores [hidden] {
    display: none; }
  .container-portal-proveedores a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects; }
  .container-portal-proveedores a:active,
  .container-portal-proveedores a:hover {
    outline-width: 0; }
  .container-portal-proveedores abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted; }
  .container-portal-proveedores b,
  .container-portal-proveedores strong {
    font-weight: inherit; }
  .container-portal-proveedores b,
  .container-portal-proveedores strong {
    font-weight: bolder; }
  .container-portal-proveedores dfn {
    font-style: italic; }
  .container-portal-proveedores h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  .container-portal-proveedores mark {
    background-color: #ff0;
    color: #000; }
  .container-portal-proveedores small {
    font-size: 80%; }
  .container-portal-proveedores sub,
  .container-portal-proveedores sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .container-portal-proveedores sub {
    bottom: -0.25em; }
  .container-portal-proveedores sup {
    top: -0.5em; }
  .container-portal-proveedores img {
    border-style: none; }
  .container-portal-proveedores svg:not(:root) {
    overflow: hidden; }
  .container-portal-proveedores hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible; }
  .container-portal-proveedores button,
  .container-portal-proveedores input,
  .container-portal-proveedores select,
  .container-portal-proveedores textarea {
    font: inherit;
    margin: 0; }
  .container-portal-proveedores optgroup {
    font-weight: bold; }
  .container-portal-proveedores button,
  .container-portal-proveedores input {
    overflow: visible; }
  .container-portal-proveedores button,
  .container-portal-proveedores select {
    text-transform: none; }
  .container-portal-proveedores button,
  .container-portal-proveedores html [type="button"],
  .container-portal-proveedores [type="reset"],
  .container-portal-proveedores [type="submit"] {
    -webkit-appearance: none; }
  .container-portal-proveedores button::-moz-focus-inner,
  .container-portal-proveedores [type="button"]::-moz-focus-inner,
  .container-portal-proveedores [type="reset"]::-moz-focus-inner,
  .container-portal-proveedores [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  .container-portal-proveedores button:-moz-focusring,
  .container-portal-proveedores [type="button"]:-moz-focusring,
  .container-portal-proveedores [type="reset"]:-moz-focusring,
  .container-portal-proveedores [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }
  .container-portal-proveedores fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  .container-portal-proveedores legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal; }
  .container-portal-proveedores textarea {
    overflow: auto; }
  .container-portal-proveedores [type="checkbox"],
  .container-portal-proveedores [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  .container-portal-proveedores [type="number"]::-webkit-inner-spin-button,
  .container-portal-proveedores [type="number"]::-webkit-outer-spin-button {
    height: auto; }
  .container-portal-proveedores [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px; }
  .container-portal-proveedores [type="search"]::-webkit-search-cancel-button,
  .container-portal-proveedores [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  .container-portal-proveedores ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54; }
  .container-portal-proveedores ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit; }
  .container-portal-proveedores [tabindex="-1"]:focus {
    outline: none !important; }
  .container-portal-proveedores *:focus, .container-portal-proveedores *:active {
    /** Remove blue box Chrome **/
    outline: none; }
  .container-portal-proveedores h1, .container-portal-proveedores h2, .container-portal-proveedores h3, .container-portal-proveedores h4, .container-portal-proveedores h5, .container-portal-proveedores h6 {
    margin-top: 0;
    margin-bottom: .5em; }
  .container-portal-proveedores p {
    font-size: 1em;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 1em; }
  .container-portal-proveedores h1,
  .container-portal-proveedores h2,
  .container-portal-proveedores h3,
  .container-portal-proveedores h4,
  .container-portal-proveedores h5,
  .container-portal-proveedores h6,
  .container-portal-proveedores p,
  .container-portal-proveedores blockquote,
  .container-portal-proveedores pre,
  .container-portal-proveedores a,
  .container-portal-proveedores abbr,
  .container-portal-proveedores address,
  .container-portal-proveedores cit,
  .container-portal-proveedores code,
  .container-portal-proveedores del,
  .container-portal-proveedores dfn,
  .container-portal-proveedores em,
  .container-portal-proveedores ins,
  .container-portal-proveedores q,
  .container-portal-proveedores samp,
  .container-portal-proveedores small,
  .container-portal-proveedores strong,
  .container-portal-proveedores sub,
  .container-portal-proveedores sup,
  .container-portal-proveedores b,
  .container-portal-proveedores i,
  .container-portal-proveedores hr,
  .container-portal-proveedores dl,
  .container-portal-proveedores dt,
  .container-portal-proveedores dd,
  .container-portal-proveedores ol,
  .container-portal-proveedores ul,
  .container-portal-proveedores li,
  .container-portal-proveedores fieldset,
  .container-portal-proveedores legend,
  .container-portal-proveedores label {
    font-family: "Gotham-Book", sans-serif; }
  .container-portal-proveedores a {
    color: #333;
    text-decoration: none;
    cursor: pointer; }
    .container-portal-proveedores a:visited {
      text-decoration: none; }
    .container-portal-proveedores a:hover, .container-portal-proveedores a:active {
      text-decoration: underline; }
    .container-portal-proveedores a img {
      border: none; }
  .container-portal-proveedores img {
    vertical-align: middle; }
  .container-portal-proveedores [role="button"] {
    cursor: pointer; }
  .container-portal-proveedores a,
  .container-portal-proveedores area,
  .container-portal-proveedores button,
  .container-portal-proveedores [role="button"],
  .container-portal-proveedores input,
  .container-portal-proveedores label,
  .container-portal-proveedores select,
  .container-portal-proveedores summary,
  .container-portal-proveedores textarea {
    -ms-touch-action: manipulation;
        touch-action: manipulation; }
  .container-portal-proveedores label {
    display: inline-block;
    margin: 0;
    margin-bottom: .5em; }
  .container-portal-proveedores button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; }
  .container-portal-proveedores input,
  .container-portal-proveedores button,
  .container-portal-proveedores select,
  .container-portal-proveedores textarea {
    line-height: inherit; }
  .container-portal-proveedores input[type="radio"]:disabled,
  .container-portal-proveedores input[type="checkbox"]:disabled {
    cursor: not-allowed; }
  .container-portal-proveedores input[type="date"],
  .container-portal-proveedores input[type="time"],
  .container-portal-proveedores input[type="datetime-local"],
  .container-portal-proveedores input[type="month"] {
    -webkit-appearance: listbox; }
  .container-portal-proveedores textarea {
    resize: vertical; }
  .container-portal-proveedores fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0; }
  .container-portal-proveedores .text--right {
    text-align: right; }
  .container-portal-proveedores .logo {
    width: 160px;
    height: 120px;
    position: absolute;
    top: -40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }
  .container-portal-proveedores .compound {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70px;
    overflow: hidden; }
    .container-portal-proveedores .compound h2 {
      font-family: 'Gotham-Medium', sans-serif; }
    .container-portal-proveedores .compound--fixed {
      max-width: 1351px;
      margin-left: auto;
      margin-right: auto; }
    .container-portal-proveedores .compound_layer-text {
      overflow: auto; }
      .container-portal-proveedores .compound_layer-text.-left {
        width: 100%;
        left: 0; }
        .container-portal-proveedores .compound_layer-text.-left .content {
          width: 50%;
          position: absolute;
          top: 40px;
          padding: 0 50px;
          font-weight: 300;
          z-index: 99; }
      .container-portal-proveedores .compound_layer-text.-right {
        width: 50%;
        left: 50%; }
        .container-portal-proveedores .compound_layer-text.-right .content {
          width: 100%;
          position: absolute;
          top: 40px;
          padding-top: 0;
          padding-bottom: 0;
          font-weight: 300; }
          .container-portal-proveedores .compound_layer-text.-right .content_text {
            overflow-x: hidden; }
            .container-portal-proveedores .compound_layer-text.-right .content_text ul {
              line-height: 1.8; }
            .container-portal-proveedores .compound_layer-text.-right .content_text a {
              color: #b40000;
              font-family: "Gotham-medium", sans-serif; }
            .container-portal-proveedores .compound_layer-text.-right .content_text .push {
              padding-left: 35%;
              padding-right: 5%; }
          .container-portal-proveedores .compound_layer-text.-right .content .img.full-width {
            height: 300px;
            margin-left: -20%;
            margin-right: -10%;
            margin-top: 20px;
            margin-bottom: 30px;
            background-repeat: no-repeat;
            background-position: center 70%;
            background-size: cover; }
  .container-portal-proveedores [class*=compound_] {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0; }
  @media only screen and (max-width: 1024px) {
    .container-portal-proveedores .compound {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: initial; }
      .container-portal-proveedores .compound_layer-login {
        width: 100%; }
      .container-portal-proveedores .compound_layer-text {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin: 0;
        padding-bottom: 30px; }
        .container-portal-proveedores .compound_layer-text.-left {
          -webkit-box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.2);
                  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.2); }
        .container-portal-proveedores .compound_layer-text.-right {
          width: 100%;
          left: 0;
          margin: 0;
          padding-top: 30px; }
          .container-portal-proveedores .compound_layer-text.-right .content_text .push {
            padding-left: 50px;
            padding-right: 50px; }
        .container-portal-proveedores .compound_layer-text.-left .content, .container-portal-proveedores .compound_layer-text.-right .content {
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto; }
          .container-portal-proveedores .compound_layer-text.-left .content_text, .container-portal-proveedores .compound_layer-text.-right .content_text {
            padding: 0; }
          .container-portal-proveedores .compound_layer-text.-left .content_footer, .container-portal-proveedores .compound_layer-text.-right .content_footer {
            display: table;
            padding-bottom: 0; }
    .container-portal-proveedores [class*=compound_] {
      height: 100%;
      position: relative;
      top: initial;
      bottom: initial; }
    .container-portal-proveedores .check label:hover:after {
      opacity: 0; }
    .container-portal-proveedores .login {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: 50px auto 20px auto; }
    .container-portal-proveedores .page-footer {
      display: none; } }
  @media only screen and (max-width: 575px) {
    .container-portal-proveedores .compound_layer-text.-left .content {
      padding: 0 20px !important; }
    .container-portal-proveedores .compound_layer-text .content {
      padding: 0 !important; }
      .container-portal-proveedores .compound_layer-text .content .img.full-width {
        height: 200px !important;
        margin-left: -20px !important;
        margin-right: -20px !important; }
      .container-portal-proveedores .compound_layer-text .content_text .push {
        padding: 0 20px !important; } }
  .container-portal-proveedores .align {
    vertical-align: middle; }
    .container-portal-proveedores .align--bottom {
      vertical-align: bottom; }
  .container-portal-proveedores .cf:before, .container-portal-proveedores .cf:after {
    content: " ";
    display: table; }
  .container-portal-proveedores .cf:after {
    clear: both; }
  .container-portal-proveedores .color.-main {
    color: #333; }
  .container-portal-proveedores .color.-red {
    color: #b40000; }
  .container-portal-proveedores .fz.-main {
    font-family: "Gotham-Book", sans-serif; }
  .container-portal-proveedores .fz.-bold {
    font-family: "Gotham-Medium", sans-serif; }
  .container-portal-proveedores .fz--10 {
    font-size: 10px !important; }
  .container-portal-proveedores .fz--12 {
    font-size: 12px !important; }
  .container-portal-proveedores .fz--14 {
    font-size: 14px !important; }
  .container-portal-proveedores .fz--16 {
    font-size: 16px !important; }
  .container-portal-proveedores .fz--18 {
    font-size: 18px !important; }
  .container-portal-proveedores .grid {
    position: relative;
    margin-right: auto;
    margin-left: auto; }
    .container-portal-proveedores .grid:before, .container-portal-proveedores .grid:after {
      content: " ";
      display: table; }
    .container-portal-proveedores .grid:after {
      clear: both; }
  .container-portal-proveedores .\(6\/12\) {
    max-width: 50%; }
  .container-portal-proveedores .\(7\/12\) {
    max-width: 58.3333333333%; }
  .container-portal-proveedores .\(5\/12\) {
    max-width: 41.6666666667%; }
  .container-portal-proveedores .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    float: left; }
  .container-portal-proveedores main {
    width: 100%;
    height: 100%; }
  .container-portal-proveedores .shape-container {
    width: 67%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0; }
    @media only screen and (max-width: 1024px) {
      .container-portal-proveedores .shape-container {
        display: none; } }
  .container-portal-proveedores .shape {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    background-image: url("img/shape-inv-shadow.svg");
    background-position: -50px -50px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9; }
  .container-portal-proveedores .content h1, .container-portal-proveedores .content h2 {
    font-size: 18px; }
  .container-portal-proveedores .content h1, .container-portal-proveedores .content h2, .container-portal-proveedores .content h3 {
    font-family: "Gotham-Medium", sans-serif;
    font-weight: normal;
    color: #b40000; }
  .container-portal-proveedores .content ul {
    list-style: none;
    margin: 1em 0;
    padding: 0; }
  .container-portal-proveedores .content li > strong {
    color: #b40000; }
  .container-portal-proveedores .content li::before {
    content: "• ";
    color: #b40000; }
  .container-portal-proveedores .content_text {
    padding-top: 70px; }
    .container-portal-proveedores .content_text strong {
      font-family: "Gotham-Medium", sans-serif; }
  .container-portal-proveedores .content_footer {
    width: 100%;
    min-height: auto;
    position: relative;
    padding-bottom: 50px;
    margin-left: auto;
    margin-top: 50px;
    display: table; }
    .container-portal-proveedores .content_footer:before, .container-portal-proveedores .content_footer:after {
      content: " ";
      display: table; }
    .container-portal-proveedores .content_footer:after {
      clear: both; }
    .container-portal-proveedores .content_footer .col {
      width: auto;
      display: table-cell;
      float: none; }
    .container-portal-proveedores .content_footer .links {
      display: block;
      font-size: 0.8rem;
      font-weight: 200;
      padding-bottom: 1px; }
      .container-portal-proveedores .content_footer .links:last-child {
        padding-bottom: 0; }
    .container-portal-proveedores .content_footer img {
      width: 100%;
      max-width: 150px; }
  .container-portal-proveedores .steps {
    width: 100%; }
    .container-portal-proveedores .steps .step {
      width: 100%;
      position: relative;
      margin-bottom: 1em; }
      .container-portal-proveedores .steps .step_number {
        width: 20px;
        position: relative;
        display: inline-block;
        font-size: 1.5em;
        color: #b40000;
        top: -4px;
        vertical-align: top;
        text-align: center; }
      .container-portal-proveedores .steps .step_content {
        width: 90%;
        display: inline-block;
        vertical-align: top; }
        .container-portal-proveedores .steps .step_content::before {
          content: '';
          width: 1px;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          border-left: 1px solid #b40000; }
      .container-portal-proveedores .steps .step_description {
        padding-left: 15px; }
        .container-portal-proveedores .steps .step_description span {
          display: block;
          color: #b40000;
          font-weight: bold; }
  .container-portal-proveedores .page-footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    display: none; }
    .container-portal-proveedores .page-footer > ul {
      width: 100%;
      text-align: right;
      display: inline-block;
      padding-right: 7%; }
      .container-portal-proveedores .page-footer > ul > li {
        height: 40px;
        display: inline-block;
        line-height: 40px;
        font-size: 0.8rem;
        font-weight: 200;
        padding-right: 10px; }
        .container-portal-proveedores .page-footer > ul > li:last-child {
          padding-left: 30px; }
    .container-portal-proveedores .page-footer .fullstep-pro:hover {
      text-decoration: none; }
    .container-portal-proveedores .page-footer .fullstep-pro > span {
      color: #b40000; }
    @media (max-height: 750px) {
      .container-portal-proveedores .page-footer {
        display: block; } }
