﻿<style type="text/css">

.titulo1 {  font-family:  Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #f3cd2a; text-decoration: none}
.subtitulo {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #333333; text-decoration: none}
.textos {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #333333; text-decoration: none}
.registro {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #333333; text-decoration: none}
.subtit {  font-family: Arial, Helvetica, sans-serif; font-size: 8px; font-style: normal; font-weight: normal; color: #333333; text-decoration: none}
.formulario {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bolf; color: #000000; text-decoration: none}
.solutions {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: italic; font-weight: normal; color: #FF7E00; text-decoration: none}
a:link {
	text-decoration:none;
	color:#649600;
	text-decoration:underline;
	font-weight: normal;
}
a:visited {
	text-decoration:none;
	color:#649600;
	font-weight: normal;
}
a:active {
	text-decoration:none;
	color:#649600;
	font-weight: normal;
}
a:hover {
	color: #649600;
	font-weight: normal;
	text-decoration: underline;
}
.titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: 324603;
}
.TextoClaro
{
	color:#ffffff!important;
}
.Negrita
{
	font-weight:bold;
}
.FondoModal
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
</style>
