﻿.tdblanco
{
    BACKGROUND-COLOR: #ffffff
}
.tdrojo
{
    COLOR: #000000;
    BACKGROUND-COLOR: #FFFFFF}
.tdrojover11
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffedc1;
    TEXT-DECORATION: none
}
.tdnegrover11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #05143f;
    TEXT-DECORATION: none
}
.tdgrisver10
{
    FONT-SIZE: 10px;
    COLOR: #05143f;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc;
    TEXT-DECORATION: none
}
.tdmarronver11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #05143f;
    TEXT-DECORATION: none
}
.tdmarron2ver10
{
    FONT-SIZE: 10px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #D5D5D5;
    TEXT-DECORATION: none
}
.tdmarron2ver9
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f0e6d6;
    TEXT-DECORATION: none
}
.ver9negro
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver10gris
{
    FONT-SIZE: 10px;
    COLOR: #05143f;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-DECORATION: none
}
.ver10negro
{
    FONT-SIZE: 10px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver10rojo
{
    FONT-SIZE: 10px;
    COLOR: #006185;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver11negro
{
    FONT-SIZE: 11px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver11blanco
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver14blanco
{
    FONT-SIZE: 14px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver14rojo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #636463;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.enlacever11rojo
{
    FONT-SIZE: 11px;
    COLOR: #f60036;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.enlacever11rojo:hover
{
    FONT-SIZE: 11px;
    COLOR: #f60036;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.linea
{
    BACKGROUND-COLOR: #FFFFFF
}
.margen1
{
    MARGIN: 3px 5px
}
.margen2
{
    MARGIN: 3px 1px
}
.margen3
{
    MARGIN: 3px 1px 3px 15px
}
.cabecera
{
	height : 25px;
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	BACKGROUND-COLOR: #2a6aa8;
	TEXT-DECORATION: none;
	background-position: center;
	text-align: center;
	vertical-align: middle;
}
.par
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e0e0e0;
    TEXT-DECORATION: none
}
.impar
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    BACKGROUND-COLOR: #F4F3F3;
    TEXT-DECORATION: none
}
.logo
{
	height : 120px;
	width: 585px;
	background-image: url(../images/logo.jpg);
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
	text-align : right;
	background-repeat: no-repeat;
	}
.titulo
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #d71a21;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	text-align: left;
}
.textos
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.lineahoriz
{
    background-image: url(../img/puntitos.gif)
}
.lineavert
{
    background-image: url(../img/dots_vert.gif)
}
.fondo
{
    background-image: url(../img/fondo.gif)
}
