<%@ Page Language="vb" AutoEventWireup="false" Codebehind="extFrames2.aspx.vb" Inherits="Fullstep.PMPortalWeb.extNoConformidadCerradasFrames" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head id="Head1" runat="server">
		<TITLE ></TITLE>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1"/>
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema"/>
	</head>
	<frameset runat="server" id="fraWS" rows="*,0" frameborder="no">
		<frame id="fraPMPortalMain" name="fraPMPortalMain" src="noconformidadVisorCerradas.aspx?<%=request.querystring()%>" >
		<frame id="fraPMPortalServer" name="fraPMPortalServer" src="../blank.htm" scrolling="no">
	</frameset>
</html>
