<%@ Page Language="vb" AutoEventWireup="false" Codebehind="extFrames.aspx.vb" Inherits="Fullstep.PMPortalWeb.extNoConformidadFrames" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
<head id="Head1" runat="server">
		<TITLE></TITLE>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</head>
	<frameset runat="server" id="fraWS" rows="*,0" frameborder="no">
		<frame id="fraPMPortalMain" name="fraPMPortalMain" src="noconformidad.aspx?<%=request.querystring()%>" >
		<frame id="fraPMPortalServer" name="fraPMPortalServer" src="../blank.htm" scrolling="no">
	</frameset>
</html>
