@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { font-family: 'robotoregular'; color:#585858; background:#fff ;}

.copyright {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #444444; text-decoration: none}
.ver9blanco{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #ffffff; text-decoration: none}
.ver9negro{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; text-decoration: none}
.ver11negro{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; text-decoration: none}
.ver17rojo{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 17px; color: #840000; text-decoration: none}


.enlacever9gris{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #3f3f3f; text-decoration: none}
.enlacever9gris:hover{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #840000; text-decoration: underline}
.enlacever11gris{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #3f3f3f; text-decoration: none}
.enlacever11gris:hover{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #840000; text-decoration: underline}

.enlacever10gris{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #3f3f3f; text-decoration: none}
.enlacever10gris:hover{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #840000; text-decoration: underline}


.campotexto { background: #ffffff; border-bottom: #B2B2B2 1px solid; border-left: #B2B2B2 1px solid; border-right: #B2B2B2 1px solid; border-top: #B2B2B2 1px solid; color: black; font-family: Verdana; font-size: 9px; width: 100px}
.campotexto2 { background: #ffffff; border-bottom: #B2B2B2 1px solid; border-left: #B2B2B2 1px solid; border-right: #B2B2B2 1px solid; border-top: #B2B2B2 1px solid; color: black; font-family: Verdana; font-size: 9px; width: 200px}

.margen1{margin-left: 15px; margin-right: 5px; margin-top: 3px; margin-bottom: 3px;}
.margen2{margin-left: 30px; margin-right: 35px; margin-top: 24px; margin-bottom: 20px;}

h3{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: black; text-decoration: none}

p{font-size: 14px; color: black; text-decoration: none;}

.titulo1 {  font-size: 24px; color:#8ba21c; text-decoration: none}
.subtitulo { font-size: 16px; color:#8ba21c; font-weight: bold; text-decoration: none}
.textos {  font-size: 13px; font-style: normal; font-weight: normal;text-decoration: none}  
.solutions {  font-size: 11px; font-style: italic; font-weight: normal; color:#8ba21c; text-decoration: none} 