/*comunes*/
body{ margin:0; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1A1A1A;}
body.home{ background:url(images/fnd_body.jpg) repeat-x;}
a{ text-decoration:none; color:#1A1A1A}
img{ border:none;}

#contenedor{ margin:0 auto; width:950px; height:auto; text-align:left;}
#cabecera{ width:950px; height:110px; border-bottom:#E42D13 2px solid;}

#logo{ width:205px; height:83px; padding:25px 10px 0; float:left;}

#nav{ width:725px; height:68px; padding-top:40px; float:left; }

#nav_inf{ width:725px; height:30px; margin:0; padding:0; list-style:none;}
#nav_inf li{ width:auto; height:30px; padding:0 15px; float:left; border-left:#FFF 1px solid;}
#nav_inf li:first-child{ border:none;}
#nav_inf li a{ width:auto; height:30px; display:inline-block; padding:6px 0 0 15px; font-size:14px; line-height:14px; color:#FFF; background:url(images/flecha_nav.png) no-repeat; background-position:0 7px;}

#pie{ width:950px; padding:15px 0; background:#EEE url(images/logo_fullstep.png) no-repeat; background-position:780px 90px; border-top:#777070 2px solid;}
.datos_pie{ width:201px; height:100px; padding-left:15px; border-right:#777070 1px solid; float:left; margin-right:16px; line-height:16px;}
.datos_pie img{ margin:5px 5px 0 0;}

/*home*/
#titulo{ width:950px; padding:20px 0;}

#acceso{ width:950px; height:300px; padding:20px 0 16px 0px; border-bottom:#E42D13 2px solid; position:relative; background:url(images/banner_home.jpg) no-repeat;}
#acceso h1{ margin:0; margin-left: 50px; margin-bottom: 210px; padding:0; font-size:46px; line-height:46px; font-weight:normal; color:#FFF; text-shadow: 3px 3px 5px #000000;}

#acceso div.wform{ position:absolute; top:0; left:700px; z-index:10; }
#acceso h2{ margin:0; width:250px; height:38px; line-height: 38px; padding:0px 0 0 0px; background:#999999 url(images/flecha_nav.png) no-repeat; background-position:15px 11px; color:#FFF; font-size:14px; border-bottom:#E42D13 2px solid; text-align: center; }

#acceso form{ width:250px; height:170px; padding:55px 0px; background:#174C82; margin-top: 0px; text-align: center; }
.bt_entrar { text-align: left; }
.bt_entrar input { margin-left: 15px; }
.bt_entrar a { margin-left: 25px; }
#acceso input.text{ width:200px; padding:2px 10px 0; height:21px; border:none; background:url(images/fnd_input.png) no-repeat; margin-bottom:20px;}
#acceso input.bt, #acceso a.bt{ width:96px; height:24px; padding-left:20px; margin-top:3px; background:url(images/fnd_submit.png) no-repeat; border:none; color:#FFF;}
#acceso input.bt{ cursor:pointer;}

#acceso div.bt_entrar{ position:relative; height:40px;}
.bt_claves{ font-size:11px; color:#FFF; text-decoration:underline; position:absolute; top:0; left:110px;}
#acceso h3{ width:100%; font-size:14px; font-weight:normal; text-align:center;}

#nav_home{ width:950px; padding:16px 0 26px;}

#nav_home ul{ margin:0; padding:0; width:700px; height:136px; list-style:none; float:left;}
#nav_home ul li { width:217px; height:136px; padding-right:16px; float:left;}
#nav_home ul li a { width:217px; height:136px; display:inline-block; position:relative; color:#FFF; font-size:12px;}
#nav_home ul li a span{ position:absolute; left:34px; top:100px;}

.datos_fullstep{ width:220px; height:126px; padding:5px 15px; line-height:14px; background:#E6E6E6; float:left;}
.datos_fullstep p{ margin:0; padding:0;}

/*interiores----------------------------------------------------------------------------------------------------------------*/
#titulo_int{
	 width:950px; 
	 padding-left:20px; 
	 margin-top:2px !important; 
	 border-bottom:1px solid #1B659E;
	 font-size:10px;
	 line-height:3em;
	 }
#titulo_int h1{ margin:0; padding:10px 0 10px 50px; width:625; height:50px; font-size:14px; float:left; display:block;line-height:3em;}
#titulo_int .ico{ 
width:300x; height:70px; margin-right:25px; border:#1B659E solid; border-width:0 1px; float:right; text-align:center; display:block;
}

.contenido{ width:950px; background:url(images/fnd_interiores.jpg); border-bottom:#1B659E 1px solid;}
.contenido_banner{ width:290px; margin-left:36px; float:left; overflow:hidden;}
.contenido_texto{ width:505px; height:auto; float:left; padding:30px 30px 30px 60px;}
.contenido_soporte{ width:505px; height:auto; float:left; padding:30px 30px 30px 60px;}
.blanco{ height:30px; background:#FFF; margin-left:36px; width:888px;}

/*paginas genericas*/
#cont_gen{ margin:0 auto; width:730px; height:auto; text-align:left;}
#izd_gen{ width:200px; padding:50px 0 0 15px; height:auto; float:left}
#drc_gen{ width:500px; height:auto; float:left; padding:0 15px 15px 0;}
#drc_gen h1{ margin:0; padding:65px 0 0 25px; font-size:20px; font-weight:normal; color:#1B659E; border-left:#1B659E 1px solid; margin-bottom:20px; line-height:20px;}
#drc_gen div.int{ border-left:#1B659E 1px solid; background:#F4F4F4 url(images/esquina_blanca.png) no-repeat right bottom; padding:20px 20px 20px 70px;}
.bt_registro{
	display:inline-block;
	width:80px;
	height:18px;
	padding-top:2px;
	text-align:center;
	color:#FFF;
	cursor:pointer;
	font-size:12px;
	/*--------------*/
	background-color: #1B659E;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #469BDC, #1B659E);
	background-image: -ms-linear-gradient(top, #469BDC, #1B659E);
	background-image: -webkit-linear-gradient(top, #469BDC, #1B659E);
	background-image: -o-linear-gradient(top, #469BDC, #1B659E);
	background-image: linear-gradient(top, #469BDC, #1B659E);
	border: 1px solid #469BDC;
	border-radius: 10px;
}
.caja_acepto{ width:48%; float:left;}
input.email{ width:200px; height:18px; padding-left:5px; border:#333 1px solid; border-radius:10px; margin-right:10px;}
.recordar-claves{ width:290px; height:88px; padding:5px 20px 0 100px; margin-top:30px; background:url(images/recordar-claves.jpg) no-repeat;}
.soporte-tecnico{ width:200px; height:100px; margin-left:36px; padding:30px 10px 10px 100px; float:left; overflow:hidden; background:url(images/soporte.jpg) no-repeat;}

/*pagina ayuda*/
#izd_gen ul{ margin:30px 0 0 30px; padding:0; width:150px; list-style:none;}
#izd_gen ul li a{ display:inline-block; padding:10px 0 10px 10px; border-top:#CCC 1px dotted; background:url(images/punto_rojo.jpg) left center no-repeat;}
#izd_gen ul li:first-child a{ border:none;}
#drc_gen ol li{ margin-bottom:10px;}
#drc_gen .fin{ border-top:#666 1px dotted; width:377px; margin-top:17px; float:left;}
.bt_arriba{ display:inline-block; width:23px; height:15px; margin-top:10px; background:url(images/flecha_arriba.png) no-repeat; float:right;}

/*textos*/
.gris_10{ color:#1A1A1A; font-size:10px;}
.azul_18{ color:#1B659E; font-size:18px;}
.azul{ color:#1B659E;}
.rojo{ color:#1B659E;}
.rojo_24{font-size:24px; color:#1B659E}



