﻿body
{
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    /*background-color: #424242;*/
}
.Cabecera
{
    font-size: 12px;
    color: #00a9e6;
    background-color: #424242;
}
.MenuPpal
{
    background-color: #F5F5F5;
}
.Pie
{
    font-size: 12px;
    color: #CCCCCC;
}
.Rectangulo
{
    background-color: #FAFAFA;
    border-color: #F1F1F1;
}
.Rotulo
{
    color: #00a9e6;
}
.RotuloGrande
{
    color: #00a9e6;
}
.EtiquetaPeque
{
    color: #000000;
}
.Etiqueta
{
    color: #000000;
}
.EtiquetaGrande
{
    color: #000000;
}

.Boton
{
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #00a9e6;
}

.Submenu
{
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    color: #202020;
}

.Normal
{
    color: #000000;
}
.CajaTexto
{
    font-family:  Arial, Verdana, sans-serif;
    border-color: #CCCCCC;
}

.Borde
{
    border-color: #00a9e6;
}

.ListItemLink
{
    background-color: #FAFAFA;
}
.ListItemLink:hover
{
    background-color: #F1F1F1;
}
.WaterMark
{
    font-family:  Arial, Verdana, sans-serif;
    border-color: #CCCCCC;
	color: #BBBBBB;
}
.MensajeError
{
    color: #AB0020;
}
/* panel calidad*/
.vacio
{
	border-style: none;

}
#contenedor_imagenes table
{
	border-style: hidden;
	width: auto;
	text-align: left;
	white-space:nowrap;
	margin: 0px;
	padding: 0px;
	
}
.fila_cabecera
{	
	background-color: #e1e1e1;
	font-weight: bold;
	border: solid;
	border-color: #cccccc;
	border-width: 1px 1px 1px 0px;
	text-align: center;
	
}
.pc_punt_nivel0
{
	background-color: #f1f1f1;
	font-weight: bold;
	color: #AB0020;
}
.pc_punt_nivel1
{
    background-color: #f1f1f1;
	font-weight: bold;
}
.pc_punt_nivel2
{
    background-color: #f1f1f1;
	font-weight: bold;
	color: #666;
}
.pc_punt_nivel3
{
    background-color: #f1f1f1;
	font-weight: bold;
	color: #999;
}
.pc_punt_nivel4
{
    background-color: #f1f1f1;
	font-weight: bold;
	color: #CCC;
}
.pc_punt_nivel5
{
    background-color: #f1f1f1;
	font-weight: bold;
	color: #CCC;
}
.TituloF
{
    font-family:  Arial, Verdana, sans-serif;
    color: #00a9e6;
    font-weight: bold;
}
.punt_nivel0
{
	font-weight: bold;
}
.punt_nivel1
{
	font-weight: bold;
	color: #333;
}
.punt_nivel2
{
	font-weight: bold;
	color: #666;
}
.punt_nivel3
{
	font-weight: bold;
	color: #999;
}
.punt_nivel4
{
font-weight: bold;
color: #CCC;
}
/*FICHA DE CALIDAD*/
.fp_fila_cabecera 
{	
	background-color: #f1f1f1;
	text-align: left;
	
}
.fp_fila_tabla0
{	
	background-color: #fafafa;
	text-align: center;
	font-weight: bold;
	
}
.fp_fila_tabla1
{	
	background-color: #f1f1f1;
	text-align: center;
	color: #00a9e6;
	
}
.fp_fila_tabla2
{	
	background-color: #fafafa;
	text-align: center;
	font-weight: bold;
}
.fp_fila_tabla3
{	
	background-color: #FFF;
	text-align: center;

}

.fp_fila_tabla4
{	
	background-color: #FFF;
	text-align: center;
}
.fp_fila_tabla5
{	
	background-color: #FFF;
	text-align: center;
}
.fp_celda_cabecera_vc

{
	color: #00a9e6;
	border:solid 1px #cccccc;
}

.fp_celda_vc_0
{	
	background-color: #fafafa;
	text-align: center;
	font-weight: bold;
	 text-indent:0px;
	
}
.fp_celda_vc_1
{   
    background-color: #f1f1f1;
	text-align: center;
	color: #00a9e6;
	text-indent:0px;
	color: #00a9e6;
	
}
.fp_celda_vc_2
{	
	background-color: #fafafa;
	text-align: center;
	font-weight: bold;
	text-indent:10px;
}
.fp_celda_vc_3
{	
	background-color: #FFF;
	text-align: center;
	text-indent:20px;
}

.fp_celda_vc_4
{	
    background-color: #FFF;
	text-align: center;
	text-indent:30px;
	color: #333;
}
.fp_celda_vc_5
{	
	background-color: #FFF;
	text-align: center;
	text-indent:40px;
	color: #666;
}
.fp_celda_cal
{	
	background-color: #fafafa;
	text-align: center;
}
/*FIN FICHA CALIDAD*/
.modalPopup
{
    background-color:White;
    border-color: #8C8C8C;
    border-style:solid;
    border-width:1px;
  
}

 .updateProgress      
{
   border-width: 1px;
   border-style: solid;
   background-color: #FFFFFF; 
   position: absolute;     
   width: 180px;     
   height: 65px; 
} 
.cabeceraCollapsiblePanel{
     background-color:#bbbbbb;
      color:White;
       font-weight:bold;
}
.pc_selectedRowStyleDefault{
    background-color:#bbbbbb;
}
.pc_frameStyle{
    border-width:1px;
    border-color:#666666;
    border-style:solid;
    background-color:Transparent;
}
.pc_rowStyleDefault{
    border-width:1px;
    border-color:#CCCCCC;
    border-style:solid;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-width:1px;
    border-right-width:1px;
      }
.fc_rowStyleDefault{
    border-width:1px;
    border-color:#CCCCCC;
    border-style:solid;
    border-bottom-width:0px;
    border-left-width:0px;
    border-top-width:1px;
    border-right-width:1px;
}
.pc_pagerStyle{
    border-width:1px;
    border-style:solid;
    background-color: #bbbbbb;
}
.ColorFondoTab
{
	background-color:#F5F5F5;
}
.hr_informes
{
    color:#00a9e6;
    height:1px;
}

.PanelCabecera
{
    color:White;
    background-color:#00a9e6;
}
.PartidaNoVigente
{
    color: red;
}
/* PAGINA DE ERROR*/
.TituloErrorUsuario
{
	font-family: Tahoma, sans-serif; font-size: 18px; color: #474645; text-decoration: none
}

.SubTituloErrorUsuario
{
	font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none
}

a.SubTituloErrorUsuario:link {text-decoration:none;color:#666666}
a.SubTituloErrorUsuario:visited {text-decoration:none;color:#666666}
a.SubTituloErrorUsuario:active {text-decoration:none;color:#999999}
a.SubTituloErrorUsuario:hover {  color: #999999; text-decoration: none}
.TituloSinDatos
{
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	color:Red;
}
.FilaImpar
{
    background-color: #FFFFFF;
}
.FilaPar
{
    background-color: #FAFAFA;
}
.FilaSeleccionada
{
    background-color: #DCDCDC;
}
.FilaPar2
{
    background-color: #F1F1F1;
}
.CajaError
{
    background-color: #FFFFCC;
    border-top-color: #AB0020;
    border-bottom-color: #AB0020;
    color: #AB0020;
}
.pnlLineasPedidoDL
{
    height: 0px; 
    overflow: hidden;
}
.TituloPopUpPanelInfo
{
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
}
.SubTituloPopUpPanelInfo
{
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}
.CapaTituloPanelInfo
{
	background-color:#282828;
}
.CapaSubTituloPanelInfo
{
	background-color:#424242;	 
}
.cabeceraCollapsiblePanel{
	background-color:#bbbbbb;
	color:White;
	font-weight:bold;
}
.TablaRegistroMail
{
	border:solid 1px #D8D8D8;
}
.FilaTituloRegistroMail
{
	background-color:#D8D8D8;
	height:25px;
	padding-left:5px;
}
.LabelTituloRegistroMail
{
	font-family:Verdana;
	font-weight:bold;
	font-size:14px;
	color:#AB0020;
	vertical-align:middle;
	padding-left:3px;
}
.CabeceraRegistroMail
{
	background-color:#FFFFFF;
	border-bottom:solid 1px #D8D8D8;
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#AB0020;
	height:20px;
}
.FilasGridMail
{
	background-color:#FFFFFF;
	border-bottom:solid 1px #D8D8D8;
	font-family:Arial;
	font-size:12px;
	height:20px;
}
.CabeceraCustomControl
{ 
	width:100%;	
	background-repeat:repeat-x;
	background-position:bottom;
	vertical-align:bottom;
}
.CabeceraCeldaImagenCustomControl
{ 
	text-align:left;
	vertical-align:bottom;
	padding-left:10px;
	padding-bottom:3px;
}

.LabelTituloCabeceraCustomControl
{
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;	
}
.CabeceraCeldaBotonesCustomControl
{
	overflow:visible;
	text-align:right;
	vertical-align:bottom;
	padding-bottom:3px;	
	float:right;
	padding-top:3px;
}
.CabeceraBotonCustomControlPrimero
{
	text-align:right;
	padding-right:10px;
	padding-left:10px;
	vertical-align:bottom;
	
}
.CabeceraBotonCustomControl
{
	border-left:dotted 1px #666666;
	text-align:right;
	padding-right:10px;
	padding-left:10px;
	vertical-align:bottom;
}
.ImagenBotonCabeceraCustomControl
{	
	vertical-align:bottom; 
	cursor:hand;
}
.CeldaLabelCabeceraCustomControl
{
	vertical-align:middle; 
	padding-left:5px;
}
.LabelBotonCabecera
{
	color:#000000;
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	cursor:hand;
}
A.LabelBotonCabecera:hover
{
	color:#000000;
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	cursor:hand;
}

.EtiquetaScroll 
{
	vertical-align:middle;
	text-align:center;
	height:20px;
	width:25px;
	background-color:#FFFFBE;
	
}


/****************************************************************************************************************/

/*             UltraWebGrid                                            */

/*		ESTILOS FILTRO CABECERA		*/

/* Estilo que sirve cndo pasamos el raton por un elemento del filtro*/
.FilterList 
{ 
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 10px; 
	OVERFLOW: auto; 
	WIDTH: 160px; 
	COLOR: black; 
	PADDING-TOP: 10px; 
	FONT-FAMILY: verdana; 
	HEIGHT: 180px; 
	BACKGROUND-COLOR: #f1f1f1; 
	border-top:solid 1px #ada990; 
	border-bottom:solid 1px #ada990; 
	border-right:solid 1px #ada990; 
}
/* Estilo que sirve para modificar el ancho del interior del filtro */
.FilterList TABLE 
{ 
	WIDTH: 150px 
  }
.FilterList TD 
{ 
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 2px; 
	PADDING-TOP: 2px; 
	TEXT-ALIGN: left 
}
/*Estilo que indica sobre que elemento vamos */

.FilterHighlight 
{ 
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	/*FONT-WEIGHT: bold; */
	BORDER-LEFT: black 1px solid; 
	CURSOR: default; 
	COLOR: white; 
	BORDER-BOTTOM: black 1px solid; 
	BACKGROUND-COLOR: #3c7fb1 
	
}


/* Estilo que modifica la apariciencia de los elementos que cogen el foco en el dropdown que se visualiza
   despues de pulsar en el filtro de cabecera */
.FilterOperandHover DIV{
    /*cursor:pointer;
    color:#222222;*/
    BORDER-RIGHT: black 1px solid; 
    BORDER-TOP: black 1px solid; 
    FONT-WEIGHT: bold; 
    BORDER-LEFT: black 1px solid; 
    CURSOR: default; 
    COLOR: white; 
    BORDER-BOTTOM: black 1px solid; 
    BACKGROUND-COLOR: #3c7fb1;
    width:100%;
}
/* Estilo para el boton del filtro "="*/
.FilterOperandButton{
    height:20px;
    width:20px;
    padding:0px;
    margin:0px;
    vertical-align:middle;
    text-align:center;
}

/* Estilo que sirve para modificar la apariciencia de la fila del filtro "="  */
.FilterRow{
    background-color:#f3f3f3 !important;
}


.fila_cabecera_grid
{	
	background-color: White;
	font-weight: bold;
	border: solid;
	border-color: #BBBBBB;
	border-width: 1px 1px 1px 0px;
	text-align: center;
	
}


/****************************************************************************************************************/

/*					WebCombo					*/

.ComboRowAlternate
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}
.Combo
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}
.ComboFooter
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}
.ComboFrame
{
	
}
.ComboHeader
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;
		
}
.ComboRow
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	color: black;	
	
}
.LineaSeparatoria
{
    background-color:#DCDCDC;
}

/****************************************************************************************************************/
