﻿A.Cabecera
{
    text-decoration: none;
}
A.Cabecera:hover
{
    text-decoration: underline;
}
A.Pie
{
    text-decoration: none;
}

.LogoTopLeft
{
    background-image: url(images/logotopleft.jpg);
}
.LogoTopRight
{
    background-image: url(images/logotopright.jpg);
}
.MenuPpal
{
    background-image:url(images/sombralogo.jpg);
    background-repeat: no-repeat;
}
.Rectangulo
{
    border-style:solid;
    border-width: 1px;
}
.Rotulo
{
    font-size: 12px;
    font-weight: bold;
}
.RotuloPequenyo
{
    font-size: 9px;
    font-weight: bold;
}
.RotuloGrande
{
    font-size: 16px;
    font-weight: bold;
}
.EtiquetaGrande
{
    font-size: 16px;
    font-weight: bold;
}
.EtiquetaMediano
{
    font-size: 14px;
    font-weight: bold;
}
.Etiqueta
{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.EtiquetaPeque
{
    font-size: 10px;
    font-weight: bold;
    text-decoration:none;
}
.Normal
{
    font-size: 12px;
}
.CajaTexto
{
    border-style: solid;
    border-width: 1px;
}
.Borde
{
    border-style: solid;
    border-width: 1px;
}
.ListItemLink
{
    cursor: pointer;
}

.popupControl
{
	background-color:#AAD4FF;
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color: Black;
	border-width: 2px;
}
.updateProgress      
{
   border-width: 1px;
   border-style: solid;
   background-color: #FFFFFF; 
   position: absolute;     
   width: 180px;     
   height: 65px; 
} 
.WaterMark
{
    border-style: solid;
    border-width: 1px;
}
.DetallArticulo
{
    background-color:White;
    border-color:black;
    border-style:solid;
    border-width:1px;
}
.LinkButtonInfo
{
    color:#666666;
    font-weight:bold;
    font-size:12px;
}
.PrecioArticulo
{
    color:Black;
    font-size:medium;
    font-weight:bold;
}
.EtiquetaAdjuntosArticulo
{
    color:White;
    font-size:small;
    background-color:Red;
}
.imgMaterialesQA {
    background-image: url(images/filtro_materiales.gif);
}
.ListaFiltros{
    color:Black;
    font-size:x-small;
}
.Cabecera_Seleccionada
{
	background-color: #DCDCDC;
}
.Cabecera_NoSeleccionada
{
	background-color: #FFFFFF;
}
.CajaError
{
    padding: 10px 10px 10px 60px;
    margin: 10px;
    background-position: 10px 10px;
    border-style: solid none solid none;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-weight: bold;
    background-image: url(images/Icono_Error_Amarillo_40x40.gif);
    background-repeat: no-repeat;
    min-height: 60px;
}
.LineaSeparatoria
{
    border-style: none;
}