﻿<script type="text/javascript">
    function get_TemplateUpload(error) {
        if (error) {
            return "#errorUpload";
        } else {
            return "#uploadinfo";
        }
    }
    function get_TemplateDownload(tipoadjunto, error) {
        if (error) {
            return "#errorDownload";
        } else {
            if ($('#tablaadjuntos').attr('usu')) {
                return "#attachImageUsu";
            }
            switch (tipoadjunto) {                
                case 10:
                case 11:
                case 12:
                case 13:
                    return "#attachFileEdit";
                    break;
            }
        }
    }
    function get_deleteButton(enEdicion) {
        if (enEdicion) {
            return "#deleteButton";
        } else {
            return "#TemplateVacio";
        }
    }
</script>
<script id="attachFileEdit" type="text/x-jquery-tmpl">
	<div class="fondoPlantilla SeparadorInf">
		<div style="float:left; width:85px; text-align:center;">
			<img src="${thumbnail_url}" class="Image30"/> 
		</div>
		<div style="position:absolute; width:90%; line-height:24px; margin-left:85px; top:30%;">
			<div class="name" style="float:left; width:55%; line-height:24px;">
				<span class="TextoResaltado" href="${url}" target="_blank">${name}</span>
			</div>
			<div class="size" style="float:left; width:70px; line-height:24px;">${filesize} ${sizeunit}</div>
			<div class="delete" style="float:left;">
				<button data-type="${delete_type}" data-url="${delete_url}"></button>
			</div>
		</div>
	</div>
</script>
<script id="template-upload" type="text/x-jquery-tmpl">
	<div class="template-upload SeparadorInf{{if error}} ui-state-error{{/if}}" style="float:left; width:100%; min-height:20px;"> 
		{{tmpl get_TemplateUpload(error)}}           
	</div>
</script>
<script id="uploadinfo" type="text/x-jquery-tmpl">   
	<div class="fondoAdjunto" style="width:90%;"> 
		<div class="name" style="float:left; line-height:20px; margin-right:15px;">${name}</div>
		<div style="position:relative; float:left; width:200px; height:20px; text-align:center;">
			<div class="progress" style="top:40%; width:200px;"><div></div></div>
		</div>
		<div class="cancel" style="float:left; margin-left:10px;"><button></button></div>  
	</div>  
</script>
<script id="template-download" type="text/x-jquery-tmpl">
	<div data-name='${name}' data-size='${filesize}' data-folder='${folder}' data-sizeunit='${sizeunit}' data-url='${fileCopyURL}' data-tipo='${tipoadjunto}' class="template-download {{if error}} ui-state-error{{/if}}" style="position:relative; float:left; width:90%; min-height:20px;">
		{{tmpl get_TemplateDownload(tipoadjunto,error)}}            
	</div>
</script> 
<script id="errorUpload" type="text/x-jquery-tmpl">
	<div class="error" style="float:left;">Error:
		{{if error === 'maxFileSize'}}File is too big
		{{else error === 'minFileSize'}}File is too small
		{{else error === 'acceptFileTypes'}}Filetype not allowed
		{{else error === 'maxNumberOfFiles'}}Max number of files exceeded
		{{else}}${error}
		{{/if}}
	</div>
	<div class="size" style="float:left; width:100px; line-height:20px;">${sizef}</div>
	<div class="cancel" style="float:left;"><button></button></div>
</script>
<script id="errorDownload" type="text/x-jquery-tmpl">
	<div class="name" style="float:left; width:60%;">${name}</div>
	<div class="size" style="float:right; width:50px; line-height:20px;">${sizef}</div>
	<div class="error" colspan="2">Error:
		{{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
		{{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
		{{else error === 3}}File was only partially uploaded
		{{else error === 4}}No File was uploaded
		{{else error === 5}}Missing a temporary folder
		{{else error === 6}}Failed to write file to disk
		{{else error === 7}}File upload stopped by extension
		{{else error === 'maxFileSize'}}File is too big
		{{else error === 'minFileSize'}}File is too small
		{{else error === 'acceptFileTypes'}}Filetype not allowed
		{{else error === 'maxNumberOfFiles'}}Max number of files exceeded
		{{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
		{{else error === 'emptyResult'}}Empty file upload result
		{{else}}${error}
		{{/if}}
	</div>
</script>