﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ComprobarAprobContratos.aspx.vb" Inherits="Fullstep.FSNWeb.ComprobarAprobContratos" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <table style="Z-INDEX: 101; LEFT: 32px; POSITION: absolute; TOP: 132px" cellspacing="1"
			cellpadding="1" width="95%" border="0" height="60%">
			<tr>
				<td colspan="2" style="HEIGHT: 50px">
					<asp:Label id="lblTitulo" runat="server" CssClass="Titulo"></asp:Label></td>
			</tr>
			<tr>
				<td style="HEIGHT: 51px" width="25%"><asp:label id="lblId" runat="server" CssClass="captionBlue"></asp:label></td>
				<td><asp:label id="lblIdBD" runat="server" CssClass="captionDarkBlue"></asp:label></td>
			</tr>
			<tr>
				<td colspan="2" style="HEIGHT: 73px">
					<asp:Label id="lblAccion" runat="server" Width="736px" Height="3px"></asp:Label></td>
			</tr>

		</table>
    </form>
</body>
</html>
