﻿<div id="popupErrorAlert" class="popupCN" style="display:none; position:absolute; max-width:80%; z-index:10004; padding:10px;">	
    <div style="position:relative; clear:both; float:left; width:100%; margin-top:15px;">
        <span id="lblTituloError" class="TituloErrorUsuario"></span>
        <hr style="color:Gray;" />
        <ul class="TituloErrorUsuario" style="list-style-type: square; list-style-position: outside; position: static;">
            <li>
                <span class="SubTituloErrorUsuario" id="lblSubTitulo1" style="font-size: 10pt;"></span>                
                <a class="SubTituloErrorUsuario" style="margin-top:10px; font-size: 10pt;" href="http://www.fullstep.com/FSGE">
                    <span id="lEnlaceFSGE"></span>
                </a>
            </li>
            <li>
                <span class="SubTituloErrorUsuario" id="lblSubTitulo2" style="margin-top:10px; font-size: 10pt;"></span>
                <div style="clear:both; float:left;">
                    <img alt="" src="images/helpdesk.jpg" style="float:left;"/>
                    <div class="SubTituloErrorUsuario" style="float:left; background-color:whitesmoke; padding:10px;">
                        <span id="lblTelefono" style="clear:both; float:left;"></span>
                        <span id="lblMail" style="clear:both; float:left;"></span>
                        <span id="lblHorario" style="clear:both; float:left;"></span>
                    </div>
                </div>   
                <div style="clear:both; float:left; border:solid 1px Gray; padding:5px;">
                    <span id="lblIdentificadorError" class="SubTituloErrorUsuario" style="clear:both; float:left; line-height:20px;"></span>
                    <span id="lblIdError" class="TituloSinDatos" style="float:left; margin-left:5px; line-height:20px;"></span>
                </div>               
            </li>
        </ul>
    </div>          
    <div style="position:relative; clear:both; float:left; width:100%; margin-top:15px; text-align:center;">
        <div id="btnAceptarErrorAlert" class="botonRedondeado" style="margin-right:5px;">
			<span id="lblAceptarErrorAlert" style="line-height:23px;">DAceptar</span>
		</div>		
    </div>    
</div> 
