<%@ Page CodeBehind="extframes.aspx.vb" Language="vb" AutoEventWireup="false" Inherits="Fullstep.FSNWeb.extframescertificados" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<TITLE></TITLE>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</head>
	<frameset runat="server" id="fraWS" rows="*,0" frameborder="no">
		<frame id="fraWSMain" src="">
		<frame id="fraWSServer" src="" scrolling="no">
	</frameset>
</html>
