﻿<script id="detalleDiscrpLinea" type="text/x-jquery-tmpl">
<div id='divDetalleFactura_${Id}' style='clear:both; float:left; width:100%;'>
    <div style='clear:both; float:left;'>
        <span id='lblDetalleLinea_${Id}' class='Texto14 Negrita'>DDetalle Linea</span>
    </div>
    <table cellspacing='0' cellpadding='0' style='clear:both; float:left; width:100%;'>
        <tr>
            <td class='CabeceraBotones'><span id='lblHeaderCodigo_${Id}' style='float:left; padding:3px 2px;'>DCódigo</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderDenominacion_${Id}' style='float:left; padding:3px 2px;'>DDenominación</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderCantidad_${Id}' style='float:left; padding:3px 2px;'>DCantidad</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderPrecio_${Id}' style='float:left; padding:3px 2px;'>DPrecio</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderTotalCostes_${Id}' style='float:left; padding:3px 2px;'>DTot. Costes</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderTotalDescuentos_${Id}' style='float:left; padding:3px 2px;'>DTot. Desc.</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderImporteNeto_${Id}' style='float:left; padding:3px 2px;'>DImporte</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderObservaciones_${Id}' style='float:left; padding:3px 2px;'>DObs.</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderPedidoFullstep_${Id}' style='float:left; padding:3px 2px;'>DPed. Fullstep</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderRefFactura_${Id}' style='float:left; padding:3px 2px;'>DRef. Factura</span></td>
            <td class='CabeceraBotones'><span id='lblHeaderAlbaran_${Id}' style='float:left; padding:3px 2px;'>DAlbarán</span></td>        
            <td class='CabeceraBotones'><span id='lblHeaderNumDocSAP_${Id}' style='float:left; padding:3px 2px;'>DNº doc. SAP</span></td>
        </tr>
        <tr>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblCodigo_${Id}' style='padding:0px 2px;'>${Codigo}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblDenominacion_${Id}' style='padding:0px 2px;'>${Denominacion}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblCantidad_${Id}' style='padding:0px 2px;'>${CantidadFormatoUsu}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblPrecio_${Id}' style='padding:0px 2px;'>${PrecioFormatoUsu}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblTotalCostes_${Id}' style='padding:0px 2px;'>${TotalCostesFormatoUsu}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblTotalDescuentos_${Id}' style='padding:0px 2px;'>${TotalDescuentosFormatoUsu}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblImporteNeto_${Id}' style='padding:0px 2px;'>${ImporteFormatoUsu}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblObservaciones_${Id}' style='padding:0px 2px;'>${Obs}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblPedidoFullstep_${Id}' style='padding:0px 2px;'>${PedidoFs}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblRefFactura_${Id}' style='padding:0px 2px;'>${RefFactura}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblAlbaran_${Id}' style='padding:0px 2px;'>${Albaran}</span></td>
            <td class='modalPopup' style='padding:2px 0px;'><span id='lblNumDocSAP_${Id}' style='padding:0px 2px;'>${DocSAP}</span></td>
        </tr>
    </table>    
</div>
<div id='divMuro_${Id}' class='divMuro'>
    <ul/>
    <div id='divOpcionesOtrosMensajes_${Id}' class='divOpcionesOtrosMensajes'></div>
    <div id='divMostrarIncidenciasCerradas_${Id}' class='Link MenuItemExpand' style='clear:both; float:left; margin:5px 0px; padding-right:15px;'>
        <span id='lblMostrarIncidenciasCerradas_${Id}'></span>
    </div>
</div>
</script>