﻿<script id="entidadProcesoCompra" type="text/x-jquery-tmpl">
	<div><img class="Image16" style="border:0; max-height:16px; max-width:16px; vertical-align:middle;" src="images/ProcesoCompra.png"/><span class="Texto12 Negrita Subrayado">${texto}</span></div>
</script>
<script id="entidadSolicitudCompra" type="text/x-jquery-tmpl">
	<div><img class="Image16" style="border:0; max-height:16px; max-width:16px; vertical-align:middle;" src="images/SolicitudCompra.png"/><span class="Texto12 Negrita Subrayado">${texto}</span></div>
</script>
<script id="entidadPedido" type="text/x-jquery-tmpl">
	<div><img class="Image16" style="border:0; max-height:16px; max-width:16px; vertical-align:middle;" src="images/Pedido.png"/><span class="Texto12 Negrita Subrayado">${texto}</span></div>
</script>
<script id="entidadContrato" type="text/x-jquery-tmpl">
	<div><img class="Image16" style="border:0; max-height:16px; max-width:16px; vertical-align:middle;" src="images/Contrato.png"/><span class="Texto12 Negrita Subrayado">${texto}</span></div>
</script>
<script id="entidadNoConformidad" type="text/x-jquery-tmpl">
	<div><img class="Image16" style="border:0; max-height:16px; max-width:16px; vertical-align:middle;" src="images/NoConformidad.png"/><span class="Texto12 Negrita Subrayado">${texto}</span></div>
</script>
<script id="entidadCertificado" type="text/x-jquery-tmpl">
	<div><img class="Image16" style="border:0; max-height:16px; max-width:16px; vertical-align:middle;" src="images/Certificado.png"/><span class="Texto12 Negrita Subrayado">${texto}</span></div>
</script>
<script id="entidadFichaCalidad" type="text/x-jquery-tmpl">
	<div><img class="Image16" style="border:0; max-height:16px; max-width:16px; vertical-align:middle;" src="images/FichaCalidad.png"/><span class="Texto12 Negrita Subrayado">${texto}</span></div>
</script>
<script id="entidadDiscrepancia" type="text/x-jquery-tmpl">
	<div><img class="Image16" style="border:0; max-height:16px; max-width:16px; vertical-align:middle;" src="images/FacturaPeq.png"/><span class="Texto12 Negrita Subrayado">${texto}</span></div>
</script>