﻿<div id="divLoggedUser" class="divMenuItem">
	<div id="divUsuImagen" style="float:left; padding:5px;">
		<img id="imgUsuImagen" class="LoggedUserImage Link" />
	</div>	
</div>
<div id="divSeccionesMenu" class="divMenuItem" style="overflow-x:hidden; overflow-y:auto;">
<div id="divMensajes" class="divMenuItem" style="display:none;">
	<div id="divMensajesTitulo" style="float:left; width:100%;">
		<span id="lblMensajesTitulo" class="Texto14 TextoResaltado" style="margin-left:5px;"></span>
	</div>
	<div id="divMensajesOpciones" style="float:left; width:100%;">
		<ul class="MenuItemMenu">
			<li id="OptionMiContenido" class="MenuItemMenuOpcion Texto12 MenuItemMenuOpcionSeleccionado">
				<div style="position:relative; margin-left:5px;">
					<img id="imgMiContenido" class="MenuItemMenuOpcionImagen Image16"  src="images/MiContenido.png" />
					<span id="lblMiContenido" class="Texto12"></span>
					<div id="AlertNotificacionCNMiContenido" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
						<span id="NumeroAlertNotificacionCNMiContenido" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
					</div>
				</div>                        
			</li>
			<li id="OptionTemas" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative; margin-left:5px;">
					<img id="imgTemas" class="MenuItemMenuOpcionImagen Image16"  src="images/Temas.png" />
					<span id="lblTemas" class="Texto12"></span>
					<div id="AlertNotificacionCNTemas" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
						<span id="NumeroAlertNotificacionCNTemas" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
					</div>
				</div>                        
			</li>
			<li id="OptionEventos" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative; margin-left:5px;">
					<img id="imgEventos" class="MenuItemMenuOpcionImagen Image16"  src="images/Eventos.png" />
					<span id="lblEventos" class="Texto12"></span>
					<div id="AlertNotificacionCNEventos" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
						<span id="NumeroAlertNotificacionCNEventos" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
					</div>
				</div>                        
			</li>
			<li id="OptionNoticias" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative; margin-left:5px;">
					<img id="imgNoticias" class="MenuItemMenuOpcionImagen Image16"  src="images/Noticias16.png" />
					<span id="lblNoticias" class="Texto12"></span>
					<div id="AlertNotificacionCNNoticias" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
						<span id="NumeroAlertNotificacionCNNoticias" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
					</div>
				</div>                        
			</li>					
			<li id="OptionPreguntas" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative; margin-left:5px;">
					<img id="imgPreguntas" class="MenuItemMenuOpcionImagen Image16"  src="images/Preguntas16.png" />
					<span id="lblPreguntas" class="Texto12"></span>
					<div id="AlertNotificacionCNPreguntas" class="fondoAlerta" style="position:absolute; display:none; text-align:center; vertical-align:middle; width:15px; height:15px; top:0px; right:2px;">
						<span id="NumeroAlertNotificacionCNPreguntas" class="Texto10 TextoClaro Negrita" style="line-height:15px;">0</span>
					</div>
				</div>                        
			</li>
			<li id="OptionMensajesUrgentes" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative; margin-left:5px;">
					<img id="imgMensajesUrgentes" class="MenuItemMenuOpcionImagen Image16"  src="images/MensajesUrgentes16.png" />
					<span id="lblMensajesUrgentes" class="Texto12"></span>
				</div>                        
			</li>
			<li id="OptionMeGusta" class="MenuItemMenuOpcion Texto12">
				<div style="position:relative; margin-left:5px;">
					<img id="imgMeGusta" class="MenuItemMenuOpcionImagen Image16"  src="images/MeGusta.png" />
					<span id="lblMeGusta" class="Texto12"></span>
				</div>                        
			</li>
		</ul>
	</div>
</div>
<div id="divGrupos" class="divMenuItem" style="display:none;">
	<div id="divGruposTitulo" style="float:left; width:100%;">
		<span id="lblGruposTitulo" class="Texto14 TextoResaltado" style="margin-left:5px;"></span>
	</div>
	<div id="divGruposOpciones" style="float:left; width:100%;">
		<ul class="MenuItemMenu">
			<li id="OptionGrupos" class="MenuItemMenuOpcion Texto12 MenuItemExpand">
				<div style="position:relative; margin-left:5px;">
					<img id="imgGrupos" class="MenuItemMenuOpcionImagen Image16" src="images/Grupos.png" />
					<span id="lblGrupos" class="Texto12"></span>
				</div>                        
			</li>
			<li id="tvGruposUsuarioItem" style="display:none;">
				<ul id="ulGruposUsuario" style="list-style-type:none; padding:0px 0px 0px 5px;"></ul>
			</li>
			<li id="AdminGrupos" class="MenuItemMenuOpcion Texto12" style="display:none;">
				<div style="position:relative; margin-left:5px;">
					<img id="imgAdminGrupos" class="MenuItemMenuOpcionImagen Image16" src="images/AdminGrupos.png" />
					<span id="lblAdminGrupos" class="Texto12"></span>
				</div>                        
			</li>
		</ul>
	</div>
</div>
<div id="divCategorias" class="divMenuItem" style="display:none;">
	<div id="divCategoriasTitulo" style="float:left; width:100%;">
		<span id="lblCategoriasTitulo" class="Texto14 TextoResaltado" style="margin-left:5px;"></span>
	</div>
	<div id="divCategoriasOpciones" style="float:left; width:100%;">
		<ul class="MenuItemMenu">
			<li id="OptionCategorias" class="MenuItemMenuOpcion Texto12 MenuItemExpand">
				<div style="position:relative; margin-left:5px;">
					<img id="imgCategorias" src="images/Categoria.png" />
					<span id="lblCategorias" class="Texto12"></span>
				</div>                        
			</li>
			<li id="tvCategoriasUsuarioItem" style="display:none;">
				<div id="tvCategoriasUsuario"></div>
			</li>
			<li id="AdminCategorias" class="MenuItemMenuOpcion Texto12" style="display:none;">
				<div style="position:relative; margin-left:5px;">
					<img id="imgAdminCategorias" class="MenuItemMenuOpcionImagen Image16"  src="images/AdminCategorias.png" />
					<span id="lblAdminCategorias" class="Texto12"></span>
				</div>                        
			</li>
		</ul>
	</div>
</div>
</div>
<script id="divNombreUsuario" type="text/x-jquery-tmpl">
	<div id="divUsuNombre" class="Link" style="padding-right:5px;">
		<span id="lblUsuNombre" class="Texto14 Negrita TextoResaltado"></span>
	</div>
</script> 