﻿<div id="divMenuNuevoMensaje" style="float:left; margin-left:10px;">            
	<ul class="MenuItemMenu">
		<li id="NuevoTema" class="ItemNuevoMensaje Texto12 Negrita">						                               
			<img id="imgNuevoTema" class="ItemNuevoMensajeImage Image16" src="images/Temas.png" />
			<span id="lblNuevoTema" style="line-height:20px;"></span>						                            
		</li>
		<li id="NuevoEvento" class="ItemNuevoMensaje Texto12 Negrita">                           
			<img id="imgNuevoEvento" class="ItemNuevoMensajeImage Image16" src="images/Eventos.png" />
			<span id="lblNuevoEvento" style="line-height:20px;"></span>                      
		</li>
		<li id="NuevaNoticia" class="ItemNuevoMensaje Texto12 Negrita">                       
			<img id="imgNuevaNoticia" class="ItemNuevoMensajeImage Image16" src="images/Noticias16.png" />
			<span id="lblNuevaNoticia" style="line-height:20px;"></span>                 
		</li>
		<li id="NuevaPregunta" class="ItemNuevoMensaje Texto12 Negrita">                            
			<img id="imgNuevoPregunta" class="ItemNuevoMensajeImage Image16" src="images/Preguntas16.png" />
			<span id="lblNuevoPregunta" style="line-height:20px;"></span>                      
		</li>
		<li id="NuevoMensajeUrgente" class="ItemNuevoMensaje Texto12 Negrita" style="display:none;">                            
			<img id="imgNuevoMensajeUrgente" class="ItemNuevoMensajeImage Image16" src="images/MensajesUrgentes16.png" />
			<span id="lblNuevoMensajeUrgente" style="line-height:20px;"></span>                      
		</li>
	</ul>		
</div>				           
<div id="divNuevoMensajeDefecto" style="clear:both; float:left; width:100%;">
	<input id="txtNuevoMensajeDefectoTitulo" class="CajaTexto Texto12 textoDefecto" style="width:95%; margin:10px 0px 10px 10px; padding-left:5px;"/>
</div>
<div id="divNuevoMensaje" style="clear:both; float:left; margin-top:10px; padding-left:5px; width:100%; display:none;" textos>                
	<div style="float:left; width:100%;">
		<textarea id="txtNuevoMensajeTitulo" cols="100" rows="1" class="CajaTexto Texto12 textoDefecto" style="width:93%; padding:2px 5px 2px 5px;"></textarea>
	</div>
	<div id="divNuevoMensajeFechaHora" style="float:left; width:100%; margin-top:10px;">
		<div style="float:left; width:100%;">
			<div class="Bordear" style="float:left; margin-right:5px;">
				<input type="text" id="txtEventoFecha" class="Texto12 TextoOscuro" style="border:none; width:80px; text-align:center;"/>							
			</div>
			<div class="Bordear" style="float:left; margin-right:5px;">                            
				<input type="text" id="txtEventoHora" class="Texto12 TextoOscuro" style="border:none; width:50px; text-align:center;" />					        
			</div>					    
		</div>
		<div style="float:left; width:100%; margin-top:5px;">
			<input type="text" id="txtEventoDonde" class="CajaTexto textoDefecto" style="width:93%; padding-left:5px; padding-right:5px;"/>
		</div>					
	</div>
	<div id="divNuevoMensajeContenido" style="float:left; margin-top:10px; width:95%;">
		<div id="CKENuevoMensaje" name="CKENuevoMensaje" style="height:60px;"></div>		
	</div>
	<div id="divNuevoMensajeEtiquetas" style="clear:both; float:left; width:95%; display:none;">
		<div id="divNuevoMensajeNuevasEtiquetas" style="float:left;"></div>
		<div id="btnAgregarEtiqueta" class="botonRedondeado" style="float:left; margin-top:5px;">
			<span id="lblAgregarEtiqueta"></span>
		</div>
	</div>
	<div id="divNuevoMensajeOtrasOpciones" style="clear:both; float:left; margin-top:5px; width:50%;">                    
		<div id="NuevoMensajeAdjunto" class="OtrasOpciones" style="float:left; border:solid 1px Transparent;">			
			<img id="imgNuevoMensajeAdjunto" class="Image20" src="images/adjunto.png" style="margin-left:5px; vertical-align:bottom;" />                    
			<span id="lblNuevoMensajeAdjunto" class="Texto12" style="line-height:25px;"></span>						 
		</div>            
	</div>                
	<div id="divBotones" style="float:right; padding-right:5%; margin-top:5px;">
		<div id="btnAceptarNuevoMensaje" class="botonRedondeado" style="margin-right:5px;">
			<span id="lblNuevoMensajeAceptar" style="line-height:23px;"></span>
		</div>
		<div id="btnCancelarNuevoMensaje" class="botonRedondeado" style="margin-left:5px;">
			<span id="lblNuevoMensajeCancelar" style="line-height:23px;"></span>
		</div>            
	</div> 
	<div id="divListaAdjuntos" style="clear:both; float:left; margin-top:5px; padding:5px; width:95%;"></div>
	<div id="divDatosAdicionales" style="clear:both; float:left; margin-top:5px; width:100%;">
		<div id="divNuevoMensajeCategoria" style="clear:both; float:left; padding:5px; margin-right:1%; width:45%;">
			<div style="clear:both; float:left; width:100%;">
				<span id="lblNuevoMensajeCategoria" class="Texto12"></span>                        
			</div>
			<div id="divSelCategoria" style="clear:both; float:left; width:20px; height:20px; text-align:center; margin-top:5px; margin-bottom:-1px; cursor:pointer;" class="Bordear">
				<img id="imgSelCategoria" class="Image16" src="images/Categoria.png" style="padding:2px;" />
			</div>
			<div class="Bordear" style="clear:both; float:left; width:100%; margin-bottom:-1px;">
				<input id="txtSelCategoria" type="text" class="CajaTexto" style="width:98%; padding-left:1%; padding-right:1%; border:none;"/>
			</div>
			<div id="divNuevoMensajeCategorias" class="divContenedor" style="display:none; max-height:200px; overflow-y:auto;">
				<div id="tvNuevoMensajeCategorias" cargar></div>
			</div>
		</div>
		<div id="divNuevoMensajePara" style="float:left; padding:5px; width:45%;" new>
			<div style="clear:both; float:left; width:100%;">
				<span id="lblNuevoMensajePara" class="Texto12"></span>
			</div>
			<div id="divNuevoMensajeParaOpciones" style="clear:both; float:left; width:100%;"></div>
		</div>
	</div>
</div> 
