﻿<div id="popupBuscadorSolicitudCompra" style="position:relative; clear:both; float:left;">    
	<div style="clear:both; float:left;">	
		<img src="images/SolicitudCompra.png" class="Image40" style="float:left;" />	
		<span id="lblTituloPopUpBuscadorSolicitudCompra" class="Texto16 TextoAlternativo Negrita" style="line-height:40px; margin-left:10px;"></span>
	</div>
	<div style="clear:both; float:left;">
        <div style="float:left;">
            <div>
                <span id="lblBuscadorSolicitudCompraTipo" class="Texto12"></span>
            </div>
            <div>
                <div id="cboBuscadorSolicitudCompraTipo" style="width:200px;"></div>
            </div>
        </div>
        <div style="float:left; margin-left:10px;">
            <div>
                <span id="lblBuscadorSolicitudCompraIdentificador" class="Texto12"></span>
            </div>
            <div>
                <div id="cboBuscadorSolicitudCompraIdentificador" style="width:300px;"></div>
            </div>
        </div>        
    </div>
</div>
