﻿<div id="popupBuscadorPedido" style="position:relative; clear:both; float:left;">    
	<div style="clear:both; float:left;">	
		<img src="images/Pedido.png" class="Image40" style="float:left;" />	
		<span id="lblTituloPopUpBuscadorPedido" class="Texto16 TextoAlternativo Negrita" style="line-height:40px; margin-left:10px;"></span>
	</div>
	<div style="clear:both; float:left;">
		<div style="float:left;">
			<div>
				<span id="lblBuscadorPedidoAnyo" class="Texto12"></span>
			</div>
			<div>
				<div id="cboBuscadorPedidoAnyo" style="width:150px;"></div>
			</div>
		</div>
		<div style="float:left; margin-left:10px;">
			<div>
				<span id="lblBuscadorPedidoNumCesta" class="Texto12"></span>
			</div>
			<div>
				<div id="cboBuscadorPedidoNumCesta" style="width:150px;"></div>
			</div>
		</div>
		<div style="float:left; margin-left:10px;">
			<div>
				<span id="lblBuscadorPedidoNumPedido" class="Texto12"></span>
			</div>
			<div>
				<div id="cboBuscadorPedidoNumPedido" style="width:150px;"></div>
			</div>
		</div>
	</div>
</div>