﻿<div id="popupMensajeUrgente" class="popupCN" style="display:none; position:absolute; z-index:1002; width:80%; max-height:75%; z-index:10001;">              	
    <div class="PageHeaderBackground" style="position:relative; clear:both; float:left; width:100%; margin-top:5px; margin-bottom:5px; line-height:30px;">
        <div style="clear:both; float:left; padding-left:10px;">
            <img id="imgMensajeUrgente" class="Image30" style="vertical-align:top;"/>
            <span id="lblTituloMensajeUrgente" class="Texto14 TextoClaro Negrita">DColaboración. MENSAJE URGENTE</span>
        </div>
	</div>
    <div id="divMensajeUrgente" style="float:left; width:100%; text-align:left; overflow:auto;"></div>	
    <div style="clear:both; float:left; width:100%; height:30px; padding-top:10px; text-align:center;">
        <div id="btnAceptarPopUpMensajeUrgente" class="botonRedondeado">DAceptar</div>
    </div>    
</div> 