﻿<div id="popupDestinatarios" class="popupCN" style="display:none; position:absolute; padding:5px; z-index:1002; min-width:30%; max-width:40%; max-height:80%;">	          		
    <div id="btnCerrarPopUpDestinatarios" class="CerrarPopUp" style="float:right; width:30px; height:30px;"></div>
	<div class="FondoHeader" style="clear:both; float:left; width:100%;">
		<span id="lblModificarDestinatarios" class="Texto14 TextoClaro Negrita" style="padding:5px;">DModificar destinatarios</span>
	</div>       
    <div id="divParaDestinatarios" style="clear:both; float:left; width:100%;"></div>
    <div id="divBotonesDestinatarios" style="position:relative; clear:both; float:left; width:100%; margin-top:15px; text-align:center;">
        <div id="btnAceptarDestinatarios" class="botonRedondeado" style="margin-right:5px;">
			<span id="lblAceptarDestinatarios" style="line-height:23px;">DAceptar</span>
		</div>
		<div id="btnCancelarDestinatarios" class="botonRedondeado" style="margin-left:5px;">
			<span id="lblCancelarDestinatarios" style="line-height:23px;">DCancelar</span>
		</div>
    </div>
</div>
