﻿<div id="popupBuscadorProcesoCompra" style="position:relative; clear:both; float:left; z-index:101;">    
	<div style="clear:both; float:left;">	
		<img src="images/ProcesoCompra40.png" class="Image40" style="float:left;" />	
		<span id="lblTituloPopUpBuscadorProcesoCompra" class="Texto16 TextoAlternativo Negrita" style="line-height:40px; margin-left:10px;"></span>
	</div>
	<div style="clear:both; float:left; width:100%; margin-top:10px;">
		<div style="float:left;">
			<div>
				<span id="lblBuscadorProceComprasAnyo" class="Texto12"></span>
			</div>
			<div>
				<div id="cboBuscadorProceComprasAnyo" style="float:left; width:60px;"></div>
			</div>
		</div>
		<div style="float:left; margin-left:10px;">
			<div>
				<span id="lblBuscadorProceComprasGMN1" class="Texto12"></span>
			</div>
			<div>
				<div id="cboBuscadorProceComprasGMN1" style="float:left; width:150px;"></div>
			</div>
		</div>
		<div style="float:left; margin-left:10px;">
			<div>
				<span id="lblBuscadorProceComprasCodDen" class="Texto12"></span>
			</div>
			<div>
				<div id="cboBuscadorProceComprasCodDen" style="float:left; width:220px;"></div>
			</div>
		</div>
	</div>
</div>