﻿<div id="popupBuscadorCertificado" style="position:relative; clear:both; float:left;">    
	<div style="clear:both; float:left;">	
		<img src="images/Certificado.png" class="Image40" style="float:left;" />	
		<span id="lblTituloPopUpBuscadorCertificado" class="Texto16 TextoAlternativo Negrita" style="line-height:40px; margin-left:10px;"></span>
	</div>
	<div style="clear:both; float:left;">
        <div style="float:left;">
            <div>
                <span id="lblBuscadorCertificadoTipo" class="Texto12"></span>
            </div>
            <div>
                <div id="cboBuscadorCertificadoTipo" style="width:200px;"></div>
            </div>
        </div>
        <div style="float:left; margin-left:10px;">
            <div>
                <span id="lblBuscadorCertificadoProveedor" class="Texto12"></span>
            </div>
            <div>
                <div id="cboBuscadorCertificadoProveedor" style="width:200px; height:20px;"></div>
            </div>
        </div>
        <div style="float:left; margin-left:10px;">
            <div>
                <span id="lblBuscadorCertificadoIdentificador" class="Texto12"></span>
            </div>
            <div>
                <div id="cboBuscadorCertificadoIdentificador" style="width:250px;"></div>
            </div>
        </div>
    </div>
</div>
