﻿<div id="popupBuscadorContrato" style="position:relative; clear:both; float:left;">    
	<div style="clear:both; float:left;">	
		<img src="images/Contrato.png" class="Image40" style="float:left;" />	
		<span id="lblTituloPopUpBuscadorContrato" class="Texto16 TextoAlternativo Negrita" style="line-height:40px; margin-left:10px;"></span>
	</div>
	<div style="clear:both; float:left;">
		<div style="float:left;">
			<div>
				<span id="lblBuscadorContratoTipo" class="Texto12"></span>
			</div>
			<div>
				<div id="cboBuscadorContratoTipo" style="width:200px;"></div>
			</div>
		</div>
		<div style="float:left; margin-left:10px;">
			<div>
				<span id="lblBuscadorContratoProveedor" class="Texto12"></span>
			</div>
			<div>
				<div id="cboBuscadorContratoProveedor" style="width:200px;"></div>
			</div>
		</div>  
        <div style="float:left; margin-left:10px;">
			<div>
				<span id="lblBuscadorContratoIdentificador" class="Texto12"></span>
			</div>
			<div>
				<div id="cboBuscadorContratoIdentificador" style="width:200px;"></div>
			</div>
		</div>      
	</div>
</div>