﻿<div id="popupAyudaBuscador" class="popupCN" style="display:none; position:absolute; padding:5px; z-index:1002; width:60%; max-height:80%;">	          		
	<div id="btnCerrarPopUpAyudaBuscador" class="CerrarPopUp" style="float:right; width:30px; height:30px;"></div>
	<div class="FondoHeader" style="clear:both; float:left; width:100%;">
		<span id="lblAyudaBuscador" class="Texto14 TextoClaro Negrita" style="padding:5px;">DAyuda buscador</span>
	</div>       
	<div id="divAyudaBuscador" style="clear:both; float:left; width:100%; margin-top:5px;">
		<table id="tblAyudaBuscador" class="tableAyudaBuscador" cellpadding="2" cellspacing="2"></table>		
	</div>    
</div>
<script id="tituloAyudaBuscador" type="text/x-jquery-tmpl">
    <tr class="divTituloAyudaBuscador">
		<td style="width:30%;">
            <span class="Texto12 Negrita" style="line-height:20px;">{{html value}}</span>
        </td>
        <td style="width:70%;">
            <span class="Texto12 Negrita" style="line-height:20px;">{{html text}}</span>
        </td>
	</tr>
</script>
<script id="infoAyudaBuscador" type="text/x-jquery-tmpl">
    <tr class="divInfoAyudaBuscador">
        <td style="width:30%;">
            <span class="Texto12">{{html value}}</span>
        </td>
        <td style="width:70%;">
            <span class="Texto12">{{html text}}</span>
        </td>
    </tr>
</script>
