﻿<div id="popupBuscadorNoConformidad" style="position:relative; clear:both; float:left;">    
	<div style="clear:both; float:left;">	
		<img src="images/NoConformidad.png" class="Image40" style="float:left;" />	
		<span id="lblTituloPopUpBuscadorNoConformidad" class="Texto16 TextoAlternativo Negrita" style="line-height:40px; margin-left:10px;"></span>
	</div>
	<div style="clear:both; float:left; width:100%;">
        <div style="float:left;">
            <div>
                <span id="lblBuscadorNoConformidadTipo" class="Texto12"></span>
            </div>
            <div>
                <div id="cboBuscadorNoConformidadTipo" style="width:200px;"></div>
            </div>
        </div>
        <div style="float:left; margin-left:10px;">
            <div>
                <span id="lblBuscadorNoConformidadProveedor" class="Texto12"></span>
            </div>
            <div>
                <div id="cboBuscadorNoConformidadProveedor" style="width:200px; height:20px;"></div>
            </div>
        </div>
        <div style="float:left; margin-left:10px;">
            <div>
                <span id="lblBuscadorNoConformidadIdentificador" class="Texto12"></span>
            </div>
            <div>
                <div id="cboBuscadorNoConformidadIdentificador" style="width:250px;"></div>
            </div>
        </div>
    </div>
</div>
