﻿<div id="popupBuscadorFichaCalidad" style="position:relative; clear:both; float:left;">    
	<div style="clear:both; float:left;">	
		<img src="images/FichaCalidad.png" class="Image40" style="float:left;" />	
		<span id="lblTituloPopUpBuscadorFichaCalidad" class="Texto16 TextoAlternativo Negrita" style="line-height:40px; margin-left:10px;"></span>
	</div>
	<div style="clear:both; float:left; width:100%; margin-top:10px;">
		<span id="lblPopUpBuscadorFichaCalidad" class="Texto12"></span>
	</div>
	<div style="clear:both; float:left; width:100%;">
        <div id="cboBuscadorFichaCalidadProveedor" style="width:300px; height:20px;"></div>
	</div>
</div>