﻿A.Cabecera
{
    text-decoration: underline;
}
A.Cabecera:hover
{
    text-decoration: underline;
}
A.Pie
{
    text-decoration: none;
}

.LogoTopLeft
{
    background-image: url(images/logotopleft.jpg);
}
.LogoTopRight
{
    background-image: url(images/logotopright.jpg);
}
.MenuPpal
{
    background-image:url(images/sombralogo.jpg);
    background-repeat: no-repeat;
}
.Rectangulo
{
    border-style:solid;
    border-width: 1px;
}
.Rotulo
{
    font-size: 12px;
    font-weight: bold;
}
.Rotulo10
{
    font-size: 10px;
    font-weight: bold;
}
.Enlace10
{
    color: #AB0020;
    font-size: 10px;
    font-weight: bold;
}
.Rotulo10Azul
{
    font-size: 10px;
    font-weight: bold;
    color:Blue;
}
.texto10
{
    font-size: 10px;
}
.RotuloPequenyo
{
    font-size: 9px;
    font-weight: bold;
}
.RotuloGrande
{
    font-size: 18px;
    font-weight: bold;
}
.EtiquetaGrande
{
    font-size: 14px;
    font-weight: bold;
}
.EtiquetaMediano
{
    font-size: 14px;
    font-weight: bold;
}
.Etiqueta
{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.EtiquetaPeque
{
    font-size: 10px;
    font-weight: bold;
    text-decoration:none;
}
.Normal
{
    font-size: 12px;
}
.CajaTexto
{
    border-style: solid;
    border-width: 1px;
}
.CajaTexto::-ms-clear{
    display:none;
}
.Borde
{
    border-style: solid;
    border-width: 1px;
}
.ListItemLink
{
    cursor: pointer;
}
.modalBackground 
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.popupControl
{
	background-color:#AAD4FF;
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color: Black;
	border-width: 2px;
}
.updateProgress      
{
   border-width: 1px;
   border-style: solid;
   background-color: #FFFFFF; 
   position: absolute;     
   width: 180px;     
   height: 65px; 
} 
.WaterMark
{
    border-style: solid;
    border-width: 1px;
}
.DetallArticulo
{
    background-color:White;
    border-color:black;
    border-style:solid;
    border-width:1px;
}
.LinkButtonInfo
{
    color:#666666;
    font-weight:bold;
    font-size:12px;
}
.PrecioArticulo
{
    color:Black;
    font-size:medium;
    font-weight:bold;
}
.EtiquetaAdjuntosArticulo
{
    color:White;
    font-size:small;
    background-color:Red;
}
.imgMaterialesQA {
    background-image: url(images/filtro_materiales.gif);
}
.ListaFiltros{
    color:Black;
    font-size:x-small;
}
.Cabecera_Seleccionada
{
	background-color: #DCDCDC;
}
.Cabecera_NoSeleccionada
{
	background-color: #FFFFFF;
}
.CajaError
{
    padding: 10px 10px 10px 60px;
    margin: 10px;
    background-position: 10px 10px;
    border-style: solid none solid none;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-weight: bold;
    background-image: url(images/Icono_Error_Amarillo_40x40.gif);
    background-repeat: no-repeat;
    min-height: 40px;
}
.Checkboxes
{
    margin-bottom:1px;
    margin-top:1px;
}
.CabeceraLineaRecepcion
{
    background-color:#D8D8D8;
    border:solid 1px black;
    font-size:11px;
}
.CabeceraLineaSeguimiento
{
    background-color:#D8D8D8;
    border:solid 1px black;
    font-size:11px;
}
.TablaBordeada
{
    border:solid 1px #DFDFDF;
    background-color:White;
}
.TablaBordeada2
{
    height: 0px; 
    overflow: hidden;
    border:solid 1px #DFDFDF;
    background-color:White;
}
.TablaBordeadaU
{
    height: 0px; 
    overflow: hidden;
    border-left:solid 1px #DFDFDF;
    border-right:solid 1px #DFDFDF;
    border-bottom:solid 1px #DFDFDF;
    background-color:White;
}
.BordeInferior
{
    border-bottom:solid 1px #DFDFDF;
}
.right
{
float:right;
width:97%;
}
.WebDateChooserAbsoluto
{
    position:absolute;
}
.arrowsContainer
{
    /*Para que esta tabla se represente correctamente, es necesario que el control junto al que se ubique tenga float:left*/
    float:left;
    vertical-align:middle;
    border:solid 0px #7F9DB9;
    border:none 0px #7F9DB9\0/; /*IE8*/
    .border:solid 1px #7F9DB9; /* IE6, IE7 */
    _border:solid 0px #7F9DB9; /* IE6 */
    .border-left:none 0px #7F9DB9; /* IE6, IE7 */
    _border-left:none 0px #7F9DB9; /* IE6 */
}
/* Firefox */
@-moz-document url-prefix()
{
    .arrowsContainer{
    vertical-align:top; 
    }
}
.arrowsDiv
{
    margin:0px 0px 0px 0px;
    padding:2px 2px 2px 2px;
    border-bottom: #abc1f4 1px solid;
    border-left: #abc1f4 1px solid;
    border-top: #abc1f4 1px solid;
    border-right: #abc1f4 1px solid;
    background-color: #c5d5fc;
    .font-size: 2pt; /*IE6, IE7*/
    _font-size: 2pt; /*IE6*/
    width:12px;
    height:5px; 
    //height:4px; /* IE, not IE8 */
    .height:4px; /* IE6, IE7 */
    _height:4px; /* IE6 */
    height:5px\0/; /* IE8 */
}
.Oculto
{
    display:none;
}

.Rectangulo
    {
        border-style:solid;
        border-width: 1px;
    }
    
    
    #divRectangulo table
    {
        height:180px;
    }
    
    .Cabecera
    {
        color: #FFFFFF;
        background-color: #21416b;
    }
    
    .PieLogin
    {
        float:left; 
        width:100%; 
        height:40%;
    }
    
    .CapaIzquierdaLogin
    {
        float:left;
        width:20%;
        height:40%;        
    }
    .CapaDerechaLogin
    {
        float:left;
        width:20%;
        height:40%;        
    }
    .CapaCentroLogin
    {
        float:left; 
        width:60%; 
        height:40%;
    }
    #divRectangulo .boton
    {
	    border-width:1px;
	    Font-Size:10px;
	    overflow:visible;
	    padding-left:5px;
	    padding-right:5px;
	    border-left-color: #000000;
	    border-bottom-color: #000000;
	    border-top-style: solid;
	    border-top-color: #000000;
	    font-family: Verdana;
	    border-right-style: solid;
	    border-left-style: solid;
	    height: 20px;
	    width:100px;
	    background-color: #EEEEEE;
	    border-right-color: #000000;
	    border-bottom-style: solid;
    }
    
    .CajaTextoLogin
    {
        width:25%;
        height:15px;
    }
    
    .CabeceraPedAprobado
    {
        float:left; 
        width:100%; 
        height:10%;
        text-align:center
    }
    
    .SeparadorPedAprobado
    {
        float:left; 
        width:100%; 
        height:10%;
    }
    
    .TextoPedAprobado
    {
        float:left; 
        width:100%; 
        height:10%;
        text-align:center
    }
    
    .CerrarPedAprobado
    {
        float:left; 
        width:100%; 
        height:10%;
        text-align:center
    }
    
    .EnlaceCerrar
    {
        font-size:12px !important
    }
    
    .TextoAprobacion
    {
        font-size:12px !important
     
    }
    
@media handheld {
    .Rectangulo
    {
        border-style:solid;
        border-width: 1px;
    }
    
    
    #divRectangulo table
    {
        height:180px;
    }
    
    .Cabecera
    {
        color: #FFFFFF;
        background-color: #21416b;
    }
    
    .PieLogin
    {
        float:left; 
        width:100%; 
        height:40%;
    }
    
    .CapaIzquierdaLogin
    {
        float:left;
        width:20%;
        height:40%;        
    }
    .CapaDerechaLogin
    {
        float:left;
        width:20%;
        height:40%;        
    }
    .CapaCentroLogin
    {
        float:left; 
        width:60%; 
        height:40%;
    }
    #divRectangulo .boton
    {
	    border-width:1px;
	    Font-Size:10px;
	    overflow:visible;
	    padding-left:5px;
	    padding-right:5px;
	    border-left-color: #000000;
	    border-bottom-color: #000000;
	    border-top-style: solid;
	    border-top-color: #000000;
	    font-family: Verdana;
	    border-right-style: solid;
	    border-left-style: solid;
	    height: 20px;
	    width:100px;
	    background-color: #EEEEEE;
	    border-right-color: #000000;
	    border-bottom-style: solid;
    }
    
    .CajaTextoLogin
    {
        width:50%;
        height:15px;
    }
    
    .CabeceraPedAprobado
    {
        float:left; 
        width:100%; 
        height:10%;
        text-align:center
    }
    
    .SeparadorPedAprobado
    {
        float:left; 
        width:100%; 
        height:10%;
    }
    
    .TextoPedAprobado
    {
        float:left; 
        width:100%; 
        height:10%;
        text-align:center
    }
    
    .CerrarPedAprobado
    {
        float:left; 
        width:100%; 
        height:10%;
        text-align:center
    }
    
    .EnlaceCerrar
    {
        font-size:16px !important
    }
    
    .TextoAprobacion
    {
        font-size:16px !important
     
    }
}
.pnl_BLOQUEO_OBSERVACIONES
{
	margin:5px;
	padding:10px;
	background-color:#F1F1F1;
	border:1px solid black;
}
.ellipsis
{
white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis;
}
.SMTemplate
{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	border-bottom: solid 1px #909090;
	border-left: solid 1px #909090;
	border-right: solid 1px #909090;
	height:16px;
	cursor:pointer;
	white-space:nowrap;
	background-color: #F0F0F0;
}
.SMTemplate:hover
{
	background-color: #E0E0E0;
}
.apagado
{
    color:#666;
}
td.apagado
{ 
    background-color:buttonface!important;
}
.CaptionLink
{
	font-weight: bold;
	font-size: 12px;
	cursor:pointer;
	color: #CCCCCC;
	font-family: Verdana;
	text-decoration: underline;
}

.CaptionLink:visited {color: #AB0020;text-decoration: underline;}
.CaptionLink:hover {color: #AB0020;text-decoration: underline;}
.DivErrorAviso
{
    position: absolute; 
    left: 30px; 
    border: 1px solid black; 
    background-color: #FFFFCC;
    width: 40%;
}
.CajaErrorAviso
{
    padding: 10px 10px 10px 70px;
    font-weight: bold;
    background-image: url(images/Icono_Error_Amarillo_40x40.gif);
    background-repeat: no-repeat;
    background-position: 10px 20px;
    min-height: 100px;
    height: auto;
    width: 100%;
    font-size: 14px;
}
.NodeSelected
{
    background-color:Navy;
    color: white;
    padding-bottom:3px !important;
    padding-top:3px !important;
}
.NodePresupuestoVigente
{
    color: red;
}