﻿.tdblanco
{
    BACKGROUND-COLOR: #ffffff
}
.tdrojo
{
    COLOR: #000000;
    BACKGROUND-COLOR: #999999
}
.tdrojover11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ff0000;
    TEXT-DECORATION: none
}
.tdnegrover11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
.tdgrisver10
{
    FONT-SIZE: 10px;
    COLOR: #4a4a4a;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc;
    TEXT-DECORATION: none
}
.tdmarronver11
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e5e5b5;
    TEXT-DECORATION: none
}
.tdmarron2ver10
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cfc598;
    TEXT-DECORATION: none
}
.tdmarron2ver9
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f0e6d6;
    TEXT-DECORATION: none
}
.ver9negro
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver10gris
{
    FONT-SIZE: 10px;
    COLOR: #4a4a4a;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver10negro
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver10rojo
{
    FONT-SIZE: 10px;
    COLOR: #006185;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver11negro
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver11blanco
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver14blanco
{
    FONT-SIZE: 14px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ver14rojo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.enlacever11rojo
{
    FONT-SIZE: 11px;
    COLOR: #840000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.enlacever11rojo:hover
{
    FONT-SIZE: 11px;
    COLOR: #840000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.linea
{
    BACKGROUND-COLOR: #fad898
}
.margen1
{
    MARGIN: 3px 5px
}
.margen2
{
    MARGIN: 3px 1px
}
.margen3
{
    MARGIN: 3px 1px 3px 15px
}
.cabecera
{
    height : 25px;	
    FONT-SIZE: 12px;
    COLOR: #512208;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #fce160;
    TEXT-DECORATION: none;
	valign="middle"
}
.par
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f9e99c;
    TEXT-DECORATION: none
}
.impar
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.logo
{
	height : 80px;
	width: 585px;
	background-image: url(../img/logo.gif);
	border-top : 1px solid #cD9D7D9;
	border-bottom : 1px solid #D9D7D9;
	text-align : right;
	background-repeat: no-repeat;
	}
.titulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #512208;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textos
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.lineahoriz
{
    background-image: url(../img/puntitos.gif)
}
.lineavert
{
    width: 1px;
	background-image: url(../img/dots_vert.gif)
}
.fondo
{
    background-image: url(../img/fondo_cuadros.gif)
}