@charset "utf-8";

/* CSS Document */

a:link {
    color: #3865b7;
    text-decoration: underline;
    font-weight: bolder;
}

a:visited {
    text-decoration: none;
    color: #3865b7;
}

a:hover {
    text-decoration: none;
    color: #3865b7;
}

a:active {
    text-decoration: none;
    color: #3865b7;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

#principal {
    width: 950px;
    position: relative;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
}

#principal #cabecera #logotipo {
    float: left;
    border: 0;
}

#principal #cuerpo {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    height: 434px;
    padding-top: 0px;
}

#principal #cabecera {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    padding-top: 0px;
    padding-bottom: 10px;
}

#principal #cabecera #titulo {
    float: right;
    /*width: 740px;*/
    height: 80px;
    padding-bottom: px;
    padding-top: 45px;
    font-size: 30px;
    color: rgba(41, 71, 120, 1.00);
    text-align: left;
}

#principal #cuerpo #imagen-principal {
    background-image: url(images/Portal-Servisa.jpg);
    width: 600px;
    height: 434px;
    font-size: 18px;
    float: left;
}

#principal #cuerpo #formulario {
    width: 348px;
    height: 432px;
    padding-left: 0px;
    margin-top: auto;
    padding-top: 0px;
    border-right: 1px solid #cbcbcb;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    background-color: #fff;
    float: left;
}

#principal #cuerpo #formulario .tit {
    margin-top: 0px;
    height: 50px;
    width: 348px;
    text-align: center;
    font-size: 24px;
    background-image: url(images/acceso-proveedores.png)
}

#principal #cuerpo #formulario form {
    position: relative;
    height: 220px;
    padding-left: 36px;
    padding-right: 30px;
}

#principal #cuerpo #formulario input.text {
    width: 266px;
    height: 28px;
    padding-left: 6px;
    margin-top: 10px;
}

#principal #cuerpo #formulario #frmLogin .bt {
    float: right;
    margin-right: 22px;
    border-radius: 4px;
    width: 130px;
    height: 26px;
    margin-top: 20px;
    color: rgba(252, 252, 252, 1.00);
    font-size: 14px;
}

#principal #cuerpo #formulario #frmLogin .bt_claves {
    float: right;
    text-align: right;
    width: 200px;
    margin-top: 15px;
    margin-right: 22px;
    font-size: 12px;
}

#principal #cuerpo #formulario #registro {
    position: relative;
    padding-left: 30px;
    padding-right: 31px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#principal #cuerpo #formulario #registro .sep {
    border-top: 1px solid #cbcbcb;
}

#principal #cuerpo #formulario #registro .tit_registro {
    float: right;
    text-align: right;
    width: 220px;
    margin-top: 5px;
    margin-right: 22px;
    font-size: 12px;
    font-weight: bold;
    color: #474747;
}

#principal #cuerpo #formulario #registro .bt_solicitar {
    float: right;
    height: 32px;
    width: 120px;
    right: 22px;
    margin-top: 15px;
    padding-right: 31px;
}

#pie-pagina {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

#pie-pagina #pie-pagina-superior {
    padding-left: 5px;
    margin-top: 40px;
    border-top-color: rgba(56, 101, 183, 1.00);
    border-top-style: solid;
    border-width: 1px;
    padding-top: 10px;
    text-align: center;
    color: #3865b7;
}

#pie-pagina #pie-pagina-inf-izq {
    margin-top: 10px;
    text-align: left;
}

#pie-pagina #pie-pagina-inf-dcha {
    text-align: right;
    font-size: 10px;
}

#principal #cuerpo #formulario #registro .bt_solicitar a {
    color: rgba(255, 255, 255, 1.00);
    text-decoration: none;
}

#nav_home {
    width: 950px;
    padding: 16px 0 26px;
    margin-right: auto;
    margin-left: auto;
}

#nav_home .datos_fullstep {
    width: 320px;
    padding: 15px;
    background: #E9E9E9;
    color: rgba(34, 85, 66, 1.00);
    float: right;
    font-size: 16px;
}

#nav_home .datos_fullstep p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nav_home .contenido-home {
    color: #4C4C4C;
    display: block;
    float: left;
    height: 200px;
    width: 600px;
}

#nav_home .contenido-home h2 {
    margin: 0px;
    padding: 0px;
    display: block;
    clear: both;
    font-size: 27px;
    color: rgba(34, 85, 66, 1.00);
}

#nav_home .contenido-home p {
    margin: 0px;
    width: 90%;
    padding-left: 0%;
    padding-right: 4%;
    padding-top: 2%;
    float: left;
    font-size: 16px;
}


/*paginas genericas*/

#cont_gen {
    margin: 0 auto;
    width: 730px;
    height: auto;
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px
}

#izd_gen {
    width: 200px;
    padding: 10px 0 0 15px;
    height: auto;
    float: left
}

#drc_gen {
    width: 500px;
    height: auto;
    float: left;
    padding: 0 15px 15px 0;
}

#drc_gen h1 {
    margin: 0;
    padding: 65px 0 0 25px;
    font-size: 20px;
    font-weight: normal;
    color: #4c4c4c;
    border-left: #4c4c4c 1px solid;
    margin-bottom: 20px;
    line-height: 20px;
}

#drc_gen div.int {
    border-left: #4c4c4c 1px solid;
    background: #F4F4F4 url(images/esquina_blanca.png) no-repeat right bottom;
    padding: 20px 20px 20px 20px;
}

#drc_gen div.int .bt_registro {
    width: 140px;
    height: 18px;
    padding-top: 2px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*--------------*/
    background-color: #3c69bd;
    border: 1px solid #585858;
    border-radius: 10px;
}

.caja_acepto {
    width: 100%;
    padding-top: 10px;
    float: left;
}

input.email {
    width: 200px;
    height: 18px;
    padding-left: 5px;
    border: #333 1px solid;
    border-radius: 10px;
    margin-right: 10px;
}

.recordar-claves {
    width: 290px;
    height: 88px;
    padding: 5px 20px 0 100px;
    margin-top: 30px;
    background: url(images/recordar-claves.jpg) no-repeat;
}

.contenido ul {
    margin: 0px;
    padding: 0px;
}

.contenido ul li {
    margin: 0px;
    padding: 0px;
    margin-bottom: 6px;
    font-size: 14px;
    list-style-type: none;
    text-indent: 10px;
    background: url(images/punto.gif) no-repeat 2px 5px;
}

ul li span {
    color: #1A1A1A
}

div.bt_descarga {
    width: 125px;
    height: 50px;
    padding: 0 20px 0 265px;
}

div.bt_descarga a {
    display: block;
    height: 35px;
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background: url(images/ico_descarga.png) right center no-repeat;
}


/*pagina ayuda*/

#izd_gen ul {
    margin: 30px 0 0 30px;
    padding: 0;
    width: 150px;
    list-style: none;
}

#izd_gen ul li a {
    display: inline-block;
    padding: 10px 0 10px 10px;
    border-top: #CCC 1px dotted;
    background: url(images/punto_rojo.jpg) left center no-repeat;
}

#izd_gen ul li:first-child a {
    border: none;
}

#drc_gen ol li {
    margin-bottom: 10px;
}

#drc_gen .fin {
    border-top: #666 1px dotted;
    width: 377px;
    margin-top: 17px;
    float: left;
}

.bt_arriba {
    display: inline-block;
    width: 23px;
    height: 15px;
    margin-top: 10px;
    background: url(images/flecha_arriba.png) no-repeat;
    float: right;
}

.checkboxRequiredMsg {
    display: none;
}


/*textos*/

.arial {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.arial p {
    margin-top: 0px;
}

.rojo {
    color: #4c4c4c;
}

.rojo_24 {
    font-size: 18px;
    color: #4c4c4c
}

.textos {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}