﻿.tdblanco
{
    BACKGROUND-COLOR: #ffffff
}
.tdrojo
{
    COLOR: #000000;
    BACKGROUND-COLOR: #FFFFFF}
.tdrojover11
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Calibri;
    BACKGROUND-COLOR: #EFEFEF;
    TEXT-DECORATION: none
}
.tdnegrover11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Calibri;
    BACKGROUND-COLOR: #c00000;
    TEXT-DECORATION: none
}
.tdgrisver10
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Calibri;
    BACKGROUND-COLOR: #EFEFEF;
    TEXT-DECORATION: none
}
.tdmarronver11
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Calibri;
    BACKGROUND-COLOR: #c00000;
    TEXT-DECORATION: none
}
.tdmarron2ver10
{
    FONT-SIZE: 10px;
    COLOR: #636463;
    FONT-FAMILY: Calibri;
    BACKGROUND-COLOR: #D5D5D5;
    TEXT-DECORATION: none
}
.tdmarron2ver9
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Calibri;
    BACKGROUND-COLOR: #f0e6d6;
    TEXT-DECORATION: none
}
.ver9negro
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none
}
.ver10gris
{
    FONT-SIZE: 10px;
    COLOR: #05143f;
    FONT-FAMILY: Calibri;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-DECORATION: none
}
.ver10negro
{
    FONT-SIZE: 10px;
    COLOR: #636463;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none
}
.ver10rojo
{
    FONT-SIZE: 10px;
    COLOR: #006185;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none
}
.ver11negro
{
    FONT-SIZE: 11px;
    COLOR: #636463;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none
}
.ver11blanco
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none
}
.ver14blanco
{
    FONT-SIZE: 14px;
    COLOR: #ffffff;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none
}
.ver14rojo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #636463;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none
}
.enlacever11rojo
{
    FONT-SIZE: 14px;
    COLOR: #AB0020;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none
}
.enlacever11rojo:hover
{
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: underline
}
.linea
{
    BACKGROUND-COLOR: #FFFFFF
}
.margen1
{
    MARGIN: 3px 5px
}
.margen2
{
    MARGIN: 3px 1px
}
.margen3
{
    MARGIN: 3px 1px 3px 15px
}

.cabecera
{
    height : 25px;	
    FONT-SIZE: 14px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #D6001C;
    TEXT-DECORATION: none;
	vertical-align:middle;
}
.par
{
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Calibri;
    BACKGROUND-COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
.impar
{
    FONT-SIZE: 12px;
    COLOR: #222222;
    FONT-FAMILY: Calibri;
    BACKGROUND-COLOR: #E5E3E3;
    TEXT-DECORATION: none
}
.logo
{
	height : 120px;
	width: 585px;
	background-image: url(../img/logo.jpg);
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
	text-align : right;
	background-repeat: no-repeat;
	}
.titulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: #00587C;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none;
}
.textos
{
    FONT-SIZE: 13px;
    COLOR: #222222;
    FONT-FAMILY: Calibri;
    TEXT-DECORATION: none;
}
.lineahoriz
{
    background-image: url(../img/puntitos.gif)
}
.lineavert
{
    background-image: url(../img/dots_vert.gif)
}
.fondo
{
    background-image: url(../img/fondo.gif)
}