﻿/* CSS Document */
.menu {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #cc0000; text-decoration: none}
.titulo {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bolder; color: #666666; text-decoration: none}
.subtitulo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #000000; text-decoration: none}
.textos {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none}
.formulario {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none}
.subtextos {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none}
.bottom {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color:#000000; text-decoration: none}
INPUT {font-family:"Arial";font-size:10px;}
A:link {font-size: 10px; text-decoration:none;color:#cc0000}
A:visited {font-size: 10px; text-decoration:none;color:#cc0000}
A:active {font-size: 10px; text-decoration:none;color:#cc0000}
A:hover {  font-size: 10px;color: #666666; text-decoration: underline}

.bottom:link { font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #cc0000; text-decoration: none}
.bottom:visited {  font-size: 9px;color: #cc0000; text-decoration: none}
.bottom:active {  font-size: 9px;color: #cc0000; text-decoration: none}
.bottom:hover {  font-size: 9px;color: #666666; text-decoration: underline}

.formulario:link { font-family: Arial, Helvetica, sans-serif; font-size: 10px;color: #cc0000; text-decoration: none}
.formulario:visited { font-family: Arial, Helvetica, sans-serif; font-size: 10px;color: #cc0000; text-decoration: none}
.formulario:active{ font-family: Arial, Helvetica, sans-serif; font-size: 10px;color: #cc0000; text-decoration: none}
.formulario:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10px;color: #666666; text-decoration: underline}

.navsel3 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none}

.nav4 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav4:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav4:link {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav4:active {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav4:hover {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.logo {
	font-family: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.logo:link {
	font-family: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
