﻿BODY {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
FONT {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
UL {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
OL {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
LI {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
TH {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
NOBR {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
B {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
I {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
SELECT {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
A.linkk:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
A.linkk:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
A.linkk:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
TEXTAREA {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.logoblack {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.logogreen {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0088c0; TEXT-DECORATION: none
}
.logo {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif
}
H3 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
.bot-menue {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.bot-link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.bot-link:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.bot-link:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.bot-link:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.bot-link:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.bot-text {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.suchfeld {
	WIDTH: 120px
}
.selected {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial,Univers,Helvetica,sans-serif; TEXT-DECORATION: none
}
.linkText {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.linkText:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.linkText:link {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.linkText:active {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.nav3 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav3:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav3:link {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav3:active {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav3:hover {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav4 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav4:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav4:link {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav4:active {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav4:hover {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav5 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav5:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav5:link {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav5:active {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav5:hover {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav6 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav6:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav6:link {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav6:active {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.nav6:hover {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.navsel3 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.navsel4 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.navsel5 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.navsel6 {
	FONT-WEIGHT: 300; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.white {
	COLOR: #ffffff
}
