<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/App_Master/Login.master" EnableViewStateMac="false" Inherits="Fullstep.FSNWeb._Default" 
    title="FULLSTEP Networks" Codebehind="Default.aspx.vb" %>
<%@ MasterType VirtualPath="~/App_Master/Login.Master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Izquierda" runat="server">
    <table width="100%" cellpadding="0" cellspacing="20" border="0">
        <tr>
            <td style="min-width:200px;">
                <div style="min-width:15em; min-height:10em; padding:2em; vertical-align:middle; text-align:left; position:relative;" class="Rectangulo">
                    <fsn:FSNInfoSoporte ID="FSNInfoSoporte1" runat="server" />
                </div>
            </td>
        </tr>
    </table>
</asp:Content>