﻿  
   <div style="clear:both; float:left; width:300px; height:280px;z-index:1005;">
        <div id="PnlDestInfo" style="position:absolute; display:none; background-color: rgb(255, 255, 255);z-index:1005;""; class="popupCN" >
            <table id="Table1" border="0" cellpadding="2" cellspacing="0" style="width:100%; position:absolute; z-index:1004;">
                <tr id="lblTitPpal" class="CapaTituloPanelInfo">
                    <td style="padding-left:70px; height: 30px; text-align:left; vertical-align:bottom">
                        <span id="lblTitPpalDen" class="TituloPopUpPanelInfo">DDestino</span>
                    </td>
                    <td id="Td1" style="position:absolute; left:270px; vertical-align:top; height:30px; width:35px;">
                        <img id="ImgDestInfoCerrar" src="../_common/images/Bt_Cerrar.png" style="border:0px;" alt=""/>
                    </td>
                </tr>
                <tr id="Tr2" class="CapaSubTituloPanelInfo">
                    <td colspan="2" style="text-align:left; vertical-align:top">
                        <span id="lblSubTit" class="SubTituloPopUpPanelInfo" style="padding-left:80px">DInformación detallada</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height:15px; text-align:left; vertical-align:top;"></td>
                </tr>
                <tr>
                    <td colspan="3" >
                        <div id="DestallDest" style="clear:both; float:left; padding:10px 10px 0 10px;">
                            <div style="clear:both; float:left;">
                                <span id="lblDestInfoTituloCod" class="Texto12 Negrita"; style="font-weight:bold"></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblDestInfoDir" class="Texto12 Negrita"; style="font-weight:bold"></span>
                                <span id="txtDestInfoDir" class="Texto12 Negrita";></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblDestInfoCP" class="Texto12 Negrita"; style="font-weight:bold"></span>
                                <span id="txtDestInfoCP" class="Texto12";></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblDestInfoPob" class="Texto12 Negrita"; style="font-weight:bold"></span>
                                <span id="txtDestInfoPob" class="Texto12";></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblDestInfoProv" class="Texto12 Negrita"; style="font-weight:bold"></span>
                                <span id="txtDestInfoProv" class="Texto12";></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblDestInfoPais" class="Texto12 Negrita"; style="font-weight:bold"></span>
                                <span id="txtDestInfoPais" class="Texto12";></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblDestInfoTfno" class="Texto12 Negrita"; style="font-weight:bold"></span>
                                <span id="txtDestInfoTfno" class="Texto12";></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblDestInfoFAX" class="Texto12 Negrita"; style="font-weight:bold"></span>
                                <span id="txtDestInfoFAX" class="Texto12";></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblDestInfoEmail" class="Texto12 Negrita"; style="font-weight:bold"></span>
                                <span id="txtDestInfoEmail" class="Texto12";></span>
                            </div>
                        </div>
                    </td>
                </tr>
            
            </table>
            <table id="tblImagenPopUp" border="0" cellpadding="2" cellspacing="0" style="background-color:Transparent; 
                position:absolute; z-index:10005;">
                <tr>
                    <td style="text-align:left; vertical-align:top; padding:0px; width:80px; height:60px;">
                        <img id="imgPopUp" style="border: none;" src="../_common/images/calendar.png" alt=""/>
                    </td>
                </tr>
            </table>
        </div>        
    </div>