body {
	text-align:left;
}
form .label { height: 30px;}
form .label .input { width:100%; border:0; color:#292826; background:#f1f1f1; padding:8px 14px; font-size:14px; height: 24px; }
form .label .textarea { padding:8px 14px;}
#heading #titulo {
	width: 400px;
	margin-top: 25px;
	margin-left: 10px;
	padding: 2px;
		}
/*#heading nav {top:6px; right:20px; width:200px; }
#heading nav ul {width:200px; padding:0; margin-top:0px; float:left; text-align:right}
#heading nav ul li {display: inline-block; width:200px; clear:both; padding:5px}
#heading nav ul li a,
#heading nav ul li strong { text-decoration:none; cursor:pointer; font-weight:700; color:#949393; font-size:12px;}
#heading nav ul li strong .fa { color:#4a462a; vertical-align:middle; margin-right:5px; font-size:18px;}
#heading nav ul li ul { display:none; position:absolute; top:20px; background:#f7f7f7; text-align:center}
#heading nav ul li ul li { width:100%; display:block; clear:both; padding:5px}*/


.int { text-align:left;}
.int .caja_registro { text-align:left;}

.cuerpo .home {
	height: 393px;
}
.cuerpo .home .wform {
	height: 393px;
}
.cuerpo .home .wform .text {
	height: 24px;
	margin-top: 16px;
	padding: 4px 7px;
}
/*.datos_fullstep {
	width: 160px;
	height: 189px;
}*/

.datos_fullstep p {
	margin: 12px 0px;
}
input#txtPWD {
	font-family: Arial, Helvetica, sans-serif;
}
#footer .text { text-align:left;}  