


html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body, html { font-size:100%; padding:0; margin:0;}
*, html { padding:0; margin:0;}

body { padding:0; margin:0; font:13px/20px Arial, sans-serif; font-weight:400; color:#292826; background:#fff ;}


/* genericos */
a { color:#10295e; text-decoration:underline} 
a:hover {color:#10295e; text-decoration:underline}
a img { border:0;}
p { font-weight:normal; padding:10px 0; color:#675c53; line-height:20px;}     
strong { font-weight:700;}

h1 { line-height:120%; text-align:right; font-weight:100; font-size:26px; padding:60px 0 30px 0; color:#7d7d7c;}
h2 { line-height:120%; text-align:left; font-weight:400; font-size:33px; padding:15px 0 !important; color:#10295e;}
h3 { line-height:120%; text-align:left; font-weight:700; font-size:16px; padding:10px 0; color:#10295e;}
h4 { line-height:120%; text-align:left; font-weight:700; font-size:16px; padding:10px 0; color:#675c53;}


img { max-width:100%}
.img-izq { float:left; padding:20px 20px 20px 0}
.img-dcha { float:right; padding:20px 0 20px 20px}

