﻿.Link {
    cursor: pointer;
    color: #D8C512;
}

.Ocultar {
    display: none;
}

.inlineBlock {
    display: inline-block;
}

.Seleccionable {
    background-color: #d8dfea;
    cursor: pointer;
    color: #000;
    border: solid 1px #d8dfea !important;
}

.LinkDisabled {
    color: #B2B2B2 !important;
    cursor: default !important;
}

.fondoAlerta {
    background-color: #FF0000;
}

.CerrarPopUp {
    background: url("images/cerrar.gif") no-repeat scroll center center transparent;
    height: 25px;
    width: 25px;
    top: 0px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}

.FondoHeader {
    width: 100%;
    background-color: #cccccc;
    line-height: 20px;
}

.TextoResaltado {
    color: #D8C512 !important;
}

.TextoAlternativo {
    color: #777777 !important;
}

.TextoOscuro {
    color: #000000 !important;
}

.TextoClaro {
    color: #ffffff !important;
}

.TextoEnfatizado {
    color: Green !important;
}

.TextoAyuda {
    color: #0000ff !important;
}

.CustomCaption {
    color: #D8C512 !important;
}

.Negrita {
    font-weight: bold;
}

.Subrayado {
    text-decoration: underline;
}

.Texto10 {
    font-size: 10px;
    font-family: Gotham-Book;
    color: #000000;
}

.Texto12 {
    font-size: 12px;
    font-family: Gotham-Book;
    color: #000000;
}

.Texto14 {
    font-size: 14px;
    font-family: Gotham-Book;
    color: #D8C512;
}

.Texto16 {
    font-size: 16px;
    font-family: Gotham-Book;
    color: #000000;
}

.Texto22 {
    font-size: 22px;
    font-family: Gotham-Book;
    color: #000000;
}

.textoDefecto {
    color: #d8d8d8 !important;
}

.ImagenBuscador {
    float: left;
    height: 15px;
    margin-left: -1px;
    text-align: center;
    border: solid 1px #cccccc;
    padding: 1px 1px 1px 2px;
}

.CajaTextoSinBorde {
    border: none !important;
    border: 0px !important;
    width: 99%;
    padding-right: 2px;
}

.HideBrowser {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    margin: 0;
    border: solid 0px transparent;
    opacity: 0;
    filter: alpha(opacity=0);
}

.Bordear {
    border: solid 1px #d8d8d8;
}

.botonRedondeado {
    display: inline;
    background-color: #D8C512;
    border-radius: 5px;
    border: solid 1px #D8C512;
    color: #ffffff;
    padding: 0.2em 0.4em;
    cursor: pointer;
    text-transform: uppercase;
}

    .botonRedondeado:hover {
        background-color: #2a9b50;
        color: #ffffff;
        border: solid 1px #2a9b50;
        text-transform: uppercase;
    }

.Image12 {
    border: 0;
    max-height: 12px;
    max-width: 12px;
    vertical-align: bottom;
}

.Image16 {
    border: 0;
    max-height: 16px;
    max-width: 16px;
}

.Image20 {
    border: 0;
    max-height: 20px;
    max-width: 20px;
}

.Image30 {
    border: 0;
    max-height: 30px;
    max-width: 30px;
}

.Image40 {
    border: 0;
    max-height: 40px;
    max-width: 40px;
}

.Image50 {
    border: 0;
    max-height: 50px;
    max-width: 50px;
}

.Image60 {
    border: 0;
    max-height: 60px;
    max-width: 60px;
}

.Image80 {
    border: 0;
    max-height: 80px;
    max-width: 80px;
}

.FondoModal {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.FondoModalTrasparente {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: fixed;
    z-index: 1001;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.updateProgressPM {
    display: none;
    z-index: 1002;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
    position: absolute;
    width: 180px;
    height: 65px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#popupThumbnail {
    background-color: #ffffff;
    border: solid 1px Gray;
}

.popupCN {
    background-color: #FFFFFF;
    border: solid 1px Gray;
}

.SeparadorRight {
    border-right: solid 1px #d8d8d8;
}

.SeparadorLeft {
    border-left: solid 1px #d8d8d8;
}

.SeparadorSup {
    border-top: solid 1px #D2D9E7;
}

.SeparadorInf {
    border-bottom: solid 1px #D2D9E7;
}

.divContenedor {
    clear: both;
    float: left;
    width: 100%;
    border: solid 1px #cccccc;
}

.LoggedUserImage {
    max-height: 90px;
    max-width: 90px;
}

.divMenu {
    float: left;
    width: 20%;
}

.divFijarArribaMenu {
    left: 5px;
    top: 0px;
    position: fixed !important;
    background-color: #FFFFFF;
    z-index: 1;
}

.divFijarArribaNuevoMensaje {
    left: 20%;
    top: 0px;
    background-color: #FFFFFF;
    margin-left: 5px !important;
    z-index: 1;
    border-left: solid 1px #d8d8d8 !important;
}

.divNuevoMensajeAbierto {
    position: absolute !important;
}

.divNuevoMensajeCerrado {
    position: fixed !important;
}

.divFijarAbajoPie {
    position: fixed !important;
    bottom: 0;
}

.divPrincipal {
    float: left;
    width: 80%;
    padding-top: 5px;
}

.divPosicionarTrasFijacion {
    position: absolute;
    left: 20%;
}

.divMenuItem {
    clear: both;
    float: left;
    min-width: 179px;
    border-bottom: solid 1px #d8d8d8;
    border-right: solid 1px #d8d8d8;
    padding: 5px 0px 5px 0px;
    width: 100%;
}

.MenuItemMenu {
    float: left;
    width: 100%;
    margin: 0px;
    list-style: none;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
}

.MenuItemMenuOpcion {
    width: 100%;
    padding: 3px 0px 3px 0px;
    line-height: 16px;
}

.MenuItemMenuOpcionSeleccionado {
    background-color: #d8dfea;
    color: #000;
}

.MenuItemMenuOpcionImagen {
    clear: both;
    float: left;
    margin-right: 3px;
    vertical-align: bottom;
}

.MenuItemMenuOpcion:hover {
    background-color: #d8dfea;
    cursor: pointer;
}

.MenuItemExpand {
    background-image: url("images/expand.png");
    background-repeat: no-repeat;
    background-position: 98%;
    cursor: pointer;
}

.MenuItemCollapse {
    background-image: url("images/collapse.png");
    background-repeat: no-repeat;
    background-position: 98%;
    cursor: pointer;
}

#divNuevosMensajes {
    clear: both;
    float: left;
    width: 100%;
}

#divMenuNuevosMensajes li {
    display: inline;
}

.ItemNuevoMensaje {
    float: left;
    display: inline;
    padding: 0px 5px 0px 5px;
    border: solid 1px Transparent;
    line-height: 16px;
}

    .ItemNuevoMensaje:hover {
        border: solid 1px #435c98;
        background-color: #d8dfea;
        cursor: pointer;
        color: #000;
    }

.ItemNuevoMensajeSeleccionado {
    color: #000;
    border: solid 1px #435c98;
    background-color: #d8dfea;
}

.ItemNuevoMensajeImage {
    vertical-align: middle;
}

#divPanelNotificaciones {
    clear: both;
    float: left;
    width: 90%;
    height: 30px;
    margin: 5px 0px 5px 5%;
    text-align: center;
    background-color: #d8dfea;
    border: solid 2px #435c98;
}

    #divPanelNotificaciones span {
        line-height: 30px;
    }

.divMuro {
    clear: both;
    padding-left: 10px;
    display: none;
    border-left: solid 1px #d8d8d8 !important;
}

    .divMuro > ul {
        list-style: none;
        padding: 0px;
        width: 95%;
    }

        .divMuro > ul > li {
            position: relative;
            float: left;
            width: 95%;
            margin-top: 5px;
            padding: 5px;
            margin-bottom: 5px;
        }

            .divMuro > ul > li:hover {
                background-color: #F2F2F2;
            }

#divMensajeUrgente > ul {
    float: left;
    width: 95%;
    list-style: none;
    padding: 0px 2% 0px 2%;
    overflow-y: auto;
}

    #divMensajeUrgente > ul > li {
        float: left;
        width: 100%;
        margin-top: 5px;
        padding: 5px;
        margin-bottom: 5px;
        overflow-y: auto;
    }

.imagenMensaje {
    float: left;
    padding-right: 5px;
    max-width: 45px;
}

.msgUsuMensaje {
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
}

.MensajeNuevo {
    background-color: #d8dfea;
}

.calendarioEvento {
    width: 40px;
    height: 45px;
    float: left;
    margin-right: 5px;
    border: solid 1px #d8d8d8;
    border-radius: 5px;
}

    .calendarioEvento .calendarioEventoMes {
        background-color: #9C2A2C;
        text-align: center;
        height: 15px;
        line-height: 15px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .calendarioEvento .calendarioEventoDia {
        background-color: White;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

.msgRespuestas {
    float: left;
    width: 100%;
    background-color: #f5f5f5;
}

.msgUsuRespuestaNuevaImagen {
    float: left;
    border: 0;
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
}

.msgRespuesta {
    float: left;
    width: 100%;
    background-color: #f5f5f5;
    padding-bottom: 5px;
}

.msgMeGustaInfo {
    float: left;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.msgMeGustaInfoUsuariosLista {
    position: absolute;
    padding: 5px 25px 5px 5px;
    background-color: #edeff4;
    border: double #000;
    display: none;
    z-index: 101;
}

.msgAdjuntos {
    background-color: #edeff4;
}

.msgAdjuntoImage {
    float: left;
}

.NuevoMensajeEtiqueta {
    float: left;
    margin: 5px 5px 0px 0px;
}

.OtrasOpciones {
    padding: 3px;
    cursor: pointer;
}

.ItemNuevoMensajePara {
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 5px -1px -1px 0px;
    cursor: pointer;
}

    .ItemNuevoMensajePara:hover {
        background-color: #d8dfea;
    }

.ItemNuevoMensajeParaPanel {
    clear: both;
    float: left;
    display: none;
    width: 100%;
}

.ItemNuevoMensajeParaSeleccionado {
    background-color: #d8dfea;
}

.ItemParaProveedor {
    clear: both;
    float: left;
    width: 100%;
    padding: 2px 0px 2px 0px;
}

    .ItemParaProveedor:hover {
        background-color: #d8dfea;
    }

.ItemParaProceCompras {
    clear: both;
    float: left;
    width: 100%;
    padding: 2px 0px 2px 0px;
}

    .ItemParaProceCompras:hover {
        background-color: #d8dfea;
    }

.ItemParaEstrucCompras {
    clear: both;
    float: left;
    width: 100%;
    padding: 2px 0px 2px 0px;
}

    .ItemParaEstrucCompras:hover {
        background-color: #d8dfea;
    }

.ItemParaGrupo {
    clear: both;
    float: left;
    width: 100%;
    padding: 2px 0px 2px 0px;
}

    .ItemParaGrupo:hover {
        background-color: #d8dfea;
    }

.ItemParaGrupoSelected {
    background-color: #d8dfea;
}

.divLista {
    clear: both;
    float: left;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    overflow: auto;
    border-top: solid 1px #cccccc;
}

.ItemPara {
    cursor: pointer;
    padding: 2px;
}

.ItemParaSeleccionado {
    background-color: #d8dfea;
}

.divOpcionesOtrosMensajes {
    clear: both;
    float: left;
    width: 95%;
    background-color: #EDEFF4;
    padding-left: 10px;
}

.divTituloAyudaBuscador {
    background-color: #d8dfea;
}

.divInfoAyudaBuscador {
    background-color: #F2F2F2;
}

.tableAyudaBuscador {
    border: solid 2px #ffffff;
}

.OcultarPopUp {
    background: url("images/ocultar.png") no-repeat scroll center center transparent;
    height: 25px;
    width: 25px;
    top: 0px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}

.MostrarPopUp {
    background: url("images/mostrar.png") no-repeat scroll center center transparent;
    height: 25px;
    width: 25px;
    top: 0px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}

#masterBlancoCN {
    float: left;
    width: 100%;
    margin: 0px;
}

.CollapsiblePanelHeader {
    background-color: #dcdcdc;
    border: 1px solid #d8dfea;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.CollapsiblePanelHeaderExpand {
    background-image: url("images/expandir_color.gif");
    background-repeat: no-repeat;
    background-position: 98%;
    cursor: pointer;
}

.CollapsiblePanelHeaderCollapse {
    background-image: url("images/contraer_color.gif");
    background-repeat: no-repeat;
    background-position: 98%;
    cursor: pointer;
}

.CollapsiblePanelContent {
    border: 1px solid #d8dfea;
}

.FSNTextBoxMultiIdiomaDesplegable {
    background-image: url("images/expand.png");
    background-repeat: no-repeat;
    background-position: 90%;
    cursor: pointer;
}

.ResaltarFilaGrid {
    background-color: #FBEFF2 !important;
}

.tabRedondeado {
    display: inline;
    background-color: #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 0px #trasparent;
    color: #000000;
    padding: 5px 10px;
    cursor: pointer;
}

    .tabRedondeado:hover {
        background-color: #666666;
    }

.tabActive {
    background-color: #282828;
    color: #ffffff;
}

.tabInfo {
    display: inline;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #666666;
    color: #000000;
    padding: 5px 10px;
    cursor: pointer;
}

    .tabInfo:hover {
        background-color: #cccccc;
    }

.botonAdjunto {
    display: inline;
    background-color: #cccccc;
    border-radius: 5px;
    border: solid 1px #666666;
    color: #000000;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #cccccc;
}

.tabInfoActive {
    background-color: #dcdcdc !important;
    border-bottom: solid 1px #dcdcdc;
}

.infoPanel {
    background-color: #dcdcdc;
    border: solid 1px #666666;
}

.fondoPlantilla {
    float: left;
    width: 100%;
    padding: 3px;
}

.BarraMenuHorizontal {
    background-image: url("images/FondoBarraMenus.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

.OptionMenuHorizontal {
    cursor: pointer;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

    .OptionMenuHorizontal:hover {
        background-color: #e4e4e4;
    }

.OptionItemsMenuHorizontal {
    -webkit-box-shadow: 0px 0px 4px 0px #666666;
    box-shadow: 0px 0px 4px 0px #666666;
    position: absolute;
    min-width: 25em;
    background-color: White;
    padding: 0.5em 0.5em 1em 0.5em;
    border-top: solid 0.3em #282828;
}

.optionBarraDesplegable {
    float: right;
    margin: 0em 0.5em;
    vertical-align: bottom;
    border: solid 0.1em Transparent;
}

    .optionBarraDesplegable:hover {
        cursor: pointer;
        border: solid 0.1em Black !important;
    }

.botonFormula {
    border-radius: 0.2em;
    border: solid 0.1em #424242 !important;
    padding: 0.2em;
    margin-top: -0.2em;
    vertical-align: middle;
    cursor: pointer;
}

.escenario {
    display: inline-block;
    cursor: pointer;
    line-height: 2em;
    padding: 0em 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: #dfdfdf;
}

.escenarioFiltro {
    display: inline-block;
    cursor: pointer;
    line-height: 2em;
    padding: 0em 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: #dfdfdf;
}

.escenarioVista {
    cursor: pointer;
    min-width: 6em;
    text-align: center;
    display: inline-block;
    background-color: #dfdfdf;
    padding: 0.8em 1em;
    margin: 0em 0.5em;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.escenarioSeleccionado span {
    color: #ffffff;
}

.escenarioSeleccionado {
    background-color: #aaaaaa !important;
}

#btnEscenariosCarpetaAgregar:hover, #ulEscenariosFavoritos div:hover {
    background-color: #dfdfdf;
}

.PopUp_Header_Background {
    margin-top: 1.5em;
    background-color: #cccccc;
    padding: 0.2em 0em;
}

.Resaltar_BordeRedondeado {
    background-color: #f8f8f8;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 1em #666;
}

.Info_BordeRedondeado {
    background-color: #cccccc;
    border: solid 1px black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.operador_Formula_Escenario {
    display: inline-block;
    cursor: pointer;
    margin: 0.2em;
    text-align: center;
    line-height: 1em;
    min-width: 2em;
    height: 1em;
    padding: 0.3em;
}

.escenarioFiltroEP {
    display: inline-block;
    cursor: pointer;
    line-height: 2em;
    padding: 0em 1em;
    margin: 0em 0.0em;
    border-radius: 0.5em;
    background-color: #dfdfdf;
}

.escenarioVistaEP {
    cursor: pointer;
    min-width: 6em;
    text-align: center;
    display: inline-block;
    background-color: #dfdfdf;
    padding: 0.8em 1em;
    margin: 0em 0.0em;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.escenarioSeleccionadoEP span {
    color: #ffffff;
}

.escenarioSeleccionadoEP {
    background-color: #aaaaaa !important;
}

.escenarioCamposFiltroCabecera {
    border-bottom: 1px solid #000000;
}

.escenarioCamposFiltroCabeceraColumna {
    display: inline-block;
    text-align: center;
}

.celdaValorNuloWebHierarchical {
    background-color: #dfdfdf !important
}

.imgOcultoCeldaWebHierarchical img {
    display: none;
}

.imgOcultoCeldaWebHierarchical:hover img {
    display: inline;
}

.clickable {
    cursor: pointer;
}

.datePickerCalendario {
    border: 0px solid transparent !important;
    background-color: transparent !important;
}

.tablaDatos, .tablaDatos tr, .tablaDatos td, .tablaDatos th {
    border: solid 0.1em #000000;
    border-collapse: collapse;
}

    .tablaDatos th {
        font-weight: bold;
        padding-left: 1em;
        text-align: left;
        background-color: #b2b2b2;
        line-height: 2em;
    }

    .tablaDatos td {
        padding-left: 1em;
        line-height: 1.5em;
    }

td.ighg_FullstepExpandableArea > div {
    padding: 0.5em 3em;
}

.nivelEscalacionPendiente {
    font-weight: bold;
    color: #BC151B;
}

.nivelEscalacionEnCurso {
    font-weight: bold;
    color: #000;
}

.imagenNota {
    padding-left: 20px !important;
    background-image: url("images/coment.gif") !important;
    background-position: left center;
    background-repeat: no-repeat;
    color: #000 !important;
}
