﻿/*================================*/
/*======== HIGHLIGHT =============*/
/*================================*/
.highlight {
    background-color: yellow;
}
/*================================*/
/*======== FIN HIGHLIGHT =========*/

/*================================*/
/*================================*/
/*======== TREE VIEW =============*/
/*================================*/
ul.tree {
    list-style: none outside;
    padding: 0px;
    margin: 5px 0px 0px 0px;
}

    ul.tree ul {
        list-style: none outside;
        padding: 0px;
    }

    ul.tree ul {
        margin-left: 12px;
    }

    ul.tree li.closed > ul {
        display: none;
    }

    ul.tree li {
        margin: 1px 0;
        line-height: 17px;
    }

    ul.tree a.toggler {
        background: url(imagesplugin/menos.gif) no-repeat 0 50%;
        width: 20px;
        display: block;
        float: left;
        text-indent: -9999px;
    }

    ul.tree a, ul.tree span.toggler {
        cursor: pointer;
    }

    ul.tree li > span {
        height: 20px;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
    }

    ul.tree li.folder {
        margin-bottom: 4px;
    }

        ul.tree li.folder.closed {
            margin-bottom: 1px;
        }

        ul.tree li.folder > span {
            margin-left: 3px;
        }

    ul.tree a.toggler.closed {
        background-image: url(imagesplugin/mas.gif);
    }
/* todo: in ul.tree? */
span.tree-dragging {
    color: #fff;
    background: #000;
    opacity: 0.6;
    cursor: pointer;
    padding: 2px 8px;
}

ul.tree li.ghost {
    position: absolute;
}

    ul.tree li.ghost span {
        display: block;
    }

ul.tree .selected {
    background-color: #d8dfea;
    color: #000;
}

span.tree-hit {
    position: absolute;
    display: block;
}

ul.tree span.border {
    position: absolute;
    display: block;
    border: solid 2px #0000ff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0;
}

.treeTipo0 {
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    color: #000;
    padding-left: 5px;
    margin-left: 23px;
}

.treeTipo1 {
    background: url(imagesplugin/Carpeta.png) no-repeat 0 50%;
    background-position: left;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    color: #000;
    padding-left: 18px;
    margin-left: 23px;
}

.treeTipo2 {
    background: url(imagesplugin/PermisoPrivado.png) no-repeat 0 50%;
    background-position: left;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    color: #000;
    padding-left: 18px;
    margin-left: 23px;
}

.treeTipo3 {
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    color: #000;
    padding-left: 5px;
    margin-left: 23px;
}

.treeTipo4 {
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    color: #3b5998;
    padding-left: 5px;
    margin-left: 23px;
}

.treeTipo5 {
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    color: #000;
    padding-left: 5px;
}

.treeTipo10 {
    margin: 0em 0em 0em 2em;
    padding: 0.2em;
    border: 0.1em solid Transparent;
}

    .treeTipo10:hover {
        border-radius: 0.3em;
        border: 0.1em solid #999999;
        background: #dadada url(imagesplugin/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #212121;
    }

.treeTipo10Selected {
    border-radius: 0.3em;
    border: 0.1em solid #999999;
    background: #dadada url(imagesplugin/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
}

.treeTipo10img {
    background: url(imagesplugin/Carpeta.png) no-repeat 0 50%;
    background-position: left;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    color: #000;
    padding-left: 18px;
}

.treeSeleccionable {
    cursor: pointer;
}

    .treeSeleccionable:hover {
        background-color: #d8dfea;
    }
/*====================================*/
/*======== FIN TREE VIEW =============*/
/*====================================*/

/*====================================*/
/*======== FSCOMBO ===================*/
/*====================================*/

.fsCombo {
    position: relative;
    border: solid 1px #cccccc;
}

.fsComboDisabled {
    background-color: #E5E5E5;
    color: Gray;
}

.fsComboValueDisplay {
    float: left;
    border: none;
    border: 0px;
    padding: 0px;
    margin: 0px 1px 0px 1px;
}

.fsComboDropDownButton {
    vertical-align: bottom;
    cursor: pointer;
    float: right;
}

.fsComboDropDownList {
    clear: both;
    list-style: none;
    display: none;
    padding: 0px;
    margin: 0px 0px 0px -1px;
    overflow-y: auto;
    border: solid 1px #a9a9a9;
    background-color: #ffffff;
}

.fsComboItem {
    padding-left: 2px;
    cursor: pointer;
}

    .fsComboItem:hover {
        background-color: Silver;
        color: #ffffff;
    }

.fsComboItemSelected {
    background-color: Silver;
    color: #ffffff;
}
/*====================================*/
/*======== FIN FSCOMBO ===============*/
/*====================================*/

/*================================*/
/*======== DATEPICKER =============*/
/*================================*/
.ui-datepicker-trigger {
    vertical-align: bottom;
    padding-bottom: 1px;
    cursor: pointer;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ui-helper-clearfix {
    display: inline-block;
}
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
    height: 1%;
}

.ui-helper-clearfix {
    display: block;
}
/* end clearfix */
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and imagesplugin */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Component containers
----------------------------------*/
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

    .ui-widget .ui-widget {
        font-size: 1em;
    }

    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        font-family: Verdana,Arial,sans-serif;
        font-size: 1em;
    }

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff url(imagesplugin/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}

    .ui-widget-content a {
        color: #222222;
    }

.ui-widget-header {
    border: none;
    color: #222222;
    font-weight: bold;
}

    .ui-widget-header a {
        color: #222222;
    }

    /* Interaction states
----------------------------------*/
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: solid 1px Transparent;
        background: #e6e6e6 url(imagesplugin/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #555555;
    }

        .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
            color: #555555;
            text-decoration: none;
        }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        border: 1px solid #999999;
        background: #dadada url(imagesplugin/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #212121;
    }

        .ui-state-hover a, .ui-state-hover a:hover {
            color: #212121;
            text-decoration: none;
        }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #aaaaaa;
        background: #ffffff url(imagesplugin/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #212121;
    }

        .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
            color: #212121;
            text-decoration: none;
        }

.ui-widget :active {
    outline: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight {
    height: 2em;
    line-height: 1.2em;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(imagesplugin/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636;
}

    .ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
        color: #363636;
    }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(imagesplugin/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a;
}

    .ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
        color: #cd0a0a;
    }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
    color: #cd0a0a;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

/* Icons
----------------------------------*/

/* states and imagesplugin */
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(imagesplugin/ui-icons_222222_256x240.png);
}

.ui-widget-content .ui-icon {
    background-image: url(imagesplugin/ui-icons_222222_256x240.png);
}

.ui-widget-header .ui-icon {
    background-image: url(imagesplugin/ui-icons_222222_256x240.png);
}

.ui-state-default .ui-icon {
    background-image: url(imagesplugin/ui-icons_888888_256x240.png);
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(imagesplugin/ui-icons_454545_256x240.png);
}

.ui-state-active .ui-icon {
    background-image: url(imagesplugin/ui-icons_454545_256x240.png);
}

.ui-state-highlight .ui-icon {
    background-image: url(imagesplugin/ui-icons_2e83ff_256x240.png);
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url(imagesplugin/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
.ui-icon-carat-1-n {
    background-position: 0 0;
}

.ui-icon-carat-1-ne {
    background-position: -16px 0;
}

.ui-icon-carat-1-e {
    background-position: -32px 0;
}

.ui-icon-carat-1-se {
    background-position: -48px 0;
}

.ui-icon-carat-1-s {
    background-position: -64px 0;
}

.ui-icon-carat-1-sw {
    background-position: -80px 0;
}

.ui-icon-carat-1-w {
    background-position: -96px 0;
}

.ui-icon-carat-1-nw {
    background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
    background-position: -144px 0;
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
    background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}

.ui-icon-arrow-4 {
    background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}

.ui-icon-extlink {
    background-position: -32px -80px;
}

.ui-icon-newwin {
    background-position: -48px -80px;
}

.ui-icon-refresh {
    background-position: -64px -80px;
}

.ui-icon-shuffle {
    background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px;
}

.ui-icon-folder-open {
    background-position: -16px -96px;
}

.ui-icon-document {
    background-position: -32px -96px;
}

.ui-icon-document-b {
    background-position: -48px -96px;
}

.ui-icon-note {
    background-position: -64px -96px;
}

.ui-icon-mail-closed {
    background-position: -80px -96px;
}

.ui-icon-mail-open {
    background-position: -96px -96px;
}

.ui-icon-suitcase {
    background-position: -112px -96px;
}

.ui-icon-comment {
    background-position: -128px -96px;
}

.ui-icon-person {
    background-position: -144px -96px;
}

.ui-icon-print {
    background-position: -160px -96px;
}

.ui-icon-trash {
    background-position: -176px -96px;
}

.ui-icon-locked {
    background-position: -192px -96px;
}

.ui-icon-unlocked {
    background-position: -208px -96px;
}

.ui-icon-bookmark {
    background-position: -224px -96px;
}

.ui-icon-tag {
    background-position: -240px -96px;
}

.ui-icon-home {
    background-position: 0 -112px;
}

.ui-icon-flag {
    background-position: -16px -112px;
}

.ui-icon-calendar {
    background-position: -32px -112px;
}

.ui-icon-cart {
    background-position: -48px -112px;
}

.ui-icon-pencil {
    background-position: -64px -112px;
}

.ui-icon-clock {
    background-position: -80px -112px;
}

.ui-icon-disk {
    background-position: -96px -112px;
}

.ui-icon-calculator {
    background-position: -112px -112px;
}

.ui-icon-zoomin {
    background-position: -128px -112px;
}

.ui-icon-zoomout {
    background-position: -144px -112px;
}

.ui-icon-search {
    background-position: -160px -112px;
}

.ui-icon-wrench {
    background-position: -176px -112px;
}

.ui-icon-gear {
    background-position: -192px -112px;
}

.ui-icon-heart {
    background-position: -208px -112px;
}

.ui-icon-star {
    background-position: -224px -112px;
}

.ui-icon-link {
    background-position: -240px -112px;
}

.ui-icon-cancel {
    background-position: 0 -128px;
}

.ui-icon-plus {
    background-position: -16px -128px;
}

.ui-icon-plusthick {
    background-position: -32px -128px;
}

.ui-icon-minus {
    background-position: -48px -128px;
}

.ui-icon-minusthick {
    background-position: -64px -128px;
}

.ui-icon-close {
    background-position: -80px -128px;
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

.ui-icon-key {
    background-position: -112px -128px;
}

.ui-icon-lightbulb {
    background-position: -128px -128px;
}

.ui-icon-scissors {
    background-position: -144px -128px;
}

.ui-icon-clipboard {
    background-position: -160px -128px;
}

.ui-icon-copy {
    background-position: -176px -128px;
}

.ui-icon-contact {
    background-position: -192px -128px;
}

.ui-icon-image {
    background-position: -208px -128px;
}

.ui-icon-video {
    background-position: -224px -128px;
}

.ui-icon-script {
    background-position: -240px -128px;
}

.ui-icon-alert {
    background-position: 0 -144px;
}

.ui-icon-info {
    background-position: -16px -144px;
}

.ui-icon-notice {
    background-position: -32px -144px;
}

.ui-icon-help {
    background-position: -48px -144px;
}

.ui-icon-check {
    background-position: -64px -144px;
}

.ui-icon-bullet {
    background-position: -80px -144px;
}

.ui-icon-radio-off {
    background-position: -96px -144px;
}

.ui-icon-radio-on {
    background-position: -112px -144px;
}

.ui-icon-pin-w {
    background-position: -128px -144px;
}

.ui-icon-pin-s {
    background-position: -144px -144px;
}

.ui-icon-play {
    background-position: 0 -160px;
}

.ui-icon-pause {
    background-position: -16px -160px;
}

.ui-icon-seek-next {
    background-position: -32px -160px;
}

.ui-icon-seek-prev {
    background-position: -48px -160px;
}

.ui-icon-seek-end {
    background-position: -64px -160px;
}

.ui-icon-seek-start {
    background-position: -80px -160px;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
    background-position: -80px -160px;
}

.ui-icon-stop {
    background-position: -96px -160px;
}

.ui-icon-eject {
    background-position: -112px -160px;
}

.ui-icon-volume-off {
    background-position: -128px -160px;
}

.ui-icon-volume-on {
    background-position: -144px -160px;
}

.ui-icon-power {
    background-position: 0 -176px;
}

.ui-icon-signal-diag {
    background-position: -16px -176px;
}

.ui-icon-signal {
    background-position: -32px -176px;
}

.ui-icon-battery-0 {
    background-position: -48px -176px;
}

.ui-icon-battery-1 {
    background-position: -64px -176px;
}

.ui-icon-battery-2 {
    background-position: -80px -176px;
}

.ui-icon-battery-3 {
    background-position: -96px -176px;
}

.ui-icon-circle-plus {
    background-position: 0 -192px;
}

.ui-icon-circle-minus {
    background-position: -16px -192px;
}

.ui-icon-circle-close {
    background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px;
}

.ui-icon-circle-check {
    background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
    background: #aaaaaa url(imagesplugin/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa url(imagesplugin/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
/*

 */
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}

    .ui-datepicker .ui-datepicker-header {
        position: relative;
        padding: .2em 0;
    }

    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
        position: absolute;
        top: 2px;
        width: 1.8em;
        height: 1.8em;
    }

    .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
        top: 1px;
    }

    .ui-datepicker .ui-datepicker-prev {
        left: 2px;
    }

    .ui-datepicker .ui-datepicker-next {
        right: 2px;
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 1px;
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 1px;
    }

    .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
    }

    .ui-datepicker .ui-datepicker-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        text-align: center;
    }

        .ui-datepicker .ui-datepicker-title select {
            font-size: 1em;
            margin: 1px 0;
        }

    .ui-datepicker select.ui-datepicker-month-year {
        width: 100%;
    }

    .ui-datepicker select.ui-datepicker-month,
    .ui-datepicker select.ui-datepicker-year {
        width: 49%;
    }

    .ui-datepicker table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }

    .ui-datepicker th {
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
    }

    .ui-datepicker td {
        border: 0;
        padding: 1px;
    }

        .ui-datepicker td span, .ui-datepicker td a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
        }

    .ui-datepicker .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

        .ui-datepicker .ui-datepicker-buttonpane button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible;
        }

            .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: left;
            }

    /* with multiple calendars */
    .ui-datepicker.ui-datepicker-multi {
        width: auto;
    }

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

    .ui-datepicker-multi .ui-datepicker-group table {
        width: 95%;
        margin: 0 auto .4em;
    }

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0em;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
}

    .ui-datepicker-rtl .ui-datepicker-prev {
        right: 2px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next {
        left: 2px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-prev:hover {
        right: 1px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next:hover {
        left: 1px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-buttonpane {
        clear: right;
    }

        .ui-datepicker-rtl .ui-datepicker-buttonpane button {
            float: left;
        }

            .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: right;
            }

    .ui-datepicker-rtl .ui-datepicker-group {
        float: right;
    }

    .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

    .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display /**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
/*====================================*/
/*======== FIN FSCOMBO ===============*/
/*====================================*/

/*====================================*/
/*======== FILEUPLOAD ===============*/
/*====================================*/
.template-download {
    padding: 1px 0px;
}

.fondoAdjunto {
    float: left;
    width: 100%;
    padding: 3px;
    background-color: #edeff4;
}

.fileupload-buttonbar .ui-button input {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.fileinput-button {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    display: inline-block;
}

/* Fix for IE 6: */
*html .fileinput-button {
    padding: 2px 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
    padding: 2px 0;
}

.fileupload-buttonbar {
    padding: 0px;
}

    .fileupload-buttonbar .ui-button {
        vertical-align: middle;
    }

.fileupload-content {
    padding: 0.2em 0.4em;
    border-top-width: 0;
}

    .fileupload-content .ui-progressbar {
        width: 200px;
        height: 20px;
    }

    .fileupload-content .ui-progressbar-value {
        background: url(imagesplugin/pbar-ani.gif);
        height: 20px;
    }

    .fileupload-content .fileupload-progressbar {
        width: 400px;
        margin: 10px 0;
    }

.files {
    border-collapse: collapse;
}

    .files td {
        padding: 5px;
        border-spacing: 5px;
    }

    .files img {
        border: none;
    }

    .files .name {
        padding: 0 5px;
    }

    .files .size {
        padding: 0 10px 0 0;
        text-align: right;
        white-space: nowrap;
    }

.ui-state-disabled .ui-state-disabled {
    opacity: 1;
    filter: alpha(opacity=100);
}

.ui-state-disabled input {
    cursor: default;
}
/*====================================*/
/*======== FIN FILEUPLOAD ===============*/
/*====================================*/

/*====================================*/
/*======== CKEDITOR ===============*/
/*====================================*/
.cke_skin_kama a.cke_dialog_ui_button {
    background: none !important;
    background-color: #D8C512 !important;
    color: #ffffff !important;
}

.cke_dialog_ui_button {
    color: #ffffff !important;
}

.cke_dialog_close_button {
    background: url(images/cerrar.gif) no-repeat center center !important;
}

.cke_skin_kama a.cke_dialog_ui_button_ok span, .cke_skin_kama a.cke_dialog_ui_button_cancel span {
    background: none !important;
}

.cke_skin_kama .cke_button_imageUpload .cke_icon {
    background-position: 0 -576px !important;
}
/*====================================*/
/*======== FIN CKEDITOR ===============*/
/*====================================*/
/*================================*/
/*================================*/
/*======== FSNTREE VIEW =============*/
/*================================*/
ul.fsnTree {
    list-style: none outside;
    padding: 0px;
    margin: 1em 0em 0em 0em;
}

    ul.fsnTree ul {
        list-style: none outside;
        padding: 0em;
    }

    ul.fsnTree ul {
        margin-left: 1em;
    }

    ul.fsnTree li.closed > ul {
        display: none;
    }

    ul.fsnTree li {
        margin: 0.1em 0;
        padding: 0.2em;
    }

    ul.fsnTree a.toggler {
        background: url(imagesplugin/menos.gif) no-repeat 0 50%;
        width: 1.5em;
        display: block;
        float: left;
        text-indent: -9999em;
    }

    ul.fsnTree a, ul.fsnTree span.toggler {
        cursor: pointer;
    }

    ul.fsnTree li > span {
        display: inline-block;
    }

    ul.fsnTree li.folder {
        margin-bottom: 4px;
    }

        ul.fsnTree li.folder.closed {
            margin-bottom: 1px;
        }

        ul.fsnTree li.folder > span {
            margin-left: 3px;
        }
/* todo: in ul.tree? */
span.fsnTree-dragging {
    color: #fff;
    background: #000;
    opacity: 0.6;
    cursor: pointer;
    padding: 2px 8px;
}

ul.fsnTree li.ghost {
    position: absolute;
}

    ul.fsnTree li.ghost span {
        display: block;
    }

ul.fsnTree .selected {
    background-color: #d8dfea;
    color: #000;
}

span.fsnTree-hit {
    position: absolute;
    display: block;
}

ul.fsnTree span.border {
    position: absolute;
    display: block;
    border: solid 2px #0000ff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0;
}

.fsnTreeSeleccionable {
    cursor: pointer;
}

    .fsnTreeSeleccionable:hover {
        background-color: #d8dfea;
    }

.fsnTreeSelected {
    background-image: url(images/fondo.png);
    background-position: center;
    border-radius: 0.5em;
    cursor: pointer;
}
/*====================================*/
/*======== FIN TREE VIEW =============*/
/*====================================*/
/*====================================*/
/*======== INICIO MENU UI =============*/
/*====================================*/
.ui-menu {
    list-style: none;
    padding: 0.1em;
    margin: 0;
    display: block;
    outline: none
}

.ui-menu-item {
    margin: 0em 0em 0em 2em;
    padding: 0.1em;
    border: 0.1em solid Transparent;
}

.ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
}

.ui-menu .ui-menu-divider {
    margin: 5px -2px 5px -2px;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal
}

    .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
        font-weight: normal;
        margin: -1px
    }

.ui-menu .ui-state-disabled {
    font-weight: normal;
    margin: .4em 0 .2em;
    line-height: 1.5
}

    .ui-menu .ui-state-disabled a {
        cursor: default
    }

.ui-menu-icons {
    position: relative
}

    .ui-menu-icons .ui-menu-item a {
        position: relative;
        padding-left: 2em
    }

.ui-menu .ui-icon {
    position: absolute;
    top: .2em;
    left: .2em
}

.ui-menu .ui-menu-icon {
    position: static;
    float: right
}

/*====================================*/
/*==== INICIO MULTIPLE SELECT UI =====*/
/*====================================*/
/*
.ms-parent{display:inline-block;position:relative;vertical-align:middle}
.ms-choice{display:block;height:20px;overflow:hidden;cursor:pointer;border:1px solid #aaa;text-align:left;white-space:nowrap;line-height:19px;color:#444;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#fff;padding:0}
.ms-choice.disabled{background-color:#f4f4f4;background-image:none;border:1px solid #ddd;cursor:default}
.ms-choice > span{position:absolute;top:0;left:0;right:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;padding-left:8px}
.ms-choice > span.placeholder{color:#999}
.ms-choice > div{position:absolute;top:0;right:0;width:20px;height:20px;background:url(imagesplugin/multiple-select.png) left top no-repeat}
.ms-choice > div.open{background:url(imagesplugin/multiple-select.png) right top no-repeat}
.ms-drop{overflow:hidden;display:none;margin-top:-1px;position:absolute;z-index:1000;top:100%;background:#fff;color:#000;border:1px solid #aaa;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 4px 5px rgba(0,0,0,.15);box-shadow:0 4px 5px rgba(0,0,0,.15);padding:0}
.ms-search{display:inline-block;min-height:18px;position:relative;white-space:nowrap;width:100%;z-index:10000;margin:0;padding:4px}
.ms-search input{width:100%;height:auto!important;min-height:19px;outline:0;font-family:sans-serif;font-size:1em;border:1px solid #aaa;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:url(imagesplugin/multiple-select.png) no-repeat 100% -25px;margin:0;padding:0 20px 0 5px}
.ms-search,.ms-search input{-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.ms-drop ul{overflow:auto;margin:0;padding:5px 8px}
.ms-drop ul > li{list-style:none;display:list-item;background-image:none;position:static}
.ms-drop ul > li .disabled{opacity:.35;filter:Alpha(Opacity=35)}
.ms-drop ul > li.multiple{display:block;float:left}
.ms-drop ul > li.group{clear:both}
.ms-drop ul > li.multiple label{width:100%;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.ms-drop ul > li label.optgroup{font-weight:700}
.ms-drop input[type=checkbox]{vertical-align:middle}
*/
/*====================================*/
/*==== INICIO MULTISELECT UI =========*/
/*====================================*/
.ui-multiselect {
    padding: 2px 0 2px 4px;
    text-align: left
}

    .ui-multiselect span.ui-icon {
        float: right
    }

.ui-multiselect-single .ui-multiselect-checkboxes input {
    position: absolute !important;
    top: auto !important;
    left: -9999px;
}

.ui-multiselect-single .ui-multiselect-checkboxes label {
    padding: 5px !important
}

.ui-multiselect-header {
    margin-bottom: 3px;
    padding: 3px 0 3px 4px
}

    .ui-multiselect-header ul {
        font-size: 0.9em
    }

        .ui-multiselect-header ul li {
            float: left;
            padding: 0 10px 0 0
        }

    .ui-multiselect-header a {
        text-decoration: none
    }

        .ui-multiselect-header a:hover {
            text-decoration: underline
        }

    .ui-multiselect-header span.ui-icon {
        float: left
    }

    .ui-multiselect-header li.ui-multiselect-close {
        float: right;
        text-align: right;
        padding-right: 0
    }

.ui-multiselect-menu {
    display: none;
    padding: 3px;
    position: absolute;
    z-index: 10000;
    text-align: left
}

.ui-multiselect-checkboxes {
    position: relative /* fixes bug in IE6/7 */;
    overflow-y: scroll;
    min-height: 1em;
}

    .ui-multiselect-checkboxes label {
        cursor: default;
        display: block;
        border: 1px solid transparent;
        padding: 3px 1px;
        min-height: 1em;
    }

        .ui-multiselect-checkboxes label input {
            position: relative;
            top: 1px
        }

    .ui-multiselect-checkboxes li {
        clear: both;
        font-size: 0.9em;
        padding-right: 3px;
    }

        .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid
        }

            .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
                display: block;
                padding: 3px;
                margin: 1px 0;
                text-decoration: none
            }

    /* remove label borders in IE6 because IE6 does not support transparency */
    * html .ui-multiselect-checkboxes label {
        border: none
    }

.ui-multiselect-hasfilter ul {
    position: relative;
    top: 2px
}

.ui-multiselect-filter {
    margin-right: 10px;
    font-size: 11px
}

    .ui-multiselect-filter input {
        width: 75%;
        font-size: 10px;
        margin-left: 5px;
        height: 15px;
        padding: 2px;
        border: 1px solid #292929;
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
    }
