<%@ Page Language="vb" AutoEventWireup="false" Codebehind="flowDiagramExport.aspx.vb" Inherits="Fullstep.FSNWeb.flowDiagramExport"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<title></title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</head>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:button id="cmdBMP" style="Z-INDEX: 103; LEFT: 128px; POSITION: absolute; TOP: 80px" runat="server"
				Width="56px" Text="BMP" CssClass="botonPMWEB"></asp:button><asp:xml id="xmlPres" runat="server"></asp:xml><INPUT id="Instancia" style="Z-INDEX: 105; LEFT: 8px; WIDTH: 40px; POSITION: absolute; TOP: 8px; HEIGHT: 22px"
				type="hidden" size="1" name="Instancia" runat="server">
			<cc1:diagramwebcontrol id="dwc" style="Z-INDEX: 100; LEFT: 32px; POSITION: absolute; TOP: 56px" runat="server"
				Height="16px" Width="144px" Visible="False" EnableViewState="False" SaveToSessionState="False"></cc1:diagramwebcontrol><asp:button id="cmdGIF" style="Z-INDEX: 101; LEFT: 216px; POSITION: absolute; TOP: 80px" runat="server"
				Width="56px" Text="GIF" CssClass="botonPMWEB"></asp:button><asp:button id="cmdPDF" style="Z-INDEX: 104; LEFT: 304px; POSITION: absolute; TOP: 80px" runat="server"
				Width="56px" Text="PDF" CssClass="botonPMWEB"></asp:button></form>
	</body>
</html>
