﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="EliminarFactura.aspx.vb" Inherits="Fullstep.PMPortalWeb.EliminarFactura" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>
        function EliminarOK(url) {
            window.open(url, "_self")
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
