﻿
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/*aquí empieza mi css*/
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Verdana, sans-serif;
}
h1 h2 p ul li {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 1014px;
	height: 100%;
	margin: auto;
}
#cabecera {
	width: 1014px;
	height: 80px;
	background-color: #d2fcfc;
}
#cabecera #logo {
	float: left;
	width: 30%;
	padding: 0.5%;
	margin-top: 0.5%;
}
#cabecera #titulo {
	float: left;
	width: 40%;
	margin-top: 3%;
	margin-left: 2%;
	padding: 0.2%;
	padding-top:1.1%;
	font-size: 1.8em;
	font-family: Verdana, sans-serif;
	}
#cabecera #nav {
	float: right;
	margin-top: 5%;
	width: 20%;
	text-align: right;
}
#nav ul {
}
#nav li {
	float: left;
	list-style-type: none;
	padding-left: 10%;
	font-size: 0.8em;
}
#nav li a {
	text-decoration: none;
	color: #333333;
	font-weight: 600;
}
#nav li a:hover {
	text-decoration: underline;
}
#container {
	margin-top: 0.01%;
	width: 1014px;
	height: 477px;
	background-color: #d2fcfc;
}
#container #linea {
	background-color: #e4e1e1;
	height: 5px;
	padding-left: 2.5%;
	margin-top: 0;
	text-align: left;
	font-family: Verdana, sans-serif;
	font-size: 2.4em;
}
#container #image-main {
	float: left;
	width: 70%;
	height: 474px;
}
#container #image#img {
	max-width: 790px;
	margin-top: 0;
}
.clearfix {
	clear: both;
}
#container #acceso {
	margin-top: 0;
	width: 30%;
	float: left;
	font-family: Verdana, sans-serif;
	height: 477px;
	background-color: #E9E9E9;
}
#container #acceso h2 {
	background-color: #0062AE;
	padding-top: 2%;
	margin-top: 0;
	color: #fff;
	height: 30px;
	font-family: Verdana, sans-serif;
	font-size: 1.1em;
}
#container #acceso form {
	margin-left: 0;
}
#container #acceso #bt_acceso {
	float: left;
	width: 35%;
	height: 1.8em;
	margin-left: 25%;
	margin-top: 5%;
	padding-bottom: 1%;
	background-color: #0062AE;
	color: #fff;
	font-size: 0.9em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
}
#container #acceso input.bt {
	display: block;
	width: 122px;
	height: 30px;
	background-color: #0062AE;
	border: 0px;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	cursor: pointer;
}
#acceso input.text {
	width: 190px;
	margin-left: 20%;
	padding: 2px 10px 0 0;
	height: 2em;
	border: none;
	background: url(images/fnd_input.png) no-repeat;
	margin-bottom: 15px;
}
#container #acceso .text {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	width: 60%;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 4px;
	padding: 1%;
	border: solid 1px #cccccc;
	font-family: Arial;
	font-size: 12px;
	color: #9F9B90;
	background-color: #fff;
}
/*
#acceso div.bt_entrar {
	position: relative;
	height: 40px;
	border-bottom: #DF0006 1px solid;
}*/
#container #acceso #claves {
	width: 70%;
	margin-top: 10%;
	margin-left: 0;
	margin-top: 10%;
}
#container #acceso #claves a {
	color: #000;
	text-decoration: none;
	font-size: 0.8em;

}
#container #acceso #claves a:hover {
	text-decoration: underline;
}
#container #acceso #registro {
	background-color: #E9E9E9;
}
#container #acceso #registro h3 {
	font-size: 1.2em;
	border-top: #0062AE solid 1px;
	padding-top: 10%;
	width: 100%;
	margin: 5% 10%;
	line-height:1.4em;
}
#container #acceso #registro #bt_registro {
	width: 60%;
	height: 2em;
	margin-left: 4%;
	padding-top:5%;
	text-align: center;
	background-color: #0062AE;
	color: #fff;
	
}
#container #acceso #registro #bt_registro a {
	color: #fff;
	
}
#cont_textos {
	float: left;
	margin-top: 0;
	width: 70%;
	text-align: left;
	background-color: #d2fcfc;
}
.textos {
	float: left;
	margin: 0 4% 0 4%;
	width: 40%;
	height: 200px;
	text-align: left;
	font-size: 0.9em;
	line-height: 1.2em;
	padding-top:1em;
}
#soporte {
	float: left;
	margin-top: 0;
	width: 30%;
	padding-left: 8%;
	text-align: left;
	height: 230px;
	font-size: 0.8em;
	line-height: 1.2em;
	background: url(images/soporte2.jpg) no-repeat;
}
#soporte h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	color: #000;
	padding-top: 10%;
}
#soporte h4 {
	font-size: 1.1em;
	color: #000;
	border-top: #fff solid 1px;
	width: 85%;
	padding-top: 3%;
}
#soporte a {
	color: #000;
	font-size: 0.8em;
}
#soporte a:hover {
	color: #000;
	text-decoration: underline;
}
#pie {
	width: 990px;
	height: 60px;
	margin-top: 2%;
	background-color: #d2fcfc;
}
#pie #footer_left {
	float: left;
	width: 70%;
	}
#pie #footer_left #enlaces {
	float: left;
	width: 30%;
	padding-top: 1%;
	font-size: 0.7em;
}
#pie #footer_left #enlaces a {
	color: #000;
	text-decoration: none;
}
#pie #footer_left #enlaces a:hover {
	color: #000;
	text-decoration: underline;
}
#pie #footer_left #powered {
	float: right;
	width: 30%;
	font-size: 0.7em;
}
#pie #footer_right {
	float: left;
	width: 30%;
	font-size: 0.6em;
	
}
img {
	border: 0;
}
/*paginas genericas*/
#cont_gen {
	margin: 0 auto;
	width: 800px;
	height: auto;
	text-align: left;
}
#izd_gen {
	width: 300px;
	padding: 40px 0 0 0;
	height: auto;
	float: left
}
#drc_gen {
	width: 480px;
	height: auto;
	float: left;
	padding: 0 15px 15px 0;
}
#drc_gen h1 {
	margin: 0;
	padding: 65px 0 0 25px;
	font-size: 2em;
	font-weight: normal;
	color: #0062AE;
	border-left: #0062AE 1px solid;
	margin-bottom: 20px;
	line-height: 20px;
}
#drc_gen div.int {
	border-left: #0062AE 1px solid;
	background: #F4F4F4 url(images/esquina_blanca.png) no-repeat right bottom;
	padding: 20px 20px 20px 70px;
	font-size: 0.9em;
}
.caja_acepto {
	width: 48%;
	float: left;
}
input.email {
	width: 200px;
	height: 18px;
	padding-left: 5px;
	border: #333 1px solid;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 10px;
	margin-right: 10px;
}
.recordar-claves {
	width: 290px;
	height: 88px;
	padding: 5px 20px 0 100px;
	margin-top: 30px;
	background: url(images/recordar-claves.jpg) no-repeat;
}
ul li {
	color: #000;
	margin-bottom: 5px;
}
ul li span {
	color: #1A1A1A
}
div.bt_descarga {
	width: 100px;
	height: 50px;
	padding: 0 20px 0 170px;
	border: #DF0006 solid;
	border-width: 1px 0;
}
div.bt_descarga a {
	display: block;
	height: 35px;
	padding-top: 15px;
	font-size: 12px;
	background: url(images/ico_descarga.png) right center no-repeat;
}
/*pagina ayuda*/
#cont_gen #izd_gen ul {
	margin: 30px 0 0 0;
	padding: 0;
	width: 200px;
	list-style: none;
}
#cont_gen #izd_gen ul li {
	display: inline-block;
	font-size: 0.9em;
	line-height: 2em;
}
#cont_gen #izd_gen ul li a {
	padding: 10px 0 10px 10px;
	border-top: #CCC 1px dotted;/*	background: url(images/punto_rojo.jpg) left center no-repeat;*/
}
#cont_gen #izd_gen ul li:first-child a {
	border: none;
}
#drc_gen ol li {
	margin-bottom: 10px;
}
#drc_gen .fin {
	border-top: #666 1px dotted;
	width: 377px;
	margin-top: 17px;
	float: left;
}
.bt_arriba {
	display: inline-block;
	width: 23px;
	height: 15px;
	margin-top: 10px;
	background: url(images/flecha_arriba.png) no-repeat;
	float: right;
}
#inicio-left {
	float: left;
	margin-top: 2%;
	padding: 2% 4%;
	width: 60%;
	text-align: left;
	height: 600px;
	background: #fff url(images/fondo_inicio1.jpg) no-repeat center;
}
#inicio-left h1 {
	font-size: 2.5em;
	color: #000;
	padding-bottom:1em;
}
#inicio-left p {
	font-size: 1.4em;
	color: #000;
}
#inicio-left li {
	font-size: 1.4em;
	color: #000;
	line-height: 1.5em;
}
#inicio-left ul.square {
	list-style-image: url('images/square-bullet.png');
	}
#inicio-left li.padding {
	padding-bottom:2em;
	padding-top:1.5em;
}
#inicio-left ol {
	font-size: 1.2em;
	color: #000;
	line-style: decimal;
}
#inicio-left ul {
	list-style-image: url('images/esquina-roja-bullet.png');
	}
#inicio-right {
	float: left;
	margin-top: 2%;
	margin-left: 1%;
	padding: 2% 4%;
	width: 21%;
	text-align: left;
	background-color: #0062AE;
	height: 600px;
	color: #fff;
}
#inicio-right p {
	font-size: 1.4em;
}
#inicio-right h2 {
	font-size: 1.5em;
	color: #fff;
}
#inicio-right ul.square {
	list-style-image: url('images/square-white-bullet.png');
	}

#inicio-right li a {
	color: #fff;
	font-size: 1.4em;
}
#inicio-right li a:hover {
	color: #fff;
	text-decoration: underline;
}
#inicio-right span {
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
}
#inicio-right #img-atc {
	text-align: center;
	max-width: 100%;
	margin-top: 20%;
}
#inicio-right a {
	color: #fff;
	padding-top: 1em;
	font-size: 1em;
	text-decoration:underline;
}

.recordar-claves-2 {
	width: 290px;
	height: 88px;
	padding: 5px 20px 0 100px;
	margin-top: 30px;
	font-size: 0.9em;
	background: url(images/recordar-claves.jpg) no-repeat;
}
.rojo {
	font-family: Verdana;
	font-size: 1em;
}
.rojo_24 {
	font-size: 1.5em;
	color: #ab0020;
}
.blue {
	font-weight: bold;
	color: #0062AE;
}
.red {
	font-weight: bold;
	color: #ff2221;
}
/*aviso legal*/
.aviso-legal{text-align:left;margin-left:2%;}
.checkboxRequiredMsg{
	display:none;
	}

@media all and (min-width: 1920px) {
	#inicio-left {
	float: left;
	margin-top: 2%;
	padding: 2% 4%;
	width: 60%;
	text-align: left;
	height: 600px;
	background: #fff url(images/fondo-inicio-max.jpg) no-repeat center;
	}
	}