﻿<div id="divMenuDetalleDiscrepancia" class="msgMeGustaInfoUsuariosLista">
    <div id='btnCerrarMenuDetalleDiscrepancia' class='CerrarPopUp' style='float:right;'></div>
    <div id='btnVerDetalleDiscrepanciasLinea' style="clear:both; float:left; margin:2px; padding-right:5px;">
        <span id="lblVerDetalleDiscrepancias" class="Link"></span>
    </div>
    <div id='btnCerrarDiscrepanciasLinea' style="clear:both; float:left; margin:2px; padding-right:5px;">
        <span id="lblCerrarDiscrepancias" class="Link"></span>
    </div>
</div>
