﻿<script type="text/javascript">
    function getEscenarioFiltroCampoFormularioDesglose(TipoCampo) {
        if (TipoCampo == 9)
            return '#campoFormularioExpand';
        else
            return '#campoFormularioBasico';
    };
    function getEscenarioVistaCampoFormularioDesglose(TipoCampo) {
        if (TipoCampo == 9)
            return '#campoFormularioVistaExpand';
        else
            return '#campoFormularioVistaBasico';
    };
</script>
<script id="escenario" type="text/x-jquery-tmpl">
    <div id='escenario_${Id}' class='escenario'>        
        <span class='Texto12' style='margin-left:0.3em; vertical-align:middle;'>${Nombre}</span>
        {{if Modo == MODOSESCENARIO.COMPARTIDO_PROTEGIDO}}<span class="ui-icon ui-icon-locked" style="display:inline-block; vertical-align:middle;" ></span>{{/if}}        
    </div>
</script>
<script id="escenarioSeleccionado" type="text/x-jquery-tmpl">escenarioSeleccionado</script>
<script id="vacio" type="text/x-jquery-tmpl"></script>
<script id="escenarioFiltro" type="text/x-jquery-tmpl">
    <div id='escenarioFiltro_${Id}' class='escenarioFiltro'>                    
		<span>${Nombre}</span>
        {{if ErrorFormula}}<img src='images/error.png' class='Image12' style='width:1.5em; vertical-align:middle; margin-left:0,5em;' />{{/if}}
        <span id='numSolicitudes_${Id}' style='display:none;'>(${NumSolicitudes})</span>
	</div>
</script>
<script id="escenarioVista" type="text/x-jquery-tmpl">
    <div id='escenarioVista_${Id}' class='escenarioVista'>                    
		<span>${Nombre}</span>                  
	</div>
</script>
<script id="campoGeneral" type="text/x-jquery-tmpl">
    <li id='campoGeneralFiltro_${Id}' style="margin-top:0.3em;">
        <span class="escenarioCamposFiltroCabeceraColumna" style="width:2em;">
            <input id='chk_CampoGeneral_${Id}' type="checkbox" style="vertical-align:middle;"/>
        </span>
        <span class="escenarioCamposFiltroCabeceraColumna" style="width:4em;">
            <input id='chk_CampoGeneralVisible_${Id}' type="checkbox" style="vertical-align:middle;"/>
        </span>
        <label for='chk_CampoGeneral_${Id}' style='display:inline-block; cursor:pointer;'>            
		    <span>${Denominacion}</span>
        </label>                          
	</li>
</script>
<script id="campoGeneralVista" type="text/x-jquery-tmpl">
    <li id='campoGeneralVista_${Id}' style='margin-top:0.3em;'>
        <div style='display:inline-block; width:45%; vertical-align:middle;'>
            <label for='chk_CampoGeneralVista_${Id}' style='cursor:pointer;'>
                <input id='chk_CampoGeneralVista_${Id}' type="checkbox" style="vertical-align:middle;"/>
		        <span>${Denominacion}</span>
            </label>
        </div>
        <div style="display:inline-block; width:45%;">
            <input id='txtEscenarioVistaCampoNombrePersonalizado_General_${Id}' type="text"/>
        </div>
	</li>
</script>
<script id="campoFormulario" type="text/x-jquery-tmpl">
    <li id='campoFormularioFiltro_${Id}'>
        {{tmpl getEscenarioFiltroCampoFormularioDesglose(TipoCampo)}}
    </li>
</script>
<script id="campoFormularioBasico" type="text/x-jquery-tmpl">
        <span class="escenarioCamposFiltroCabeceraColumna" style="width:3em;{{if NoFiltrar}}display:none;{{/if}}">
            <input id='chk_CampoFormulario_${Id}' type="checkbox" style="vertical-align:middle;"/>
        </span>
        <span class="escenarioCamposFiltroCabeceraColumna" style="width:4em;{{if NoFiltrar}}display:none;{{/if}}">
            <input id='chk_CampoFormularioVisible_${Id}' type="checkbox" style="vertical-align:middle;"/>
        </span>
        <label for='chk_CampoFormulario_${Id}' style='margin-top:0.3em; cursor:pointer;{{if NoFiltrar}}display:none;{{/if}}'>        
		    <span>${Denominacion}</span>                  
	    </label>
</script>
<script id="campoFormularioExpand" type="text/x-jquery-tmpl">
    <div style='margin-top:0.3em;'>
        <img id='imgWizardEscenarioExpandEscenarioFiltroCampoFormulario_${Id}' src='images/mas.gif' class='Image16' style='cursor:pointer; width:1.5em; vertical-align:middle;' />
        <img id='imgWizardEscenarioCollapseEscenarioFiltroCampoFormulario_${Id}' src='images/menos.gif' class='Image16' style='display:none; cursor:pointer; width:1.5em; vertical-align:middle;' />
		<span style='cursor:pointer;'>${Denominacion}</span>
	</div>
    <ul id='camposWizardEscenarioFormularioFiltro_Desglose_${Id}' style='display:none; list-style:none; padding:0em 0em 0em 1em; margin:0em;'>
        {{tmpl(CamposDesglose) "#campoFormulario"}}
    </ul>
</script>
<script id="campoFormularioVista" type="text/x-jquery-tmpl">
    <li id='campoFormularioVista_${Id}'>
        {{tmpl getEscenarioVistaCampoFormularioDesglose(TipoCampo)}}        
    </li>
</script>
<script id="campoFormularioVistaBasico" type="text/x-jquery-tmpl">
    <div style='margin-top:0.3em;'>
        <div style='display:inline-block; width:45%; vertical-align:middle;'>
            <label for='chk_CampoFormularioVista_${Id}' style='cursor:pointer;'>
                <input id='chk_CampoFormularioVista_${Id}' type='checkbox' style='vertical-align:middle;'/>
		        <span>${Denominacion}</span>
            </label>
        </div>
        <div style='display:inline-block; width:45%;'>
            <input id='txtEscenarioVistaCampoNombrePersonalizado_Formulario_${Id}' type='text'/>
        </div>
	</div>
</script>
<script id="campoFormularioVistaExpand" type="text/x-jquery-tmpl">	
    <div style='margin-top:0.3em;'>
        <img id='imgWizardEscenarioExpandEscenarioVistaCampoFormulario_${Id}' src='images/mas.gif' class='Image16' style='cursor:pointer; width:1.5em; vertical-align:middle;' />
        <img id='imgWizardEscenarioCollapseEscenarioVistaCampoFormulario_${Id}' src='images/menos.gif' class='Image16' style='display:none; cursor:pointer; width:1.5em; vertical-align:middle;' />
		<span style='cursor:pointer;'>${Denominacion}</span>
	</div>
    <ul  id='camposWizardEscenarioFormularioVista_Desglose_${Id}' style='display:none; list-style:none; padding:0em 0em 0em 1em;'>
        {{tmpl(CamposDesglose) "#campoFormularioVista"}}
    </ul>
</script>
<script id="ordenEscenarioFiltroVista" type="text/x-jquery-tmpl">
    <li id='ordenEscenarioFiltroVista_${Id}' class='ui-state-default ui-sortable-handle{{if Nombre == ''}} ui-state-disabled{{/if}}' style='line-height:2em; cursor:pointer; margin:0.3em; padding:0.4em;'>${Nombre}</li>
</script>