

@media screen and (max-width: 975px) {

	.section-acceso { margin:0;}
	.soporte { width:100%; height:auto; max-width:100%; width:100%; margin:0; }
	.soporte div { width:48%; clear:none; border:0; border-right:1px solid #fff}
	.soporte div+div { border:0; float:right}
	.header ul li.menu-padre { padding:0 1.2em;}

}
@media screen and (max-width: 850px) {
	.header ul li.menu-padre { padding:0 0.6em;}
}
@media screen and (max-width: 799px) {
	
	img { max-width:100%;}		
	.lang { top:3.75em}
	
	.content-centrado { margin:0; padding-left:1em; padding-right:1em}
	
	.content-global,
	.content-centrado,
	.menu,
	.header {width:100%; max-width:100%;}

	.header .content-centrado { padding:0}
    .logotipo {float:left; width:50%;}
	 
	.header { margin-top:75px}
	.menu {background:#00a0df; min-height:55px;}
	
}


@media screen and (max-width: 790px) {	

	h1 { font-size:1.9em; }
	h2 { font-size:1.65em; }
	h3 { font-size:1.45em; }
	h4 { font-size:1.35em; font-weight:normal; }
	
	.titular-home,
	.header .menu-rsp {display:block;  }
	.header .menu-container_haya { display:none; padding:85px 0 0 0;}
	
	.header .menu-container { z-index:1000000000; display:none; position:absolute; width:100%; left:0; height:auto; right:0; padding:0; float:left; top:7em; border:0;}
	
	.header ul ,
	.header ol { z-index:10; display:block; position:relative; float:left; width:100%; border:0; background:#46bc98; padding:20px; }
	.header ol li ,
	.header ul li { font-size:.85em; border:0; display:block; margin:0; background:none; width:100%; padding:0; text-align:right}
	.header ul li.menu-padre { display:block; padding:0; margin:0;}
	.header ol li a,
	.header ul li.menu-padre a { text-decoration:none; border-bottom:1px solid #fff; display:block; text-align:right; padding:.8em 1em; color:#fff; font-weight:normal; font-size:15px;}
	.header ol li a:hover,
	.header ul li.menu-padre a:hover { text-decoration:none}
	.header ul li.menu-padre+li,
	.header ul li.menu-padre+li+li,
	.header ul li.menu-padre+li+li+li { width:100%; text-align:left}

	.header ol li.activo a,
	.header ol li a:hover,
	.header ul li.menu-padre a:hover,
	.header ul li.menu-padre.activo a { background:#46bc98; text-decoration:underline; color:#fff}

	
 	/*#heading ul.idiomas { display:none}*/
 	#heading h1 { float:right; font:normal 13px Arial, Helvetica, sans-serif; color:#aaaaaa; padding:30px 10px 30px 0}
	
	.subtitle,
	.subtitle-strong { font-size:1.25em; padding:.3em 0;}

	.selectize-container_haya { width:100%;}
	
	
	.section-acceso { background:#ceeaf7}
	
	.acceso { background:none; width:48%;float:right; margin:0 20px 0 0;}
	
	#home {background:#00a0df; padding:10px }
	
	.soporte div,
	.soporte div+div { border:0; padding:20px 0; margin:0 5%; width:90% }
	.soporte div+div { border-top:1px solid #fff}
	.soporte h3, 
	.soporte h2,
	.soporte a,
	.soporte p {  padding:3px 0}
	
	#footer { margin:0}
	
	.oculta {display:none;}

}

@media screen and (max-width: 670px) {	


	.acceso { width:100%; max-width:100%; float:left; margin:0;}
	.section-acceso { background-size:200%; background-position:right center}
	#footer .footer-menu .fullstep { position:relative; right:auto; bottom:auto; float:left; clear:both; padding:20px 0 10px 0}
	.capa-pulse { float:left; clear:both;}
	.capa-pulse-ant {width:100%; max-width:300px; clear:right; }
	/*.columna-dcha.faq {display:none;}*/
	.texto-capa-cierre { width:90%;padding-left:5px;}
	
}


@media screen and (max-width: 510px) {
	
	body { font-size:.8em;}
	.centro h2 {font-size:28px;}
	
 	#heading h1 { width:30%; font-size:12px; padding:25px 10px 30px 0}
 	#heading .logotipo { padding:5px 0 0 5px; width:30%; }
 	#heading .logotipo img { width:100%; height:auto!important}
	
		
	.icon-list {  padding:1em 0;}
	.icon-list div { padding:0 0 0 1em;}
	.icon-list li { font-size:1.1em; padding:.5em 0;}
	.icon-list-ok div { padding:.8em 0 0 1em;}
	
	.btn-generico { padding:.4em 0;}
	.btn-generico input {display:block; min-width:100%; max-width:100%; padding:.5em 0; text-align:center; font-size:1.4em;}
	.btn-generico a { display:block; padding:.6em 1em; text-align:center;font-size:1.3em; }	
	
	.recuadro { padding:1em 1.5em}
	.recuadro h3 { line-height:1.4em;}
	.recuadro h3 span { position:relative; font-size:.85em; display:block; text-align:left; right:auto; top:auto; }
	.recuadro p { font-size:1.15em;}
	.recuadro .btn-generico a { padding:.6em;}	
	
	.desplegable { font-size:.7em}
	
	.lista-table li { font-size:1.2em;}
	.lista-table .lista-bl { width:50%; padding:.8em .6em;}
	.lista-table .lista-in { padding:.8em .5em .8em 54%;}		
	
	.form-radio-click-doble span {font-size:.7em; padding:0 .3em; min-width:8.3em; }
	
	.form-group-content { padding:2.8em 0 2.8em 2em}
	
	div.dp-popup {font-size:1.4em; width:100%; max-width:100%; }
	
	#footer .text { padding:10px 20px;}    
	#footer .text p { padding:0 20px;} 
	
	.columna {width:90%;}
	.columna .imagen {display:none;}
	.centro  {width:90%; border-right:0px; display:block; clear:both;}
	.columna-dcha {display:block; clear:both; width:100%}
	
	.popup .columna {display:none;}
	.popup .centro { width:90%; padding-top:10px }
	.texto-capa-cierre { width:90%;padding-left:5px;}
	.imagen-capa-cierre {padding-left:0px;}
	/*.capa-pulse {float:left; display:inline-block;}*/
	.columna.descarga { float:left; position:absolute; bottom:0px; text-align:center; width:90%;}
	.columna-dcha.descarga { float:left; position:absolute; bottom:70px; text-align:center; width:90%;}
	.imagen_responsive_haya {display:block; margin-left:18px;}
	.imagen_responsive_haya img {width:100%;}
	.columna-dcha img {display:none;}
	.columna-dcha .imagen-capa-cierre img {display:block;}


}

@media screen and (max-width: 430px) {
	
 	#heading .logotipo { padding:10px 0 0 5px; }
	h1 strong { display:block; float:left; padding-bottom:1em}
	#footer .text { padding:5px 10px;}    
	#footer .text p { padding:0 10px;}
	.centro h2 {font-size:24px;}

	
	
}