﻿@font-face {
    font-family: 'comfortaabold';
    src: url('../fonts/comfortaa-bold-webfont.eot');
    src: url('../fonts/comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-bold-webfont.woff') format('woff'),
         url('../fonts/comfortaa-bold-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa-bold-webfont.svg#comfortaabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'comfortaalight';
    src: url('../fonts/comfortaa-light-webfont.eot');
    src: url('../fonts/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa-light-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-light-webfont.woff') format('woff'),
         url('../fonts/comfortaa-light-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa-light-webfont.svg#comfortaalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'comfortaaregular';
    src: url('../fonts/comfortaa-regular-webfont.eot');
    src: url('../fonts/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-regular-webfont.woff') format('woff'),
         url('../fonts/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body, html { font-size:100%; padding:0; margin:0;}
*, html { padding:0; margin:0;}

body { padding:0; margin:0; font-family: 'comfortaaregular'; color:#292826; background:#fff ;/* background:url(../img/0_inicio_portalHAYA.jpg) top center no-repeat;*/}
#heading nav ul li {margin-top:10px; font-size:12px;}
#heading nav ul li strong .fa { color:#4a462a; vertical-align:middle; margin-right:5px; font-size:15px;}
#heading nav ul li ul { display:none; position:absolute; top:23px; background:#f7f7f7; text-align:center}
#heading nav ul li ul li { width:100%; display:block; clear:both; padding:5px}
#heading nav ul li ul li a { font-weight:400; font-size:12px;}
#heading nav ul li strong:hover,
#heading nav ul li a:hover { color:#0a94d6;}


/* genericos */
a { color:#000; text-decoration:underline} 
a:hover {color:#46bc98; text-decoration:underline}
a img { border:0;}
p { font-weight:normal; margin:0; padding:10px 0; color:#292826; line-height:20px;}     
strong { font-weight:bold;font-family: 'comfortaabold';}

h1 { line-height:120%; text-align:right; font-weight:700; font-size:26px; padding:60px 0 30px 0; color:#46bc98;}
h2 { line-height:120%; text-align:left;  font-size:30px;font-family: 'comfortaabold'; padding:15px 0; color:#46bc98;}
h3 { line-height:120%; text-align:left;  font-size:16px; padding:10px 0; color:#0a94d6;font-family: 'comfortaabold'; }
h4 { line-height:120%; text-align:left;font-size:22px; padding:10px 0; color:#46bc98;}
h2 em {font:normal 25px Arial, Helvetica, sans-serif; font-style:italic;}

img { max-width:100%}
.img-izq { float:left; padding:20px 20px 20px 0}
.img-dcha { float:right; padding:20px 0 20px 20px}


.btn { max-width:100%; font-size:14px; color:#fff; text-align:center; transition: background 0.3s ease-in-out 0s; text-decoration:none; padding:7px 15px; border:0; margin:0; line-height:100%; display:inline-block; cursor:pointer; text-decoration:none; border-radius:0px; background:#46bc98;font-family: 'comfortaaregular';}
.btn-dcha { float:right}
.btn-left { float:left; display:inline;}
.btn:hover { text-decoration:none; color:#fff; background:#0a94d6}

form { float:left; width:100%}
form label { float:left; width:100%; clear:both; padding:0}
form label.condiciones { padding:30px 0}
form label .checkbox { width:auto; display:inline-block; border:1px solid #ea3998; cursor:pointer; vertical-align:middle; margin:0 5px 0 0}
form label textarea,
form label input,
form label input { width:100%; border:0; color:#444444; background:#ffffff; padding:4px 14px; font-size:13px; border-radius:3px; }
form label textarea { font-family: 'comfortaaregular'; font-weight:400;}
form .btn { color:#fff; font-size:14px;font-family: 'comfortaaregular'; }

form label input.recordar {background-color:#e5e5e5; color:#000; width:245px;} 
form .btn.recordar {float:left;} 
/*grid*/
section { width:100%; clear:both; float:left; padding:0}
.container_haya { position:relative; max-width:100%; width:1000px; padding:0; margin:0 auto;}
.text { position:relative; padding:5px 40px; width:100%; float:left}
.columna { float:left;/* width:21%;*/ width:198px; margin-top:20px; margin-left:24px;}
.centro { float:left; /*width:74.5%;*/ width:454px; margin-top:20px; display:inline; text-align:left; }
.columna-dcha-Haya { float:right; /*width:13%;*/ width:15%; text-align:center; margin-top:20px;display:inline;}


/*popup*/
.popup .container_haya { width:100%}
.popup .columna { width:22%;}
.popup .centro { width:42%; padding-top:10px }

.popup form label { text-align:left; padding:4px 0;}
.popup form button { float:right; margin:10px 0}

.popup .atencion-proveedor { padding-top:0}


/*header*/
/* header */
/*.header { position:relative; background:#fff url(../img/bk-header.png) 0 0 repeat-x;} */
.logo { padding:1.7em 0; background:#fff url(../img/bk-header.png) 0 0 repeat-x; width:100%; float:left; clear:both; height:8.4em;}
.homeimg { max-width:100%; width:100%;}


#heading {width:100%; clear:both; float:left; padding:0}
.logotipo { float:left; padding-left:35px; position:absolute; z-index:99999999}
 h1 { float:right; font:normal 13px Arial, Helvetica, sans-serif; color:#aaaaaa;}
nav { z-index:10; position:absolute; top:5px; right:20px; width:150px; max-width:100%;font-weight:700;}
nav ul.idiomas { float:right;}
#heading nav ul.idiomas li { float:left; display:inline; color:#000; padding:0 5px;}
#heading nav ul.idiomas li a { text-decoration:none; color:#000;}

.menu { margin:0 auto; clear:both; padding:0; width:1000px; max-width:100%; }
.header {margin-top:86px;}
.header .menu-container_haya { display:block}

.header ul { z-index:9999999; background-color:#0a94d6; position:relative; float:right; width:100%; text-align:right; padding:0; margin:0; margin:auto; list-style:none; }
.header ul li { width:auto; margin:0 auto; }
.header ul li a,
.header ul li strong { text-decoration:none; cursor:pointer; color:#ffffff; font-size:14px; width:100%;}
.header ul li.menu-padre { display:inline-block; padding:0 1.2em; margin:0; position:relative;text-align:right;}
.header ul li.menu-padre+li { text-align:right; }

.header ul li a { font-size:1.0em; text-align:center; display:inline-block; text-decoration:none;padding-top:12px; padding-bottom:12px; text-align:center; color:#ffffff; text-transform:uppercase;font-family: 'comfortaaregular'; font-size:15px;}
.header ul li a:hover,.header ul li.activo a {color:#88cebc; text-decoration:underline;}

.header ol { display:none}
.header .menu-rsp {display:none; background:url(../img/ico-responsive.png) center center no-repeat; z-index:999999999; width:2em; height:2em; position:absolute; right:1em; top:90px;}
.header .menu-rsp span { display:none}



.intro { float:left; clear:both; width:100%; padding:0; margin:0 0 20px 0; border-bottom:1px solid #d7d7d7;}
.intro h2 {  padding:10px 0}
.migas { list-style:none; width:100%; padding:0; margin:0; text-align:left}
.migas li { color:#8b8b88; font-size:12px; display:inline-block; padding:0 5px 0 0; margin:0} 
.migas li a { color:#8b8b88; text-decoration:none} 
.migas li a:hover{color:#292826; text-decoration:none}


.columna nav { width:100%; float:left; clear:both; }
.columna nav ul { width:100%; float:left; clear:both; list-style:none }
.columna nav ul li { width:100%; float:left; clear:both; padding:5px 0; margin:0;}
.columna nav ul li a { font-weight:700; font-size:14px; color:#4a462a; text-decoration:none}
.columna nav ul li a:hover { color:#009ee2; text-decoration:none}

.atencion-proveedor { float:left; padding:30px 0; width:100%;}
.atencion-proveedor h2 { padding:0 0 5px 0; font-weight:700; font-size:18px; color:#009ee2; border-bottom:1px solid #d7d7d7}
.atencion-proveedor p { line-height:18px; font-size:12px; color:#4a462a}
.atencion-proveedor p span {color:#009ee2}
.atencion-proveedor p strong { display:block; padding:8px 0; font-size:15px; font-weight:700; color:#009ee2}
.atencion-proveedor p strong.alt { color:#000}
.atencion-proveedor p a { display:block; text-decoration:none; font-size:11px; color:#009ee2}
.atencion-proveedor p a:hover { color:#4a462a; text-decoration:none}



/*footer*/
#footer {width:100%; clear:both; float:left; margin-top:20px; padding:0 0 20px 0}
#footer .text { padding:20px 40px;}    
#footer .text p { padding:0 40px; margin:0; line-height:11px; text-align:center; color:#666666; font-size:8px;} 
#footer .text p a { text-decoration:none; color:#666666; font-size:12px;}
#footer .text p a:hover { color:#009ee2;}
#footer .footer-menu { background:#00a0df; position:relative; float:left; padding:20px 10px 20px 35px; width:100%; clear:both;}
#footer .footer-menu p { color:#fff; font-size:10px; line-height:12px;}
#footer .footer-menu ul { list-style:none; width:auto; padding:10px 0 30px 0; margin:0;} 
#footer .footer-menu ul li { display:inline-block; padding:0; margin:0;}
#footer .footer-menu ul li a { text-decoration:none; color:#fff; padding:0 7px; border-right:1px solid #fff; font-size:12px;font-family: 'comfortaabold';}
#footer .footer-menu ul li:first-child a { border-left:0px solid #fff;  }
#footer .footer-menu ul li:last-child a { border-right:0px solid #fff;}
#footer .footer-menu ul li a:hover { color:#000; text-decoration:none}
#footer .footer-menu ul li a.activo{ color:#000; text-decoration:none}
#footer .footer-menu .fullstep { position:absolute; right:20px; bottom:20px;}
	
	
.ancla-back { position:absolute; top:0; right:0; text-decoration:none;}
.ancla-back i { font-size:30px; color:#46bc98;}
.ancla-back:hover { text-decoration:none;}
.ancla-back:hover i { color:#46bc98;}

.ancla-wrapper { z-index:1; border-bottom:1px solid #d7d7d7; padding:0 0 20px 0; position:relative; margin:0 0 20px 0;font-family: 'comfortaaregular';}
.ancla-wrapper ol.lista-enum li p {font-family: 'comfortaaregular';}
.ancla-wrapper ol.lista-enum li p strong {color:#000000; font-family:'comfortaaregular';}

/*home*/
.section-acceso { float:left; width:100%; background:url(../img/bk-entrada.jpg) top center no-repeat; margin-bottom:-143px;/* background-size:contain; background-size:cover*/ }
.acceso { width:300px; max-width:90%; background:rgba(255,255,255,.75); float:right; margin:0 120px 0 0; }
.acceso h2 { font-size:16px; background-color:#46bc98; color:#ffffff; padding:15px 0; margin-top:30px; margin-left:8px; margin-right:8px; text-align:center; text-transform:uppercase;font-family: 'comfortaabold';}
.acceso div { padding:20px; float:left; width:100%;}
.acceso form { padding:0; margin:0; width:100%; float:left; clear:both; text-align:center}
.acceso form label { text-align:left; padding:8px 0;}
.acceso form .btn { margin:15px 0}
.acceso span.acceso-recordar-claves { font-size:11px; padding-left:20px; padding-top:15px; float:left; width:120px; text-align:left;}
.acceso .acceso-recordar-claves a { color:#000}
.acceso .acceso-recordar-claves a:hover {color:#0a94d6;}  
.acceso h4 { font-size:15px; border-top:1px solid #88cebc; padding:15px 0 10px 0; margin:0px; margin-top:15px; text-align:center; text-transform:uppercase; color:#000000;  float:left;} 
.acceso p { text-align:center;} 

.soporte { z-index:9999; position:relative; padding:10px 0px; width:300px; /*height:256px;*/ max-width:90%; background:#88cebc; clear:both; float:right; margin:0 120px 0 0; }
.soporte h2 { font-size:17px;  color:#ffffff; padding:0 0 0 10px; text-align:left; text-transform:uppercase;font-family: 'comfortaabold';}
.soporte h3 { font-size:16px; font-family: 'comfortaabold'; color:#ffffff; padding: 2px 10px; text-align:left; text-transform:none}
.soporte a { color:#ffffff; text-decoration:none; padding:10px;font-family: 'comfortaaregular'; font-size:12px}
.soporte a:hover { color:#000; text-decoration:none}
.soporte p { color:#ffffff;  padding:6px 0 0 10px; margin:0; font-size:11px;}
.soporte p strong { color:#ffffff; font-size:12px;}
.soporte div { float:left; width:100%; clear:both; padding:20px 10px; border-bottom:1px solid #fff}
.soporte div+div { border:0}

/*interior*/

#ayuda .centro h3 { font-size:15px; color:#46bc98}

.lista-enum { padding:10px 0; margin:0;}
.lista-enum li { color:#8ba400; margin-left:20px; padding:8px 5px; font-size:13px;}
.lista-enum li p { padding:0; color:#000}
.lista-enum li .destacado { padding:12px 0; color:#626262}

.bloque-info h2 { background:#8ba400 url(../img/bk-detacado.png) left bottom no-repeat; text-align:center; padding:8px 5px; color:#fff; font-size:16px; font-weight:400}
.bloque-info p { font-size:13px; color:#4a462a; font-weight:700}
.bloque-info div { padding:13px; background:#eee; margin:5px 0 0 0; width:100%; float:left; clear:both}
.bloque-info div strong { display:block; border-bottom:1px solid #cdcdcd; padding:5px; font-size:19px; color:#4a462a; font-weight:400}
.bloque-info ul { width:100%; float:left; clear:both; margin:0; padding:10px 0;}
.bloque-info ul li { border:0; color:#e5087e; clear:both; float:left; margin:0 0 0 20px; padding:3px 0 3px 5px;}
.bloque-info ul li a {text-decoration:none; font-size:14px; color:#4a462a; font-weight:700}
.bloque-info ul li a:hover {text-decoration:none; color:#009ee2;}

.centro .bloque-info { float:right; width:220px; max-width:100%; margin:0 0 30px 30px; z-index:9999; position:relative;}
.columna .bloque-info { margin-bottom:20px}
.columna .bloque-info p { color:#000; font-weight:400}

.centro p { line-height:18px; color:#000; font-size:12px;font-family: 'comfortaaregular';}

.faq { list-style:none; width:100%; float:left; clear:both; margin:0; padding:10px 0;}
.faq li { padding:20px 0; border-bottom:1px dotted #cdcdcd;}
.faq li p { padding-left:25px; text-indent:-20px}
.faq li p  strong {font-weight:bold;font-family: 'comfortaaregular';}
.faq .pregunta { color:#000000;}
.faq .pregunta strong {font-weight:bold;}
.faq li .lista-enum { padding:0 0 0 15px}
.faq li .lista-enum li { border:0; padding:8px 5px;}
.faq li .lista-enum li p { color:#535353; text-indent:0; padding-left:0}
.faq li .lista-enum li p  strong {font-weight:bold;}
.faq li .lista-enum li p a {color:#000000; text-decoration:none;}
.sobre i { color:#d7dade; font-size:18px}
.sobre:hover i { color:#535353; }

.condiciones-acceso { float:left; width:100% }
.condiciones-acceso p { color:#4a462a; padding-left:20px}
.condiciones-acceso .info { padding:10px 20px; float:left; background:#f6f6f6 ;width:100%; margin:10px 0; clear:both  }
.condiciones-acceso .info p { padding:5px 0}

.text-derecha { font-size:15px; padding-right:35px; text-align:right}

.descarga-documento {background:url(../img/descarga.gif) top left no-repeat; padding-left:60px; float:left; display:inline; height:80px; width:150px;}
.descarga-documento a {font-family: 'comfortaabold'; display:block; color:#1c98d7; text-decoration:none; padding-left:10px; padding-top:30px;font-size:14px;}
p.detalle {padding-left:10px;}

/* pego aqui */
section { width:100%; clear:both; float:left; padding:0}
.container_haya { position:relative; max-width:100%; width:1000px; padding:0; margin:0 auto;}
.text { position:relative; padding:5px 15px; width:100%; float:left}
.popup .text.blue {border-top:1px solid #009ee2;}
.text_password { position:relative; padding:5px 15px; width:100%; float:left; margin-top:0px;}
.popup .text_password.blue {border-top:1px solid #009ee2;}
.columna { float:left; width:23%; max-width:240px;text-align:center; }
/*.centro { float:left; margin-left:20px; width:59.5%; padding-right:8px;}
.centro.sin {border-right:0px;}*/
.centro.sin.solicitud { width:100%; margin-top:0px;}

.columna.sol { float:left; width:10%; max-width:150px;text-align:center; }
.columna .imagen {text-align:left; }
.centro h2 { font-size:30px; font-family: 'comfortaabold';color:#46bc98; margin-top:0px; padding-top:0px;}
.centro h4 {font:bold  22px Arial, Helvetica, sans-serif; color:#46bc98; margin-top:0px; padding-top:0px;}
.lista-enum { padding:10px 0; margin:0;}
.lista-enum li { color:#0caada; margin-left:20px; padding:8px 5px; font-size:12px;}
.lista-enum li p { padding:0; color:#000}
.lista-enum li p strong { color:#0caada;}
.lista-enum li strong { color:#0caada;font-family: 'comfortaabold'; }
.lista-enum li .destacado { padding:12px 0; color:#0caada;}
.lista-enum li ul li {color:#000; list-style-type:none; padding:0px;}
.lista-enum li ul li a {color:#000000; text-decoration:none;}
.lista-enum li ul li a:hover {color:#0caada; text-decoration:underline;}
.blue { color:#0caada;}
/* Servicios */
#politica_compras {margin-top:20px;}
#politica_compras .centro h3 { font-size:15px; color:#46bc98}
.pdf {background:url(../img/ico-pdf.gif) bottom right no-repeat; padding-right:30px; text-align:left; font:bold 12px Arial, Helvetica, sans-serif; color:#ed683e; text-decoration:none; padding-top:12px; }
.pdf:hover {text-decoration:underline;color:#ed683e; }
.peq {font:normal 11px Arial, Helvetica, sans-serif; color:#000; line-height:14px; padding-top:0px;}

.pulse {background:url(../img/bk-pulse.gif) bottom right no-repeat; padding-right:20px; text-align:left; font:bold 12px Arial, Helvetica, sans-serif; color:#009ee2; text-decoration:none; padding-top:12px; }
.pulse:hover {text-decoration:underline;color:#009ee2; }


.capa-pulse-ant {float:left; display:inline; max-width:70%;}
.capa-pulse {float:right; display:inline-block;}
.pulse-peq {background:url(../img/bk-pulse.gif) bottom right no-repeat; padding-right:20px; text-align:left; font:normal 10px Arial, Helvetica, sans-serif; color:#009ee2; text-decoration:none; padding-top:4px; }
.pulse-peq:hover {text-decoration:underline;color:#009ee2; }

.lista-enum li {clear:both;}

.ancla-back { position:absolute; top:-60px; right:0; text-decoration:none; font-family: 'comfortaalight';}
.ancla-back i { font-size:25px; color:#46bc98;}
.ancla-back:hover { text-decoration:none;}
.ancla-back:hover i { color:#4a462a;}

/*.ancla-wrapper { z-index:1; border-bottom:1px solid #d7d7d7; padding:0 0 20px 0; position:relative; margin:0 0 20px 0}*/


/*popup*/
.cierra-popup {float:right; display:inline; margin-top:125px; cursor:pointer;}
.popup .container_haya { width:1000px}
.popup .columna { width:32%;padding-top:10px }
/*.popup .centro { width:62%; padding-top:10px }*/
.popup .centro { width:440px; padding-top:10px }
.popup form label { text-align:left; padding:4px 0;}
.popup form button { float:right; margin:10px 0}

.popup .atencion-proveedor { padding-top:0}
.popup .container_haya .logotipo { margin-bottom:50px;}


.capa-cierre-recup {clear:both; width:100%; border-left:2px solid #0091d2; padding-top:10px; margin-left:10px; float:left; min-height:350px;}
.imagen-capa-cierre {float:left; width:99%; padding-left:10px; padding-top:10px; min-width:159px; display:inline;}
.texto-capa-cierre {float:left; width:99%; display:inline; padding-left:10px; padding-top:10px; color:#000; font-size:11px; line-height:18px; text-align:left;}
.texto-capa-cierre strong {color:#0091d2;}
.texto-capa-cierre strong.telefono {color:#0091d2; clear:both; font-size:18px; display:block; margin-top:10px;}
.centrado {text-align:center;}
.columna.descarga {}
.columna-dcha .descarga {}
.salir {background-color:#39C; color:#fff; float:right; display:inline; padding:0 4px; margin-top:30px; text-decoration:none; font-weight:bold;}
.raya_separa {clear:both; height:20px; border-top:2px solid #c1bbb6;}



.cuerpo-menu-inicio {float:right; display:inline; margin-left:15px; margin-top:30px;  text-align:left; font-size:12px; width:290px; border-left: 1px solid #0a94d6;}
.cuerpo-menu-inicio ul {padding-left:20px;}
.cuerpo-menu-inicio ul li {
    background: url("../img/bk-li-ayuda.gif") !important ; background-position:0px 10px !important; background-repeat:no-repeat !important;width: 290px;
	margin-bottom: 5px;
	border-top: 1px dotted #CCCCCC;
    display: inline-block;
    padding: 10px 0 10px 25px;
}

.cuerpo-menu-inicio ul li a {color:#50bf9e; text-decoration:none;}
.cuerpo-menu-inicio ul li a:link { color: #50bf9e;	text-decoration:none; text-transform:uppercase; font-size:13px;}
.cuerpo-menu-inicio ul li a:hover { color: #000;	text-decoration:none;}
.manual_consulta_inicio {margin-top:0px; padding-left:10px; width:290px; }
.manual_consulta_inicio strong {font-size:16px;color: #50bf9e;}
.manual_consulta_inicio p {padding-left:12px;}


.int { background:#e1e1e1; padding: 15px; width:100%; color:#0a94d6; font-size:16px;font-family: 'comfortaabold';}
.int p { font-size:13px;font-family: 'comfortaabold';}
.int span {font-size:14px;}
.int h4 {font-size:18px;font-family: 'comfortaaregular'; color:#5fc3a3; text-transform:none; font-weight:normal; margin-top:15px;}
.bt_registro {display: block;margin: auto;text-decoration: none;font-family: 'comfortaabold';border:0px; cursor:pointer;color:#fff;width:123px; height:38px;background-color:#009fe3; text-transform:uppercase;font-size:14px;}
.caja_registro {height:150px; padding:0 5px; overflow:auto; background:#FFF; border:#CCC 1px solid; font-size:14px;font-family: 'comfortaaregular';}
.checkboxRequiredMsg{display:none;}
label {float:left; display:inline;}
.imprimir {background:url(../img/bk-imprimir.png) top left no-repeat; float:right; width:120px; margin-top:5px; margin-bottom:5px;font-family: 'comfortaabold';}
.imprimir a {font-family: 'comfortaabold'; color:#fff; text-decoration:none; padding-left:10px; text-transform:uppercase; font-size:14px;}

.interior_haya { background:#e1e1e1; padding:25px; width:100%; color:#0a94d6; font-size:14px;font-family: 'comfortaabold';}
.interior_haya strong {font-size:16px; font-weight:bold;font-family: 'comfortaaregular';}
.lista_registro  p { padding-left:25px; text-indent:-15px}
.contenedor-impresion {margin:0 auto; max-width:692px; text-align:left; padding:10px;}
.cabecera-impresion {float:left; width:100%; padding-bottom:10px; margin-bottom:20px; border-bottom:2px solid #00a0e4;}
/*.contenedor-impresion h2 {font:bold italic 36px Arial, Helvetica, sans-serif; color:#fbc13d; margin-top:0px; padding-top:0px;}
.contenedor-impresion h4 {font:bold italic 22px Arial, Helvetica, sans-serif; color:#fbc13d; margin-top:0px; padding-top:0px;}*/
p.sang { padding-left:15px; /*text-indent:25px*/}
.black {color:#000;}
.green { color:#46bc98;}
a.blue_link {color:#001cc9; text-decoration:none;}
.bienvenidos_haya { color:#0091d2; font-size:30px;font-family: 'comfortaabold'; text-align:left; line-height:60px;}
.centro_bienvenidos_haya { float:left; width:65%;/* width:640px;*/ margin-top:20px; display:inline; text-align:left; }
.imagen_help {float:left; display:inline; !important width:80px; padding-left:10px;}
.txt_help {float:left; margin-left:10px; display:inline; width:180px; font-size:11px;}

/*página inicio*/
#servicios{ width:100%; clear:both; float:left; padding:0}