﻿/* CSS Document */
BODY { 
/*background : #BDD4DC; */
font : 10pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
color : #666666; 
margin : 20px 0px 20px 5px; 
/*text-align: center; */
}

/*menu*/
.menu {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #FFFFFF; text-decoration: none}
A.menu:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;color: #ffffff; text-decoration: none}
A.menu:visited {  font-size: 10px;color: #ffffff; text-decoration: none}
A.menu:active {  font-size: 10px;color: #ffffff; text-decoration: none}
A.menu:hover {  font-size: 10px;color: #2c4fa0; font-weight:bold; background-color: white; text-decoration: none}

/*Textos*/
.titulo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bolder; color: #2C4FA0; text-decoration: none}
.subtitulo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #000000; text-decoration: none}
.textos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #2C4FA0;
	text-decoration: none;
	line-height: 14px;
}
A.textos:link {	font-size: 11px;font-weight: bold;	color:  #2C4FA0;text-decoration: none}
A.textos:hover {font-size: 11px;font-weight: bold;	color: #e62132;text-decoration: none}
A.textos:visited {font-size: 11px;color: #666666;text-decoration: none}
A.textos:active {font-size: 11px;color: #2C4FA0;text-decoration: none}


/*Formulario de registro*/
.registro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 14px;
}
A.registro:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333; text-decoration: none}
A.registro:visited {font-size: 10px;color: #333333; text-decoration: none}
A.registro:active {font-size: 10px;color: #333333; text-decoration: none}
A.registro:hover {font-size: 10px;color: #0051BA; font-weight:bold; text-decoration: none}

.formulario {  font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #2C4FA0; text-decoration: none}
A.formulario:link { font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: 9px;color: #2C4FA0; text-decoration: none}
A.formulario:visited {  font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: 9px;color: #2C4FA0; text-decoration: none}
A.formulario:active { font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: 9px;color: #2C4FA0 text-decoration: none}
A.formulario:hover { font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: 9px;color: #2C4FA0; text-decoration: none}
.subtextos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none}
.textosres {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal;  color: #333333; text-decoration: none}
.bottom { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px;color: #990000; text-decoration: none}
A.bottom:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px;color: #990000; text-decoration: underline}
A.bottom:visited {  font-size: 8px;color: #333333; text-decoration: none}
A.bottom:active {  font-size: 8px;color: #666666; text-decoration: none}
A.bottom:hover {  font-size: 8px;color: #990000; font-weight:bold; text-decoration: yes}

.nav {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
A.nav:visited{
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
A.nav:link {
	 FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

A.nav:active {
	FONT-WEIGHT: 300; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

A.nav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.blancobottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.blanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
A.blanco:visited{
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
A.blanco:link {
	 FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

A.blanco:active {
	FONT-WEIGHT: 300; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

A.blanco:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

.logo {
	font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; TEXT-DECORATION: none
}
.logo:link {
	font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; TEXT-DECORATION: none
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2c4fa0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e62132; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2c4fa0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titulopr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	FONT-WEIGHT: bold;
	color: #ffffff;
}

.recuadro {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 6px; font-style: normal; font-weight: normal; color: #990000; text-decoration: none}
.subtexto {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #990000; text-decoration: none}

#divNoticias {
	position:absolute;
	left:10px;
	top:80px;
	width:200px;
	height:300px;
	overflow-y:scroll;
	background-color: #FBFBFA;
}
#divNoticiasright {
	position:static;
	left:1px;
	top:2px;
	width:200px;
	height:200px;
	overflow-y:scroll;
	background-color: #FBFBFA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #2C4FA0;
}
.noticias {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #2C4FA0;
	text-decoration: yes;
	line-height: 14px;
}

