﻿@font-face {
  font-family: 'Gotham-Book';
  src: local('Gotham-Book'), url(Gotham-Book.ttf);
}

.pc_frameStyle * {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}
body
{
	font-family: Gotham-Book;
	font-size: 12px;
	margin:0px;
        padding:0px;
}
body.wait, body.wait *{
 cursor: wait !important;   
}
.EditorZone {
	 max-height: 550px;
	 /* max-height para IE6 */
	 height: expression(this.scrollHeight > 551? "550px": "auto");
 }
.Cabecera
{
	color: #FFFFFF;
	background-color: #424242;
}
.MenuPpal
{
	background-color: #F5F5F5;
}
.Pie
{
	font-size: 12px;
	color: #CCCCCC;
	background-color: #424242;
}
.ComboOpciones
{
	color: #000000;
	font-size: 13px;
	font-family: Gotham-Book;
	font-weight: bold;
}
.Rectangulo
{
	background-color: #FAFAFA;
	border-color: #F1F1F1;
}
.RectanguloGS
{
	background-color: #DCDCDC;
	border-color: #DCDCDC;
}
.Rotulo
{
	color: #2a97bc;
}
.RotuloGrande
{
	color: #2a97bc;
}
.EtiquetaPeque
{
	color: #000000;
}
.Etiqueta
{
	color: #000000;
}
.EtiquetaGrande
{
	color: #000000;
}

.Boton
{
	font-family: Gotham-Book;
	font-size: 12px;
	color: #FFFFFF;
}

.Submenu
{
	font-family: Gotham-Book;
	font-size: 12px;
	color: #202020;
}
.SubmenuDinamic
{
	font-family: Gotham-Book;
	font-size: 12px;
	color: #202020;
	float:left!important;
}
.SubMenuMIStyle
{
	border-width:1px;
	border-style:solid;
	border-color:#cccccc;
}
.SubMenuHoverStyle
{
	background-color:#DCDCDC;
}
.Normal
{
	color: #000000;
}
.CajaTexto
{
	font-family: Gotham-Book;
	border-color: #CCCCCC;
}

.Borde
{
	border-color: #2a97bc;
}

.ListItemLink
{
	background-color: #FAFAFA;
}
.ListItemLink:hover
{
	background-color: #F1F1F1;
}
.WaterMark
{
	font-family: Gotham-Book;
	border-color: #CCCCCC;
	color: #BBBBBB;
}
.MensajeError
{
	color: #d6001c;
}
/* panel calidad*/
.vacio
{
	border-style: none;

}
#contenedor_imagenes table
{
	border-style: hidden;
	width: auto;
	text-align: left;
	white-space:nowrap;
	margin: 0px;
	padding: 0px;
	
}
.fila_cabecera
{	
	background-color: #e1e1e1;
	font-weight: bold;
	border: solid;
    border-color: #cccccc;
	border-width: 1px 1px 1px 0px;
	text-align: center;	
}
.bordes
{
    border-color:Black;
	border-width: 1px 1px 1px 1px;
	border-style:solid;
}
.centrado
{
    text-align:center;
}
.pc_punt_nivel0
{
	background-color: #f1f1f1;
	font-weight: bold;
	color: #2a97bc;
}
.pc_punt_nivel1
{
	background-color: #f1f1f1;
	font-weight: bold;
}
.pc_punt_nivel2
{
	background-color: #f1f1f1;
	font-weight: bold;
	color: #666;
}
.pc_punt_nivel3
{
	background-color: #f1f1f1;
	font-weight: bold;
	color: #999;
}
.pc_punt_nivel4
{
	background-color: #f1f1f1;
	font-weight: bold;
	color: #CCC;
}
.pc_punt_nivel5
{
	background-color: #f1f1f1;
	font-weight: bold;
	color: #CCC;
}
.TituloF
{
	font-family: Gotham-Book;
	color: #2a97bc;
	font-weight: bold;
}
.punt_nivel0
{
	font-weight: bold;
	background-color: rgb(241, 241, 241);
}
.punt_nivel1
{
	font-weight: bold;
	color: #333;
	background-color: rgb(241, 241, 241);
}
.punt_nivel2
{
	font-weight: bold;
	color: #666;
}
.punt_nivel3
{
	font-weight: bold;
	color: #999;
}
.punt_nivel4
{
font-weight: bold;
color: #CCC;
}
.izquierda
{
    text-align:left;
}
/*FICHA DE CALIDAD*/
.fp_fila_cabecera 
{	
	background-color: #f1f1f1;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: left;
	height:31px;
}
.fp_fila_tabla0
{	
	background-color: #fafafa;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	font-weight: bold;
	
}
.fp_fila_tabla1
{	
	background-color: #f1f1f1;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	color: #2a97bc;
	
}
.fp_fila_tabla2
{	
	background-color: #fafafa;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	font-weight: bold;
}
.fp_fila_tabla3
{	
	background-color: #FFF;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;

}

.fp_fila_tabla4
{	
	background-color: #FFF;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
}
.fp_fila_tabla5
{	
	background-color: #FFF;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
}
.fp_celda_cabecera_vc

{
	background-color: #f1f1f1;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	font-weight: bold;
	color: #2a97bc;
}

.fp_celda_vc_0
{	
	background-color: #fafafa;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	font-weight: bold;
	 text-indent:0px;
	
}
.fp_celda_vc_1
{   
	background-color: #f1f1f1;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	text-align: center;
	color: #2a97bc;
	text-indent:0px;
	color: #2a97bc;
	
}
.fp_celda_vc_2
{	
	background-color: #fafafa;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	font-weight: bold;
	text-indent:10px;
}
.fp_celda_vc_3
{	
	background-color: #FFF;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	text-indent:20px;
}

.fp_celda_vc_4
{	
	background-color: #FFF;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	text-align: center;
	text-indent:30px;
	color: #333;
}
.fp_celda_vc_5
{	
	background-color: #FFF;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	text-indent:40px;
	color: #666;
}
.fp_celda_cal
{	
	background-color: #fafafa;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
}
tbody.igg_FullstepItem > tr > td.fp_celda_editable
{
    background-color: #f1f1f1;
}
/*FIN FICHA CALIDAD*/
.modalPopup
{
	background-color:White;
	border-color: #8C8C8C;
	border-style:solid;
	border-width:1px;
  
}
 .modalBackground 
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
 .updateProgress      
{
   border-width: 1px;
   border-style: solid;
   background-color: #FFFFFF; 
   position: absolute;     
   width: 180px;     
   height: 65px; 
} 
.cabeceraCollapsiblePanel{
	 background-color:#bbbbbb;
	  color:White;
	   font-weight:bold;
}
.pc_selectedRowStyleDefault{
	background-color:#bbbbbb;
}
.pc_frameStyle{
	border-width:1px;
	border-color:#666666;
	border-style:solid;
	background-color:Transparent;
}
.pc_rowStyleDefault{
	border-width:1px;
	border-color:#CCCCCC;
	border-style:solid;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-width:0px;
	border-right-width:1px;
}
.fc_rowStyleDefault{
	border-width:1px;
	border-color:#CCCCCC;
	border-style:solid;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
}
.pc_pagerStyle{
	border-width:1px;
	border-style:solid;
	background-color: #bbbbbb;
}
.ColorFondoTab
{
	background-color:#F5F5F5;
}
.hr_informes
{
	color:#2a97bc;
	height:1px;
}
div.dContenedor
{
	border: 1px solid #CCCCCC;
	width: 450px;
	overflow: auto;
	background-color:White ;
	scrollbar-base-color: #FAFAFA;
	scrollbar-DarkShadow-Color: #CCCCCC;
	scrollbar-arrow-color: #2a97bc;
	scrollbar-highlight-color:#FAFAFA;
}
div.dAlerta
{
	border: 1px solid #CCCCCC;
	width: 30em;
	overflow: no;
	background-color:White ;
}
.PanelCabecera
{
	color:White;
	background-color:#2a97bc;
 }
 .PanelCabeceraGS
{
	color:White;
	background-color:#696969;
}
.PartidaNoVigente
{
	color: red;
}
/* PAGINA DE ERROR*/
.TituloErrorUsuario
{
	font-family: Gotham-Book; font-size: 18px; color: #474645; text-decoration: none
}

.SubTituloErrorUsuario
{
	font-family: Gotham-Book; font-size: 10px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none
}

a.SubTituloErrorUsuario:link {text-decoration:none;color:#666666}
a.SubTituloErrorUsuario:visited {text-decoration:none;color:#666666}
a.SubTituloErrorUsuario:active {text-decoration:none;color:#999999}
a.SubTituloErrorUsuario:hover {  color: #999999; text-decoration: none}
.TituloSinDatos
{
	font-family: Gotham-Book;
	font-size:16px;
	font-weight:bold;
	color:Red;
}
.FilaImpar
{
	background-color: #FFFFFF;
}
.FilaPar
{
	background-color: #FAFAFA;
}
.FilaSeleccionada
{
	background-color: #DCDCDC;
}
.FilaPar2
{
	background-color: #F1F1F1;
}
.CajaError
{
	background-color: #FFFFCC;
	border-top-color: #2a97bc;
	border-bottom-color: #2a97bc;
	color: #d6001c;
}
.pnlLineasPedidoDL
{
	height: 0px; 
	overflow: hidden;
}

.TituloPopUpPanelInfo
{
	font-family: Gotham-Book;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
}
.SubTituloPopUpPanelInfo
{
	font-family: Gotham-Book;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}
.CapaTituloPanelInfo
{
	background-color:#282828;
}
.CapaSubTituloPanelInfo
{
	background-color:#424242;	 
}
.cabeceraCollapsiblePanel{
	background-color:#bbbbbb;
	color:White;
	font-weight:bold;
}
.TablaRegistroMail
{
	border:solid 1px #D8D8D8;
}
.FilaTituloRegistroMail
{
	background-color:#D8D8D8;
	height:25px;
	padding-left:5px;
}
.LabelTituloRegistroMail
{
	font-family: Gotham-Book;
	font-weight:bold;
	font-size:14px;
	color:#2a97bc;
	vertical-align:middle;
	padding-left:3px;
}
.CabeceraRegistroMail
{
	background-color:#FFFFFF;
	border-bottom:solid 1px #D8D8D8;
	font-family: Gotham-Book;
	font-weight:bold;
	font-size:12px;
	color:#2a97bc;
	height:20px;
}
.FilasGridMail
{
	background-color:#FFFFFF;
	border-bottom:solid 1px #D8D8D8;
	font-family: Gotham-Book;
	font-size:12px;
	height:20px;
}
.LabelTituloCabeceraCustomControl
{
	font-family: Gotham-Book;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.PageHeaderBackground
{
	position:relative; 
	width:100%; 
	background-color:#cccccc; 
	height:2em;
	line-height:2em;
	text-align:right;
}
.PageHeaderBackground>img
{
    position:absolute;
    bottom:0.2em; 
    left:1em;
}
.CabeceraBotonCustomControl
{
	border-left:dotted 1px #666666;
	padding:0em 1em 0em 2.5em;
	background-repeat:no-repeat;
	background-position:0.5em center;
	color:#000000;
	font-family: Gotham-Book;
	font-size:12px;
	text-decoration:none;
	cursor: pointer;
	display:inline-block;
}

.EtiquetaScroll 
{
	vertical-align:middle;
	text-align:center;
	height:20px;
	width:25px;
	background-color:#FFFFBE;
	
}
.CabeceraLinea
{
	background-color:#F7FFC9;
	border:solid 1px #ECE9D8;
}
.EtiquetaScroll 
{
	vertical-align:middle;
	text-align:center;
	height:20px;
	width:25px;
	background-color:#FFFFBE;
	
}

/****************************************************************************************************************/

/*             UltraWebGrid                                            */

/*		ESTILOS FILTRO CABECERA		*/

/* Estilo que sirve cndo pasamos el raton por un elemento del filtro*/
.FilterList 
{ 
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 5px; 
	OVERFLOW: auto; 
	HEIGHT: 300px; 
	COLOR: black; 
	PADDING-TOP: 5px; 
	font-family: Gotham-Book;  
	BACKGROUND-COLOR: #f1f1f1; 
	border:solid 1px #ada990;
}
/* Estilo que sirve para modificar el ancho del interior del filtro */
.FilterList TABLE 
{ 
	WIDTH: 150px 
  }
.FilterList TD 
{ 
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 2px; 
	PADDING-TOP: 2px; 
	TEXT-ALIGN: left 
}
/*Estilo que indica sobre que elemento vamos */

.FilterHighlight 
{ 
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid;
	BORDER-LEFT: black 1px solid; 
	CURSOR: default; 
	COLOR: white; 
	BORDER-BOTTOM: black 1px solid; 
	BACKGROUND-COLOR: #3c7fb1;
}

/*		ESTILOS FILTRO FILA "="		*/

/* Estilo que sirve para el dropdown que se despliega una vez que se pincha en el filtro de cabecera */
.FilterOperandList
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 10px; 
	OVERFLOW: auto; 
	/*WIDTH: 150px; */
	COLOR: black; 
	PADDING-TOP: 10px; 
	font-family: Gotham-Book; 
	HEIGHT: 100px; 
	BACKGROUND-COLOR: #f1f1f1; 
 }


/* Estilo que modifica la apariciencia de los elementos que cogen el foco en el dropdown que se visualiza
   despues de pulsar en el filtro de cabecera */
.FilterOperandHover DIV{
	/*cursor:pointer;
	color:#222222;*/
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	FONT-WEIGHT: bold; 
	BORDER-LEFT: black 1px solid; 
	CURSOR: default; 
	COLOR: white; 
	BORDER-BOTTOM: black 1px solid; 
	BACKGROUND-COLOR: #3c7fb1;
	width:100%;
}
/* Estilo para el boton del filtro "="*/
.FilterOperandButton{
	height:20px;
	width:20px;
	padding:0px;
	margin:0px;
	vertical-align:middle;
	text-align:center;
}

/* Estilo que sirve para modificar la apariciencia de la fila del filtro "="  */
.FilterRow{
	background-color:#f3f3f3 !important;
}


.fila_cabecera_grid
{	
	background-color: White;
	font-weight: bold;
	border: solid;
	border-color: #BBBBBB;
	border-width: 1px 1px 1px 0px;
	text-align: center;
	
}


/****************************************************************************************************************/

/*					WebCombo					*/

.ComboRowAlternate
{
	font-family: Gotham-Book;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}
.Combo
{
	font-family: Gotham-Book;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}
.ComboFooter
{
	font-family: Gotham-Book;
	font-weight: normal;
	font-size: 10px;
	color: black;
	
}
.ComboFrame
{
	
}
.ComboHeader
{
	font-family: Gotham-Book;
	font-weight: normal;
	font-size: 10px;
	color: black;
		
}
.ComboRow
{
	font-family: Gotham-Book;
	font-weight: normal;
	font-size: 10px;
	color: black;	
	
}
/**********************DETALLE FICHA Parte FichaCalidad.aspx************************************/
.fp_fila_lnk_tabla2
{	
	background-color: #fafafa;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	font-weight: bold;
	cursor:pointer;
}
.fp_fila_lnk_tabla3
{	
	background-color: #FFF;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	cursor:pointer;
}
.fp_fila_lnk_tabla4
{	
	background-color: #FFF;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	cursor:pointer;
}
.fp_fila_lnk_tabla5
{	
	background-color: #FFF;

	border: solid;
	border-color: #cccccc;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	text-align: center;
	cursor:pointer;
}
/**********************DETALLE FICHA Parte DetallePuntuacionXXXXXX.aspx************************************/
/*Rotulo*/
.RotuloDetallePuntuacion
{
	font-family: Gotham-Book;
	font-size:14px;
	font-weight: normal;
	padding-left: 17px;
	background-color:#FAFAFA;
}
.RotuloDetallePuntuacionNoLeft
{
	font-family: Gotham-Book;
	font-weight: normal;
	background-color:#FAFAFA;
}
.RotuloDetallePuntuacionLeftGrid
{
	font-family: Gotham-Book;
	font-weight: normal;
	background-color:#FAFAFA;
	padding-left:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
}
.RotuloDetallePuntuacionLeftGridPadR
{
	font-family: Gotham-Book;
	font-weight: normal;
	background-color:#FAFAFA;
	padding-right:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
}
.RotuloDetallePuntuacionLeftGridBorderL
{
	font-family: Gotham-Book;
	font-size:14px;
	font-weight: bold;
	background-color:#FAFAFA;
	padding-left:7px;
	border-bottom: solid 1px #cccccc;  
	border-left-width:0px;    
}
.RotuloDetallePuntuacionRightGrid
{
	font-family: Gotham-Book;
	font-weight: normal;
	background-color:#FAFAFA;
	padding-right:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right-width:0px;    
}
.RotuloDetallePuntuacionRightGridBold
{
	font-family: Gotham-Book;
	font-weight:bold;
	color:#000000;
	background-color:#FAFAFA;
	padding-right:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right-width:0px;    
}
.RotuloDetallePuntuacionLeftRightGrid
{
	font-family: Gotham-Book;
	font-weight: normal;
	color:#000000;
	background-color:#FAFAFA;
	padding-right:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;    
}
.RotuloDetallePuntuacionLeftRightGridBold
{
	font-family: Gotham-Book;
	font-weight: bold;
	color:#000000;
	background-color:#FAFAFA;
	padding-right:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;    
}
.RotuloDetallePuntuacionLeftRightGridPadL
{
	font-family: Gotham-Book;
	font-weight: normal;
	background-color:#FAFAFA;
	padding-left:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;    
}
.RotuloDetallePuntuacionNoLeftNoBack
{
	font-family: Gotham-Book;
	font-size:14px;
	font-weight: normal;
}
.RotuloDetallePuntuacionNoLeftLink
{
	font-family: Gotham-Book;
	font-weight: normal;
	background-color:#FAFAFA;
	cursor:pointer;
	padding-left:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;    
	text-align:left;
}
.RotuloDetallePuntuacionRightNoLeftLink
{
	font-family: Gotham-Book;
	font-weight: normal;
	background-color:#FAFAFA;
	cursor:pointer;
	padding-left:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;    
	border-right: solid 1px #cccccc; 
	text-align:left;
}
.RotuloDetallePuntuacionNoLeftNoLink
{
	font-family: Gotham-Book;
	font-size:14px;
	font-weight: normal;
	background-color:#FAFAFA;
	padding-left:7px;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;    
	text-align:left;
}
.RotuloDetallePuntuacionNoLeftLinkBold
{
	font-family: Gotham-Book;
	font-size:14px;
	font-weight:bold;
	background-color:#FAFAFA;
	cursor:pointer;
}
.RotuloDetallePuntuacionBold
{    
	font-family: Gotham-Book;
	font-size:14px;
	font-weight:bold;    
	background-color:#FAFAFA; 
}
.RotuloDetallePuntuacionBoldMargin
{    
	font-family: Gotham-Book;
	font-size:14px;
	font-weight:bold;    
	background-color:#FAFAFA; 
	margin-left: 17px;
}
.RotuloDetallePuntuacionBoldLeft
{    
	font-family: Gotham-Book;
	font-size:14px;
	font-weight:bold;   
	padding-left: 3px;     
	background-color:#FAFAFA; 
}
.RotuloDetallePuntuacionBoldAzul
{
	font-family: Gotham-Book;
	font-weight: bold;
	padding-left: 5px;
	color:#435c98;
}
.RotuloDetallePuntuacionPuntCalf
{    
	font-family: Gotham-Book;
	font-size:14px;
	font-weight:bold;    
	color:#435c98;
	background-color:#FAFAFA; 
}
.RotuloDetallePuntuacionPuntCalfLeft
{    
	font-family: Gotham-Book;
	font-size:12px;
	font-weight:bold;    
	color:#435c98;
	background-color:#FAFAFA; 
	margin-left:17px;
}
.RotuloDetallePuntuacionlabelNC
{    
	font-family: Gotham-Book;
	font-size:12px;
	font-weight:bold;    
	color:#435c98;
	background-color:#FAFAFA; 
	margin-top:10px;    
}
.RotuloDetallePuntuacionFondoGris
{
	font-family: Gotham-Book;
	font-size:12px;             
}
.RotuloDetallePuntuacionFondoGrisPad
{
	font-family: Gotham-Book;
	font-size:12px;       
	padding-left:3px;      
}
.RotuloDetallePuntuacionFondoGrisBold
{    
	font-family: Gotham-Book;
	font-size:12px;     
	font-weight:bold;      
	padding-left:3px; 
}
.RotuloDetallePuntuacionFondoGrisBoldNoPad
{    
	font-family: Gotham-Book;
	font-size:12px;     
	font-weight:bold;      
}
/*Fondo*/
.FondoTablaDetallePuntuacion
{
	background-color:#FAFAFA;   
}
.FondoTablaDetallePuntuacionMargin
{
	background-color:#FAFAFA;   
	padding-left:17px;
	width:100%
}
.FondoGrisTablaDetallePuntuacion
{
	margin-left:17px;
	background-color:#f1f1f1;
}
.FondoGrisBorderTablaDetallePuntuacion
{
	margin-left:14px;    
}
.FondoGrisBorderTablaDetallePuntuacionCeldaGris
{
	background-color:#f1f1f1;  
	border-top:solid 1px #f1f1f1;
	border-bottom:solid 1px #FAFAFA;
	border-left:solid 1px #f1f1f1;    
	padding-left:7px;
}
.FondoGrisBorderTablaDetallePuntuacionCeldaGrisCentral
{
	background-color:#f1f1f1;  
	border-top:solid 1px #f1f1f1;
	border-bottom:solid 1px #FAFAFA;    
}
.FondoGrisBorderTablaDetallePuntuacionCeldaWhite
{
	background-color:#FAFAFA;
	border-top:solid 1px #f1f1f1;
	border-bottom:solid 1px #f1f1f1;
	border-right:solid 1px #f1f1f1;
	padding-right:8px;    
	text-align:right;
}
.FondoLineaBorderTablaDetallePuntuacion
{
	background-color:#FAFAFA;   
	border-bottom:solid 1px #435c98; 
}
/*Separador*/
.SeparadorCabeceraDetallePuntuacion
{
	background-color:#f1f1f1;
	height:1px;
}
.SeparadorLineasDetallePuntuacion
{
	background-color:#FAFAFA;
	height: 12px;
}
/***/
.TextoBlanco
{
	Color:White;
}
.BordearDetallePuntuacion
{
	border:solid 1px #435c98;
	margin-left:17px;
}
.BordearDetallePuntuacion2
{
	border:solid 1px #435c98;
	margin-left:17px;
	background-color:#f1f1f1;    
}
/*Grid Cabecera*/
.fp_fila_cabecera_DetallePuntuacion
{	
	background-color: #f1f1f1;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-width:1px;
	border-right-width:0px;
	text-align: center;
	height:25px;
	padding-left:7px;	
}
/*Celda*/
.fp_celda_vc_1_DetallePuntuacion
{   
	background-color: #f1f1f1;
	text-align: center;
	color: #435c98;
	padding-left: 2px;
}
.fp_celda_vc_2_DetallePuntuacion
{	
	background-color: #f1f1f1;
	text-align: center;
	font-weight: bold;
	padding-left: 2px;
}
.fp_celda_vc_3_DetallePuntuacion
{	
	background-color: #f1f1f1;
	text-align: center;
	padding-left: 2px;
}
.fp_celda_vc_4_DetallePuntuacion
{	
	background-color: #f1f1f1;
	text-align: center;
	color: #333;
	padding-left: 2px;	
}
.fp_celda_vc_5_DetallePuntuacion
{	
	background-color: #f1f1f1;
	text-align: center;
	color: #666;
	padding-left: 2px;	
}
/***** Tabs No Cogidos de PMWeb/script/styles/Cliente.css ***/
.uwtDefaultTabMargin
{
	margin-left:17px;
}
/***** Tabs Cogidos de PMWeb/script/styles/Cliente.css ***/
/*uwtDefaultTab le he metido el border-color de #uwtDefaultTab*/
.uwtDefaultTab
{
	font-family: Gotham-Book;
	font-size:8pt;
	font-weight:normal;
	background-color:#eeeeee;
	border-color:#21416b;	
}
.cabeceraDesglose
{
	font-weight: normal;
	font-size: 10px;
	color: #4e4d4d;
	font-family: Gotham-Book;
	height: 18px;
	background-color: #cac8c8;
	text-align: left;
}
.cabeceraTituloDesglose
{
	font-weight: bold;
	font-size: 10px;
	color: #21416b;
	font-family: Gotham-Book;
	height: 18px;
	background-color: #cac8c8;
	text-align: left;
}
.ugfilatabla
{
	font-family: Gotham-Book;
	font-size:12px;
	border-style:none;
	border-bottom-style:dashed ;
	border-bottom-color:Black;
	border-bottom-width:1px;
	cursor:pointer ;
}
.ugfilatablaDesglose
{
	font-family: Gotham-Book;
	font-size:12px;
	border-bottom-style:dashed ;
	border-bottom-color:Black;
	border-bottom-width:1px;
}

.ugfilaalttablaDesglose
{
	font-family: Gotham-Book;
	font-size:12px;
	border-bottom-style:dashed ;
	border-bottom-color:Black;
	border-bottom-width:1px;
}
.TipoArchivo
{
	border-width:0px;
	border-style:solid;
	border-color:#A0A0A0;
	background-color:Transparent;  
	width:300px;
	font-size:10px;
	height:16px;
	overflow:hidden;
}
.TipoArchivo:hover
{
	border-width:0px;
	border-style:solid;
	border-color:#A0A0A0;
	background-color:Transparent;  
	width:300px;
	font-size:10px;
	height:16px;
	overflow:hidden;
}
.CampoSoloLectura
{
	font-family: Gotham-Book;
	font-size:12px;
	border-style:none;
	width:100%;
	font-size:12px;
	height:16px;
	overflow:hidden;
}
/**/
.fp_celda_cabecera_vcDetalle
{
	background-color: #f1f1f1;
	border: solid;
	border-color: #cccccc;
	border-bottom-width:1px;
	border-left-width:0px;
	border-top-width:1px;
	border-right-width:1px;
	font-weight: bold;
	color: #435c98;
}

/****************************************************************************************************************/
.DetalleFormulaPopUp
{
	background-color:#f1f1f1;
}
.ContenidoNormal
{
	font-family: Gotham-Book;
	font-size: 14px;
	color: #000;
}
.CeldaVariable
{
	width:30px;
	height:25px;
	padding-left:15px;
	vertical-align:middle;
	background-color:#f1f1f1;
	border:solid 1px #f1f1f1;
	border-bottom:solid 1px #FFF;
	font-weight:bold;
}
.CeldaDefinicion
{
	width:150px;
	height:25px;
	padding-left:15px;
	vertical-align:middle;
	background-color:#f1f1f1;
	border:solid 1px #f1f1f1;
	border-bottom:solid 1px #FFF;
	font-weight:bold;
}
.CeldaValor
{
	width:75px;
	height:25px;
	padding-left:25px;
	padding-right:15px;
	vertical-align:middle;
	background-color:#FFF;
	border:solid 1px #f1f1f1;
	text-align:right;
	font-weight:bold;
}
.CeldaVariableRojo
{
	width:30px;
	height:25px;
	padding-left:15px;
	vertical-align:middle;
	background-color:#f1f1f1;
	border:solid 1px #f1f1f1;
	border-bottom:solid 1px #FFF;
	font-weight:bold;
	color:Red;
}
.CeldaDefinicionRojo
{
	width:150px;
	height:25px;
	padding-left:15px;
	vertical-align:middle;
	background-color:#f1f1f1;
	border:solid 1px #f1f1f1;
	border-bottom:solid 1px #FFF;
	font-weight:bold;
	color:Red;
}
.CeldaValorRojo
{
	width:75px;
	height:25px;
	padding-left:25px;
	padding-right:15px;
	vertical-align:middle;
	background-color:#FFF;
	border:solid 1px #f1f1f1;
	text-align:right;
	font-weight:bold;
	color:Red;
}
/****************************************************************************************************************/
.certificadoNoPeticionario
{
	font-weight:bold;
	color:gray;
}
.certificadoExpirado
{
	font-family: Gotham-Book;
	font-size:10px;
	cursor: pointer;
	text-decoration :underline;
	font-weight:bold;
	color:#BC151B;	
}

.certificadoVigente
{
	font-family: Gotham-Book;
	font-size:10px;
	cursor: pointer;
	text-decoration :underline;
	font-weight:bold;
	color:#008000;	
}
.certificadoPendiente
{
	font-family: Gotham-Book;
	font-size:10px;
	font-weight:bold;
	color:#F7951A;	
}

.certificadoPendienteValidar
{
	font-family: Gotham-Book;
	font-size:10px;
	cursor: pointer;
	text-decoration :underline;
	font-weight:bold;
	color:#007BFF;	
}
.certificadoNoValidado
{
	font-family: Gotham-Book;
	font-size:12px;
	cursor :pointer;
	font-weight:bold;
	color:#B0A613;	
}
.certificadoOpcional
{
	font-family: Gotham-Book;
	font-size:10px;
	color:#808080;	
	font-weight:bold;
}
.certificadoEnProceso
{
	font-family: Gotham-Book;
	font-size:10px;
	cursor: pointer;
	font-weight:normal;
	color:#000;	
	font-weight:bold;
}
.imagenCertificadoExpirado
{
	background-image:url(images/Ico_Opcional.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.imagenCertificadoVigente
{
	background-image:url(images/Ico_Vigente.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.imagenCertificadoPendiente
{
	background-image:url(images/Ico_Pendiente.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.imagenCertificadoOpcional
{
	background-image:url(images/Ico_Pendiente.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.InfoEnvioCertificados
{
	  font-family: Gotham-Book;
	  font-weight:bold;
	  font-size:12px;
	  color:#000000;
}
.CabeceraInfoEnvioCertificados
{
	  font-family: Gotham-Book;
	  font-weight:bold;
	  font-size:12px;
	  color:#21416b;
}

.BorderedPopUp
{
	background-color:#FFF;
	border:solid 5px #21416B;
}
.igg_FullstepHeaderCaption
{
	height:22px;
	border-right:solid 1px #BDBDBD;
}
tbody.igg_FullstepItem>tr>td
{
	border-right:solid 1px #D8D8D8;
	padding: 0em 0.5em 0em 0.5em;
	border-top:none;
	border-bottom:solid 1px #D8D8D8;
}
#up_Asignaciones .igg_FullstepControl
{
    background-image: none;
}
.BusqProve
{
	margin-left:10px;
	border-left:solid 1px #BDBDBD;
}
.AsignarObjDen
{
	background-color:Gray;
}
.AsignarObjNum
{
	background-color:White;
}
.ColorAzul
{
	color:Blue;
}
.CabeceraBotones
{
	background-image:url(images/FondoCabecera.png); 
	border:solid 1px #c5c7cb;
}

.imagenCabecera 
{
	vertical-align: middle;
}
.botonIzquierdaCabecera 
{
	cursor:pointer;
	border-right:dotted 1px #666666; 
	padding-left:10px; 
	padding-right:10px; 
	display:table-cell;
	float:left;
} 
.botonIzquierdaCabecera:hover
{
	cursor:pointer;
	background-image:url(images/FondoCabeceraHover.png);
}
.botonDerechaCabecera 
{
	cursor:pointer;
	border-left:dotted 1px #666666; 
	padding-left:10px; 
	padding-right:10px; 
	display:table-cell;
	float:left;
} 
.botonDerechaCabecera:hover
{
	cursor:pointer;
	background-image:url(images/FondoCabeceraHover.png);
}
.fntLogin2
{
	font-family: Gotham-Book;
	font-size:12px;
	font-style:normal;
	color : Black 
}
.SinSalto
{
	overflow:hidden;
	white-space:nowrap;
} 
.SkinLogo
{
	background-color:White;
}

/*************************************Visor Integracion***********************************************/

.EstadoIntPendiente
{
	font-weight:bolder;
	color:#F7951A;	
}
.EstadoIntEnviado
{
	font-weight:bolder;
	color:#5d5d5d;	
}
.EstadoIntError
{
	cursor: pointer;
	text-decoration :underline;
	font-weight:bolder;
	color:#CD0000;	
}
.EstadoIntOK
{
	font-weight:bolder;
	color:#008000;	
}


/*Historico de paradas de intregración*/

#linkHistoricoParadas{
    text-decoration: underline;
    font-family: Gotham-Book;
    font-size: 12px;
    font-weight: normal;
    color: #FFF;
    line-height:20px;
    float:right; 
    margin-right:20px; 
    margin-left:5px;
}
.ui-dialog.historico-dialog
{
    position: absolute !important;         
}
.historico-dialog .ui-widget-header
{
    background: #CCC;
    color: #FFF;
}
.ui-dialog.historico-dialog .ui-dialog-titlebar-close
{
    top: 35%;
    width: 25px;
    height: 25px;
}
.historico-dialog .ui-widget-header span.ui-icon.ui-icon-closethick
{
    background-image: url('/FSNWeb_31900_8/images/Bt_Cerrar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 20px;
}

.historico-dialog .ui-button-text
{
    margin: 0px !important;
    display: none !important;
}

#footerHistorico
{
    text-align: center; 
    padding-top: 10px;    
}
#footerHistorico a
{
    float: none !important;
}

/*=================================*/
/* ESTILOS WEBHIERARCHICALDATAGRID */
/*=================================*/
.rowWebHierarchical:hover
{
	cursor:pointer;
	font-weight:bold;
}
.celdaImagenWebHierarchical
{
	padding-left:2px!important;
	border-right:solid 0px transparent!important;	
}
tbody.igg_FullstepItem>tr>td.celdaImagenWebHierarchical
{
	padding-left:2px!important;
	border-right:solid 0px transparent!important;	
}
.datoRojo
{
	color:#ff0000;
}
.itemSeleccionable
{
	cursor:pointer;
	white-space:nowrap;
}
.itemCenterAligment
{
	text-align:center!important;
}
.itemRightAligment
{
	text-align:right!important;
	padding-right:4px!important;
}
.itemEmpty
{
    background-color: #d2d2d2 !important;    
}
.headerEmpty
{
    border-style: none;
}
.headerNoWrap
{
	white-space:nowrap;
}
.celdaGris
{
    background-color:#CDCDCD!important;
}

/*=================================*/
/* AYUDA POPUP CERTIFICADOS        */
/*=================================*/
.hint {
	display: none;
	float:left;
	width: 220px;
	line-height:15px;                
	border: 1px solid #c93;
	text-align:justify;
	z-index:1002;                
	padding: 5px 5px;
	background: #ffc url(images/pointer.gif) no-repeat -10px 5px;
}
.hint2 {
	display: none; 
	float:left;
	width: 220px;
	line-height:15px;
	border: 1px solid #c93;
	text-align:justify;
	z-index:1002;
	padding: 5px 5px;
	background: #ffc url(images/pointer.gif) no-repeat -10px 5px;
}
			 
/* The pointer image is hadded by using another span */
.hint-pointer 
{
	display: none; 
	position: absolute;
	left:-9px;
	width: 10px;
	height: 19px;
	background: url(images/pointer.gif) left top no-repeat;
}
.hint-pointer2 
{
	display: none; 
	position: absolute;
	left:-9px;
	width: 10px;
	height: 19px;
	background: url(images/pointer.gif) left top no-repeat;
}

/*Para los spin buttons*/
.SpinButton
{
    background-image:none!important; 
    background-color: Silver;
}

.SpinButton .igte_FullstepButtonImg
{
	background-image: none!important; 
     
}

/*FONDO PARA MASTER EN BLANCO DESDE GS*/
.fondoMasterEnBlanco
{
    background-color:#ffffff!important;
}
.modal{
	top:0;
	left:0;
	bottom: 0;	
	min-height: 100%; 	
	height: 100%;
	width: 100%;
	position:fixed;
	z-index:10000;
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.bordeFecha {
    border-style: Inset;
    border-width: 1px;
}
tbody > tr > td .hidExpColumn
{
    width:0px !important;
}
.hiddenElement
{
	display:none;
}
.BloqueFormula
{
	background-image:url(images/FondoCabecera.png); 
	border:solid 1px #c5c7cb;
}
.BloqueFormula:hover
{	
	border:solid 1px #000000;
}
.BloqueFormulaSelected
{
	background-image:url(images/FondoCabeceraHover.png);
	border:solid 1px #0000ff;
}
tbody.igg_FullstepItem > tr > td.sinBorde
{
    border-right: solid 0px transparent !important;
}
th.sinBorde
{
    border-right: solid 0px transparent !important;
}
.RectanguloEP
{
    border-style:solid;
    border-width: 1px;
	background-color: #FAFAFA;
	border-color: #aaaaaa!important;
	width: 99%;
}
tbody.igg_FullstepItem>tr>td.itemEmpty
{
    background-color: #d2d2d2!important;   
    border:solid 1px #d2d2d2!important;
}
ul.spinner
{
    display:inline-block;
    background-color:#c5d5fc;
    list-style:none; 
    padding:0em; 
    margin:0em;
    width:1em;
    text-align:center;
    margin-left:-0.2em;
    vertical-align:top;
}
ul.spinner li
{
    height:0.9em;
    cursor:pointer;
}
ul.spinner li:hover
{
    background-color:#DCEDFD!important;
}
ul.spinner li.up
{    
    background:url("images/up.gif") no-repeat center;    
}
ul.spinner li.down
{    
    background:url("images/down.gif") no-repeat center;
}
.LineaPedidoBajaLogica
{
    color:coral!important;  
}