/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
h2 {
    margin-top: -10px;
    margin-bottom: 15px;
}
#titulo {
    font: 600 18px/24px 'Open Sans';
    color: #990000!important;
    text-align: center;
}
#texto_cabecera {
    background: url(../img/txtsuperior.png) right no-repeat transparent;
    height: 12px;
   margin: -4px auto 0px;
    width: 428px;
	padding-bottom:20px;margin-bottom:20px;
}
#global {
    background: url(../img/Inicio.png) no-repeat transparent;
    height: 388px;
    margin: -30px auto 0px;
    position: relative;
    width: 570px;
}
#bloque1,
#bloque2,
#bloque3,
#bloque4,
#bloque5,
#bloque6 {
   /* background-color: rgba(255,255,255,.5);*/
    height: 60px;
    position: absolute;
    width: 70px; 
}
#bloque1 {
    background: url(../img/shim.png) bottom no-repeat transparent;

    left: 85px;
    top: 30px;
}
#bloque2 {
    background: url(../img/shim.png) no-repeat transparent;
    left: 153px;
    top: 70px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    
}
#bloque3 {
    background: url(../img/shim.png) no-repeat transparent;
    left: 165px;
    top: 145px;
    -webkit-transform: rotate(0deg);
}
#bloque4 {
    background: url(../img/shim.png) no-repeat transparent;
    left: 100px;
    top: 187px;
    -webkit-transform: rotate(0deg);
}
#bloque5 {
    background: url(../img/shim.png) no-repeat transparent;
    left: 30px;
    top: 152px;
    -webkit-transform: rotate(0deg);
}
#bloque6 {
    background: url(../img/shim.png) no-repeat transparent;
    left: 35px;
    top: 90px;
    -webkit-transform: rotate(58deg);
}