﻿.fsHierarchicalDropDownContainer {
    border: solid 1px Grey;
    cursor: pointer;
}
    .fsHierarchicalDropDownContainer > span {
        display: inline-block;
        line-height: 1.5em;
    }

    .fsHierarchicalDropDownContainer label {
        background-image: url(../images/cboImage.png);
        background-position: center center;
        display: inline-block;
        width: 20px;
        height: 22px;
        background-repeat: no-repeat;
    }

    .fsHierarchicalDropDownContainer > div {
        margin: 0.3em;
    }

        .fsHierarchicalDropDownContainer > div > ul {
            display: none;
            background-color: white;
            list-style-type: none;
            position: absolute;
            left: 0px;
            margin: 0em;
            padding: 0.2em;
            border: solid 0.1em lightgray;
        }

            .fsHierarchicalDropDownContainer > div > ul ul {
                margin-left: 2em;
                padding: 0em;
            }

        .fsHierarchicalDropDownContainer > div ul {
            width: 100%;
            list-style-type: none;
        }

    .fsHierarchicalDropDownContainer ul li span:hover {
        background-color: lightgray;
    }

.fsHierarchicalDropDownContainer > div ul li span {
    display:block;
}

.fsHierarchicalDropDownContainer > div ul li span.selected {
    background-color: lightgray;
}