﻿.fsMultiLanguageContainer {
    border:solid 1px Grey;
    white-space:nowrap;
    vertical-align:top;
    display:inline-block;
}
.fsMultiLanguageContainerHide{
    display:none!important;
}
    .fsMultiLanguageContainer > span {
        display:block;
        overflow:hidden;
        padding:0.3em;
    }
    .fsMultiLanguageContainer >span input {
        border:0px;
    }
    .fsMultiLanguageContainer >span textarea {
        border:0px;
    }    
    .fsMultiLanguageContainer > div {
        display:inline-block;
    }
    .fsMultiLanguageContainer > div label {
        display:inline-block; 
        width:22px; 
        height:22px; 
        background-image:url(../images/languages.png);
        background-repeat: no-repeat;
        vertical-align:middle;
        cursor:pointer;
    }
    .fsMultiLanguageContainer > div span {
        display:inline-block; 
        width:10px; 
        height:22px; 
        background:url(../images/cboImage.png) center no-repeat;
        vertical-align:middle;
        cursor:pointer;
    }
    .fsMultiLanguageContainer > div ul {
        display:inline-block;
        z-index:1;
        background-color:white;
        list-style-type:none;
        position:absolute;
        right:0px;
        top:22px;
        margin:0px;
        padding:0px;
        border:solid 0.1em lightgray;
    }
    .fsMultiLanguageContainer > div ul li{
        cursor:pointer;
        width:32px;
        height:22px;
        background-image:url(../images/languages.png);
        background-repeat: no-repeat;
    }
    .fsMultiLanguageContainer > div ul li:hover{
        background-color:lightgray;
    }
    .fsMultiLanguageContainer > div ul li.selected{
        background-color:lightgray;
    }
    .SPA{
        background-position:center 0px;
        cursor:pointer;
    }
    .ENG{
        background-position:center -22px;
        cursor:pointer;
    }
    .GER{
        background-position:center -44px;
        cursor:pointer;
    }
    .FRA{
        background-position:center -66px;
        cursor:pointer;
    }
    .ENU{
        background-position:center -88px;
        cursor:pointer;
    }