
/*comunes*/
body{ margin:2px 0 0; font-family:Arial, Helvetica, sans-serif;}
a{ text-decoration:none; }
img{ border:none;}

#contenedor{ margin:0 auto; width:960px; height:auto; text-align:left;}
#cabecera{ width:960px; height:140px; }

#logo{ width:217px; height:105px; float:left;}

#nav{ display:block; clear:both; width:960px; height:35px; float:left;}

#nav_sup{ display:block;  height:85px; float:right;  }
#nav_sup ul{ margin-top:60px; padding:0; list-style:none; }
#nav_sup ul li{ float:left; }
#nav_sup ul li a{ padding:0 5px; font-size:12px; color:#4A4A30; }
#nav_sup ul li:first-child a{ border-left:0px;}

.breadcrumb{ display:block; float:left; height:20px; font-size:11px; color:#999999; margin-top:20px; margin-bottom:10px;}
.breadcrumb a{ font-size:11px; color:#999999;}

#nav_inf{ width:960px; height:35px; margin:0; padding:0; list-style:none;}
#nav_inf li{ height:35px; float:left; width:154px; padding-left:5px; text-transform:uppercase; border-left:1px solid #000; }
#nav_inf li a{ height:35px; display:inline-block; font-size:14px; color:#000;}
#nav_inf li a:hover, #nav_inf li a.sel{}

#pie{ display:block; width:960px; float:left; clear:both; border-top:#4A4A30 1px solid;}
.datos_pie{ margin-top:40px; margin-bottom:20px; width:175px; padding-left:35px; border-right:#4A4A30 1px solid; float:left; line-height:20px;}
#pie .largo{ width:400px;}
#pie .full img{ margin-top:60px;}
#pie .diez{ font-size:11px;}
#pie .diez  span{ white-space:nowrap;}
#pie .diez a{ color:#4A4A30;}

#pie .diez ul{ margin:0px; padding:0px; margin-top:20px;}
#pie .diez ul li{margin:0px; padding:0px; float:left; list-style-type:none; margin-right:10px;}

#pie .largo ul{ margin:0px; padding:0px; margin-top:45px;}
#pie .largo ul li{ margin:0px; padding:0px;  list-style-type:none; margin-right:10px; font-size:12px; text-transform:uppercase;}
#pie .largo ul li a{ color:#4A4A30;}

/*home*/
#titulo{ display:block; clear:both; float:left; width:650px; height:395px; background-image:url(images/pincho-compass.jpg); color:#4c4c4c;}
#titulo h1{ margin:0;  float:left; font-size:36px; font-weight: lighter; margin-left:23px; margin-top:40px; }
#titulo h1 strong{ font-weight:bold;}

#acceso{ display:block; float:left; width:310px; height:395px; background-color:#d9cbae;}
#acceso div.wform{display:block; float:left; width:310px; height:395px; z-index:10}
#acceso h2{ margin:15px; padding-bottom:15px; color:#4c4c4c; font-size:20px; font-weight:bold; text-align:center; border-bottom:1px solid #fff;}
#acceso form{ width:280px;  padding:15px;}

/*#acceso input.text{ width:96%; padding:0 2%; height:22px; border:#DF0006 1px solid; border-radius:5px; margin-bottom:15px;}*/
#acceso input.text{ width:266px; padding:2px 10px 0; height:28px; border:none; background:url(images/fnd_input.png) no-repeat; margin-bottom:15px; font-size:14px;}

#acceso input.bt, #acceso a.bt{ width:120px; height:30px; line-height:30px; no-repeat; border:none;  background-color:#FFF; font-size:16px;}
#acceso input.bt{ cursor:pointer;}

.bt_solicitar{ width:184px; line-height:30px; height:30px; padding-top:3px; display:inline-block; no-repeat; border:none; color:#4c4c4c; background-color:#f4f0e7; font-size:15px;}


#acceso div.bt_entrar{ position:relative; height:40px; border-bottom:#fff 1px solid;}
.bt_claves{ font-size:11px; color:#4c4c4c; text-decoration:underline; position:absolute; top:0; left:150px; font-family:Arial, Helvetica, sans-serif; width:100px; }
#acceso h3{ width:100%; font-size:14px; font-weight:normal; text-align:center;}

#nav_home{ display:block; float:left; clear:both; width:960px; margin-top:10px;}

#nav_home ul{ margin:0; padding:0; width:585px; height:90px; list-style:none; float:left;}
#nav_home ul li { float:left; border-left:#DF0006 1px solid; font-size:16px;}
#nav_home ul li a {height:38px; display:inline-block; line-height:18px; padding:52px 40px 0 20px; position:relative;}
#nav_home ul li a img{ position:absolute; top:5px; left:40px;}
#nav_home ul li a:hover{ background:#E6E6E6}

.datos_fullstep{ width:280px; padding:15px; background:#D9CBAE; float:right; font-size:12px;}

.datos_fullstep p{
	margin-top:5px;
	margin-bottom:5px;}

#nav_home .contenido-home {
    clear: both;
    color: #4C4C4C;
    display: block;
    float: left;
    height: 240px;
    width: 650px;
}

#nav_home .contenido-home h2{
	margin:0px;
	padding:0px;
	display:block;
	clear:both;
	font-size:27px;
	}

#nav_home .contenido-home p{
	margin:0px;
	width:46%;
	padding-left:0%;
	padding-right:4%;
	padding-top:2%;
	float:left;
	font-size:13px;
	}
	
#nav_home ul{ width:100%; margin-top:20px;}

#nav_home ul li{ width:100px; text-align:center; border:0px; background-image:none;}

/*interiores*/
#titulo_int{ width:950px; margin-top:2px;}
#titulo_int .tit{ width:750px; height:55px; padding:5px 0 0px 0px; float:left; font-size:10px;}
#titulo_int h1{ margin:0; font-size:33px; padding-top:5px; font-weight:normal; text-transform:uppercase;}
#titulo_int .ico{ width:123px; height:60px; padding-top:10px; border:#DF0006 solid; border-width:0 1px; float:left; text-align:center;}

.contenido{ width:960px;}
.contenido_banner{ width:395px; margin-left:0px; float:left; overflow:hidden;}
.contenido_texto{ width:500px; height:auto; min-height:400px; float:left; padding:0px 0px 30px 60px;}
.contenido_texto a{ color:#DF0006; text-decoration:underline;}
.blanco{ height:30px; background:#FFF; margin-left:36px; width:888px;}

/*paginas genericas*/
#cont_gen{ margin:0 auto; width:730px; height:auto; text-align:left; font-family:Arial, Helvetica, sans-serif;}
#izd_gen{ width:200px; padding:20px 0 0 15px; height:auto; float:left}
#drc_gen{ width:500px; height:auto; float:left; padding:0 15px 15px 0;}
#drc_gen h1{ margin:0; padding:65px 0 0 25px; font-size:20px; font-weight:normal; color:#4C4C4C; border-left:#C7C7C7 1px solid; margin-bottom:20px; line-height:20px;}
#drc_gen div.int{ border-left:#C7C7C7 1px solid; background:#F4F4F4 url(images/esquina_blanca.png) no-repeat right bottom; padding:20px 20px 20px 70px;}
.bt_registro{
	display:inline-block;
	width:80px;
	height:18px;
	padding-top:2px;
	text-align:center;
	color:#FFF;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*--------------*/
	background-color: #BF161B;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #DA8089, #BF161B);
	background-image: -ms-linear-gradient(top, #DA8089, #BF161B);
	background-image: -webkit-linear-gradient(top, #DA8089, #BF161B);
	background-image: -o-linear-gradient(top, #DA8089, #BF161B);
	background-image: linear-gradient(top, #DA8089, #BF161B);
	border: 1px solid #DA8089;
	border-radius: 10px;
}
.caja_acepto{ width:48%; float:left;}
input.email{ width:200px; height:18px; padding-left:5px; border:#333 1px solid; border-radius:10px; margin-right:10px;}
.recordar-claves{ width:290px; height:88px; padding:5px 20px 0 100px; margin-top:30px; background:url(images/recordar-claves.jpg) no-repeat;}
.contenido ul { margin:0px; padding:0px;}
.contenido ul li{ margin:0px; padding:0px; margin-bottom:6px; font-size:14px; list-style-type:none; text-indent:10px; background:url(images/punto.gif) no-repeat 2px 5px;}
ul li span{ color:#1A1A1A}
div.bt_descarga{ width:125px; height:50px; padding:0 20px 0 265px; }
div.bt_descarga a{ display:block; height:35px; padding-top:15px; font-size:12px; font-weight:bold; color:#000; background:url(images/ico_descarga.png) right center no-repeat;}

/*pagina ayuda*/
#izd_gen ul{ margin:30px 0 0 30px; padding:0; width:150px; list-style:none;}
#izd_gen ul li a{ display:inline-block; padding:10px 0 10px 10px; border-top:#CCC 1px dotted; background:url(images/punto_rojo.jpg) left center no-repeat;}
#izd_gen ul li:first-child a{ border:none;}
#drc_gen ol li{ margin-bottom:10px;}
#drc_gen .fin{ border-top:#666 1px dotted; width:377px; margin-top:17px; float:left;}
.bt_arriba{ display:inline-block; width:23px; height:15px; margin-top:10px; background:url(images/flecha_arriba.png) no-repeat; float:right;}

/*textos*/
.arial{ font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.arial p{ margin-top:0px;}
.rojo{ color:#4c4c4c;}
.rojo_24{font-size:21px; color:#4c4c4c}



