<%@ Control Language="vb" AutoEventWireup="false" Codebehind="participantes.ascx.vb" Inherits="Fullstep.FSNWeb.participantes" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" enableViewState="False" %>
<asp:table id="tblDesglose" Width="100%" runat="server"></asp:table>
