.igg_FullstepControl
{
	background-color:#D2D2D2;
	background-repeat:repeat-x;
	background-image: url(images/igg_header.gif);
	font-size:11px;
	border-bottom:solid 1px #C5C7CB;
	border-left:solid 0px #c5c7cb;
	border-right:solid 0px #c5c7cb;
	border-top:solid 0px #c5c7cb;
}


.igg_FullstepHeader
{
	background-color:#D2D2D2;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igg_header.gif);
	height: 25px;
}


.igg_FullstepHeaderCaption
{
	font-size:12px;
	padding-left:8px;
	overflow: hidden;
	text-align:left;
}


.igg_FullstepFooter
{
	background-color:#D2D2D2;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igg_header.gif);
	height: 21px;
	line-height: 21px;
}


.igg_FullstepFooterCaption
{
	font-weight:normal;
	font-size:10px;
	padding-left:8px;
	overflow: hidden;
	text-align:left;
}


tbody.igg_FullstepItem>tr>td
{
	background-color:White;
	border-top:solid 1px #D8D8D8;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	height: 20px;
	text-align:left;
	vertical-align:middle;
}


.igg_FullstepScrollbarIntersection
{
}


.igg_FullstepRowSelector
{
	background-color:WhiteSmoke;
	border-top:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
	border-left:solid 1px #D8D8D8;
	width: 15px;
	color:Black;
	text-align:center;
	vertical-align:middle;
	cursor:default;
}


.igg_FullstepPager
{
	padding-top:4px;
	padding-bottom:4px;
	text-align:right;
}


.igg_FullstepPageLink
{
	margin-right:10px;
	cursor:pointer;
	color:DimGray;
	text-decoration:underline;
}


.igg_FullstepFilterRuleDropDown
{
	background-attachment:scroll;
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_summarydropdownbg.png);
	font-size:xx-small;
	font-family: Gotham-Book;
	border:solid 1px #83AFDF;
	overflow: auto;
	width: 150px;
	max-height: 150px;
	height: auto !important;
	height: 150px;
	box-shadow: 0 4px 8px 0 #5A5A5A;
	filter: progid : DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A');
}


.igg_FullstepFilterButton
{
	background-color:Transparent;
	border-style:solid;
	border-width:0px;
	height: 18px;
}


.igg_FullstepResizeIndicator
{
	background-color:#AAAAAA;
	width: 2px;
}


.igg_FullstepFixedColumnSeparatorCssClass
{
	background-color:#AAAAAA;
	width: 2px;
}


.igg_FullstepFixedColumnPinButtonCssClass
{
	padding-top:0px;
	padding-right:3px;
	cursor:pointer;
	vertical-align:middle;
}


.igg_FullstepVirtualScrollTooltip
{
	background-color:White;
	font-size:10px;
	border:solid 1px #D2D2D2;
	padding:3px;
	color:#AAAAAA;
	text-align:center;
}


.igg_FullstepTopDragIndicator
{
	background-repeat:no-repeat;
	background-image: url(images/igg_topdragindicator.png);
	margin-top:2px;
	width: 11px;
	height: 6px;
	z-index: 100;
}


.igg_FullstepMiddleDragIndicator
{
	background-repeat:repeat-y;
	background-position:center ;
	background-image: url(images/igg_middledragindicator.png);
	width: 11px;
}


.igg_FullstepBottomDragIndicator
{
	background-repeat:no-repeat;
	background-image: url(images/igg_bottomdragindicator.png);
	margin-top:-2px;
	width: 11px;
	height: 6px;
	position: absolute;
	z-index: 100;
}


.igg_FullstepDragMarkup
{
}


.igg_FullstepSummary
{
	font-weight:bold;
	font-size:9px;
	border-bottom:solid 1px #CBCBCB;
	overflow: hidden;
	color:#444444;
	text-align:right;
}


.igg_FullstepSummaryButton
{
	background-color: none;
	border-style:none;
	border-color: medium;
	margin:0px;
	padding:0px;
	cursor:pointer;
}


.igg_FullstepSummaryDropDown
{
	background-attachment:scroll;
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_summarydropdownbg.png);
	font-size:11px;
	font-family: Gotham-Book;
	border:solid 1px #C5C7CB;
	padding:12px;
	width: 146px;
	_overflow: hidden!important;
	box-shadow: 0 4px 8px 0 #5A5A5A;
	filter: progid : DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A');
}


.igg_FullstepSummaryDropDownItem
{
	font-weight:normal;
	cursor:default;
	color:Black;
}


.igg_FullstepSummaryRow
{
}


.igg_FullstepFixedColumnHeaderCssClass
{
}


tbody>tr.igg_FullstepAlt>td
{
	background-color:White;
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
}


.igg_FullstepHeaderRowSelector
{
	background-color:Transparent;
	background-image:none;
	border:solid 0px #FFFFFF;
	width:15px;
}


.igg_FullstepFooterRowSelector
{
	background-color:Transparent;
	background-image:none;
	border:solid 0px #FFFFFF;
}


.igg_FullstepSelectedHeader
{
}


.igg_FullstepPageCurrent
{
	font-weight:bold;
	padding-right:10px;
	color:#AAAAAA;
}


tr.igg_FullstepAddNewRow>td
{
	background-color:#F7F7F7;
	font-size:10px;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


.igg_FullstepAddNewRowSelectorImageCssClass
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/addnewrow_image.gif);
}


.igg_FullstepAddNewRowSelectorCssClass
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_FullstepAddNewRowExpansionColumnCssClass
{
}


.igg_FullstepFilterRow
{
	font-size:10px;
	border-top:solid 0px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	height: 22px;
}


.igg_FullstepFilterRuleDropDownItem
{
	font-size:11px;
	padding:1px 3px 1px 3px;
}


.igg_FullstepFilterRowSelectorImage
{
}


.igg_FullstepFilterRowSelectorCssClass
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tr.igg_FullstepFilterRow>td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_FullstepFilterRowExpansionColumnCssClass
{
}


tbody.igg_FullstepFixedColumnCellCssClass>tr>td
{
	background-color:#EEEEEE;
}


.igg_FullstepFixedColumnFooterCssClass
{
	font-weight:bold;
}


.igg_FullstepHeaderScrollbarIntersection
{
}


.igg_FullstepFooterScrollbarIntersection
{
}


.igg_FullstepSelectedRowSelector
{
	background-repeat:no-repeat;
	background-position: center ;
	background-image: url(images/selectedrowselector.gif);
}


.igg_FullstepSelectedRowSelectorImage
{
}


tr.igg_FullstepAddNewRowTop>td
{
}


tr.igg_FullstepAddNewRowBottom>td
{
}


.igg_FullstepFilterRowTop
{
}


.igg_FullstepFilterRowBottom
{
}


.igg_FullstepFilterRuleDropDownSelectedItem
{
	background-color:#666666;
	font-size:11px;
	padding:1px 3px 1px 3px;
	color:White;
}


tr.igg_FullstepFilterRowTop>td
{
}


tr.igg_FullstepFilterRowBottom>td
{
}


tbody>tr>td.igg_FullstepSelectedCell
{
	background-color:DimGray;
	background-image: url(images/igg_selected.gif);
	color:White;
}


.igg_FullstepAddNewRowScrollbarIntersection
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_FullstepFilterDisabled
{
}


.igg_FullstepFilterScrollbarIntersection
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tbody>tr>td.igg_FullstepActiveCell
{
}


.igg_FullstepActiveRow
{
}


.igg_FullstepActiveColumn
{
}


.igg_FullstepActiveRowSelectorImage
{
}


.igg_FullstepActiveRowSelector
{
	background-color:#D2D2D2;
	background-repeat:no-repeat;
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
}


.igg_FullstepFilterRuleDropDownHoverItem
{
	background-color:#AAAAAA;
	font-size:11px;
	padding:1px 3px 1px 3px;
	color:White;
}


.igg_FullstepEditCell
{
	background-color:White;
	border:solid 1px #AAAAAA !important;
}


tbody tr td.igg_FullstepActiveCellIE6
{
}


.igg_FullstepSummaryDropDownItem img
{
	margin-right:5px;
	cursor:pointer;
}


tr.igg_FullstepFilterRowBottomIE6 td
{
}


tr.igg_FullstepAddNewRowTopIE6 td
{
}


.igg_FullstepFooter tr[mkr="columnheaderrow"] th
{
	border-top:solid 1px #CBCBCB;
	border-bottom:solid 1px #CBCBCB;
}


tr.igg_FullstepFilterRowIE6 td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tbody tr td.igg_FullstepSelectedCellIE6
{
	background-color:DimGray;
	background-image: url(images/igg_selected.gif);
	color:White;
}


.igg_FullstepFilterButton>td
{
	border-top:solid 0px Transparent;
	border-right:solid 0px Transparent;
	border-bottom:solid 0px Transparent;
	border-left:solid 0px Transparent;
}


tr.igg_FullstepFilterRowTopIE6 td
{
}


.igg_FullstepSummaryDropDown input
{
	background-attachment:scroll;
	background-color:#C5C7CB;
	background-repeat:repeat-x;
	background-image: url(images/igg_buttonsbg.png);
	border:solid 1px #C5C7CB;
	margin-top:10px;
	margin-right:3px;
	width: 70px;
	_width: auto;
	_overflow: visible;
	color:#54CBF3;
}


tr.igg_FullstepAddNewRowBottomIE6 td
{
}


.igg_FullstepSummaryRow th
{
	border-bottom:solid 1px #CBCBCB;
}


tbody.igg_FullstepFixedColumnCellCssClassIE6 tr td
{
	background-color:#EEEEEE;
}


tbody tr.igg_FullstepAltIE6 td
{
	background-color:White;
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
}


tr.igg_FullstepAddNewRowIE6 td
{
	background-color:#F7F7F7;
	font-size:10px;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


tbody.igg_FullstepItemIE6 tr td
{
	background-color:White;
	border-top:solid 1px #D8D8D8;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	height: 20px;
	text-align:left;
	vertical-align:middle;
}


