<%@ Page Language="vb" AutoEventWireup="false" Codebehind="atachedfiles.aspx.vb" Inherits="Fullstep.PMPortalWeb.atachedfiles" %>
<%@ Register TagPrefix="uc1" TagName="atachedfiles" Src="../_common/atachedfiles.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
		<title>atachedfiles</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</head>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<uc1:atachedfiles id="Atachedfiles1" runat="server"></uc1:atachedfiles>
		</form>
	</body>
</html>
