<%@ Page Language="vb" AutoEventWireup="false" Codebehind="participantesserver.aspx.vb" Inherits="Fullstep.PMPortalWeb.participantesserver"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
<head id="Head1" runat="server">
		<title></title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script>
		function preInitGrid()
		{
		//para que no de error... espero
		return
		}
		function ddinitGridEvent()
		{
		//tambien para nada
		return
		}
		

		function init()
		{
		copiarGrid()
		
		}


	function copiarGrid()
	{
	
	
	var s
	var p=window.parent
	
	s = document.all("divArticulos").innerHTML
	se=/<STYLE type=text\/css>/
	if (s.search(se)>0)
		{
		iComienzo = s.search(se)
		se = /<\/STYLE>/
		iFin = s.search(se)
		var sStyle = s.substr(iComienzo + 21, iFin-(iComienzo + 21))
		s = s.substr(0,iComienzo) + s.substr(iFin + 8)
		if (!p.document.all(sNombreGrid + "_main"))
		{
			rllave=/{/
			rllaveCierre=/}/
			rpunto=/./
			sAux = sStyle
			sAux = sAux.replace("<!--","")
			sAux = sAux.replace("-->","")
			
			while (sAux.search(rllave)>-1)
				{
				sSelector = sAux.substr(0,sAux.search(rllave))
				sStyleNew = sAux.substr(sAux.search(rllave) + 1, sAux.search(rllaveCierre)- sAux.search(rllave) - 1)
				p.document.styleSheets[p.document.styleSheets.length-1].addRule(sSelector,sStyleNew)
				sAux=sAux.substr(sAux.search(rllaveCierre)+2)
				}
		}
		else
			{
			oGrid = p.igtbl_getGridById(sNombreGrid)
			}
			
			
		}

		
	oDiv = p.document.all("divDropDowns")
	se=/<SCRIPT language=javascript>/
	if (s.search(se)>0)
		{
		iComienzo = s.search(se) + 28
		se = /<\/SCRIPT>/
		iFin = s.search(se)
		var sEval = s.substr(iComienzo, iFin-iComienzo)
		sEval = sEval.replace("<!--","")
		sEval = sEval.replace("-->","")
		
		s = s.substr(0,iComienzo-28) + s.substr(iFin + 9)

		if (!p.document.all("div" + sNombreGrid))
			oDiv.insertAdjacentHTML("afterEnd","<div id=div" + sNombreGrid + "></div>")

		p.document.all("div" + sNombreGrid).innerHTML= s 
		p.eval(sEval)
		}
	else
		if (p.document.all("div" + sNombreGrid))
			p.document.all("div" + sNombreGrid).innerHTML= s 
		else
			oDiv.insertAdjacentHTML("afterEnd","<div id=div" + sNombreGrid + ">" + s + "</div>")

	s2 = document.scripts[document.scripts.length-1].innerHTML	
	s2  = s2.replace("<!--","")
	s2  = s2.replace("-->","")
	p.eval(s2)
	p.ddopenDropDownEvent(p.moEdit, p.motext, p.moEvent)
	}


		</script>
	</head>
	<body onload="init()" MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<div id="divArticulos" name="divArticulos">
				<igtbl:ultrawebgrid id="uwgArticulos" runat="server">
					<DISPLAYLAYOUT Name="uwgArticulos" BorderCollapseDefault="Separate" Version="4.00" RowHeightDefault="20px">
						<ADDNEWBOX>
							<STYLE BackColor="LightGray" BorderStyle="Solid" BorderWidth="1px"> <BorderDetails ColorTop="White" WidthLeft="1px" WidthTop="1px" ColorLeft="White"> </BorderDetails> 
							</STYLE>
						</ADDNEWBOX>
						<PAGER>
							<STYLE BackColor="LightGray" BorderStyle="Solid" BorderWidth="1px"> <BorderDetails ColorTop="White" WidthLeft="1px" WidthTop="1px" ColorLeft="White"> </BorderDetails> 
							</STYLE>
						</PAGER>
						<HEADERSTYLEDEFAULT BackColor="LightGray" BorderStyle="Solid">
							<BORDERDETAILS ColorLeft="White" WidthTop="1px" WidthLeft="1px" ColorTop="White"></BORDERDETAILS>
						</HEADERSTYLEDEFAULT>
						<FRAMESTYLE BorderStyle="Solid" BorderWidth="1px" Height="200px" Font-Names="Verdana" Font-Size="8pt"
							Width="325px"></FRAMESTYLE>
						<FOOTERSTYLEDEFAULT BackColor="LightGray" BorderStyle="Solid" BorderWidth="1px">
							<BORDERDETAILS ColorLeft="White" WidthTop="1px" WidthLeft="1px" ColorTop="White"></BORDERDETAILS>
						</FOOTERSTYLEDEFAULT>
						<EDITCELLSTYLEDEFAULT BorderStyle="None" BorderWidth="0px"></EDITCELLSTYLEDEFAULT>
						<ROWSTYLEDEFAULT BorderStyle="Solid" BorderWidth="1px" BorderColor="Gray">
							<PADDING Left="3px"></PADDING>
							<BORDERDETAILS WidthTop="0px" WidthLeft="0px"></BORDERDETAILS>
						</ROWSTYLEDEFAULT>
					</DISPLAYLAYOUT>
					<BANDS>
						<IGTBL:ULTRAGRIDBAND RowSelectors="No" CellClickAction="RowSelect" ColHeadersVisible="No"></IGTBL:ULTRAGRIDBAND>
					</BANDS>
				</igtbl:ultrawebgrid>
			</div>
		</form>
	</body>
</html>
