﻿<div id="popupBuscadorObjetoImputacion" class="popupCN" style="display:none; position:absolute; z-index:1001; padding:0.5em; width:65%;">
    <img id="btnCerrarPopUp" src="images/Cerrar.png" style="position:absolute; top:0.5em; right:0.5em; cursor:pointer;"/>
    <div>
        <span class="RotuloGrande" style="display:block;">DBuscador. Objeto de imputación</span>
        <div style="margin:1em 0em;">
            <span id="lblCodigoListaExterna">DCódigo:</span>
            <input id="txtCodigo" type="text" style="width:12em;" />
            <span id="lblDenominacion">DDenominación:</span>
            <input id="txtDenominacion" type="text" style="width:28em;" />
        </div>
        <span id="btnBuscar" class="botonRedondeado">DBuscar</span>
        <span id="btnLimpiar" class="botonRedondeado">DLimpiar</span>
        <div class="CabeceraBotones" style="margin-top:1em; line-height:2em;">
            <span id="headerCodigo" class="SeparadorRight Negrita" style="width:20em; padding-left:1em; display:inline-block;">DCódigo</span>
            <span id="headerDenominacion" class="Negrita" style="padding-left:1em;">DDenominacion</span>
        </div>
        <div id="grResultadosObjetoImputacion" class="Bordear" style="height:30em; overflow-y:auto;"></div>

        <input type="hidden" id="hidTipo" />
    </div>
</div>
<script type="text/javascript">
    var idAtributoListaExterna,atributos;
    $('#grResultadosObjetoImputacion div').live({
        mouseenter: function () {
            $(this).addClass('SubMenuHoverStyle')
        },
        mouseleave: function () {
            $(this).removeClass('SubMenuHoverStyle')
        }
    });
    $('#btnBuscar').live('click', function (event) {       
        if ($('#txtCodigo').val() == '' && $('#txtDenominacion').val() == '') return false;

        var sOrgCompras = '';
        var sCentro = '';        
        if (bHayIntegracionPedidos && gDatosGenerales.UsarOrgCompras) {
            sOrgCompras = gDatosGenerales.OrgCompras;
            if ($('#hidTipo').val() == 1) {
                //se abre desde cabecera
                if (gEmisionPedido.Lineas.length > 0) sCentro = gEmisionPedido.Lineas[0].CentroAprovisionamiento;
            }
            else { 
                //se abre desde línea
                if (Linea) sCentro = Linea.CentroAprovisionamiento;
            }            
        };

        MostrarCargando();
        $('#grResultadosObjetoImputacion').empty();
        var param = JSON.stringify({ 'Empresa': gDatosGenerales.Emp, 'IdAtributoListaExterna': idAtributoListaExterna, 'atributos': atributos, 'codigoBuscado': $('#txtCodigo').val(), 'denominacionBuscado': $('#txtDenominacion').val(), 'buscador': true, 'OrgCompras': sOrgCompras,'Centro': sCentro ,sCodProveedor: gDatosGenerales.CodProve});
        $.when($.ajax({
            type: "POST",
            url: ruta + '/App_Pages/EP/EmisionPedido.aspx/Obtener_Datos_ListaExterna',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: param,
            async: true
        })).done(function (msg) {
            OcultarCargando();
            $.each(msg.d, function () {
                $('#grResultadosObjetoImputacion').append('<div class="SeparadorInf" style="cursor:pointer; line-height:2em;"><span class="SeparadorRight" style="width:20em; display:inline-block; padding-left:1em;">' + this.id + '</span><span style="padding-left:1em;">' + this.name + '</span></div>');
            });
        });
    });
    $('#grResultadosObjetoImputacion div').live('click', function () {
        $('#atribListaExterna_' + idAtributoListaExterna).tokenInput('clear').tokenInput('addRange', [{ 'id': $(this).children('span').first().text(), 'name': $(this).children('span').first().text() + ' - ' + $(this).children('span').last().text() }]);
        $('#popupFondo').hide();
        $('#popupBuscadorObjetoImputacion').hide();
    });
    $('#btnLimpiar').live('click', function () {
        $('#txtCodigo').val('');
        $('#txtDenominacion').val('');
    });
</script>