﻿<script id="MensajeError" type="text/x-jquery-tmpl">
    <div style="width: 90%;">
        ${valor}
    </div>
</script>
<script id="CabeceraIVA" type="text/x-jquery-tmpl">
    <tr id='trIVA_${id}' style="width: 100%;" >
        <td align="left" runat="server"  style="width: 42%;">
            <div id='descCuota_${id}' style="float: left; vertical-align: middle;background-color:white;">
                <label class="Normal MensajeError">${den}</label> 
                <label id="lblBase_${id}" class="Normal MensajeError" style="text-decoration: underline">(baseImponible)</label>  
                <label id="lblImporteBase_${id}" class="Normal MensajeError">(${formatNumber($data.importeBruto)} ${sMoneda})</label>
            </div>
            <div style="border-bottom-style: dotted; margin-left: 19%; vertical-align: bottom; height: 8px;"></div>
        </td>
        <td  align="right" style="width: 8%;">
            <label id='cuota_${id}' style="text-align:right;">${formatNumber($data.valor)} ${sMoneda}</label>
        </td>
        <td>
            <div style="visibility: hidden">
                <label id='cuota_${id}_hdd' style="visibility:hidden;" >${valor}</label>
            </div>
        </td>
    </tr>
</script>
<script id="CabeceraInformacionIVA" type="text/x-jquery-tmpl">
    <div id='divInformacionIVA_${id}' style="display:none;position: absolute;left: 30px;background-color:#FFFFCC;border:solid black;border-width:1px;width: 30%;  ">
        <label class="Normal" style="font-weight: bold;">${den}</label>
        <table id='baseImponible_${id}' style="width: 100%;"></table>
        <table style="width: 100%;border-top: 1px solid #333333;">
            <tr style="width: 100%;">
            <td align="left" runat="server"  style="width: 60%;">
            </td>
                <td align="right" runat="server"  >
                    <label id='totalcuota_${id}' class="Normal" style="font-weight: bold;text-align:right;">${formatNumber($data.importeTotal)} ${sMoneda}</label>
                </td>
            </tr>
        </table>
    </div>
</script>
<script id="InformacionIVA" type="text/x-jquery-tmpl">
    <tr style="width: 100%;" id='descBase_${id}'>
        <td align="left" runat="server"  style="width: 60%;">
            <label>${desc} {{if linea == "0"}}{{else}}- ${linea}{{/if}} </label>       
        </td>
        <td align="right" runat="server"  >
            <label id='lineacuota_${id}' style="text-align:right;">${formatNumber($data.importeBruto)} ${sMoneda}</label>
        </td>
    </tr>
</script>