﻿<script id="tmplComboEP" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
          ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
            <div style="clear:both;float:left; height:22px; width:100%">
                <div id='cboAtribEP_${Id}' style=" float:left;height:22px; width: 100%;">
                </div>
            </div>
        </td>
    </tr>
</script>

<script id="tmplCampoTextoEP" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <textarea id='inputTextAtribEP_${Id}' rows=1  style="width: 97%; border:none; font-family:Arial, Verdana, sans-serif">${Valor}</textarea>
        </td>
    </tr>
</script>
    
<script id="tmplCampoNumericoEP" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <input id='inputNumAtribEP_${Id}' type="text" onBlur="validaFloat(this);"  value='${formatNumber($data.Valor)}' style="width: 97%; border:none; text-align:right"/>
        </td>
    </tr>
</script>

<script id="tmplCampoFechaEP" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
           (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <input type="text" id='inputFechaAtribEP_${Id}' readonly='true' class="Texto12 TextoOscuro" style="border:none; width:91%; text-align:center;"/>	
        </td>
    </tr>
</script>

<script id="tmplCampoReadOnly" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <span id='spanAtribEP_${Id}' style="width: 97%; border:none">{{if (ListaExterna)}}${Valores[0].Valor}{{else}}${Valor}{{/if}}</span>
        </td>
    </tr>
</script>

<script id="tmplCampoReadOnlyNumerico" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <span id='spanAtribEP_${Id}' style="width: 97%; border:none">${formatNumber($data.Valor)}</span>
        </td>
    </tr>
</script>

<script id="tmplCampoLineaReadOnly" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <span id='spanAtribLineaEP_${Id}' style="width: 97%; border:none">${Valor}</span>
        </td>
    </tr>
</script>

<script id="tmplCampoLineaReadOnlyNumerico" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <span id='spanAtribLineaEP_${Id}' style="width: 97%; border:none">${formatNumber($data.Valor)}</span>
        </td>
    </tr>
</script>
<script id="tmplComboLineaEP" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>{{if (Obligatorio==false)}}  
            ${Codigo}
        {{else}}
            ${Codigo}
        {{/if}}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
            <div style="clear:both;float:left; height:22px; width:95%">
                <div id='cboAtribLineaEP_${Id}' style=" float:left;height:22px; width: 100%;">
                </div>
            </div>
        </td>
    </tr>
</script>

<script id="tmplCampoTextoLineaEP" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
        {{if (Obligatorio==false)}}  
            ${Codigo}
        {{else}}
            ${Codigo}
        {{/if}}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <textarea id='inputTextAtribLineaEP_${Id}' rows=1  style="width: 97%; border:none; font-family:Arial, Verdana, sans-serif">${Valor}</textarea>
        </td>
    </tr>
</script>
    
<script id="tmplCampoNumericoLineaEP" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
        {{if (Obligatorio==false)}}  
            ${Codigo}
        {{else}}
            ${Codigo}
        {{/if}}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <input id='inputNumAtribLineaEP_${Id}' type="text" onBlur="validaFloat(this);"  value='${formatNumber($data.Valor)}' style="width: 97%; border:none; text-align:right"/>
        </td>
    </tr>
</script>

<script id="tmplCampoFechaLineaEP" type="text/x-jquery-tmpl">
    <tr style="vertical-align:middle">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>
        {{if (Obligatorio==false)}}  
            ${Codigo}
        {{else}}
            ${Codigo}
        {{/if}}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <input type="text" id='inputFechaAtribLineaEP_${Id}' class='day-picker' readonly='true' class="Texto12 TextoOscuro" style="border:none; width:91%; text-align:center;"/>	
        </td>
    </tr>
</script>

<script id="filaDocumento" type="text/x-jquery-tmpl">
    {{if (Operacion=="D")}}
        <!-- marcado para eliminar -->
    {{else}}
        <div class="FilaSeleccionada" style="float:left; width:100%;padding-bottom:3px; padding-top:3px;margin-top:5px; " >
            <div class='Link' style='float:left; width:30%;'>
                <!--<a id='msgLink_${Nombre}' class='Link' onclick='javascript:Descarcargar_Archivo("${Id}","${Nombre}","${tipo}","${dataSize}","${url}")' target='_blank'>${Nombre}</a>-->
                <span id='msgSpan_${Nombre}' class='Link' onclick='javascript:Descarcargar_Archivo("${Id}","${Nombre}","${tipo}","${dataSize}","${url}")' >${Nombre}</span>
            </div>
            <div  style='float:left; width:70%;'>
                <span id='descripcion' style='margin-left:5px;'>&nbsp;${Comentario}</span> 
            </div>
        </div>
    {{/if}}
</script>

<script id="tmplCampoCosteFijo" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCoste_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteF_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
        </td>
    </tr>
</script>

<script id="tmplCampoCosteReadOnly" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCoste_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteF_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
        </td>
    </tr>
</script>

<script id="IVA" type="text/x-jquery-tmpl">
    <tr id='trIVA_${NomCampo}' style="vertical-align:middle;padding-top:10px;padding-bottom:10px;{{if Seleccionado == false}}display:none;{{else}}display:;{{/if}}">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Codigo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='IVA_${NomCampo}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} % </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputIVA_${NomCampo}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
        </td>
    </tr>
</script>

<script id="tmplCampoCosteOpc" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="checkbox" id='chkNumAtribCoste_${Id}' value="chkNumAtribCoste_${Id}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCosteOpc_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteOpc_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoCosteExc" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="radio" id='chkCosOblExc_${GrupoCosteDescuento}_${Id}' name="chkCosOblExc_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCosteOblExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteOblExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoCosteOpcExc" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="radio" id='chkCosOpcExc_${GrupoCosteDescuento}_${Id}' name="chkCosOpcExc_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCosteOpcExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteOpcExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoDescuReadOnly" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescu_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescu_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
        </td>
    </tr>
</script>

<script id="tmplCampoDescuFijo" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescu_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescu_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
        </td>
    </tr>
</script>

<script id="tmplCampoDescuOpc" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="checkbox" id='chkNumAtribDescu_${Id}' value="chkNumAtribDescu_${Id}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescuOpc_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescuOpc_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoDescuExc" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="radio" id='chkDescuOblExc_${GrupoCosteDescuento}_${Id}' name="chkDescuOblExc_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescuExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescuExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoDescuOpcExc" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="radio" id='chkDescuOpcExc_${GrupoCosteDescuento}_${Id}' name="chkDescuOpcExc_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescuOpcExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescuOpcExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoCosteFijoLinea" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCosteLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteFLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
        </td>
    </tr>
</script>

<script id="tmplCampoCosteLineaReadOnly" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCosteLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteFLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
        </td>
    </tr>
</script>

<script id="tmplCampoCosteOpcLinea" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="checkbox" id='chkNumAtribCosteLinea_${Id}' value="chkNumAtribCosteLinea_${Id}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCosteOpcLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteOpcLinea_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoCosteExcLinea" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="radio" id='chkCosOblExcLinea_${GrupoCosteDescuento}_${Id}' name="chkCosOblExcLinea_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCosteOblExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteOblExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoCosteOpcExcLinea" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="radio" id='chkCosOpcExcLinea_${GrupoCosteDescuento}_${Id}' name="chkCosOpcExcLinea_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribCosteOpcExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribCosteOpcExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>


<script id="tmplCampoDescuLineaReadOnly" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescuLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescuLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
        </td>
    </tr>
</script>

<script id="tmplCampoDescuFijoLinea" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescuLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescuLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
        </td>
    </tr>
</script>

<script id="tmplCampoDescuOpcLinea" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="checkbox" id='chkNumAtribDescuLinea_${Id}' value="chkNumAtribDescuLinea_${Id}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescuOpcLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescuOpcLinea_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoDescuExcLinea" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="radio" id='chkDescuOblExcLinea_${GrupoCosteDescuento}_${Id}' name="chkDescuOblExcLinea_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            (*) ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescuExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescuExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplCampoDescuOpcExcLinea" type="text/x-jquery-tmpl">
    {{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
    <tr cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span></span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Id}</span></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><input type="radio" id='chkDescuOpcExcLinea_${GrupoCosteDescuento}_${Id}' name="chkDescuOpcExcLinea_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle">
        <span>
            ${Codigo}
        </span>
        </td>
        <td style="background-color:#F0F0F0; height:20px; vertical-align:middle"><span>${Denominacion}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Intro}</span></td>
        <td style="background-color:#F0F0F0; height:20px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">            
            <label id='valNumAtribDescuOpcExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "1"}}%{{else}}${Moneda}{{/if}} </label>
        </td>
        <td style="height:20px;background-color:#FFFFFF; vertical-align:middle">
            <label id='inputNumAtribDescuOpcExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
        </td>
    </tr>
</script>

<script id="tmplSiguientesEtapas" type="text/x-jquery-tmpl">
    <tr cellspacing="1" cellpadding="1" style="margin: 5px; padding: 5px;vertical-align:middle;">
        <td style="height:20px; vertical-align:middle"><span>${Den}</span></td>
    </tr>
</script>

<script id="tmplRoles" type="text/x-jquery-tmpl">
    <tr cellspacing="1" cellpadding="1" style="margin: 5px; padding: 5px;vertical-align:middle;">
        <td style="height:20px; vertical-align:middle"><span>${Den}</span></td>
        <td style="height:20px; vertical-align:middle">{{if Tipo == 1}}<a style="text-decoration: underline; cursor:pointer" onclick='javascript:VerDetallePersona("${Per}")'>${Nombre}</a>{{else}}<span>${Nombre}</span>{{/if}}</td>
        <td style="height:20px; vertical-align:middle; display:none"><span>${Per}</span></td>
        <td style="height:20px; vertical-align:middle; display:none"><span>${Tipo}</span></td>
    </tr>
</script>
<script id="trPlanEntregaCantidad" type="text/x-jquery-tmpl">
    <tr name='${IdPlanEntrega}' style="line-height:1.7em;">
        <td></td>
        <td style="text-align:right; padding-right:1em;"><span>${FechaEntrega}</span></td>
        <td style="text-align:right; padding-right:1em;"><span>${CantidadEntrega}</span></td>
    </tr>
</script>
<script id="trPlanEntregaImporte" type="text/x-jquery-tmpl">
    <tr name='${IdPlanEntrega}' style="line-height:1.7em;">
        <td></td>
        <td style="text-align:right; padding-right:1em;"><span>${FechaEntrega}</span></td>
        <td style="text-align:right; padding-right:1em;"><span>${ImporteEntrega}</span></td>
    </tr>
</script>