﻿<script id="tmplComboEP" type="text/x-jquery-tmpl">
	<tr class="border" style="vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:23px; vertical-align:middle; ">
		<span>{{if (Obligatorio==false)}}  
			${Codigo}
		{{else}}
			(*) ${Codigo}
		{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:23px; vertical-align:middle;"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:23px;background-color:#FFFFFF; vertical-align:middle; ">
			<div style="clear:both;float:left; height:21px; width:98%">
				<div id='cboAtribEP_${Id}' style=" float:left;height:21px; width: 98%;">
				</div>
			</div>
		</td>
	</tr>
</script>
<script id="tmplCampoTextoEP" type="text/x-jquery-tmpl">
	<tr class="border"  style="vertical-align:middle">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>
		{{if (Obligatorio==false)}}  
			${Codigo}
		{{else}}
			(*) ${Codigo}
		{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<textarea id='inputTextAtribEP_${Id}' rows=1  style="width: 97%; border:none; font-family:Arial, Verdana, sans-serif">${Valor}</textarea>
		</td>
	</tr>
</script> 
<script id="tmplCampoNumericoEP" type="text/x-jquery-tmpl">
	<tr class="border"  style="vertical-align:middle">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>
		{{if (Obligatorio==false)}}  
			${Codigo}
		{{else}}
			(*) ${Codigo}
		{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<input id='inputNumAtribEP_${Id}' type="text" onBlur="validaFloat(this);"  value='${formatNumber($data.Valor)}' style="width: 97%; border:none; text-align:right"/>
		</td>
	</tr>
</script>
<script id="tmplCampoFechaEP" type="text/x-jquery-tmpl">
	<tr class="border" style="vertical-align:middle">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>
		{{if (Obligatorio==false)}}  
			${Codigo}
		{{else}}
			(*) ${Codigo}
		{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<input type="text" id='inputFechaAtribEP_${Id}' readonly='true' class="Texto12 TextoOscuro" style="border:none; width:91%; text-align:center;"/>	
		</td>
	</tr>
</script>
<script id="tmplComboLineaEP" type="text/x-jquery-tmpl">
	<tr class="border" style="vertical-align:middle">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>{{if (Obligatorio==false)}}  
			${Codigo}
		{{else}}
			(*) ${Codigo}
		{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<div style="clear:both;float:left; height:21px; width:99%">
				<div id='cboAtribLineaEP_${Id}' style=" float:left;height:21px; width: 98%;">
				</div>
			</div>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
			<span>
			<img id='btnCopiarDatos_${Id}' class='MenuItemMenuOpcionImagen Image16' style='margin-left:5px; align:center;cursor:pointer;' onclick='javascript:CopiarDatosLineas("${Id}")' src='${ruta}images/aplicar_plus.gif' />
			</span>
		</td>
	</tr>
</script>
<script id="tmplCampoTextoLineaEP" type="text/x-jquery-tmpl">
	<tr class="border" style="vertical-align:middle">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>
		{{if (Obligatorio==false)}}  
			${Codigo}
		{{else}}
			(*) ${Codigo}
		{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<textarea id='inputTextAtribLineaEP_${Id}' rows=1  style="width: 97%; border:none; font-family:Arial, Verdana, sans-serif">${Valor}</textarea>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
			<span>
			<img id='btnCopiarDatos_${Id}' class='MenuItemMenuOpcionImagen Image16' style='margin-left:5px; align:center;cursor:pointer;' onclick='javascript:CopiarDatosLineas("${Id}")' src='${ruta}images/aplicar_plus.gif' />
			</span>
		</td>
	</tr>
</script>   
<script id="tmplCampoNumericoLineaEP" type="text/x-jquery-tmpl">
	<tr class="border" style="vertical-align:middle">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>
		{{if (Obligatorio==false)}}  
			${Codigo}
		{{else}}
			(*) ${Codigo}
		{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<input id='inputNumAtribLineaEP_${Id}' type="text" onBlur="validaFloat(this);"  value='${formatNumber($data.Valor)}' style="width: 97%; border:none; text-align:right"/>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
			<span>
			<img id='btnCopiarDatos_${Id}' class='MenuItemMenuOpcionImagen Image16' style='margin-left:5px; align:center;cursor:pointer;' onclick='javascript:CopiarDatosLineas("${Id}")' src='${ruta}images/aplicar_plus.gif' />
			</span>
		</td>
	</tr>
</script>
<script id="tmplCampoFechaLineaEP" type="text/x-jquery-tmpl">
	<tr class="border" style="vertical-align:middle">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>
		{{if (Obligatorio==false)}}  
			${Codigo}
		{{else}}
			(*) ${Codigo}
		{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<input type="text" id='inputFechaAtribLineaEP_${Id}' class='day-picker' readonly='true' class="Texto12 TextoOscuro" style="border:none; width:91%; text-align:center;"/>	
		</td>
		<td style="background-color:#FFFFFF; height:22px;vertical-align:middle">
			<span>
			<img id='btnCopiarDatos_${Id}' class='MenuItemMenuOpcionImagen Image16' style='margin-left:5px; align:center;cursor:pointer;' onclick='javascript:CopiarDatosLineas("${Id}")' src='${ruta}images/aplicar_plus.gif' />
			</span>
		</td>
	</tr>
</script>
<script id="filaDocumento" type="text/x-jquery-tmpl">
	{{if (Operacion=="D")}}
		<!-- marcado para eliminar -->
	{{else}}
		<div class="FilaSeleccionada" style="float:left; width:100%;padding-bottom:3px; padding-top:3px;margin-top:5px; " >
			<div class='Link' style='float:left; width:30%;'>
				<span id='msgSpan_${Nombre}' class='Link' onclick='javascript:Descarcargar_Archivo("${Id}","${Nombre}","${tipo}","${dataSize}","${url}")' >${Nombre}</span>
			</div>
			<div  style='float:left; width:67%;'>
				<span id='descripcion' style='margin-left:5px;'>&nbsp;${Comentario}</span> 
			</div>
			<div  style='float:left; width:3%;'>
				<img id='imgBorrar_${Id}' class='MenuItemMenuOpcionImagen Image16' style='margin-left:5px; align:center;cursor:pointer;' onclick='javascript:Eliminar_Archivo("${Id}","${Nombre}","${tipo}","${dataSize}","${url}")' src='${ruta}images/Eliminar.PNG' />
			</div>
		</div>
	{{/if}}
</script>
<script id="filaDocumentoLin" type="text/x-jquery-tmpl">
	{{if (Operacion=="D")}}
		<!-- marcado para eliminar -->
	{{else}}
		<div class="FilaSeleccionada" style="float:left; width:100%;padding-bottom:3px; padding-top:3px;margin-top:5px; " >
			<div class='Link' style='float:left; width:30%;'>
				<span id='msgSpan_${Nombre}' class='Link' onclick='javascript:Descarcargar_ArchivoLin("${Id}","${Nombre}","${tipo}","${dataSize}","${url}")' >${Nombre}</span>
			</div>
			<div  style='float:left; width:67%;'>
				<span id='descripcion' style='margin-left:5px;'>&nbsp;${Comentario}</span> 
			</div>
			<div  style='float:left; width:3%;'>
				<img id='imgBorrar_${Id}' class='MenuItemMenuOpcionImagen Image16' style='margin-left:5px; align:center;cursor:pointer;' onclick='javascript:Eliminar_ArchivoLin("${Id}","${Nombre}","${tipo}","${dataSize}","${url}")' src='${ruta}images/Eliminar.PNG' />
			</div>
		</div>
	{{/if}}
</script>
<script id="tmplCampoCosteFijo" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			(*) ${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribCoste_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "+%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribCosteF_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
		</td>
	</tr>
</script>
<script id="IVA" type="text/x-jquery-tmpl">
	<tr class="border" id='trIVA_${NomCampo}' style="vertical-align:middle;padding-top:10px;padding-bottom:10px;{{if Seleccionado == false}}display:none;{{else}}display:;{{/if}}">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle;"><span style="color:Blue;">${Codigo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle;"><span style="color:Blue;">${Codigo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle;"><span style="color:Blue;">${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle;">            
			<label id='IVA_${NomCampo}' style="width: 97%; border:none; text-align:right; display:block;color:Blue;">${formatNumber($data.Valor)} % </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle;">
			<label id='inputIVA_${NomCampo}' style="width: 97%; border:none; text-align:right; display:block;color:Blue;">${formatNumber($data.Importe)} ${Moneda}</label>
		</td>
	</tr>
</script>
<script id="tmplCampoCosteOpc" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="checkbox" id='chkNumAtribCoste_${Id}' value="chkNumAtribCoste_${Id}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribCosteOpc_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "+%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribCosteOpc_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoCosteExc" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="radio" id='chkCosOblExc_${GrupoCosteDescuento}_${Id}' name="chkCosOblExc_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			(*) ${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribCosteOblExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "+%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribCosteOblExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoCosteOpcExc" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="radio" id='chkCosOpcExc_${GrupoCosteDescuento}_${Id}' name="chkCosOpcExc_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribCosteOpcExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "+%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribCosteOpcExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoDescuFijo" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			(*) ${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribDescu_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "-%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribDescu_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
		</td>
	</tr>
</script>
<script id="tmplCampoDescuOpc" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="checkbox" id='chkNumAtribDescu_${Id}' value="chkNumAtribDescu_${Id}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribDescuOpc_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "-%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribDescuOpc_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoDescuExc" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="radio" id='chkDescuOblExc_${GrupoCosteDescuento}_${Id}' name="chkDescuOblExc_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			(*) ${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribDescuExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "-%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribDescuExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoDescuOpcExc" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="radio" id='chkDescuOpcExc_${GrupoCosteDescuento}_${Id}' name="chkDescuOpcExc_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribDescuOpcExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "-%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribDescuOpcExc_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoCosteFijoLinea" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			(*) ${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribCosteLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "+%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribCosteFLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
		</td>
	</tr>
</script>
<script id="tmplCampoCosteOpcLinea" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="checkbox" id='chkNumAtribCosteLinea_${Id}' value="chkNumAtribCosteLinea_${Id}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribCosteOpcLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "+%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribCosteOpcLinea_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoCosteExcLinea" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="radio" id='chkCosOblExcLinea_${GrupoCosteDescuento}_${Id}' name="chkCosOblExcLinea_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			(*) ${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribCosteOblExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "+%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribCosteOblExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoCosteOpcExcLinea" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="radio" id='chkCosOpcExcLinea_${GrupoCosteDescuento}_${Id}' name="chkCosOpcExcLinea_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribCosteOpcExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "+%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribCosteOpcExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoDescuFijoLinea" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" style="vertical-align:middle;padding-top:10px;padding-bottom:10px;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			(*) ${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribDescuLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "-%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribDescuLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Importe)} ${Moneda}</label>
		</td>
	</tr>
</script>
<script id="tmplCampoDescuOpcLinea" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="checkbox" id='chkNumAtribDescuLinea_${Id}' value="chkNumAtribDescuLinea_${Id}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribDescuOpcLinea_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "-%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribDescuOpcLinea_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoDescuExcLinea" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="radio" id='chkDescuOblExcLinea_${GrupoCosteDescuento}_${Id}' name="chkDescuOblExcLinea_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			(*) ${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribDescuExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "-%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribDescuExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplCampoDescuOpcExcLinea" type="text/x-jquery-tmpl">
	{{if Inicio == "0"}}<tr><td style="height:1px;" colspan="7"></td></tr>{{else}}{{/if}}
	<tr class="border" cellspacing="1" cellpadding="1" style="margin: 15px; padding: 15px;vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span></span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><input type="radio" id='chkDescuOpcExcLinea_${GrupoCosteDescuento}_${Id}' name="chkDescuOpcExcLinea_${GrupoCosteDescuento}" {{if Seleccionado == true}}checked{{/if}}/></td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
		<span>
			${Codigo}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:22px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">            
			<label id='valNumAtribDescuOpcExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; display:block;">${formatNumber($data.Valor)} {{if Operacion == "-%"}}%{{else}}${Moneda}{{/if}} </label>
		</td>
		<td style="height:22px;background-color:#FFFFFF; vertical-align:middle">
			<label id='inputNumAtribDescuOpcExcLinea_${GrupoCosteDescuento}_${Id}' style="width: 97%; border:none; text-align:right; {{if Seleccionado == true}}display:block;{{else}}display:none;{{/if}}">${formatNumber($data.Importe)} ${Moneda} </label>
		</td>
	</tr>
</script>
<script id="tmplListaExterna" type="text/x-jquery-tmpl">
	<tr class="border" style="vertical-align:middle;">
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:23px; vertical-align:middle; ">
			<span>{{if (Obligatorio==false)}}  
				${Codigo}
			{{else}}
				(*) ${Codigo}
			{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:23px; vertical-align:middle;"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:23px;background-color:#FFFFFF; vertical-align:middle;">            
			<input id="atribListaExterna_${Id}" type='text' style='width:90%; vertical-align:middle;'/>
			<img src='${ruta}images/Buscador.png' style='vertical-align:middle; cursor:pointer;' onclick='ShowBuscadorObjetoImputacion(${Id},1,"${Denominacion}");'/>
		</td>
	</tr>
</script>
<script id="tmplListaExternaLinea" type="text/x-jquery-tmpl">
	<tr class="border" style="vertical-align:middle">
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Id}</span></td>
		<td style="background-color:#FFFFFF; height:23px; vertical-align:middle; ">
			<span>{{if (Obligatorio==false)}}  
				${Codigo}
			{{else}}
				(*) ${Codigo}
			{{/if}}
		</span>
		</td>
		<td style="background-color:#FFFFFF; height:23px; vertical-align:middle;"><span>${Denominacion}</span></td>
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Tipo}</span></td>
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Intro}</span></td>
		<td style="background-color:#FFFFFF; height:23px; display:none; vertical-align:middle"><span>${Obligatorio}</span></td>
		<td style="height:23px;background-color:#FFFFFF; vertical-align:middle;">            
			<input id="atribListaExterna_${Id}" type='text' style='width:90%; vertical-align:middle;'/>
			<img src='${ruta}images/Buscador.png' style='vertical-align:middle; cursor:pointer;' onclick='ShowBuscadorObjetoImputacion(${Id},2,"${Denominacion}");'/>
		</td>
		<td style="background-color:#FFFFFF; height:22px; vertical-align:middle">
			<span>
			<img id='btnCopiarDatos_${Id}' class='MenuItemMenuOpcionImagen Image16' style='margin-left:5px; align:center;cursor:pointer;' onclick='javascript:CopiarDatosLineas("${Id}")' src='${ruta}images/aplicar_plus.gif' />
			</span>
		</td>
	</tr>
</script>
<script id="trPlanEntrega" type="text/x-jquery-tmpl">
	<tr name='${IdPlanEntrega}'>
		<td><img name="imgSelectedPlanEntrega" style="display:none;" /></td>
		<td style="text-align:right;"><div class="Bordear" style="display:inline-block;"><input type="text" name="txtFechaPlanEntrega" style="border:0px; width:6em;" value='' /></div></td>
		<td><input type="text" name="txtCantidadImportePlanEntrega" style="width:10em;" value='' /></td>
	</tr>
</script>