@font-face {
    font-family: "GothamMedium";
    src: url("fonts/Gotham-Medium.eot");
    src: url("fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
         url("fonts/Gotham-Medium.woff2") format("woff2"),
         url("fonts/Gotham-Medium.woff") format("woff"),
         url("fonts/Gotham-Medium.ttf") format("ttf"),
         url("fonts/Gotham-Medium.svg#GothamMedium") format("svg");
    font-style: normal;
    font-weight: normal;
}