  .container-portal-proveedores header {
    width: 100%;
    height: 80px;
    position: relative;
    margin-left: auto;
    min-height: auto;
    padding: 23px 30px 23px 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 999; }
    .container-portal-proveedores header:before, .container-portal-proveedores header:after {
      content: " ";
      display: table; }
    .container-portal-proveedores header:after {
      clear: both; }
    .container-portal-proveedores header h2 {
      margin-bottom: 0;
      line-height: 1;
      position: relative;
      top: 10px; }