﻿/* CSS Document */
.menu {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #FFFFFF; text-decoration: none}
A.menu:link { font-family: Arial, Helvetica, sans-serif; font-size: 12px;color: #ffffff; text-decoration: none}
A.menu:visited {  font-size: 12px;color: #ffffff; text-decoration: none}
A.menu:active {  font-size: 12px;color: #ffffff; text-decoration: none}
A.menu:hover {  font-size: 12px;color: #ffffff; font-weight:bold; text-decoration: none}
.titulo {  font-family: Lucida Sans, sans-serif; font-size: 16px; font-style: normal; font-weight: bolder; color: #D32D36; text-decoration: none}
.subtitulo {  font-family: Lucida Sans, sans-serif; font-size: 9px; color: #000000; text-decoration: none}
.textos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 14px;
}
.fecha {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 14px;
}
.registro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 14px;
}
A.registro:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #D32D36;
	text-decoration: none
}
A.registro:visited {font-size: 10px;color: #333333; text-decoration: none}
A.registro:active {font-size: 10px;color: #333333; text-decoration: none}
A.registro:hover {font-size: 10px;color: #00578c; font-weight:bold; text-decoration: none}

.formulario {  font-family:  Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #333333; text-decoration: none}
A.formulario:link { font-family:  Arial, Helvetica, sans-serif; font-size: 10px;color: #333333; text-decoration: none}
A.formulario:visited {  font-family:  Arial, Helvetica, sans-serif; font-size: 10px;color: #333333; text-decoration: none}
A.formulario:active { font-family:  Arial, Helvetica, sans-serif; font-size: 10px;color: #333333; text-decoration: none}
A.formulario:hover { font-family:  Arial, Helvetica, sans-serif; font-size: 10px;color: #333333; text-decoration: none}
.subtextos {
	font-family: "Lucida Sans", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none
}
.textosres {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal;  color: #333333; text-decoration: none}
.bottom { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px;color: #990000; text-decoration: none}
A.bottom:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px;color: #990000; text-decoration: underline}
A.bottom:visited {  font-size: 8px;color: #333333; text-decoration: none}
A.bottom:active {  font-size: 8px;color: #666666; text-decoration: none}
A.bottom:hover {  font-size: 8px;color: #990000; font-weight:bold; text-decoration: yes}

.nav {
	FONT-SIZE: 9px; COLOR: #2778C7; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
A.nav:visited{
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
A.nav:link {
	 FONT-SIZE: 9px; COLOR: #2778C7; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

A.nav:active {
	FONT-WEIGHT: 300; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

A.nav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #00578C; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.blanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
A.blanco:visited{
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
A.blanco:link {
	 FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

A.blanco:active {
	FONT-WEIGHT: 300; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

A.blanco:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

.logo {
	font-family: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; TEXT-DECORATION: none
}
.logo:link {
	font-family: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; TEXT-DECORATION: none
}
.titulopr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	FONT-WEIGHT: bold;
	color: #015FA9
;
}
INPUT {font-family:"Arial";font-size:10px;}
.recuadro {  font-family: Arial, Helvetica, sans-serif; font-size: 6px; font-style: normal; font-weight: normal; color: #990000; text-decoration: none}
.subtexto {  font-family: Lucida Sans, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #D32D36; text-decoration: none}
.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 14px;
}
A.menu:link {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #cccccc; text-decoration: none}
A.menu:visited {font-size: 10px;color: #333333; text-decoration: none}
A.menu:active {font-size: 10px;color: #ffffff; text-decoration: none}
A.menu:hover {font-size: 10px;color: #ffffff;  text-decoration: none}
A:link {
	text-decoration:underline;
	color:#D32D36;
	font-family: Arial, Helvetica, sans-serif;
}
A:visited {text-decoration:none;color:#666666}
A:active {text-decoration:none;color:#333333}
A:hover {
	color: #D32D36;
	text-decoration: none;
	font-weight: bold;
}
