/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
h2 {
    margin-top: -10px;
    margin-bottom: 15px;
}
#titulo {
    font: 600 18px/24px 'Open Sans';
    color: #990000!important;
    text-align: center;
}
#texto_cabecera {
    background: url(../eng/img/txtsuperior_eng.png) right no-repeat transparent;
    height: 12px;
   margin: -4px auto 0px;
    width: 428px;
	padding-bottom:20px;margin-bottom:20px;
}
#global {
    background: url(../eng/img/Inicio.png) no-repeat transparent;
    height: 388px;
    margin: -30px auto 0px;
    position: relative;
    width: 570px;
}
#bloque1,
#bloque2,
#bloque3,
#bloque4,
#bloque5 {
   /* background-color: rgba(255,255,255,.5);*/
    height: 60px;
    position: absolute;
    width: 70px; 
}
#bloque1 {
	background: url(../eng/img/shim.png) bottom no-repeat transparent;
	left: 47px;
	top: 59px;
}
#bloque2 {
	background: url(../eng/img/shim.png) no-repeat transparent;
	left: 138px;
	top: 55px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
    
}
#bloque3 {
	background: url(../eng/img/shim.png) no-repeat transparent;
	left: 161px;
	top: 132px;
	-webkit-transform: rotate(0deg);
}
#bloque4 {
	background: url(../eng/img/shim.png) no-repeat transparent;
	left: 93px;
	top: 188px;
	-webkit-transform: rotate(0deg);
}
#bloque5 {
	background: url(../eng/img/shim.png) no-repeat transparent;
	left: 40px;
	top: 129px;
	-webkit-transform: rotate(0deg);
}
