@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('fonts/opensans-condbold-webfont.eot');
    src: url('fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-condbold-webfont.woff') format('woff'),
         url('fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*comunes*/
body{ margin:2px 0 0; text-align:center; font-family:'open_sans_condensedbold', sans-serif; font-size:12px; color:#1A1A1A}
a{ text-decoration:none; color:#1A1A1A}
img{ border:none;}

#contenedor{ margin:0 auto; width:950px; height:auto; text-align:left;}
#cabecera{ width:942px; height:85px; border-top:#DCDBDB 2px solid; border-bottom:#DF0006 1px solid; border-left:#FFF 4px solid; border-right:#FFF 4px solid; background:#DF0006;}

#logo{ width:200px; height:85px; float:left; }

#nav{ width:725px; height:85px; float:left; }

#nav_sup{ width:725px; height:35px; float: left; position: relative; }
#nav_sup ul{ margin:0; padding:0; list-style:none; position:absolute; top:8px; left:655px;}
#nav_sup ul li{ float:left;}
#nav_sup ul li a{ padding:0 5px; font-size:12px; color:#FFF; background:url(images/linea-1x10.jpg) no-repeat left center;}
#nav_sup ul li:first-child a{ background:none;}

#nav_inf{ width:725px; height:50px; margin:0; padding:0; list-style:none; float: left; }
#nav_inf li{ height:47px; float:left; margin-right:20px; padding:3px 0 0;}
#nav_inf li a{ height:39px; display:inline-block; font-size:16px; color:#FFF; border-bottom:#DF0006 4px solid;}
#nav_inf li a:hover, #nav_inf li a.sel{ border-bottom:#FFF 4px solid;}

#pie{ width:950px; padding:15px 0; background:#EEE url(images/logo_fullstep.png) no-repeat; background-position:750px 15px; border-top:#FFF 2px solid;}
.datos_pie{ width:175px; height:60px; padding-left:35px; border-right:#DF0006 1px solid; float:left; line-height:20px; position:relative;}

/*home*/
#titulo{ width:950px; border-bottom:#DF0006 1px solid;}
#titulo h1{ margin:0; padding:10px 0 10px 50px; width:280px; float:left; font-size:36px;}
#titulo p{ margin:0; width:600px; padding:10px 20px 10px 0; float:left; font-family:Arial, Helvetica, sans-serif;}

/*#acceso{ width:330px; height:300px; padding-left:620px; background:url(images/fondo-vasos.jpg) no-repeat; background-position:35px 0; border-bottom:#DF0006 1px solid;}*/
#acceso{ width:890px; height:300px; padding:0 25px 0 35px; border-bottom:#DF0006 1px solid; position:relative; margin-top: 0px; }
#acceso div.wform{ position:absolute; top:0; left:620px; z-index:10}
#acceso h2{ margin:0; width:215px; background:#DF0006; height:28px; padding:7px 0 0 15px; color:#FFF; font-size:14px; font-weight:normal;}
#acceso form{ width:200px; height:235px; padding:15px; background:url(images/fnd_form.png) no-repeat;}

/*#acceso input.text{ width:96%; padding:0 2%; height:22px; border:#DF0006 1px solid; border-radius:5px; margin-bottom:15px;}*/
#acceso input.text{ width:190px; padding:2px 10px 0; height:19px; border:none; background:url(images/fnd_input.png) no-repeat; margin-bottom:15px;}

#acceso input.bt, #acceso a.bt{ width:90px; height:22px; background:url(images/fnd_submit.png) no-repeat; border:none; color:#FFF; font-family:'open_sans_condensedbold';}
#acceso input.bt{ cursor:pointer;}

.bt_solicitar{ width:142px; height:19px; padding-top:3px; display:inline-block; background:url(images/fnd_submit_gr.png) no-repeat; border:none; color:#FFF; font-family:'open_sans_condensedbold';}


#acceso div.bt_entrar{ position:relative; height:40px; border-bottom:#DF0006 1px solid;}
.bt_claves{ font-size:11px; color:#FFF; text-decoration:underline; position:absolute; top:0; left:100px; font-family:Arial, Helvetica, sans-serif; }
#acceso h3{ width:100%; font-size:14px; font-weight:normal; text-align:center;}

#nav_home{ width:915px; padding:0 0 5px 35px; border-bottom:#DF0006 1px solid; background:url(images/linea_roja_vert.jpg) no-repeat; background-position:924px 0; margin-top: 0px; }

#nav_home ul{ margin:0; padding:0; width:585px; height:90px; list-style:none; float:left;}
#nav_home ul li { float:left; border-left:#DF0006 1px solid; font-size:16px;}
#nav_home ul li a {height:38px; display:inline-block; line-height:18px; padding:52px 40px 0 20px; position:relative;}
#nav_home ul li a img{ position:absolute; top:5px; left:40px;}
#nav_home ul li a:hover{ background:#E6E6E6}

.datos_fullstep{ width:200px; padding:15px; background:#E6E6E6; float:left;}

/*interiores*/
#titulo_int{ width:950px; margin-top:2px; border-bottom:#DF0006 1px solid;}
#titulo_int .tit{ width:750px; height:55px; padding:5px 0 10px 50px; float:left; font-size:10px;}
#titulo_int h1{ margin:0; font-size:36px; padding-top:5px}
#titulo_int .ico{ width:123px; height:60px; padding-top:10px; border:#DF0006 solid; border-width:0 1px; float:left; text-align:center;}

.contenido{ width:950px; background:url(images/fnd_interiores.jpg); border-bottom:#DF0006 1px solid;}
.contenido_banner{ width:290px; margin-left:36px; float:left; overflow:hidden;}
.contenido_texto{ width:505px; height:auto; min-height:400px; float:left; padding:30px 30px 30px 60px;}
.contenido_texto a{ color:#DF0006; text-decoration:underline;}
.blanco{ height:30px; background:#FFF; margin-left:36px; width:888px;}

/*paginas genericas*/
#cont_gen{ margin:0 auto; width:730px; height:auto; text-align:left; font-family:Arial, Helvetica, sans-serif;}
#izd_gen{ width:200px; padding:50px 0 0 15px; height:auto; float:left}
#drc_gen{ width:500px; height:auto; float:left; padding:0 15px 15px 0;}
#drc_gen h1{ margin:0; padding:65px 0 0 25px; font-size:20px; font-weight:normal; color:#DF0006; border-left:#DF0006 1px solid; margin-bottom:20px; line-height:20px;}
#drc_gen div.int{ border-left:#DF0006 1px solid; background:#F4F4F4 url(images/esquina_blanca.png) no-repeat right bottom; padding:20px 20px 20px 70px;}
.bt_registro{
	display:inline-block;
	width:80px;
	height:18px;
	padding-top:2px;
	text-align:center;
	color:#FFF;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*--------------*/
	background-color: #BF161B;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #DA8089, #BF161B);
	background-image: -ms-linear-gradient(top, #DA8089, #BF161B);
	background-image: -webkit-linear-gradient(top, #DA8089, #BF161B);
	background-image: -o-linear-gradient(top, #DA8089, #BF161B);
	background-image: linear-gradient(top, #DA8089, #BF161B);
	border: 1px solid #DA8089;
	border-radius: 10px;
}
.caja_acepto{ width:48%; float:left;}
input.email{ width:200px; height:18px; padding-left:5px; border:#333 1px solid; border-radius:10px; margin-right:10px;}
.recordar-claves{ width:290px; height:88px; padding:5px 20px 0 100px; margin-top:30px; background:url(images/recordar-claves.jpg) no-repeat;}
ul li{ color:#F00; margin-bottom:5px;}
ul li span{ color:#1A1A1A}
div.bt_descarga{ width:100px; height:50px; padding:0 20px 0 170px; border:#DF0006 solid; border-width:1px 0;}
div.bt_descarga a{ display:block; height:35px; padding-top:15px; font-size:12px; background:url(images/ico_descarga.png) right center no-repeat;}

/*pagina ayuda*/
#izd_gen ul{ margin:30px 0 0 30px; padding:0; width:150px; list-style:none;}
#izd_gen ul li a{ display:inline-block; padding:10px 0 10px 10px; border-top:#CCC 1px dotted; background:url(images/punto_rojo.jpg) left center no-repeat;}
#izd_gen ul li:first-child a{ border:none;}
#drc_gen ol li{ margin-bottom:10px;}
#drc_gen .fin{ border-top:#666 1px dotted; width:377px; margin-top:17px; float:left;}
.bt_arriba{ display:inline-block; width:23px; height:15px; margin-top:10px; background:url(images/flecha_arriba.png) no-repeat; float:right;}

/*textos*/
.arial{ font-family:Arial, Helvetica, sans-serif;}
.rojo{ color:#DF0006;}
.rojo_24{font-size:24px; color:#DF0006}
#logoFull{
	position:absolute;
	left:700px;
	top:-10px;
	}

#optimized{
	position:absolute;
	left:700px;
	top:40px;
	font-size:9px;
	 width:255px; 
}
