<%@ Page Language="vb" AutoEventWireup="false" Codebehind="RealizarOperacionesOcultas.aspx.vb" Inherits="Fullstep.FSNWeb.RealizarOperacionesOcultas" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=Threading.Thread.CurrentThread.CurrentCulture.IetfLanguageTag %>">
	<head runat="server">
		<title></title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</head>
	<script>	
		function actualizarArbol(accion, ID_PADRE,ID_ABUELO,cod, den, ID_NODO_NUEVO)
				{
					var p = window.parent.fraWSMain 
					var nuevo_texto = cod + "-" +  den
					p.actualizarDenArbol(accion, ID_PADRE,ID_ABUELO,nuevo_texto, ID_NODO_NUEVO)
					window.close()

				}
		function MostraMensaje (sMensaje) {
			var p = window.parent.fraWSMain
			alert(sMensaje)
			p.devolverFocoAlta()
		
		}			
	</script>	
	<body>
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</html>
