﻿.igc_FullstepControl
{
	border:solid 1px #C5C7CB;
	background-color:#ffffff;
	padding:10px;
	margin:0px;
	font-family:Segoe UI,Verdana,Arial,Sans-Serif;
    font-size:12px;
}

.igc_FullstepControlActive
{
	
}

.igc_FullstepCaptchaInput
{
    border:1px solid #C5C7CB;
    display:block;
    padding:5px 0;
    
    margin-bottom:10px;
    /*IE6 and IE7 specific hack*/
    *margin-bottom:0;
    
}

.igc_FullstepRefreshAndAudioButtonsArea
{
    margin-left:10px;
	border-width:0;
	text-decoration:none;
    display:block;
}

    .igc_FullstepRefreshAndAudioButtonsArea img
    {
	    border-width:0px;
	    text-decoration:none;
	    margin-bottom:3px;
    }

.igc_FullstepSubmitButton {
    background:#D2D2D2 url(./images/igc_submitButtonBg.png) repeat-x left top;
    border:1px solid #C5C7CB;
    clear:left;
    display:block;
    height:30px;
    width:177px;
    cursor:pointer;
    color:#54CBF3;
    margin-top:10px;
    font-family:Segoe UI,Verdana,Arial,Sans-Serif;
    font-size:12px;
    font-weight:bold;
    padding:0px;
}

.igc_FullstepErrorLabel
{
    background-color:#FF6666;
    color:white;
    padding:3px;
}

.igc_FullstepCaptchaImageLabel
{
	border:1px solid #C5C7CB;
}

.igc_FullstepCaptchaInputLabel{
}

.igc_FullstepCaptchaInfoTextLabel
{
    display:block;
    margin:10px 0 5px 0;
}

.igc_FullstepCaptchaImage
{
    display:block;
    margin-bottom:10px;
}

.igc_FullstepCaptchaImageArea
{
    display:block;
    float:left;
    padding:0;
    margin:0;
}
    .igc_FullstepCaptchaImageArea label 
    {
        display:block
    }
	    
.igc_FullstepRefreshAndAudioButtonsArea 
{
    float:left;
}
    .igc_FullstepRefreshAndAudioButtonsArea a 
    {
        display:block
    }
    .igc_FullstepRefreshAndAudioButtonsArea a,
    .igc_FullstepRefreshAndAudioButtonsArea img 
    {
        cursor:pointer
    }