.igcv_FullstepControl
{
}


.igcv_FullstepCaptionHeader
{
	background-color:#F0F0F0;
	font-size:8pt;
	padding:3px;
	width: 100%;
	white-space: nowrap;
	color:Black;
	text-align:center;
}


.igcv_FullstepDayHeader
{
	font-size:11px;
	border-width:0px;
	border-bottom:solid 1px #9199A4;
	padding:5px 0px 0px 0px;
}


.igcv_FullstepDay
{
	background-image: url(images/day_bg.jpg);
	font-size:11px;
	border-width:0px;
	cursor:hand;
	text-align:center;
}


.igcv_FullstepFooter
{
	background-color:#EEEEEE;

	font-size:8pt;
	padding:3px;
	white-space: nowrap;
	cursor:pointer;
	text-align:left;
}


.igcv_FullstepDropDown
{
	font-size:8pt;
}


.igcv_FullstepOtherMonthDay
{
	background-color:White;
	color:#B3B3B3;
}


.igcv_FullstepWeekendDay
{
	background-color:#FAFAFA;
}


.igcv_FullstepNavigationButton
{
	background-color:#F0F0F0;
	padding-right:3px;
	padding-left:3px;
	cursor:pointer;
}


.igcv_FullstepTodayDay
{
	border:solid 1px #696969;
}


.igcv_FullstepActivityDay
{
	font-weight:bold;
}


.igcv_FullstepActiveDay
{
	background-color:#5A5A5A;
	background-image:none;
	color:White;
}


