.igmc_FullstepControl
{
	background-color: #eee;
	border:1px solid #C5C7CB;
	height: 20px;
	padding: 0px;
	margin: 0px;
}

.igmc_FullstepDOW
{
	background-color: #F3F3F3;
	font-size:xx-small;
	border-width:0px;
	border-bottom:solid 1px #CCCCCC;
	padding: 3px 5px;
	height: 14px;
	text-align:center;
	font-weight: bold;
}

.igmc_FullstepNextPrev
{
	margin: 0px;
	padding: 0px;
	font-size:xx-small;
	color: #333333;
	padding: 0px 5px;
}

.igmc_FullstepHoverNextPrev
{
	cursor: pointer;
	color: #AAAAAA;
}

.igmc_FullstepPressedNextPrev
{
}

.igmc_FullstepFooter
{
	background-color: #FFFFFF;
	background-image: url(images/igmc_footerbg.gif);
	background-repeat:repeat-x;
	background-position: bottom;
	border-top: 1px solid #dddddd;
	padding:2px;
	font-size:xx-small;
	text-align:center;
	height:20px;
}

.igmc_FullstepHoverFooter
{
	background-color: #F5F5F5;
	background-image: url(images/igmc_footerbghover.gif);
	background-repeat:repeat-x;
	color: #AAAAAA;
}

.igmc_FullstepPressedFooter
{
	background-color: #EEEEEE;
	background-image: url(images/igmc_footerbgpressed.gif);
	background-repeat:repeat-x;
}

.igmc_FullstepHeader
{
	background-color: #cccccc;
	background-repeat:repeat-x;
	background-position:top;
	background-image: url(images/igmc_headerbg.png);
	font-size:10px;
	height: 20px;
	border-bottom: 1px solid #BBBBBB;
}

.igmc_FullstepMonthYear
{
	font-size:10px;
	font-weight:bold;
	padding:2px;
	color: #333333;
}

.igmc_FullstepPressedMonthYear
{
	color: #ff9933;
}

.igmc_FullstepHoverMonthYear
{
	cursor: pointer;
	color: #AAAAAA;
}

.igmc_FullstepDay
{
	background-color:#FFFFFF;
	font-size:xx-small;
	text-align:center;
	padding: 5px;
}

.igmc_FullstepWeekNumber
{
	border-right: 1px solid #DDDDDD;
	background-color: #F3F3F3;
	font-weight: bold;
}

.igmc_FullstepWeekendDay
{
	background-color:#FAFAFA;
}

.igmc_FullstepOtherMonthDay
{
	color:#AAAAAA;
	background-image: none;
}

.igmc_FullstepTodayDay
{
	background-color: #CCCCCC;
	color: #FFFFFF;
}

.igmc_FullstepSelectedDay
{
	background-color: #DDDDDD;
	font-weight:bold;
}

.igmc_FullstepFocusDay
{
	background-color: #EFEFEF;
	color: #000000;
}

.igmc_FullstepHoverDay
{
	background-color: #AAAAAA;
	color:#FFFFFF;
	font-weight: bold;
}



.igmc_FullstepDisabledDay
{
	color:#FFFFFF;
}

/* CSS classes for Month and Year selection Popup in header */
.igmc_FullstepList
{
	background:#FFFFFF;
	border:1px solid #999999;
}

.igmc_FullstepItem
{
	font-size: 10px;
	background:#F1F1F1;
	padding: 2px;
	text-align: center;
}

.igmc_FullstepSelectedItem
{
	background-color: #AAAAAA;
	color: #FFFFFF;
	font-weight: bold;
}

.igmc_FullstepHoverItem
{
	background-color: #CCCCCC;
	color: #FFFFFF;
	cursor: pointer;
}
