.igcal_FullstepControl
{
	border-style:solid;
	cursor:hand;
	text-align:center;
}


.igcal_FullstepCalendar
{
}


.igcal_FullstepDOW
{
	font-weight:bold;
	font-size:xx-small;
	border-width:0px;
	border-bottom:solid 1px #9199A4;
	padding:5px 0px 0px 0px;
}


.igcal_FullstepDay
{
	background-image: url(images/bg.jpg);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #DDDDDD;
	font-size:xx-small;
	border-width:0px;
}


.igcal_FullstepNextPrev
{
	background-color:#D2D5DA;
	padding-right:5px;
	padding-left:5px;
	height: 17px;
}


.igcal_FullstepFooter
{
	border-top:solid 1px LightGrey;
	padding-top:5px;
	text-align:center;
}


.igcal_FullstepHeader
{
	background-color:#D2D5DA;
	font-size:10px;
	height: 17px;
}


.igcal_FullstepDropDown
{
}


.igcal_FullstepWeekendDay
{
}


.igcal_FullstepOtherMonthDay
{
	background-color:White;
	color:#B3B3B3;
}


.igcal_FullstepWeekendDayMajor
{
}


.igcal_FullstepTodayDay
{
	font-weight:bold;
	border:solid 1px #A5A5A5;
}


.igcal_FullstepSelectedDay
{
	background-color:#1E1E1E;
	background-image:none;
	color:White;
}


