.igcmb_FullstepControl
{
}


.igcmb_FullstepEditWithButtons
{
	border:solid 1px #ACACAC;
	cursor:hand;
}


.igcmb_FullstepPagerArea
{
}


.igcmb_FullstepPageCurrent
{
}


.igcmb_FullstepPageLink
{
}


.igcmb_FullstepItem
{
	background-color:WhiteSmoke;
	border-top:solid 1px Gainsboro;
	height: 20px;
}


.igcmb_FullstepAlt
{
	background-color:White;
	border-width:0px;
}


.igcmb_FullstepHeader
{
	background-position:center ;
	background-image: url(images/header.gif);
	border-width:0px;
	padding-top:4px;
	padding-bottom:4px;
	color:Black;
	text-align:left;
}


.igcmb_FullstepFooter
{
}


.igcmb_FullstepLabel
{
	background-image:none;
	border-top:solid 1px Gainsboro;
	border-right:solid 1px Gainsboro;
	height: 25px;
}


.igcmb_FullstepSelected
{
	background-color:DimGray;
	color:White;
}


.igcmb_FullstepEditSelected
{
	background-color:White;
	font-size:x-small;
	font-family: Verdana;
	border:solid 1px Transparent;
	padding-top:9px;
	text-align:left;
	vertical-align:middle;
}


.igcmb_FullstepActiveBorderTopBottom
{
}


.igcmb_FullstepActiveBorderLeft
{
}


.igcmb_FullstepActiveBorderRight
{
}


