/*

Main control CSS class
*/
.igdd_FullstepControl
{
	border-left:solid 0px #c5c7cb;
	border-right:solid 0px #c5c7cb;
	border-top:solid 0px #c5c7cb;
	background-color:white;
}


/*
 Main Control CSS class when it's disabled
*/
.igdd_FullstepControlDisabled
{
}


/*
 Main control css class on hover
*/
.igdd_FullstepControlHover
{
	background-color:#FAFAFA;
}


/*

*/
.igdd_FullstepControlFocus
{
	background-color:#FAFAFA;
	border:solid 1px #999999;
	table-layout: fixed;
}

.igdd_FullstepControlFocus
{
	background-color:#FAFAFA;
	border:solid 1px #999999;
	table-layout: fixed;
}


.igdd_FullstepControlArea
{
	border:solid 1px #C5C7CB;
	table-layout: fixed;
}


.igdd_FullstepControlArea
{
	border:solid 1px #C5C7CB;
	table-layout: fixed;
}

/*
CSS class for the actual input field (<input type="text" />)
*/
.igdd_FullstepValueDisplay
{
	background-color:Transparent;
	font-weight:normal;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 100%;
	z-index: 0;
}
.igdd_FullstepValueDisplay::-ms-clear{
    display:none;
}

/*

*/
.igdd_FullstepValueDisplayHover
{
}


/*

*/
.igdd_FullstepValueDisplayFocus
{
}


/*

*/
.igdd_FullstepValueDisplayDisabled
{
    background-color:Transparent;
    border:0px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:normal;
    width:100%;
    z-index:0;
}


/*

*/
.igdd_FullstepValueDisplayReadOnly
{
}


/*

*/
.igdd_FullstepDropDownList
{
	background-color:White;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
}


/*

*/
.igdd_FullstepDropDownListHover
{
}


/*

*/
.igdd_FullstepDropDownListReadOnly
{
}


/*
	
*/
.igdd_FullstepDropDownListContainer
{
	background-color:White;
	border:solid 1px #C5C7CB;
	float: left;
}


/*

*/
.igdd_FullstepDropDownListContainerHover
{
}


/*

*/
.igdd_FullstepDropDownButton
{
	width: 17px;
	z-index: 9999;
}


/*

*/
.igdd_FullstepDropDownButtonHover
{
}


/*
CSS class that controls the style of the LI items in the list
*/
.igdd_FullstepListItem
{
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style-type: none;
	width: auto;
	min-height: 15px;
	height: auto !important;
	cursor:pointer;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:solid 1px #C5C7CB;
	border-left:solid 0px #C5C7CB;
	border-right:solid 0px #C5C7CB;
	border-bottom:solid 0px #C5C7CB;
	vertical-align:middle;
}
.igdd_FullstepListItem
{
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style-type: none;
	width: auto;
	min-height: 15px;
	height: auto !important;
	cursor:pointer;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:solid 1px #C5C7CB;
	border-left:solid 0px #C5C7CB;
	border-right:solid 0px #C5C7CB;
	border-bottom:solid 0px #C5C7CB;
	vertical-align:middle;
}
.igdd_FullstepListItemTachado
{
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style-type: none;
	width: auto;
	min-height: 15px;
	height: auto !important;
	cursor:pointer;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:solid 1px #C5C7CB;
	border-left:solid 0px #C5C7CB;
	border-right:solid 0px #C5C7CB;
	border-bottom:solid 0px #C5C7CB;
	vertical-align:middle;
	text-decoration:line-through;
}
.igdd_FullstepListItemTachado
{
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style-type: none;
	width: auto;
	min-height: 15px;
	height: auto !important;
	cursor:pointer;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:solid 1px #C5C7CB;
	border-left:solid 0px #C5C7CB;
	border-right:solid 0px #C5C7CB;
	border-bottom:solid 0px #C5C7CB;
	vertical-align:middle;
	text-decoration:line-through;
}

	/* IE 6 fix */
	.ie6 .igdd_FullstepListItem {
		border:solid 1px #C5C7CB;
	}
	.ie6 .igdd_FullstepListItem {
		border:solid 1px #C5C7CB;
	}

/*

*/
.igdd_FullstepListItemActive
{
	background-color:#AAAAAA;
	border:solid 1px #AAAAAA;
	list-style-type: none;
}


/*

*/
.igdd_FullstepListItemHover
{
	background-color:#AAAAAA;
	list-style-type: none;
}
	/* IE 6 fix */
	.ie6 .igdd_FullstepListItemHover {
		border:solid 1px white;
	}

/*

*/
.igdd_FullstepListItemSelected
{
	background-color:#DDDDDD;
	list-style-type: none;
}
.igdd_FullstepListItemSelected
{
	background-color:#DDDDDD;
	list-style-type: none;
}


/*

*/
.igdd_FullstepListItemDisabled
{
	list-style-type: none;
	width: auto;
	cursor:default;
}


/*
Applied to the whole pager
*/
.igdd_FullstepPager
{
	background-color:WhiteSmoke;
	border-top:solid 1px #C5C7CB;
	vertical-align:middle;
}


/*
Loading message container
*/
.igdd_FullstepLoadingItemsMessage
{
	background-color:#AAAAAA;
	font-weight:bold;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:1px 0px 0px 1px;
	padding:3px;
	color:White;
}


/*
Styles the current page link only
*/
.igdd_FullstepPageCurrent
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-right:3px;
	float: left;
	cursor:pointer;
	color:#AAAAAA;
	text-decoration:underline;
	vertical-align:middle;
}


/*
Styles all page links in general 
*/
.igdd_FullstepPageLink
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-right:3px;
	float: left;
	cursor:pointer;
	color:#333333;
	vertical-align:middle;
}


/*

*/
.igdd_FullstepDropDownListFocus
{
}


.igdd_FullstepListItem a:active
{
	font-size:12px;
}


/*

*/
.igdd_FullstepDropDownListDisabled
{
}


/*
Styling for anchor when hovered anywhere on ListItem
*/
.igdd_FullstepListItemHover a:link
{
	color:White;
	text-decoration:none;
}


/*
For Disabled=True of a DropDownItem
*/
.igdd_FullstepListItemDisabled a:link
{
	cursor:default;
	color:#CCCCCC;
}


.igdd_FullstepListItemActive a:link
{
	color:White;
	text-decoration:none;
}


/*
	
*/
.igdd_FullstepDropDownButtonFocus
{
}


.igdd_FullstepListItem a:visited
{
	font-size:12px;
	color:#333333;
	text-decoration:none;
}


/*
 CSS class for the table that accomodates the value display and the drop down button, and which is a 
 child of the main control (div)
*/
.igdd_FullstepValueDisplayTable
{
}


/*

*/
.igdd_FullstepDropDownButtonDisabled
{
}


/*

*/
.igdd_FullstepDropDownListContainerFocus
{
}


.igdd_FullstepListItem a:link
{
	font-size:12px;
	color:#333333;
	text-decoration:none;
}


.igdd_FullstepListItem a:hover
{
	font-size:12px;
}


/*
pseudo class used so Value Display input does not have focus
glow in some browsers like GoogleChrome or AppleSafari
*/
input:focus
{
	outline: none;
}


/*

*/
.igdd_FullstepListItemFocus
{
	list-style-type: none;
	width: auto;
}
.igdd_FullstepListItemB
{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border:solid 1px #C5C7CB;
	border-bottom:solid 0px #C5C7CB;
	width:375px;
	text-align:left;
}
.igdd_FullstepListItemB a
{
	font-size:12px;
}
.igdd_FullstepBorders
{
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
}
.igdd_FullstepNoPadding
{
	padding-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
}
.igdd_FullstepListItemTable
{
	border-bottom:solid 1px #c5c7cb;
	border-right:solid 1px #c5c7cb;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style-type: none;
	width: auto;
	min-height: 15px;
	height: auto !important;
	cursor:pointer;
	vertical-align:middle;
}