.igdw_FullstepControl
{
	background-color:Transparent;
	border-width:0px;
}


.igdw_FullstepHeaderArea
{
	font-weight:bold;
	border-width:0px;
	height: 24px;
	cursor:default;
	color:White;
}


.igdw_FullstepBodyContent
{
	border:solid 0px #999999;
}


.igdw_FullstepHeaderButton
{
	margin:4px 3px 3px 3px;
	cursor:pointer;
}


.igdw_FullstepHeaderCaption
{
	font-weight:normal;
	font-size:x-small;
	margin-top:16px;
	margin-left:6px;
	padding-top:10px;
	color:#3C3C3C;
}


.igdw_FullstepHeaderButtonArea
{
	width: 120px;
	vertical-align:middle;
}


.igdw_FullstepHeaderImage
{
	cursor:default;
}


.igdw_FullstepModalBackground
{
	background-color: #FFFFFF;
	filter: alpha(opacity : 50);
	opacity: 0.5;
	z-index: 99999;
}


.igdw_FullstepResizingHandle
{
	cursor:se-resize;
}


/* used only when header visible */
.igdw_FullstepHeaderCornerLeft
{
	background-position:top left ;
	background-image: url(./images/igdw_TopLeft.gif);
	font-size:1px;
	width: 9px;
}


/* used only when header visible */
.igdw_FullstepHeaderContent
{
	background-image: url(./images/igdw_top.gif);
}


/* used only when header visible */
.igdw_FullstepHeaderCornerRight
{
	background-position:top right ;
	background-image: url(./images/igdw_TopRight.gif);
	font-size:1px;
	width: 9px;
}


/* used only when header hidden */
.igdw_FullstepBodyCornerTopLeft
{
	background-position:top left ;
	background-image: url(./images/igdw_TopLeftHidden.gif);
	font-size:1px;
	height: 14px;
	width: 9px;
}


/* used only when header hidden */
.igdw_FullstepBodyEdgeTop
{
	background-image: url(./images/igdw_topHidden.gif);
	font-size:1px;
	height: 14px;
}


/* used only when header hidden */
.igdw_FullstepBodyCornerTopRight
{
	background-position:top right ;
	background-image: url(./images/igdw_TopRightHidden.gif);
	font-size:1px;
	height: 14px;
	width: 9px;
}


.igdw_FullstepBodyEdgeLeft
{
	background-position:top left ;
	background-image: url(./images/igdw_EdgeLeft.gif);
	font-size:1px;
	width: 6px;
}


.igdw_FullstepBodyEdgeRight
{
	background-position:top right ;
	background-image: url(./images/igdw_EdgeRight.gif);
	font-size:1px;
	width: 6px;
}


.igdw_FullstepBodyCornerBottomLeft
{
	background-image: url(./images/igdw_BottomLeft.gif);
	font-size:1px;
	width: 9px;
	height: 14px;
}


.igdw_FullstepBodyContentArea
{
	background-color:White;
	vertical-align:top;
}


.igdw_FullstepBodyCornerBottomRight
{
	background-image: url(./images/igdw_BottomRight.gif);
	background-position:right top;	
	font-size:1px;
	width: 9px;
	height: 14px;
}


.igdw_FullstepBodyEdgeBottom
{
	background-image: url(./images/igdw_Bottom.gif);
	font-size:1px;
	height: 14px;
}


