.igdv_FullstepControl
{
	border: 1px solid #9E9E9E;
}


.igdv_FullstepCaptionHeader
{
	background-color:#CECECE;
	background-repeat:repeat-x;
	background-image: url(images/monthview_header.jpg);
	font-weight:bold;
	font-size:8pt;
	border-bottom:solid 1px #9E9E9E;
	line-height: 16px;
	padding: 3px;
	height: 20px;
	color:Black;
	text-align:center;
}


.igdv_FullstepDayHeader
{
	background-color:#f3f3f3;
	font-size:8pt;
	border-bottom: 1px solid #9E9E9E;
	padding: 5px;
	text-align:center;
	overflow: hidden;
	vertical-align:middle;
}


.igdv_FullstepNonWorkingTimeSlot
{
	background-color: #F5F5F5;
	border-bottom:solid 1px #DDDDDD;
	height: 20px;
}


.igdv_FullstepWorkingTimeSlot
{
	background-color:#FFFFFF;
	border-bottom:solid 1px #DDDDDD;
	height: 20px;
}


.igdv_FullstepAllDayEventArea
{
	background-color:#FAFAFA;
	border-bottom: 1px solid #9E9E9E;
}


.igdv_FullstepAllDayEvent
{
	background-color: #F5F5F5;
	font-size:8pt;
	border: solid 1px #c0c0c0;
	padding:5px;
	white-space: nowrap;
	overflow: hidden;
	text-align:center;
}


.igdv_FullstepAppointment
{
	background-color:White;
	font-size:8pt;
	border:solid 1px #999999;
	overflow: hidden;
}

.igdv_FullstepFadedAppointment
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.igdv_FullstepActivityEdge
{
	font-size:1px;
	height: 4px;
	cursor:n-resize;
}


.igdv_FullstepActivityEdgeLeft
{
	font-size:2px;
	width: 6px;
	cursor:move;
}


.igdv_FullstepTodayHeader
{
	background-color:#f3f3f3;
	font-size:8pt;
	font-weight: bold;
	border-bottom: 1px solid #9E9E9E;
	padding: 5px;
	text-align:center;
	vertical-align:middle;
}


.igdv_FullstepTimeSlotLabel
{
	background-color:#d3d3d3;
	background-repeat:repeat-x;
	background-image: url(images/header.gif);
	font-size:16pt;
	border-width:0px;
	border-right:solid 1px #A8A8A8;
	border-bottom:solid 1px #A8A8A8;
	width: 60px;
	text-align:center;
	vertical-align:middle;
}


.igdv_FullstepTimeSlotLabelMinutes
{
	font-size:8pt;
}


.igdv_FullstepAllDayEventSelected
{
	background-color: #FFFFFF;
	border-color:#AAAAAA;
}


.igdv_FullstepAllDayEventAreaSelected
{
	background-color:White;
}


.igdv_FullstepActivityHover
{
	z-index: 10000;
}


.igdv_FullstepActivityEdgeBusy
{
	background-color:Silver;
}


.igdv_FullstepActivityEdgeTentative
{
	background-color:#90C0FF;
}


.igdv_FullstepActivityEdgeOutofOffice
{
	background-color:#900090;
}


.igdv_FullstepActivityEdgeFree
{
	background-color:#F0F0F0;
}


.igdv_FullstepNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 20px;
	vertical-align:middle;
	cursor: pointer;
}


.igdv_FullstepSelectedAppointment
{
	z-index: 9999;
}

.igdv_FullstepResourceButton
{
	background: #d3d3d3;
	border-width: 0;
	border-right: solid 1px #9E9E9E;   
	border-bottom: solid 1px #9E9E9E;
	padding: 4px;
	font-size: 8pt;
	color: #333;
	background-image: url(images/header.gif);
	background-repeat: repeat-x;
}

.igdv_FullstepResourceButton:focus, .igdv_FullstepResourceButtonActive
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igdv_FullstepResourceButton:hover
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igdv_FullstepMultiDayEventArrowLeft
{
      background-image: url(images/igws_arrowLeft.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}

.igdv_FullstepMultiDayEventArrowRight
{
      background-image: url(images/igws_arrowRight.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}