/**************************** VERTICAL (Default / No suffixes) *************************************************/
.igdm_FullstepControlVertical
{
	background-color:#E3E3E3;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igdm_controlbackground.png);
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	border-style:none;
	border-width:0px;
	white-space: nowrap;
	overflow: hidden;
	cursor:default;
}


/*
 Main Control CSS class when it's active 
*/
.igdm_FullstepControlVerticalActive
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdm_FullstepControlVerticalDisabled
{
	background-color:#F0F0F0;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igdm_controlbackgrounddisabled.png);
}


/******************************** ROOT ELEMENTS ***************************************************/
.igdm_FullstepMenuGroupVerticalRoot
{
	background-color:Transparent;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_FullstepMenuItemVerticalRoot
{
	font-size:10px;
	border:solid 1px Transparent;
	padding:6px 30px 6px 12px;
	color:#333333;
}


.igdm_FullstepMenuItemVerticalIcon
{
	border-style:none;
	border-width:0px;
	padding-right:6px;
	clear: none;
	text-align:left;
	vertical-align:middle;
}


.igdm_FullstepMenuItemVerticalRootLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	line-height: 12px;
	display: block;
	cursor:default;
	color:#333333;
	text-decoration:none;
}


.igdm_FullstepMenuItemVerticalRootSelected
{
	background-color:#CCCCCC;
	background-repeat:repeat-x;
	background-position:left top ;
	background-image: url(images/igdm_rootselected.png);
	border:solid 1px #666666;
}


.igdm_FullstepMenuItemVerticalRootActive
{
	background-color:#CCCCCC;
	border:solid 1px #666666;
}


.igdm_FullstepMenuItemVerticalRootHover
{
	background-color:#E5E5E5;
	background-repeat:repeat-x;
	background-position:left top ;
	background-image: url(images/igdm_roothover.png);
	border:solid 1px #C5C7CB;
}


.igdm_FullstepMenuItemVerticalRootDisabled
{
}


/********************************** END ROOT ELEMENTS *********************************************/
/****************************** MenuGroup (UL) ELEMENTS (SubMenu) *********************************/
/* UL (List) */
.igdm_FullstepMenuGroupVertical
{
	background-color:White;
	border:solid 1px #CCCCCC;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


/**************************** END Menu Group Elemnts ********************************************/
/************ MenuItem elements (single menu item - LI (base element) has > a > span) ***********/
/* List Item (Li) */
.igdm_FullstepMenuItemVertical
{
	background-attachment:scroll;
	background-color: #FFFFFF none repeat scroll 0 0;
	background-repeat:repeat;
	background-position:notset notset ;
	margin:0px;
	padding:5px 30px 5px 5px;
	color:#000333;
}


.igdm_FullstepMenuItemVerticalLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	line-height: 12px;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) that is a parent of a menu which will appear on the bottom */
.igdm_FullstepMenuItemVerticalParent
{
}


.igdm_FullstepMenuItemVerticalParentLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) */
.igdm_FullstepMenuItemVerticalSelected
{
	background-color:#666666;
	font-weight:normal;
	margin:0px;
	color:White;
}


/* List Item (Li) */
.igdm_FullstepMenuItemVerticalActive
{
	background-color:#666666;
	font-weight:normal;
	margin:0px;
	color:White;
}


/* List Item (Li) */
.igdm_FullstepMenuItemVerticalHover
{
	background-color:#AAAAAA;
	font-weight:normal;
	margin:0px;
	color:White;
}


.igdm_FullstepMenuItemVerticalDisabled
{
}


/* List Item (LI) no inner content */
.igdm_FullstepMenuItemVerticalSeparator
{
	background-color:#BBBBBB;
	border-style:none;
	border-width:0px;
	margin-top:0px;
	padding:0px;
	display: block;
	height: 1px;
	height: 1px;
	width: 100%;
	margin: 0px auto;
	position: absolute;
	clear: both;
}


.igdm_FullstepMenuScrollContainerVertical
{
	background-color:White;
	border:solid 1px #CCCCCC;
	color:Black;
}


.igdm_FullstepMenuScrollerRootTop
{
}


.igdm_FullstepMenuScrollerRootBottom
{
}


.igdm_FullstepMenuScrollerTop
{
	height: 10px;
	width: 100%;
}


.igdm_FullstepMenuScrollerBottom
{
	height: 10px;
	width: 100%;
}


/************************************************************************************************\

********************** Horizontal / Suffixed with "Horizontal" *********************************

\************************************************************************************************/
.igdm_FullstepControlHorizontal
{
	background-color:#E3E3E3;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igdm_controlbackground.png);
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	border-style:none;
	border-width:0px;
	white-space: nowrap;
	overflow: hidden;
	cursor:default;
}


.igdm_FullstepControlHorizontalActive
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdm_FullstepControlHorizontalDisabled
{
	background-color:#F0F0F0;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igdm_controlbackgrounddisabled.png);
}


/************** End Main Control Definitions ********************/
/******************************** ROOT ELEMENTS - Group and Item ***************************************/
/** Definitions for Root elements should be always before definitions of subElements **/
.igdm_FullstepMenuGroupHorizontalRoot
{
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_FullstepMenuItemHorizontalRoot
{
	font-size:10px;
	border:solid 1px Transparent;
	padding:6px 6px 6px 12px;
	float: left;
	color:#000FFF;
}


.igdm_FullstepMenuItemHorizontalIcon
{
	border-style:none;
	border-width:0px;
	padding-right:6px;
	clear: none;
	float: left;
	text-align:left;
	vertical-align:middle;
}


.igdm_FullstepMenuItemHorizontalRootLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#333333;
	text-decoration:none;
}


.igdm_FullstepMenuItemHorizontalRootSelected
{
	background-color:#CCCCCC;
	background-repeat:repeat-x;
	background-position:left top ;
	background-image: url(images/igdm_rootselected.png);
	border:solid 1px #666666;
}


.igdm_FullstepMenuItemHorizontalRootActive
{
	background-color:#CCCCCC;
	border:solid 1px #666666;
}


.igdm_FullstepMenuItemHorizontalRootHover
{
	background-color:#E5E5E5;
	background-repeat:repeat-x;
	background-position:left top ;
	background-image: url(images/igdm_roothover.png);
	border:solid 1px #C5C7CB;
}


.igdm_FullstepMenuItemHorizontalRootDisabled
{
	float: left;
}


/********************************** END ROOT ELEMENTS *********************************************/
/****************************** MenuGroup (UL) ELEMENTS (SubMenu) *********************************/
/* UL (List) */
.igdm_FullstepMenuGroupHorizontal
{
	background-color:White;
	border:solid 1px #CCCCCC;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


/**************************** END Menu Group Elemnts ********************************************/
/************ MenuItem elements (single menu item - LI (base element) has > a > span) ***********/
/* List Item (Li) */
.igdm_FullstepMenuItemHorizontal
{
	background-attachment:scroll;
	background-color: #FFFFFF none repeat scroll 0 0;
	background-repeat:repeat;
	background-position:notset notset ;
	margin:0px;
	padding:5px 30px 5px 5px;
	color:#000333;
}


.igdm_FullstepMenuItemHorizontalLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) that is a parent of a menu which will appear on the bottom */
.igdm_FullstepMenuItemHorizontalParent
{
	font-weight:normal;
	margin:0px;
}


.igdm_FullstepMenuItemHorizontalParentLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) */
.igdm_FullstepMenuItemHorizontalSelected
{
	background-color:#666666;
	font-weight:normal;
	margin:0px;
	color:White;
}


/* List Item (Li) */
.igdm_FullstepMenuItemHorizontalActive
{
	background-color:#666666;
	font-weight:normal;
	margin:0px;
	color:White;
}


/* List Item (Li) */
.igdm_FullstepMenuItemHorizontalHover
{
	background-color:#AAAAAA;
	font-weight:normal;
	margin:0px;
	color:White;
}


.igdm_FullstepMenuItemHorizontalDisabled
{
}


/* List Item (LI) no inner content */
.igdm_FullstepMenuItemHorizontalSeparator
{
	background-color:#BBBBBB;
	border-style:none;
	border-width:0px;
	margin-top:0px;
	padding:0px;
	display: block;
	width: 1px;
	width: 1px;
	height: 100%;
	margin: 0px auto;
}


/* Scrolling container - DIV */
.igdm_FullstepMenuScrollContainerHorizontal
{
	background-color:White;
	border:solid 1px #CCCCCC;
	color:Black;
}


/* Left scrolling element for root level items Horizontal orientation - DIV */
.igdm_FullstepMenuScrollerRootLeft
{
}


/* Right scrolling element for root level items Horizontal orientation - DIV */
.igdm_FullstepMenuScrollerRootRight
{
}


/* Left scrolling element for non-root level items Horizontal orientation - DIV */
.igdm_FullstepMenuScrollerLeft
{
	background-repeat:repeat-y;
	background-position:right -70px ;
	border-left:solid 1px #C5C7CB;
	height: 100%;
	width: 10px;
	height: 28px;
	display: block;
}


/* Right scrolling element for non-root level items Horizontal orientation - DIV */
.igdm_FullstepMenuScrollerRight
{
	background-repeat:repeat-y;
	background-position:right -70px ;
	border-right:solid 1px #C5C7CB;
	height: 100%;
	width: 10px;
	height: 28px;
	display: block;
}


/*************************************** SCROLLING ROLES ************************************/
.igdm_FullstepMenuScrollButton
{
	background-color:#EFEFEF;
	background-repeat:repeat-x;
	background-position:center -57px ;
	background-image: url(images/igwdm_scrollsprite.png);
	border:solid 1px #C5C7CB;
	margin:0px;
	padding:0px;
	position: absolute;
	text-decoration:none;
}


.igdm_FullstepMenuScrollIcon
{
	background-repeat:no-repeat;
	background-image: url(images/igwdm_scrollsprite.png);
	margin:0px;
	padding:0px;
	display: block;
	height: 10px;
	cursor:pointer;
}


.igdm_FullstepMenuScrollIconTop
{
	background-position:center -1px ;
	margin-left:-5px;
	width: 10px;
	position: relative;
	left: 50%;
}


.igdm_FullstepMenuScrollIconBottom
{
	background-position:center -25px ;
	margin-left:-5px;
	width: 10px;
	position: relative;
	left: 50%;
}


.igdm_FullstepMenuScrollIconLeft
{
	background-position:-15px -15px ;
	margin-top:-6px;
	position: relative;
	top: 50%;
}


.igdm_FullstepMenuScrollIconRight
{
	background-position:-30px -15px ;
	margin-top:-6px;
	position: relative;
	top: 50%;
}


.igdm_FullstepMenuScrollContainer
{
	margin:0px;
	padding-top:0px;
	padding-left:0px;
}


.igdm_FullstepMenuScrollContainerRootVertical
{
}


.igdm_FullstepMenuScrollContainerRootHorizontal
{
}


.igdm_FullstepMenuGroupScrollingVertical
{
	background-color:White;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_FullstepMenuGroupScrollingHorizontal
{
	background-color:White;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_FullstepMenuItemHorizontalSelected > a
{
	color:White;
}


/* List Item (Li) */
.igdm_FullstepMenuItemHorizontalDisabled > a
{
	color:#CCCCCC;
}


.igdm_FullstepMenuScrollerLeft hover, .igdm_FullstepMenuScrollerRight active
{
	background-position:left -70px ;
}


.igdm_FullstepMenuItemVerticalActive > a
{
	color:White;
}


.igdm_FullstepMenuScrollerRight hover, .igdm_FullstepMenuScrollerRight active
{
	background-position:left -70px ;
}


.igdm_FullstepMenuItemVerticalSelected > a
{
	color:White;
}


.ie6 .igdm_FullstepMenuItemVerticalRoot
{
	border-width:0px;
}


.igdm_FullstepMenuItemVerticalRootDisabled > a
{
	color:#AAAAAA;
}


.igdm_FullstepMenuScrollerTop hover, .igdm_FullstepMenuScrollerRight active
{
	background-position:center -42px ;
}


.igdm_FullstepMenuItemHorizontalHover > a
{
	color:White;
}


.ie6 .igdm_FullstepMenuItemVerticalRoot.igdm_FullstepMenuItemVerticalParent.igdm_FullstepMenuItemVerticalRootSelected
{
	background-color: #CCCCCC!important;
	background-position:left ;
	background-image: url(images/igdm_rootselected.png)!important;
	border-width:0px;
	background-repeat: repeat-x!important;
}


.ie6 .igdm_FullstepMenuItemHorizontalHover
{
	border-width:0px;
}


.ie6 .igdm_FullstepMenuItemHorizontalRootHover.igdm_FullstepMenuItemHorizontalRootSelected
{
	background-position:left ;
	background-image: url(images/igdm_rootselected.png)!important;
	background-repeat: repeat-x!important;
}


.ie6 .igdm_FullstepMenuItemHorizontal
{
	border-width:0px;
}


.ie6 .igdm_FullstepMenuItemHorizontalRootHover
{
	border-width:0px;
}


.ie6 .igdm_FullstepMenuItemVertical.igdm_FullstepMenuItemVerticalParent
{
	border-width:0px;
}


.igdm_FullstepMenuItemHorizontalRootDisabled > a
{
	color:#AAAAAA;
}


.ie6 .igdm_FullstepMenuGroupScrollingVertical .igdm_FullstepMenuItemVerticalParent
{
	background-repeat:no-repeat;
	background-position:right center ;
	background-image: url(images/igwdm_submenuindicator.gif);
}


/*ListItem that is parent of menu items not in Root*/
.igdm_FullstepMenuItemVertical.igdm_FullstepMenuItemVerticalParent
{
	background-repeat:no-repeat;
	background-position:center right ;
	background-image: url(images/igwdm_submenuindicator.gif);
}


.ie6 .igdm_FullstepMenuItemVerticalRootHover
{
	background-color:#CFCFCF;
	border-width:0px;
}


.igdm_FullstepMenuItemVerticalHover > a
{
	color:White;
}


.ie6 .igdm_FullstepMenuItemVertical
{
	border-width:0px;
}


/*ListItem that is parent of menu items not in Root*/
.igdm_FullstepMenuItemHorizontal.igdm_FullstepMenuItemHorizontalParent
{
	background-repeat:no-repeat;
	background-position:center right ;
	font-weight:normal;
	margin:0px;
}


.ie6 .igdm_FullstepMenuItemVerticalHover
{
	border-width:0px;
}


.ie6 ul.igdm_FullstepMenuGroupVerticalRoot li.igdm_FullstepMenuItemVerticalParent.igdm_FullstepMenuItemVerticalRoot
{
	background-color: none;
}


.ie6 .igdm_FullstepMenuItemHorizontalRoot
{
	border-width:0px;
}


.ie6 .igdm_FullstepMenuItemHorizontalSeparator
{
	overflow: hidden;
}


/* List Item (Li) */
.igdm_FullstepMenuItemVerticalDisabled > a
{
	color:#CCCCCC;
}


/*************************************** END SCROLLING ROLES ********************************/
/***************
*   IE6 Fixes  *
****************/
.ie6 .igdm_FullstepMenuItemVerticalRoot.igdm_FullstepMenuItemVerticalParent.igdm_FullstepMenuItemVerticalRootHover
{
	background-color: #e5e5e5!important;
	background-position:left ;
	background-image: url(images/igdm_roothover.png)!important;
	border-width:0px;
	background-repeat: repeat-x!important;
}


.ie6 .igdm_FullstepMenuItemVerticalSeparator
{
	overflow: hidden;
}


.igdm_FullstepMenuScrollerBottom hover, .igdm_FullstepMenuScrollerRight active
{
	background-position:center -42px ;
}


.igdm_FullstepMenuItemHorizontalActive > a
{
	color:White;
}


.ie6 .igdm_FullstepMenuItemHorizontalRootHover.igdm_FullstepMenuItemHorizontalRootHover
{
	background-position:left ;
	background-image: url(images/igdm_roothover.png)!important;
	background-repeat: repeat-x!important;
}


