.igdc_FullstepEditWithButtons
{
	border:solid 1px Gainsboro;
}


.igdc_FullstepCalendar
{
    background-color: #ffffff;
}


.igdc_FullstepEditInContainer
{
	font-size:x-small;
	border:solid 1px Transparent;
	outline:0;
}


.igdc_FullstepButton
{
}


.igdc_FullstepButtonHover
{
}


.igdc_Office2007BlueEditInContainer
{
	font-size:10px;
	border-style:none;
	border-width:0px;
	padding-left:3px;
	float: left;
	width: 100%;
	height: 100%;
}


.igdc_Office2007BlueButton
{
	background-color:Transparent;
}


.igdc_Office2007BlueEditWithButtons
{
	background-color:#EAF2FB;
	font-size:10px;
	font-family: Verdana;
	border:solid 1px #ABC1DE;
}


.igdc_Office2007BlueCalendar
{
}


.igdc_Office2007BlueButtonHover
{
	background-color:Transparent;
}


