.igeb_FullstepControl
{
	background-color:Transparent;
	font-size:xx-small;
	font-family: Segoe UI, Verdana, Helvetica, sans-serif;
	border:solid 1px #CCCCCC;
	border-top-width:0px;
	overflow-x: hidden;
	_overflow: hidden!important;
	color:Black;
}


.igeb_FullstepGroup
{
	background-repeat:repeat-x;
	background-image: url(images/igeb_GroupBg.png);
	display: block;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	color:#777777;
	vertical-align:middle;
}


.igeb_FullstepGroupSelected
{
	background-repeat:repeat-x;
	background-position:0px -30px ;
	background-image: url(images/igeb_GroupBg.png);
	color:Black;
}


.igeb_FullstepGroupActive
{
	background-repeat:repeat-x;
	background-position:0px -30px ;
	background-image: url(images/igeb_GroupBg.png);
	color:Black;
}


.igeb_FullstepGroupHover
{
	background-repeat:repeat-x;
	background-position:0px -30px ;
	background-image: url(images/igeb_GroupBg.png);
	color:Black;
}


.igeb_FullstepItem
{
	background-color:White;
	line-height: 22px;
}


.igeb_FullstepItemImage
{
	padding-top:5px;
	padding-right:5px;
	padding-left:0px;
}


.igeb_FullstepItemSelected
{
	background-color:#AAAAAA;
}


.igeb_FullstepItemActive
{
	background-color:#AAAAAA;
}


.igeb_FullstepItemHover
{
	background-color:#AAAAAA;
}


.igeb_FullstepItemDisabled
{
}


.igeb_FullstepGroupContents
{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	list-style: none;
}


.igeb_FullstepGroupLabel
{
	font-weight:bold;
	font-size:12px;
	font-family: Segoe UI, Verdana, Sans-Serif;
	margin-left:5px;
	padding-left:5px;
	text-decoration:none;
}


.igeb_FullstepGroupDisabled
{
	background-color:#CCCCCC;
	color:#EEEEEE;
}


.igeb_FullstepGroupExpanderImage
{
	margin-top:5px;
	margin-right:5px;
	float: right;
}


.igeb_FullstepItemLabel
{
	font-weight:normal;
	font-size:12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	display: block;
}


.igeb_FullstepHolder
{
}


.igeb_FullstepGroupLink
{
	margin-bottom:0px;
	padding-bottom:0px;
	padding-left:6px;
	display: block;
	color: inherit;
	text-decoration:none;
}


.igeb_FullstepItemLink
{
	padding-top:2px;
	padding-bottom:2px;
	display: block;
	color:#333333;
	text-decoration:none;
}


.igeb_FullstepItemParent
{
	background-repeat:no-repeat;
	background-image: url(images/igeb_Bullet.png);
}


.igeb_FullstepGroupHover a visited
{
	color:Black;
}


.igeb_FullstepGroupSelected a visited
{
	color:Black;
}


/* IE 7 fix to icon bad alignment*/
.igeb_FullstepItem ,.igeb_FullstepItemActive ,.igeb_FullstepItemSelected
{
	min-height: 30px;
	_height: 30px;
}


.igeb_FullstepGroup a
{
	color:#777777;
}


/* IE 7 Disabled item fix */
.igeb_FullstepItemDisabled a visited, .igeb_FullstepItemDisabled a
{
	color:Gray;
}


.igeb_FullstepGroupActive a visited
{
	color:Black;
}


.igeb_FullstepItemHolder img
{
	vertical-align:middle;
}


.igeb_FullstepGroupSelected a
{
	color:Black;
}


.igeb_FullstepGroup a visited
{
	color:#777777;
}


.igeb_FullstepItemContents
{
	margin-left:0px;
	padding-left:0px;
	list-style: none;
}


.igeb_FullstepGroupActive a
{
	color:Black;
}


.igeb_ItemImage
{
	padding-top:5px;
	padding-right:5px;
	padding-left:0px;
}


.igeb_FullstepItemHolder
{
}


.igeb_FullstepGroupHover a
{
	color:Black;
}


