﻿.igfeb_FullstepControl
{
	background-color: Transparent;
}

.igfeb_FullstepControlHover
{
				
				
}

.igfeb_FullstepFishEyeItemLabel
{
}

.igfeb_FullstepFishEyeItem
{
}

.igfeb_FullstepFishEyeItemHover
{			
}

.igfeb_FullstepFishEyeItemDisabled
{
				
				
}

.igfeb_FullstepControlFocus
{
				
				
}

.igfeb_FullstepFishEyeItemSelected
{
	background-position: bottom;
	background-image: url(images/igfeb_itemselected.png);	
	background-repeat:  no-repeat;
}