.igtbl_FullstepControl
{
}


.igtbl_FullstepPagerArea
{
	background-color:#F0F0F0;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}


.igtbl_FullstepPageCurrent
{
	background-image: url(images/submit_down.gif);
	margin-right:10px;
	padding:3px 6px 3px 5px;
}


.igtbl_FullstepPageLink
{
	margin-right:10px;
	color:DimGray;
}


.igtbl_FullstepGroupByBox
{
	background-color:#F2F2F2;
	background-repeat:repeat-x;
	background-position:bottom ;
	background-image: url(images/dayview_day_header.jpg);
	border-bottom:solid 1px #E1E1E1;
}


.igtbl_FullstepAddNewBox
{
	background-position:bottom ;
	background-image: url(images/addnew.gif);
}


TBODY.igtbl_FullstepItem TR TD, THEAD.igtbl_FullstepItem TR TH, TFOOT.igtbl_FullstepItem TR TH, TBODY.igtbl_FullstepItem TR TH
{
	background-color:WhiteSmoke;
	border-top:solid 1px Gainsboro;
	border-bottom:solid 1px Transparent;
	height: 30px;
}


.igtbl_FullstepFilterOperandButton
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/submit_down.gif);
	border-width:0px;
	padding-top:2px;
	width: 18px;
}


TBODY.igtbl_FullstepItem TR.igtbl_FullstepAlt TD
{
	background-color:White;
	border-bottom:solid 1px Transparent;
}


.igtbl_FullstepEdit
{
	background-color:White;
	font-size:x-small;
	font-family: Verdana;
	border:solid 1px Transparent;
	padding-top:9px;
	text-align:left;
	vertical-align:middle;
}


.igtbl_FullstepButton
{
}


TBODY.igtbl_FullstepItem TR TD.igtbl_FullstepFxdCell
{
}


THEAD.igtbl_FullstepHeader TR TH, TFOOT.igtbl_FullstepHeader TR TH, TBODY.igtbl_FullstepHeader TR TH
{
	background-position:top ;
	background-image: url(images/header.jpg);
	border-width:0px;
	padding-top:4px;
	height: 30px;
	color:Black;
	text-align:left;
}


TFOOT.igtbl_FullstepFooter TR TH
{
	background-color:#E1E1E1;
	background-image:none;
}


TBODY.igtbl_FullstepHeader TR TH.igtbl_FullstepLabel
{
	background-image:none;
	border-top:solid 1px Gainsboro;
	border-right:solid 1px Gainsboro;
	height: 30px;
	padding-top:0px;
}


TBODY.igtbl_FullstepHeader TR TH.igtbl_FullstepExpArea, TFOOT.igtbl_FullstepHeader TR TH.igtbl_FullstepExpArea
{
	background-color:#E1E1E1;
	background-image:none;
	border-top:solid 1px Gainsboro;
	text-align:left;
}


TBODY.igtbl_FullstepHeader TR TH.igtbl_FullstepGrpItem
{
}


THEAD.igtbl_FullstepHeader TR TH.igtbl_FullstepFxdHeader
{
}


.igtbl_FullstepGroupBandLabel
{
}


TFOOT.igtbl_FullstepHeader TR TH.igtbl_FullstepFxdFooter
{
}


.igtbl_FullstepDropDown
{
	background-color:WhiteSmoke;
	font-size:xx-small;
	font-family: Verdana;
	border:solid 1px LightGrey;
}


.igtbl_FullstepDropDownSel
{
}


TBODY.igtbl_FullstepItem TR.igtbl_FullstepSelected TD, TBODY.igtbl_FullstepItem TR TD.igtbl_FullstepSelected, .igtbl_FullstepSelected
{
	background-color:DimGray;
	border-top-width:1px;
	color:White;
}


TBODY.igtbl_FullstepItem TR TD.igtbl_FullstepActiveBorderTopBottom, .igtbl_FullstepActiveBorderTopBottom
{
}


TBODY.igtbl_FullstepItem TR TD.igtbl_FullstepActiveBorderLeft, .igtbl_FullstepActiveBorderLeft
{
}


TBODY.igtbl_FullstepItem TR TD.igtbl_FullstepActiveBorderRight, .igtbl_FullstepActiveBorderRight
{
}


