﻿.ighg_FullstepExpandButton
{
	cursor: pointer;
	cursor: hand;
	padding-left: 5px;
}

TBODY>TR>TD.ighg_FullstepExpandableArea
{
	padding: 0px 0px 0px 25px;
	background-color: #D2D2D2;
}

.ighg_FullstepExpansionColumn
{
	width: 25px;
	padding: 0 !important;
}

.ighg_FullstepExpansionColumnHeader
{
	width: 25px;
}

.ighg_FullstepExpansionColumnFooter
{
	width: 25px;
}

/* START -- GroupBy CSS Classes */
.ighg_FullstepGroupIndentHeaderCell
{
}

TBODY>TR.ighg_FullstepGroupedRow>TD
{
	background:#FFFFFF url(images/ighg_GroupedRowBg.png) repeat-x;
}


TBODY>TR>TD.ighg_FullstepGroupIndentCell
{
	border-right: 1px solid #D8D8D8;
}

.ighg_FullstepGroupArea
{
	background: #FFFFFF url(images/ighg_GroupAreaBg.png) repeat-x;
	border-top: 1px solid #C5C7CB;
	padding: 10px;
}

.ighg_FullstepGroupedColumn
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnBg.png) repeat-x;
	height: 16px;
	padding: 3px 5px 0px 10px;
}
.ighg_FullstepGroupedColumnRightEdgeEnd
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeEndBg.gif) no-repeat;		
	width: 10px;
	height: 16px;
	padding-top: 3px;
}
.ighg_FullstepGroupedColumnRightEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeBg.png) no-repeat;
	width: 10px;
	height: 16px;
	padding-top: 3px;
}

.ighg_FullstepGroupedColumnLeftEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnLeftEdgeBg.gif) no-repeat;
	width: 9px;
	height: 16px;
	padding-top: 3px;
}

.ighg_FullstepGroupedBand
{
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-left: 1px solid #c5c7cb;
	height: 16px;
	padding: 3px 0px 0px 10px;
}
.ighg_FullstepGroupedBandRightEdge
{		
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-right: 1px solid #c5c7cb;
	width: 10px;
	height: 16px;
	padding: 3px 0px 0px 0px;
}

.ighg_FullstepColumnGroupingTopDragIndicator
{
	background-image:url(images/ighg_TopDragIndicator.gif);
	background-repeat: no-repeat;
	width:5px; 
	height:3px;
	z-index: 100;
}

.ighg_FullstepColumnGroupingMiddleDragIndicator
{
      background-image:url(images/ighg_MiddleDragIndicator.gif);
      background-repeat: repeat-y;
      background-position: center;
      width:3px; 
}

.ighg_FullstepColumnGroupingBottomDragIndicator
{
      background-image:url(images/ighg_BottomDragIndicator.gif);
      background-repeat: no-repeat;
      width:5px; 
      height:3px;
      position: absolute;
      z-index: 100;   
}
/* END -- GroupBy CSS Classes */
@media print{.ighg_FullstepControl, .ighg_FullstepControl div{width:auto !important; height:auto !important; overflow: visible !important;}}
