.iglb_FullstepControl
{
	font-size:small;
	border:solid 1px #E1E1E1;
	margin-bottom:0px;
}


.iglb_FullstepControl_Exp
{
	font-size:smaller;
	border:solid 1px #E1E1E1;
}


.iglb_FullstepButton
{
	background-position:top ;
	background-image: url(images/header.jpg);
	font-size:smaller;
	padding-top:8px;
	padding-bottom:6px;
	padding-left:3px;
	color:Black;
}


.iglb_FullstepButtonHover
{
	background-position:top ;
	background-image: url(images/header_hover.jpg);
	font-size:smaller;
	padding-top:8px;
	padding-bottom:6px;
	padding-left:3px;
}


.iglb_FullstepButtonSelected
{
	background-position:top ;
	background-image: url(images/header_hover.jpg);
	font-weight:bold;
	font-size:smaller;
	border-bottom:solid 1px #E1E1E1;
	padding-top:8px;
	padding-bottom:6px;
	padding-left:3px;
	cursor:hand;
}


.iglb_FullstepHeaderCollapsed
{
	background-image: url(images/header.jpg);
	font-size:smaller;
	padding-top:8px;
	padding-bottom:6px;
	padding-left:3px;
	color:Black;
}


.iglb_FullstepHeaderExpanded
{
	background-image: url(images/header.jpg);
	font-size:smaller;
	border-bottom:solid 1px Gainsboro;
	padding-top:8px;
	padding-bottom:6px;
	padding-left:3px;
	color:Black;
}


.iglb_FullstepHeaderHover
{
	background-image: url(images/header_hover.jpg);
	font-size:smaller;
	border-bottom:solid 1px Gainsboro;
	padding-top:8px;
	padding-bottom:6px;
	padding-left:3px;
	cursor:hand;
}


.iglb_FullstepGroup
{
	background-image: url(images/day_bg.jpg);
	cursor:default;
}


.iglb_FullstepGroup_Exp
{
	background-image: url(images/day_bg.jpg);
	margin-bottom:0px;
	cursor:default;
}


.iglb_FullstepItem
{
	background-color:Transparent;
	font-size:xx-small;
	margin-top:8px;
	margin-bottom:3px;
	padding-left:4px;
	text-align:left;
}


.iglb_FullstepItem_Exp
{
	background-color:Transparent;
	font-size:xx-small;
	margin-top:4px;
	margin-bottom:0px;
	padding-bottom:3px;
	padding-left:4px;
	cursor:hand;
	text-align:left;
}


.iglb_FullstepItemHover
{
	font-size:xx-small;
	margin-top:8px;
	margin-bottom:3px;
	padding-left:4px;
	cursor:hand;
	color:Gray;
	text-align:left;
	text-decoration:underline;
}


.iglb_FullstepItemHover_Exp
{
	font-size:xx-small;
	margin-top:4px;
	margin-bottom:0px;
	padding-bottom:3px;
	padding-left:4px;
	cursor:hand;
	color:Gray;
	text-align:left;
	text-decoration:underline;
}


.iglb_FullstepItemSelected
{
	background-color:Transparent;
	font-weight:bold;
	font-size:xx-small;
	margin-top:8px;
	margin-bottom:3px;
	padding-left:4px;
	cursor:hand;
	color:Gray;
	text-align:left;
}


.iglb_FullstepItemSelected_Exp
{
	background-color:Transparent;
	font-weight:bold;
	font-size:xx-small;
	margin-top:4px;
	margin-bottom:0px;
	padding-bottom:3px;
	padding-left:4px;
	cursor:hand;
	color:Gray;
	text-align:left;
}


