.igmn_FullstepControl
{
	background-color:#F2F2F2;
	background-repeat:repeat-x;
	background-position:bottom ;
	background-image: url(images/dayview_day_header.jpg);
	border:solid 1px WhiteSmoke;
}


.igmn_FullstepIsland
{
	background-color:Gainsboro;
	background-position:bottom ;
	background-image: url(images/addnew.gif);
	border:solid 1px #E1E1E1;
}


.igmn_FullstepItem
{
	background-color:Transparent;
	border:solid 1px Transparent;
	cursor:hand;
}


.igmn_FullstepLeaf
{
	font-weight:normal;
}


.igmn_FullstepParent
{
}


.igmn_FullstepTopLevelLeaf
{
}


.igmn_FullstepTopLevelParent
{
}


.igmn_FullstepHeader
{
}


.igmn_FullstepSeparator
{
	background-color:Yellow;
	color:Black;
}


.igmn_FullstepHover
{
	background-image: url(images/header_hover.jpg);
	border:solid 1px Silver;
	padding-top:8px;
	padding-bottom:9px;
}


.igmn_FullstepTopLevelHover
{
	background-image: url(images/header_hover.jpg);
	border:solid 1px Silver;
	padding-top:8px;
	padding-bottom:9px;
}


.igmn_FullstepTopSelected
{
}


.igmn_FullstepDisabled
{
	font-size:x-small;
	font-family: Verdana;
	color:#D2D2D2;
}


