﻿body
{
}
.igpb_FullstepBaseLabel
{
	text-align:left;
	white-space:nowrap;
	position:absolute;
	padding:2px;
}
.igpb_FullstepBackgroundLabel
{
	color:white;
}
.igpb_FullstepForegroundLabel
{
	color:Black;
}
.igpb_FullstepInnerDiv
{
	height:100%;
	width:100%;
	position:absolute;
	overflow:hidden;
	
}
.igpb_FullstepFill_Horiz
{
	background-image: url(./images/igpb_horizontalFill.gif);
	background-repeat: repeat-x;
	background-color: #A9A9A9;
	background-position:center;
}
.igpb_FullstepFill_Vert
{
	background-image: url(./images/igpb_VerticalFill.gif);
	background-position:center;
	background-repeat: repeat-y;
	background-color: #A9A9A9;
}
.igpb_FullstepBackground_Horiz
{
		background-color:#A9A9A9;
}
.igpb_FullstepBackground_Vert
{
		background-color:#A9A9A9;
}
.igpb_FullstepContainer
{
	height:100%;
	width:100%;
	position:relative;
    border:solid 1px #ACACAC;
	overflow: hidden;
}