.igpnl_FullstepControl
{
}


.igpnl_FullstepPanel
{
	background-color:#FBFBFB;
	background-position:bottom ;
	background-image: url(images/addnew.gif);
	border:solid 1px #F0F0F0;
}


.igpnl_FullstepHeaderExpanded
{
	background-image: url(images/header.jpg);
	font-weight:bold;
	font-size:xx-small;
	font-family: Verdana;
	padding-top:3px;
	padding-bottom:3px;
	cursor:hand;
}


.igpnl_FullstepHeaderCollapsed
{
}


.igpnl_FullstepHeaderHover
{
	background-image: url(images/header_hover.jpg);
}


.igpnl_FullstepGroupBoxControl
{
	background-position:bottom ;
	background-image: url(images/addnew.gif);
}


