﻿.igr_FullstepControl
{
    outline: none;
	border : 0px none;
	background:transparent;
}

.igr_FullstepEmptyContainer
{
    overflow : hidden;
}

.igr_FullstepSelectedContainer
{
    position : relative;
    overflow : hidden;
    white-space : nowrap;
}

.igr_FullstepHoveredContainer
{
    position : relative;
    overflow : hidden;
    white-space : nowrap;
}

.igr_FullstepImageSpan
{
    display : inline-block;
    width: 20px;
    height: 20px;
}

.igr_FullstepImageSpanVert
{
    display : block;
    width: 20px;
    height: 20px;
}

.igr_FullstepEmptyImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: 0px 0px;
}

.igr_FullstepSelectedImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -50px 0px;
}

.igr_FullstepHoveredImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -25px 0px;
}
/*
    These were added for our clients to control the disabled appearence
*/

.igr_FullstepDisabledEmptyImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -75px 0px;
}

.igr_FullstepDisabledSelectedImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -100px 0px;
}

.igr_FullstepControlFocus
{
    border : 0px none;
}

.igr_FullstepControlDisabled
{
}