.igsli_FullstepControl
{
	overflow:hidden;
	border: none;
	background: transparent;
}
.igsli_FullstepTicksHolderT
{
	position:relative;
	width:100%;
	font-size:1px;
	height:5px;
	border-bottom:0px solid blue;
	margin-bottom:2px;
}
.igsli_FullstepTicksHolderB
{
	position:relative;
	width:100%;
	font-size:1px;
	height:5px;
	border-top:0px solid blue;
	margin-top:2px;
}
.igsli_FullstepTickMinorT
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #A9A9A9;
	margin-top:2px;
	height:3px;
}
.igsli_FullstepTickMajorT
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #000000;
	height:5px;
}
.igsli_FullstepTickLastT
{
	width:1px;
	margin-left:-1px;
}
.igsli_FullstepTickMinorB
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #A9A9A9;
	height:3px;
}
.igsli_FullstepTickMajorB
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #000000;
	height:5px;
}
.igsli_FullstepTickLastB
{
	width:1px;
	margin-left:-1px;
}
.igsli_FullstepMarginH
{
	width:10px;
	font-size:1px;
	height:100%;
}
.igsli_FullstepLabelsHolderH
{
	position:relative;
	width:100%;
	font-family:verdana;
	font-size:10px;
	
}
/* it should be after margin */
/* if labels are on edges, then position and margin are disabled by inline style */
.igsli_FullstepLabelEdgeH
{
	overflow:hidden;
	text-align:center;
	width:26px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
	color: #333333;
}
.igsli_FullstepLabelT
{
	position:absolute;
	overflow:hidden;
	text-align:center;
	margin-left:-23px;
	width:46px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
	color: #333333; 
}
.igsli_FullstepLabelB
{
	position:absolute;
	overflow:hidden;
	text-align:center;
	margin-left:-23px;
	width:46px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
	color: #333333;
}
.igsli_FullstepTrackH
{
	position:relative;
	text-align:left;
	margin-left:-1px;
	border:1px solid #D2D2D2;
	background:#F7F7F7;
	width:100%;
	font-size:1px;
	height:2px;
}
.igsli_FullstepTrackValueH
{
	position:absolute;
	background:#999999;
	height:2px;
}
.igsli_FullstepTrackValue2H
{
	position:absolute;
	background:#696969;
	height:2px;
}
.igsli_FullstepButton
{
	margin:2px;
	cursor:pointer;
}
.igsli_FullstepThumbsHolderH
{
	position:relative;
	z-index:1;
	font-size:1px;
	width:100%;
}
.igsli_FullstepThumbH
{
	position:absolute;
	margin-left:-3px;
	margin-top:-12px;
	cursor: hand;
	z-index:2;
}
.igsli_FullstepValueLabel
{
	white-space:nowrap;
	overflow:hidden;
	font-family:verdana;
	font-size:10px;
	text-align:center;
	width:46px;
	color: #808080;
}
.igsli_FullstepValueLabelFloatT
{
	position:absolute;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	overflow:visible;
	width: auto;
	min-width: 28px;
	margin-left:-23px;
	margin-top:-31px;
	color: #808080;
	padding-left:1px;
	padding-right: 1px;
}
.igsli_FullstepValueLabelFloatB
{
	position:absolute;
	overflow:visible;
	width: auto;
	min-width: 28px;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	margin-left:-23px;
	margin-top:10px;
	color: #808080;
	padding-left:1px;
	padding-right: 1px;
}

.igsli_FullstepTicksHolderL
{
	position:relative;
	height:100%;
	font-size:1px;
	width:5px;
	border-right:0px solid blue;
	text-align:left;
	margin-right:2px;
}
.igsli_FullstepTicksHolderR
{
	position:relative;
	height:100%;
	font-size:1px;
	width:5px;
	border-left:0px solid blue;
	text-align:left;
	margin-left:2px;
}
.igsli_FullstepTickMinorL
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #A9A9A9;
	margin-left:2px;
	width:3px;
}
.igsli_FullstepTickMajorL
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #000000;
	width:5px;
}
.igsli_FullstepTickLastL
{
	height:1px;
	margin-top:-1px;
}
.igsli_FullstepTickMinorR
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #A9A9A9;
	width:3px;
}
.igsli_FullstepTickMajorR
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #000000;
	width:5px;
}
.igsli_FullstepTickLastR
{
	height:1px;
	margin-top:-1px;
}
.igsli_FullstepMarginV
{
	height:10px;
	font-size:1px;
}
/* it should be after margin */
/* if labels are on edges, then position and margin are disabled by inline style */
.igsli_FullstepLabelEdgeV
{
	overflow:hidden;
	white-space:nowrap;
	width:auto;
	height:14px;
	font-family:verdana;
	font-size:10px;
	text-align:center;
	color: #333333;
}
.igsli_FullstepLabelL
{
	position:absolute;
	overflow:hidden;
	white-space:nowrap;
	width:40px;
	height:14px;
	margin-top:-7px;
	margin-left: -25px;
	font-family:verdana;
	font-size:10px;
	text-align:right;
	color: #333333;
}
.igsli_FullstepLabelR
{
	position:absolute;
	overflow:hidden;
	white-space:nowrap;
	width:40px;
	height:14px;
	margin-top:-7px;
	margin-left: 5px;
	font-family:verdana;
	font-size:10px;
	color: #333333;
}
.igsli_FullstepLabelsHolderV
{
	position:relative;
	text-align:left;
	height:100%;
	font-family:verdana;
	font-size:10px;
	width:20px;
}
.igsli_FullstepTrackV
{
	position:relative;
	text-align:left;
	margin-top:-1px;
	border:1px solid #D2D2D2;
	background:#F7F7F7;
	height:100%;
	font-size:1px;
	width:5px;
}
.igsli_FullstepTrackValueV
{
	position:absolute;
	background:#999999;
	width:100%;
}
.igsli_FullstepTrackValue2V
{
	position:absolute;
	background:#696969;
	width:100%;
}
.igsli_FullstepThumbsHolderV
{
	position:relative;
	z-index:1;
	font-size:1px;
	height:100%;
}
.igsli_FullstepThumbV
{
	position:absolute;
	margin-left:-13px;
	margin-top:-4px;
	z-index:2;
}
.igsli_FullstepValueLabelFloatL
{
	position:absolute;
	overflow:visible;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	text-align:right;
	margin-top:-7px;	
	margin-left:-46px;
	width:auto;
	min-width: 28px;
	color: #808080;
	padding-left: 1px;
	padding-right: 1px;
}
.igsli_FullstepValueLabelFloatR
{
	position:absolute;
	overflow:visible;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	text-align:left;
	margin-left:8px;
	margin-top:-7px;
	min-width: 28px;
	width: auto;
	color: #808080;
	padding-left: 1px;
	padding-right: 1px;
}
.igsli_FullstepValueLabelFloatHover
{
	filter:alpha(opacity:100);
	opacity:1;
}
/* applied to control when it has focus and when rounded corners are disabled */
.igsli_FullstepFocus
{
}
/* applied to control when mouse moved over it and when rounded corners are disabled */
.igsli_FullstepHover
{
}
/* applied to control when it is disabled and when rounded corners are disabled */
.igsli_FullstepDisabled
{
	background:#C0C0C0;
}
/* applied to track bar when control focus and when rounded corners of track are disabled */
.igsli_FullstepTrackFocus
{
}
/* applied to track bar when mouse is moved over control and when rounded corners of track are disabled */
.igsli_FullstepTrackHover
{
}
/* applied to track bar when control is disabled and when rounded corners of track are disabled */
.igsli_FullstepTrackDisabled
{
	background:#A0A0A0;
}
/* applied to left edge of horizontal track bar */
.igsli_FullstepTrackEdgeL
{
	position:absolute;
	width:6px;
	height:100%;
	top:0px;
	left:-5px;
	background:url(none);
}
/* applied to right edge of horizontal track bar */
.igsli_FullstepTrackEdgeR
{
	position:absolute;
	width:7px;
	height:100%;
	top:0px;
	left:100%; 
	background:url(none) top right;
}
/* applied to top edge of vertical track bar */
.igsli_FullstepTrackEdgeT
{
	position:absolute;
	width:100%;
	height:0px;
	top:-0px;
	left:0px;
	background:url(none);
}
/* applied to left edge of vertical track bar */
.igsli_FullstepTrackEdgeB
{
	position:absolute;
	width:100%;
	height:0px;
	top:100%;
	left:0px;
	background:url(none) left bottom;
}
/* applied to left edge of horizontal track bar when TrackValue is enabled */
.igsli_FullstepTrackValueEdgeL
{
	background:url(none);
}
/* applied to bottom edge of vertical track bar when TrackValue is enabled */
.igsli_FullstepTrackValueEdgeB
{
	background:url(none);
}
