.igspell_FullstepWrapper
{
	background-repeat:no-repeat;
	background-image: url(images/Fullstep.jpg);
	font-size:x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:5px;
	position: relative;
	width: 100%;
	height: 100%;
}


.igspell_FullstepDocumentTextPanel
{
	background-color:White;
	border:solid 1px #CCCCCC;
	position: absolute;
	height: 85px;
	width: 230px;
	left: 10px;
	top: 76px;
	overflow: auto;
}


.igspell_FullstepButton
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-image: url(images/button_bg.jpg);
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 95px;
	height: 21px;
	position: absolute;
	left: 250px;
	cursor:hand;
}


.igspell_FullstepChangeToBox
{
	border:solid 1px #CCCCCC;
	position: absolute;
	left: 10px;
	top: 197px;
	width: 230px;
	height: 25px;
}


.igspell_FullstepSuggestions
{
	border:solid 1px #CCCCCC;
	position: absolute;
	left: 10px;
	top: 262px;
	width: 340px;
	height: 109px;
}


.igspell_FullstepLabel
{
	font-weight:bold;
	font-size:xx-small;
	margin-bottom:2px;
	position: absolute;
	left: 10px;
	color:#151C55;
}


.igspell_FullstepBadWord
{
	border-bottom:solid 1px Red;
}


.igspell_FullstepIgnoreButton
{
	top: 76px;
}


.igspell_FullstepIgnoreAllButton
{
	top: 102px;
}


.igspell_FullstepChangeButton
{
	top: 197px;
}


.igspell_FullstepChangeAllButton
{
	top: 223px;
}


.igspell_FullstepFinishButton
{
	top: 374px;
}


.igspell_FullstepAddButton
{
	top: 128px;
}


.igspell_FullstepChangeToLabel
{
	top: 180px;
	color:#1E1E1E;
}


.igspell_FullstepSuggestionsLabel
{
	top: 246px;
	color:#1E1E1E;
}


.igspell_FullstepNotFoundLabel
{
	top: 10px;
}


