.ig_FullstepControl
{
	background-color:White;
	font-size:12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color:Black;
}


.ig_FullstepItem
{
	background-color:White;
	font-size:12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	padding-left:1px;
}


.ig_FullstepButton
{
	cursor:hand;
}


.ig_FullstepButtonHover
{
}


.ig_FullstepButtonPressed
{
}


.ig_FullstepButtonDisabled
{
}


.ig_FullstepHover
{
}


.ig_FullstepSelected
{
}


.ig_FullstepDisabled
{
}


.ig_FullstepHeader
{
}


.ig_FullstepFooter
{
}


.ig_FullstepEditWithButtons
{
}


.ig_FullstepEdit
{
}


.ig_FullstepEditInContainer
{
}


.ig_FullstepAlt
{
	border-top:solid 1px #D3D3D3;
	border-right:solid 0px #FFFFFF;
	border-bottom:solid 1px #D3D3D3;
	border-left:solid 0px #FFFFFF;
}


.ig_FullstepDropDown
{
}


.ig_FullstepEditSelected
{
}


Body
{
}


.ms-WPBody .igmc_FullstepControl TD
{
	background-color: inherit;
	font-style:inherit;
	font-size:xx-small;
	border-style:inherit;
}


.ms-WPBody .igte_FullstepEditWithButtons TD
{
	background-color:Transparent;
	font-size:1px;
	border-bottom-style:none;
}


.ms-WPBody .igdw_FullstepControl TD
{
	background-color:White;
}


.ms-WPBody .igmc_FullstepControl TABLE
{
	font-style:inherit;
	font-size:xx-small;
}


.ms-WPBody .igte_FullstepEditWithButtons TABLE
{
	font-size:1px;
}


.ms-wpbody .ig_FullstepControl table
{
	font-style:inherit;
	font-size:xx-small;
	border-collapse:Separate;
}


.ms-wpbody .ig_FullstepControl td
{
	background-color: inherit;
	font-style:inherit;
	font-size:xx-small;
	border-bottom-style:none;
}

.ie7_DisplayInlineFix { display: inline-block; }
.ie7_DisplayInlineFix { display: inline; }



