.igspl_FullstepControl
{
	border:solid 1px #CCCCCC;
}


.igspl_FullstepPane
{
	background-color:White;
	background-repeat:repeat-x;
}


.igspl_FullstepVSplitBar
{
	background-color:#707070;
	background-repeat:repeat-y;
	background-position:center ;
	background-image: url(./images/igspl_splitVert.gif);
	font-size:1px;
	border-top:solid 0px #909090;
	border-bottom:solid 0px #606060;
	border-right-width:0px;
	border-left-width:0px;
	cursor:e-resize;
}


.igspl_FullstepHSplitBar
{
	background-color:#CCCCCC;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHoriz.gif);
	font-size:1px;
	border-top-width:0px;
	border-bottom-width:0px;
	height: 30px;
	cursor:n-resize;
}


.igspl_FullstepVSplitBarHover
{
	background-image: url(./images/igspl_splitVertHover.gif);
}


.igspl_FullstepHSplitBarHover
{
	background-repeat:repeat-x;
	background-image: url(./images/igspl_splitHorizHover.gif);
}


.igspl_FullstepVSplitBarPressed
{

}


.igspl_FullstepHSplitBarPressed
{
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHorizPressed.gif);
}


.igspl_FullstepHSplitBarShadow
{
	background-image: url(./images/igspl_splitHorizHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_FullstepVSplitBarShadow
{
	background-image: url(./images/igspl_splitVertHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_FullstepVSplitBarShadowLimit
{
	background-color:Yellow;
	border-style:solid;
}


.igspl_FullstepHSplitBarShadowLimit
{
	background-color:Yellow;
	border-style:solid;
}


.igspl_FullstepCollapseSplitBarButton
{
	background-color:#E0E0E0;
	cursor:pointer;
}


.igspl_FullstepHSplitBarHeight
{
	height: 6px;
}


.igspl_FullstepVSplitBarWidth
{
	width: 6px;
}


