.igte_FullstepEditWithButtons
{
	font-size: 10px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: #FFFFFF;
	line-height:1px;
	height:20px;
	width: 130px;
	border:solid 1px #999999;
}


.igte_FullstepEdit
{
	font-size: 12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: #FFFFFF;
	border:solid 1px #999999;
	outline:0;
}

.igte_FullstepTextArea
{
	font-size: 12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: #FFFFFF;
	border:solid 1px #999999;
	outline:0;
	resize:none;
}

.igte_FullstepEditInContainer
{
	font-size: 12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: Transparent;
	border-width:0px;
	outline:0;
}
.igte_FullstepEditInContainer::-ms-clear{
    display:none;
}

.igte_FullstepFocus
{
	background-image: none;
	background-color: #FFFFFF;
	border-color: #AAAAAA;
}


.igte_FullstepHover
{
	border-color: #AAAAAA;
}

.igte_FullstepButtonSize
{
	width:15px;
	height:100%;
}

.igte_FullstepButton
{
	background-color: #C0C0C0;
	background-image: url(images/igte_spinbuttonbg.gif);
	background-repeat: repeat-x;
	line-height:normal;
	border:solid 1px #999999;
	cursor: pointer;
}

.igte_FullstepButtonFocus
{
}

.igte_FullstepNullText
{
	color: #666666;
}
 
.igte_FullstepButtonHover
{
	background-color: #BBBBBB;
	background-image: url(images/igte_spinbuttonbghover.gif);
}


.igte_FullstepButtonPressed
{
	background-color: #F1F1F1;
	background-image: url(images/igte_spinbuttonbgpressed.gif);
}


.igte_FullstepButtonDisabled
{
	background-image: none;
	background-color: #CCCCCC;
}

.igte_FullstepButtonImg
{
}