.igtb_FullstepControl
{
	background-color:#F2F2F2;
	background-repeat:repeat-x;
	background-position:bottom ;
	background-image: url(images/dayview_day_header.jpg);
	border:solid 1px WhiteSmoke;
}


.igtb_FullstepItem
{
	background-color:Transparent;
}


.igtb_FullstepButton
{
	background-color:Transparent;
	border:solid 1px Transparent;
	padding-left:7px;
}


.igtb_FullstepButtonHover
{
	background-image: url(images/header_hover.jpg);
	border:solid 1px Gainsboro;
	padding-left:7px;
}


.igtb_FullstepButtonPressed
{
}


.igtb_FullstepLabel
{
}


.igtb_FullstepTextBox
{
	background-color:White;
}


.igtb_FullstepSeparator
{
	background-color:Transparent;
}


.igtb_FullstepButtonDisabled
{
}


