.igtr_FullstepControl
{
	border-width:0px;
	color:Black;
}


.igtr_FullstepIsland
{
}


.igtr_FullstepNode
{
	cursor:hand;
	color:Black;
}


.igtr_FullstepParent
{
}


.igtr_FullstepLeaf
{
}


.igtr_FullstepEdit
{
}


.igtr_FullstepRoot
{
	font-weight:bold;
	cursor:hand;
}


.igtr_FullstepHover
{
	color:Black;
	text-decoration:underline;
}


.igtr_FullstepSelected
{
	background-color:#E5E5E6;
	color:Black;
}


.igtr_FullstepDisabled
{
	color:#E1E1E1;
}


