.igtxt_FullstepEditWithButtons
{
	background-color:#F0F0F0;
	font-family:Verdana;
	font-size:10px;
	line-height:1px;
	height:20px;
	width:130px;
	border:solid 1px #C0C0C0;
}


.igtxt_FullstepEdit
{
	background-color:#F0F0F0;
	border:solid 1px Gainsboro;
	outline:0;
}

.igtxt_FullstepTextArea
{
	background-color:#F0F0F0;
	border:solid 1px Gainsboro;
	font-family:arial;
	font-size:12px;
	outline:0;
}

.igtxt_FullstepEditInContainer
{
	background-color:#F0F0F0;
	border-width:0px;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	outline:0;
}

.igtxt_FullstepFocus
{
	border-color:#C0C080;
}

.igtxt_FullstepButtonSize
{
	width:15px;
	height:100%;
}

.igtxt_FullstepButton
{
	background-color:#A5A5A5;
	line-height:normal;
	border:solid 1px Gainsboro;
}

.igtxt_FullstepButtonFocus
{
	background-color:#F0F0B0;
}

.igtxt_FullstepButtonHover
{
	background-color:#C3C3C3;
	border:solid 1px Gainsboro;
}


.igtxt_FullstepButtonPressed
{
	background-color:#BBBCBE;
	border:solid 0px White;
}


.igtxt_FullstepButtonDisabled
{
	background-color:#F0F0F0;
	border:solid 1px White;
}


