.igtab_FullstepTHControl
{
	overflow:hidden;
}
.igtab_FullstepTHContentHolder
{
	border:1px solid #999999;
	border-top-width:0px;
	height:80%;
	overflow:hidden;
	position:relative;
	background:#FFFFFF;
}
.igtab_FullstepTHContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_FullstepTHHolderNoScroll
{
	position:relative;
	width:100%;
}
.igtab_FullstepTHHolder
{
	background:url(./images/igtab_HolderBorder.gif) repeat-x bottom left;
	position:relative;
	display:block;
	height:23px;
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
}
.igtab_FullstepTHRoundedForHolder
{
	background:none;
	margin-left:5px;
	height:22px;
}
.igtab_FullstepTHHolderScroll
{
	position:relative;
	width:100%;
	margin-left:-45px;
	display:block;
	overflow:hidden;
}
.igtab_FullstepTHHolderScrollInner
{
	position:relative;
	display:block;
	width:9999px;
	left:45px;
}
.igtab_FullstepTHScrollButtons
{
	font-size:1px;
	position:absolute;
	left:100%;
	display:block;
	margin-left:-45px;
	width:45px;
	z-index:20000;
	text-align:right;
	padding-top:2px;
}
.igtab_FullstepTHRoundedForScroll
{
	margin-left:-66px;
}
.igtab_FullstepTHImage
{
	vertical-align:middle;
}
.igtab_FullstepTHClose
{
	position:absolute;
	left:100%;
	margin-left:-20px;
	margin-top:6px;
	top:0px;
	cursor: pointer;
}
.igtab_FullstepTHScrollButton
{
	padding:1px;
}
.igtab_FullstepTHText
{
	vertical-align:middle;
	padding:0px 1px 0px 1px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	border:0px;
	line-height:22px;
	cursor:default;
}
.igtab_FullstepTHCenter
{
	padding:0px 1px 0px 1px;
	display:block;
	position:relative;
	background:url(./images/igtab_THCenter.gif) repeat-x;
    background-color:#f0f0f0;
	white-space:nowrap;
	text-align:center;
	font:22px sans-serif;
	line-height:22px;
	overflow:hidden;
}
.igtab_FullstepTHCloseSize
{
	padding-right:20px;
}
.igtab_FullstepTHTail
{
	background: transparent url(./images/igtab_THRight.gif) no-repeat;
	background-position: top right;
	padding-left:0px;
	padding-right:7px;
	display:block;
	margin: 0px;
	height:100%;
}
.igtab_FullstepTHTab
{
	display:inline;
	position:relative;
	padding-left:21px;
	float:left;
	background: transparent url(./images/igtab_THLeft.gif) top left no-repeat;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
	border-bottom:1px solid #999999;
	height:22px;
}
.igtab_FullstepTHOverlap
{
	margin-left:-15px;
}
.igtab_FullstepTHRoundedLastTab
{
	margin-right:10px;
}
.igtab_FullstepTHTextHov
{
	color: #ab0020;
}
.igtab_FullstepTHCenterHov
{
	background-position: 0px -50px;
	background-color: #0fc3ff;
}
.igtab_FullstepTHTailHov
{
	background: transparent url(./images/igtab_THRightHov.gif) no-repeat;
	background-position: top right;
}
.igtab_FullstepTHTabHov
{
	background-position: 0px -27px;
}

.igtab_FullstepTHTextSel
{
}
.igtab_FullstepTHCenterSel
{
	background-position: 0px -100px;
}
.igtab_FullstepTHTailSel
{
	background: transparent url(./images/igtab_THRightSel.gif) no-repeat;
	background-position: top right;
}
.igtab_FullstepTHTabSel
{
	background-position: 0px -54px;
}
.igtab_FullstepTHTextAct
{
	border:1px dotted #000;
	padding:0px;
}
.igtab_FullstepTHCenterAct
{
}
.igtab_FullstepTHTailAct
{
}
.igtab_FullstepTHTabAct
{
}
.igtab_FullstepTHTextDis
{
	color:#AAAAAA;
}
.igtab_FullstepTHCenterDis
{
	background-position: 0px -150px;
	background-color:#CCCCCC;
}
.igtab_FullstepTHTailDis
{
	background-image:url(./images/igtab_THRightDis.gif);
}
.igtab_FullstepTHTabDis
{
	background-position: 0px -81px;
}
.igtab_FullstepTHTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_FullstepTHTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}

.igtab_FullstepTHRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_FullstepTHRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_FullstepTHRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_FullstepTHRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}









.igtab_FullstepTVControl
{
	overflow:hidden;
}
.igtab_FullstepTVContentHolder
{
	border:1px solid #999999;
	border-top-width:0px;
	height:50%;
	overflow:hidden;
	position:relative;
	background:#FFFFFF;
}
.igtab_FullstepTVContent
{
	height:100%;
	position:relative;
	background: #EFEFEF;
}
.igtab_FullstepTVHolderNoScroll
{
	display:block;
	position:relative;
	width:100%;
}
.igtab_FullstepTVHolder
{
	background:url(./images/igtab_HolderBorder.gif) repeat-x bottom left;
	position:relative;
	display:block;
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
}
.igtab_FullstepTVRoundedForHolder
{
	background:none;
	margin-left:5px;
}
.igtab_FullstepTVHolderScroll
{
	position:relative;
	width:100%;
	margin-left:-45px;
	display:block;
	overflow:hidden;
}
.igtab_FullstepTVHolderScrollInner
{
	position:relative;
	display:block;
	width:9999px;
	left:45px;
}
.igtab_FullstepTVScrollButtons
{
	font-size:1px;
	position:absolute;
	left:100%;
	top:100%;
	display:block;
	margin-left:-45px;
	margin-top:-33px;
	width:45px;
	z-index:20000;
	text-align:right;
	padding-top:2px;
}
.igtab_FullstepTVRoundedForScroll
{
	margin-left:-66px;
}
.igtab_FullstepTVImage
{
	margin-left:10%;
	display:block;
}
.igtab_FullstepTVClose
{
	position:absolute;
	left:100%;
	top:100%;
	margin-left:-24px;
	margin-top:-14px;
	cursor: pointer;
}
.igtab_FullstepTVScrollButton
{
	padding:1px;
}
.igtab_FullstepTVText
{
	margin-top:5px;
	margin-bottom:6px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	border:0px;
	line-height:11px;
	display:block;
	text-align:center;
	overflow:hidden;
	margin-left:5px;
	width:20px;
	cursor:default;
}
.igtab_FullstepTVCenter
{
	padding-top:5px;
	display:block;
	position:relative;
	overflow:hidden;
}
.igtab_FullstepTVCloseSize
{
	padding-bottom:14px;
}
.igtab_FullstepTVMirrorCenter
{
	background:url(./images/igtab_TVRight.gif) top right repeat-y;
	display:block;
	margin-top:12px;
	width:100%;
	height:100%;
}
.igtab_FullstepTVMirror
{
	background:url(./images/igtab_TVRightTop.gif) top right no-repeat;
	display:block;
	position:absolute;
	margin-left:8px;
	width:26px;
	height:100%;
}
.igtab_FullstepTVTail
{
	background:url(./images/igtab_TVLeft.gif) repeat-y;
	padding:0px;
	display:block;
	position:absolute;
	width:12px;
	margin-top:12px;
	height:100%;
}
.igtab_FullstepTVTab
{
	display:inline;
	position:relative;
	padding:0px;
	float:left;
	background:transparent url(./images/igtab_TVLeftTop.gif) no-repeat;
	margin:0px;
	overflow:hidden;
	width:34px;
	border-bottom:1px solid #999999;
}
.igtab_FullstepTVOverlap
{
	margin-left:-4px;
}
.igtab_FullstepTVRoundedLastTab
{
	margin-right:10px;
}
.igtab_FullstepTVTextHov
{
}
.igtab_FullstepTVCenterHov
{
}
.igtab_FullstepTVMirrorCenterHov
{
	background-image:url(./images/igtab_TVRightHov.gif);
}
.igtab_FullstepTVMirrorHov
{
	background-image:url(./images/igtab_TVRightTopHov.gif);
}
.igtab_FullstepTVTailHov
{
	background-position: -50px 0px;
}
.igtab_FullstepTVTabHov
{
	background-position: 0px -17px;
}
.igtab_FullstepTVTextSel
{
}
.igtab_FullstepTVCenterSel
{
}
.igtab_FullstepTVMirrorCenterSel
{
	background-image:url(./images/igtab_TVRightSel.gif);
	background-color:#C4C4C4;
}
.igtab_FullstepTVMirrorSel
{
	background-image:url(./images/igtab_TVRightTopSel.gif);
}
.igtab_FullstepTVTailSel
{
	background-position: -100px 0px;
}
.igtab_FullstepTVTabSel
{
	background-position: 0px -34px;
}
.igtab_FullstepTVTextAct
{
	margin-left:4px;
	border:1px dotted #000;
}
.igtab_FullstepTVCenterAct
{
}
.igtab_FullstepTVMirrorCenterAct
{
}
.igtab_FullstepTVMirrorAct
{
}
.igtab_FullstepTVTailAct
{
}
.igtab_FullstepTVTabAct
{
}
.igtab_FullstepTVTextDis
{
	color:#AAAAAA;
}
.igtab_FullstepTVCenterDis
{
}
.igtab_FullstepTVMirrorCenterDis
{
	background-image:url(./images/igtab_TVRightDis.gif);
}
.igtab_FullstepTVMirrorDis
{
	background-image:url(./images/igtab_TVRightTopDis.gif);
}
.igtab_FullstepTVTailDis
{
	background-position: -150px 0px;
}
.igtab_FullstepTVTabDis
{
	background-position: 0px -51px;
}
.igtab_FullstepTVTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_FullstepTVTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_FullstepTVRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_FullstepTVRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_FullstepTVRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_FullstepTVRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}














.igtab_FullstepBHControl
{
	overflow:hidden;
}
.igtab_FullstepBHContentHolder
{
	border:1px solid #999999;
	border-bottom-width: 0px;
	height:60%;
	overflow:hidden;
	position:relative;
	background:#FFFFFF;
}
.igtab_FullstepBHContent
{
	height:100%;
	background: #EFEFEF;
	position:relative;
}
.igtab_FullstepBHHolderNoScroll
{
	display:block;
	position:relative;
	width:100%;
}
.igtab_FullstepBHHolder
{
	background:url(./images/igtab_HolderBorder.gif) repeat-x;
	position:relative;
	display:block;
	height:23px;
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
}
.igtab_FullstepBHRoundedForHolder
{
	background:none;
	margin-left:5px;
	height:22px;
}
.igtab_FullstepBHHolderScroll
{
	position:relative;
	width:100%;
	margin-left:-45px;
	display:block;
	overflow:hidden;
}
.igtab_FullstepBHHolderScrollInner
{
	position:relative;
	display:block;
	width:9999px;
	left:45px;
}
.igtab_FullstepBHScrollButtons
{
	font-size:1px;
	position:absolute;
	left:100%;
	display:block;
	margin-left:-45px;
	width:45px;
	z-index:20000;
	text-align:right;
	padding-top:2px;
}
.igtab_FullstepBHRoundedForScroll
{
	margin-left:-66px;
}
.igtab_FullstepBHImage
{
	vertical-align:middle;
}
.igtab_FullstepBHClose
{
	position:absolute;
	left:100%;
	margin-left:-20px;
	margin-top:5px;
	top:0px;
	cursor: pointer;
}
.igtab_FullstepBHScrollButton
{
	padding:1px;
}
.igtab_FullstepBHText
{
	vertical-align:middle;
	padding:0px 1px 0px 1px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	border:0px;
	line-height:22px;
	cursor:default;
}
.igtab_FullstepBHCenter
{
	padding:0px 1px 0px 1px;
	display:block;
	position:relative;
	/* do not use position-y:bottom, because of IE7 bugs: if tab has IMG, then background is shifted by 1-3 pixels down. */
	background:url(./images/igtab_BHCenter.gif) top left repeat-x;
	background-color:#f0f0f0;
	white-space:nowrap;
	text-align:center;
	font:22px sans-serif;
	line-height:22px;
	overflow:hidden;
}
.igtab_FullstepBHCloseSize
{
	padding-right:20px;
}
.igtab_FullstepBHTail
{
	background:url(./images/igtab_BHRight.gif) top right no-repeat;
	padding-left:0px;
	padding-right:7px;
	display:block;
	height:100%;
}
.igtab_FullstepBHTab
{
	display:inline;
	position:relative;
	padding-left:21px;
	float:left;
	background:transparent url(./images/igtab_BHLeft.gif) top left no-repeat;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
	border-top:1px solid #999999;
	height:22px;
}
.igtab_FullstepBHOverlap
{
	margin-left:-15px;
}
.igtab_FullstepBHRoundedLastTab
{
	margin-right:10px;
}
.igtab_FullstepBHTextHov
{
	color: #FFFFFF;
}
.igtab_FullstepBHCenterHov
{
	background-position: 0px -27px;
	background-color:#0fc3ff;
}
.igtab_FullstepBHTailHov
{
	background-image:url(./images/igtab_BHRightHov.gif);
}
.igtab_FullstepBHTabHov
{
	background-position: 0px -27px;
}
.igtab_FullstepBHTextSel
{
}
.igtab_FullstepBHCenterSel
{
	background-position: 0px -54px;
	background-color:#C4C4C4;
}
.igtab_FullstepBHTailSel
{
	background-image:url(./images/igtab_BHRightSel.gif);
}
.igtab_FullstepBHTabSel
{
	background-position: 0px -54px;
}
.igtab_FullstepBHTextAct
{
	border:1px dotted #000;
	padding:0px;
}
.igtab_FullstepBHCenterAct
{
}
.igtab_FullstepBHTailAct
{
}
.igtab_FullstepBHTabAct
{
}
.igtab_FullstepBHTextDis
{
	color:#AAAAAA;
}
.igtab_FullstepBHCenterDis
{
	background-position: 0px -81px;
	background-color:#cccccc;
}
.igtab_FullstepBHTailDis
{
	background-image:url(./images/igtab_BHRightDis.gif);
}
.igtab_FullstepBHTabDis
{
	background-position: 0px -81px;
}
.igtab_FullstepBHTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_FullstepBHTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_FullstepBHRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_FullstepBHRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_FullstepBHRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_FullstepBHRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundFill.gif);
}















.igtab_FullstepBVControl
{
	overflow:hidden;
}
.igtab_FullstepBVContentHolder
{
	border:1px solid #999999;
	border-bottom-width: 0px;
	height:50%;
	overflow:hidden;
	position:relative;
	background:#FFFFFF;
}
.igtab_FullstepBVContent
{
	height:100%;
	position:relative;
	background: #EFEFEF url(./images/igtab_THContentBackground.jpg) repeat-x;
}
.igtab_FullstepBVHolderNoScroll
{
	display:block;
	position:relative;
	width:100%;
}
.igtab_FullstepBVHolder
{
	background:url(./images/igtab_HolderBorder.gif) repeat-x top left;
	position:relative;
	display:block;
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
}
.igtab_FullstepBVRoundedForHolder
{
	background:none;
	margin-left:5px;
}
.igtab_FullstepBVHolderScroll
{
	position:relative;
	width:100%;
	margin-left:-45px;
	display:block;
	overflow:hidden;
}
.igtab_FullstepBVHolderScrollInner
{
	position:relative;
	display:block;
	width:9999px;
	left:45px;
}
.igtab_FullstepBVScrollButtons
{
	font-size:1px;
	position:absolute;
	left:100%;
	display:block;
	margin-left:-45px;
	margin-top:3px;
	width:45px;
	z-index:20000;
	text-align:right;
	padding-top:2px;
}
.igtab_FullstepBVRoundedForScroll
{
	margin-left:-66px;
}
.igtab_FullstepBVImage
{
	margin-left:10%;
	display:block;
}
.igtab_FullstepBVClose
{
	position:absolute;
	left:100%;
	top:100%;
	margin-left:-24px;
	margin-top:-18px;
	cursor: pointer;
}
.igtab_FullstepBVScrollButton
{
	padding:1px;
}
.igtab_FullstepBVText
{
	margin-top:3px;
	margin-bottom:5px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	border:0px;
	line-height:11px;
	display:block;
	text-align:center;
	overflow:hidden;
	margin-left:5px;
	width:20px;
}
.igtab_FullstepBVCenter
{
	padding-bottom:5px;
	display:block;
	position:relative;
	overflow:hidden;
}
.igtab_FullstepBVCloseSize
{
	padding-bottom:17px;
}
.igtab_FullstepBVMirrorCenter
{
	background:url(./images/igtab_BVRight.gif) top right repeat-y;
	display:block;
	margin-top:-12px;
	width:100%;
	height:100%;
}
.igtab_FullstepBVMirror
{
	background:url(./images/igtab_BVRightBot.gif) bottom right no-repeat;
	display:block;
	position:absolute;
	margin-left:8px;
	width:26px;
	height:100%;
}
.igtab_FullstepBVTail
{
	background:url(./images/igtab_BVLeft.gif) repeat-y;
	padding:0px;
	display:block;
	position:absolute;
	width:12px;
	margin-top:-12px;
	height:100%;
}
.igtab_FullstepBVTab
{
	display:inline;
	position:relative;
	padding:0px;
	float:left;
	background:url(./images/igtab_BVLeftBot.gif) bottom left no-repeat;
	margin:0px;
	overflow:hidden;
	width:34px;
	border-top:1px solid #999999;
}
.igtab_FullstepBVOverlap
{
	margin-left:-4px;
}
.igtab_FullstepBVRoundedLastTab
{
	margin-right:10px;
}
.igtab_FullstepBVTextHov
{
	color: #FFFFFF;
}
.igtab_FullstepBVCenterHov
{
}
.igtab_FullstepBVMirrorCenterHov
{
	background-image:url(./images/igtab_BVRightHov.gif);
}
.igtab_FullstepBVMirrorHov
{
	background-image:url(./images/igtab_BVRightBotHov.gif);
}
.igtab_FullstepBVTailHov
{
	background-position: -50px 0px;
}
.igtab_FullstepBVTabHov
{
	background-image:url(./images/igtab_BVLeftBotHov.gif);
}
.igtab_FullstepBVTextSel
{
}
.igtab_FullstepBVCenterSel
{
}
.igtab_FullstepBVMirrorCenterSel
{
	background-image:url(./images/igtab_BVRightSel.gif);
}
.igtab_FullstepBVMirrorSel
{
	background-image:url(./images/igtab_BVRightBotSel.gif);
}
.igtab_FullstepBVTailSel
{
	background-position: -100px 0px;
}
.igtab_FullstepBVTabSel
{
	background-image:url(./images/igtab_BVLeftBotSel.gif);
}
.igtab_FullstepBVTextAct
{
	margin: 2px 0px 0px 4px;
	border:1px dotted #000;
}
.igtab_FullstepBVCenterAct
{
}
.igtab_FullstepBVMirrorCenterAct
{
}
.igtab_FullstepBVMirrorAct
{
}
.igtab_FullstepBVTailAct
{
}
.igtab_FullstepBVTabAct
{
}
.igtab_FullstepBVTextDis
{
	color:#AAAAAA;
}
.igtab_FullstepBVCenterDis
{
}
.igtab_FullstepBVMirrorCenterDis
{
	background-image:url(./images/igtab_BVRightDis.gif);
}
.igtab_FullstepBVMirrorDis
{
	background-image:url(./images/igtab_BVRightBotDis.gif);
}
.igtab_FullstepBVTailDis
{
	background-position: -150px 0px;
}
.igtab_FullstepBVTabDis
{
	background-image:url(./images/igtab_BVLeftBotDis.gif);
}
.igtab_FullstepBVTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_FullstepBVTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_FullstepBVRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_FullstepBVRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_FullstepBVRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_FullstepBVRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundFill.gif);
}








.igtab_FullstepLVControl
{
	overflow:hidden;
	position:relative;
}
.igtab_FullstepLVContentHolder
{
	background:#FFFFFF;
	border:1px solid #999999;
	height:99%;
	margin-left:24px;
	position:relative;
	overflow:hidden;
	z-index:9;
}
.igtab_FullstepLVContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_FullstepLVHolder
{
	overflow:hidden;
	position:absolute;
	z-index:999;
	left:0px;
	top:0px;
	height:100%;
	width:25px;
}
.igtab_FullstepLVHolderScroll
{	
	top:-47px;
}
.igtab_FullstepLVHolderScrollInner
{
	top:47px;
}
.igtab_FullstepLVRoundedForHolder
{
	top:-6px;
}
.igtab_FullstepLVRoundedForHolderInner
{
	top:12px;
}
.igtab_FullstepLVRoundedForHolderScroll
{
	top:-53px;
}
.igtab_FullstepLVRoundedForHolderScrollInner
{
	top:59px;
}
.igtab_FullstepLVScrollButtons
{
	font-size:1px;
	position:absolute;
	top:100%;
	margin-top:-47px;
	margin-left:5px;	
	z-index:20000; 
	left:0px;
}
.igtab_FullstepLVRoundedForScroll
{
	margin-top:-53px;
}
.igtab_FullstepLVScrollButton
{
	display:block;
	margin-top:2px;
}
.igtab_FullstepLVClose
{
	position:absolute;
	cursor:pointer;
	margin-top:-15px;
	margin-left:6px;
}
.igtab_FullstepLVCloseSize 
{
	padding-bottom:14px;
}
.igtab_FullstepLVImage
{
	vertical-align:middle;
	position:relative;
	display:block;
}
.igtab_FullstepLVText
{
	vertical-align:middle;
	line-height:14px;
	font-family:Verdana;
	font-size:11px;
	display:block;
	padding-left:6px;
	position:relative;
	
	cursor:default;
}
.igtab_FullstepLVCenter
{
	display:block;
	position:relative;
	overflow:hidden;	
	background:url(./images/igtab_LVCenter.gif) repeat-y;
	background-color:#f0f0f0;
	padding-left:3px;
}
.igtab_FullstepLVTail
{
	display:block;
	background:url(./images/igtab_LVBot.gif) bottom left;
	padding-top:3px;
}
.igtab_FullstepLVTab
{
	background:url(./images/igtab_LVTop.gif) no-repeat top left;
	display:block;
	overflow:hidden;
	position:relative;
	padding-top:3px;
	border-right:1px solid #999999;
}
.igtab_FullstepLVOverlap
{
	margin-top:-5px;
}
.igtab_FullstepLVTextHov
{
}
.igtab_FullstepLVCenterHov
{
	background-image:url(./images/igtab_LVCenterHov.gif);
	background-color:#0fc3ff;
}
.igtab_FullstepLVTailHov
{
	background-image:url(./images/igtab_LVBotHov.gif);
}
.igtab_FullstepLVTabHov
{
	background-image:url(./images/igtab_LVTopHov.gif);
	color:#ffffff;
}
.igtab_FullstepLVTextSel
{
}
.igtab_FullstepLVCenterSel
{
	background-image:url(./images/igtab_LVCenterSel.gif);
	background-color:#C4C4C4;
}
.igtab_FullstepLVTailSel
{
	background-image:url(./images/igtab_LVBotSel.gif);
	border-right-color:#C4C4C4;
}
.igtab_FullstepLVTabSel
{
	background-image:url(./images/igtab_LVTopSel.gif);
	border-right-color:#d1d1d1;
}
.igtab_FullstepLVTextAct
{	
	border:1px dotted #000;
}
.igtab_FullstepLVCenterAct
{
}
.igtab_FullstepLVTailAct
{
}
.igtab_FullstepLVTabAct
{
}
.igtab_FullstepLVTextDis
{
}
.igtab_FullstepLVCenterDis
{
	background-image:url(./images/igtab_LVCenterDis.gif);
	background-color:#cccccc;
}
.igtab_FullstepLVTailDis
{
	background-image:url(./images/igtab_LVBotDis.gif);
}
.igtab_FullstepLVTabDis
{
	background-image:url(./images/igtab_LVTopDis.gif);
}
.igtab_FullstepLVTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_FullstepLVTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_FullstepLVRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_FullstepLVRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_FullstepLVRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_FullstepLVRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}



.igtab_FullstepRVControl
{
	overflow:hidden;
	position:relative;
}
.igtab_FullstepRVContentHolder
{
	background:#FFFFFF;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	height:99%;
	margin-left:-24px;
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:9;
}
.igtab_FullstepRVContentHolderInner
{
	border-left:1px solid #999999;
	height:100%;
	margin-left:24px;
	position:relative;
	overflow:hidden;
	z-index:9;
}
.igtab_FullstepRVContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_FullstepRVHolder
{
	overflow:hidden;
	position:absolute;
	z-index:999;
	left:100%;
	top:0px;
	height:100%;
	width:24px;
	margin-left:-24px;
}
.igtab_FullstepRVHolderScroll
{
	top:-47px;
}
.igtab_FullstepRVHolderScrollInner
{
	top:47px;
}
.igtab_FullstepRVRoundedForHolder
{
	top:-6px;
}
.igtab_FullstepRVRoundedForHolderInner
{
	top:12px;
}
.igtab_FullstepRVRoundedForHolderScroll
{
	top:-53px;
}
.igtab_FullstepRVRoundedForHolderScrollInner
{
	top:59px;
}
.igtab_FullstepRVScrollButtons
{
	font-size:1px;
	position:absolute;
	top:100%;	
	z-index:20000;
	left:100%;
	margin-top:-47px;
	margin-left:-22px;
}
.igtab_FullstepRVRoundedForScroll
{
	margin-top:-53px;
}
.igtab_FullstepRVScrollButton
{
	display:block;
	margin-top:2px;
}
.igtab_FullstepRVClose
{
	position:absolute;
	margin-top:-15px;
	margin-left:4px;
	cursor:pointer;
}
.igtab_FullstepRVCloseSize
{
	padding-bottom:14px;
}
.igtab_FullstepRVImage
{
	vertical-align:middle;
	position:relative;
	display:block;
}
.igtab_FullstepRVText
{
	vertical-align:middle;
	line-height:14px;
	font-family:Verdana;
	font-size:11px;
	display:block;
	padding-left:5px;
	width:13px;
	position:relative;
	
	cursor:default;
}
.igtab_FullstepRVCenter
{
	display:block;
	position:relative;
	overflow:hidden;
	background:url(./images/igtab_RVCenter.gif) repeat-y top right;
	background-color:#f0f0f0;
	padding-left:1px;
}
.igtab_FullstepRVTail
{
	display:block;
	background:url(./images/igtab_RVBot.gif) bottom right;
	padding-top:3px;
}
.igtab_FullstepRVTab
{
	background:url(./images/igtab_RVTop.gif) no-repeat top right;
	display:block;
	overflow:hidden;
	position:relative;
	padding-top:3px;
	border-left:1px solid #999999;
}
.igtab_FullstepRVOverlap
{
	margin-top:-5px;
}
.igtab_FullstepRVTextHov
{
}
.igtab_FullstepRVCenterHov
{
	background-image:url(./images/igtab_RVCenterHov.gif);
	background-color:#0fc3ff;
}
.igtab_FullstepRVTailHov
{
	background-image:url(./images/igtab_RVBotHov.gif);
}
.igtab_FullstepRVTabHov
{
	background-image:url(./images/igtab_RVTopHov.gif);
	color:#ffffff;
}
.igtab_FullstepRVTextSel
{
}
.igtab_FullstepRVCenterSel
{
	background-image:url(./images/igtab_RVCenterSel.gif);
	background-color:#C4C4C4;
}
.igtab_FullstepRVTailSel
{
	background-image:url(./images/igtab_RVBotSel.gif);
	border-left-color:#C4C4C4;
}
.igtab_FullstepRVTabSel
{
	background-image:url(./images/igtab_RVTopSel.gif);
	border-left-color:#d1d1d1;
}
.igtab_FullstepRVTextAct
{
	border:1px dotted #000;
}
.igtab_FullstepRVCenterAct
{
}
.igtab_FullstepRVTailAct
{
}
.igtab_FullstepRVTabAct
{
}
.igtab_FullstepRVTextDis
{
}
.igtab_FullstepRVCenterDis
{
	background-image:url(./images/igtab_RVCenterDis.gif);
	background-color:#cccccc;
}
.igtab_FullstepRVTailDis
{
	background-image:url(./images/igtab_RVBotDis.gif);
}
.igtab_FullstepRVTabDis
{
	background-image:url(./images/igtab_RVTopDis.gif);
}
.igtab_FullstepRVTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_FullstepRVTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_FullstepRVRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_FullstepRVRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_FullstepRVRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_FullstepRVRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}







.igtab_FullstepLHControl
{
	overflow:hidden;
	position:relative;
}
.igtab_FullstepLHContentHolder
{
	background:#FFFFFF;
	border:1px solid #999999;
	height:99%;
	left:-1px;
	position:relative;
	overflow:hidden;
	z-index:9;
}
.igtab_FullstepLHContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_FullstepLHHolder
{
	overflow:hidden;
	position:absolute;
	z-index:999;
	left:0px;
	top:0px;
	height:100%;
}
.igtab_FullstepLHHolderScroll
{
	top:-47px;
}
.igtab_FullstepLHHolderScrollInner
{
	top:47px;
}
.igtab_FullstepLHRoundedForHolder
{
	top:-6px;
}
.igtab_FullstepLHRoundedForHolderInner
{
	top:12px;
}
.igtab_FullstepLHRoundedForHolderScroll
{
	top:-53px;
}
.igtab_FullstepLHRoundedForHolderScrollInner
{
	top:59px;
}
.igtab_FullstepLHScrollButtons
{
	font-size:1px;
	position:absolute;
	top:100%;
	margin-top:-47px;
	margin-left:-21px;
	z-index:20000;
}
.igtab_FullstepLHRoundedForScroll
{
	margin-top:-53px;
}
.igtab_FullstepLHScrollButton
{
	display:block;
	margin-top:2px;
}
.igtab_FullstepLHClose
{
	position:absolute;
	left:100%;
	top:12px;
	margin-left:-17px;
	cursor:pointer;
}
.igtab_FullstepLHCloseSize
{
	padding-right:10px;
}
.igtab_FullstepLHImage
{
	vertical-align:middle;
	position:relative;
	margin-top:2px;
}
.igtab_FullstepLHText
{
	vertical-align:middle;	
	line-height:24px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	position:relative;
	cursor:default;
}
.igtab_FullstepLHCenter
{
	display:block;
	background:url(./images/igtab_LHTop.gif) repeat-x;
	background-color:#f0f0f0;
	font:1px verdana;
	line-height:1px;
	height:100%;
}
.igtab_FullstepLHTail
{
	display:block;
	background:url(./images/igtab_LHTopLeft.gif) no-repeat;
	padding-left:10px;
	white-space:nowrap;
	border-right:1px solid #999999;
	height:24px;
}
.igtab_FullstepLHMirror
{
	display:block;
	padding-left:10px;
	background:url(./images/igtab_LHBotLeft.gif) bottom left no-repeat;
	border-right:1px solid #999999;
	height:3px;
}
.igtab_FullstepLHMirrorCenter
{
	display:block;
	background:url(./images/igtab_LHBot.gif) bottom left repeat-x;
	font:1px verdana;
	line-height:1px;
	height:100%;
}
.igtab_FullstepLHTab
{
	display:block;
	overflow:hidden;
	position:relative;
}
.igtab_FullstepLHOverlap
{
	margin-top:-5px;
}
.igtab_FullstepLHTextHov
{
}
.igtab_FullstepLHCenterHov
{
	background-image:url(./images/igtab_LHTopHov.gif);
	background-color:#0fc3ff;
}
.igtab_FullstepLHTailHov
{
	background-image:url(./images/igtab_LHTopLeftHov.gif);
}
.igtab_FullstepLHMirrorHov
{
	background-image:url(./images/igtab_LHBotLeftHov.gif);
}
.igtab_FullstepLHMirrorCenterHov
{
	background-image:url(./images/igtab_LHBotHov.gif);
}
.igtab_FullstepLHTabHov
{
}
.igtab_FullstepLHTextSel
{
}
.igtab_FullstepLHCenterSel
{
	background-image:url(./images/igtab_LHTopSel.gif);
	background-color:#C4C4C4;
}
.igtab_FullstepLHTailSel
{
	background-image:url(./images/igtab_LHTopLeftSel.gif);
	border-right-color:#C4C4C4;
}
.igtab_FullstepLHMirrorSel
{
	background-image:url(./images/igtab_LHBotLeftSel.gif);
	border-right-color:#C4C4C4;
}
.igtab_FullstepLHMirrorCenterSel
{
	background-image:url(./images/igtab_LHBotSel.gif);
}
.igtab_FullstepLHTabSel
{
}
.igtab_FullstepLHTextAct
{
	border:1px dotted blue;
}
.igtab_FullstepLHCenterAct
{
}
.igtab_FullstepLHTailAct
{
}
.igtab_FullstepLHMirrorAct
{
}
.igtab_FullstepLHMirrorCenterAct
{
}
.igtab_FullstepLHTabAct
{
}
.igtab_FullstepLHTextDis
{
}
.igtab_FullstepLHCenterDis
{
	background-image:url(./images/igtab_LHTopDis.gif);
	background-color:#cccccc;
}
.igtab_FullstepLHTailDis
{
	background-image:url(./images/igtab_LHTopLeftDis.gif);
}
.igtab_FullstepLHMirrorDis
{
	background-image:url(./images/igtab_LHBotLeftDis.gif);
}
.igtab_FullstepLHMirrorCenterDis
{
	background-image:url(./images/igtab_LHBotDis.gif);
}
.igtab_FullstepLHTabDis
{
}
.igtab_FullstepLHTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_FullstepLHTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_FullstepLHRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_FullstepLHRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_FullstepLHRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_FullstepLHRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}







.igtab_FullstepRHControl
{
	overflow:hidden;
	position:relative;
}
.igtab_FullstepRHContentHolder
{
	background:#FFFFFF;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	height:99%;
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:9;
}
.igtab_FullstepRHContentHolderInner
{
	border-left:1px solid #999999;
	height:100%;
	position:relative;
	overflow:hidden;
	z-index:9;
}
.igtab_FullstepRHContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_FullstepRHHolder
{
	overflow:hidden;
	position:absolute;
	z-index:999;
	left:100%;
	top:0px;
	height:100%;
}
.igtab_FullstepRHHolderScroll
{
	top:-47px;
}
.igtab_FullstepRHHolderScrollInner
{
	top:47px;
}
.igtab_FullstepRHRoundedForHolder
{
	top:-6px;
}
.igtab_FullstepRHRoundedForHolderInner
{
	top:12px;
}
.igtab_FullstepRHRoundedForHolderScroll
{
	top:-53px;
}
.igtab_FullstepRHRoundedForHolderScrollInner
{
	top:59px;
}
.igtab_FullstepRHScrollButtons
{
	font-size:1px;
	position:absolute;
	top:100%;
	margin-top:-47px;
	z-index:20000;
	left:100%;
}
.igtab_FullstepRHRoundedForScroll
{
	margin-top:-53px;
}
.igtab_FullstepRHScrollButton
{
	display:block;
	margin-top:2px;
	margin-left:3px;
}
.igtab_FullstepRHClose
{
	position:absolute;
	top:12px;
	margin-left:3px;
	cursor:pointer;
}
.igtab_FullstepRHCloseSize
{
	padding-left:10px;
}
.igtab_FullstepRHImage
{
	vertical-align:middle;
	position:relative;
	margin-top:2px;
}
.igtab_FullstepRHText
{
	vertical-align:middle;
	line-height:24px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	position:relative;
	cursor:default;
}
.igtab_FullstepRHCenter
{
	display:block;
	background:url(./images/igtab_RHTop.gif) repeat-x;
	background-color:#f0f0f0;
	line-height:20px;
	font:22px sans-serif;
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
}
.igtab_FullstepRHTail
{
	display:block;
	padding-right:10px;
	background:url(./images/igtab_RHTopRight.gif) top right no-repeat;
	white-space:nowrap;
	border-left:1px solid #999999;
	height:24px;
}
.igtab_FullstepRHMirror
{
	display:block;
	padding-right:10px;
	background:url(./images/igtab_RHBotRight.gif) bottom right no-repeat;
	border-left:1px solid #999999;
	height:3px;
}
.igtab_FullstepRHMirrorCenter
{
	display:block;
	background:url(./images/igtab_RHBot.gif) bottom left repeat-x;
	font:1px verdana;
	line-height:1px;
	height:100%;
}
.igtab_FullstepRHTab
{
	display:block;
	overflow:hidden;
	position:relative;
}
.igtab_FullstepRHOverlap
{
	margin-top:-5px;
}
.igtab_FullstepRHTextHov
{
}
.igtab_FullstepRHCenterHov
{
	background-image:url(./images/igtab_RHTopHov.gif);
	background-color:#0fc3ff;
}
.igtab_FullstepRHTailHov
{
	background-image:url(./images/igtab_RHTopRightHov.gif);
}
.igtab_FullstepRHMirrorHov
{
	background-image:url(./images/igtab_RHBotRightHov.gif);
}
.igtab_FullstepRHMirrorCenterHov
{
	background-image:url(./images/igtab_RHBotHov.gif);
}
.igtab_FullstepRHTabHov
{
}
.igtab_FullstepRHTextSel
{
}
.igtab_FullstepRHCenterSel
{
	background-image:url(./images/igtab_RHTopSel.gif);
	background-color:#C4C4C4;
}
.igtab_FullstepRHTailSel
{
	background-image:url(./images/igtab_RHTopRightSel.gif);
	border-left-color:#C4C4C4;
}
.igtab_FullstepRHMirrorSel
{
	background-image:url(./images/igtab_RHBotRightSel.gif);
	border-left-color:#C4C4C4;
}
.igtab_FullstepRHMirrorCenterSel
{
	background-image:url(./images/igtab_RHBotSel.gif);
}
.igtab_FullstepRHTabSel
{
}
.igtab_FullstepRHTextAct
{
	border:1px dotted blue;
}
.igtab_FullstepRHCenterAct
{
}
.igtab_FullstepRHTailAct
{
}
.igtab_FullstepRHMirrorAct
{
}
.igtab_FullstepRHMirrorCenterAct
{
}
.igtab_FullstepRHTabAct
{
}
.igtab_FullstepRHTextDis
{
}
.igtab_FullstepRHCenterDis
{
	background-image:url(./images/igtab_RHTopDis.gif);
	background-color:#cccccc;
}
.igtab_FullstepRHTailDis
{
	background-image:url(./images/igtab_RHTopRightDis.gif);
}
.igtab_FullstepRHMirrorDis
{
	background-image:url(./images/igtab_RHBotRightDis.gif);
}
.igtab_FullstepRHMirrorCenterDis
{
	background-image:url(./images/igtab_RHBotDis.gif);
}
.igtab_FullstepRHTabDis
{
}
.igtab_FullstepRHRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_FullstepRHRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_FullstepRHRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_FullstepRHRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}