.igwv_FullstepControl
{
	border: 1px solid #9E9E9E;
}


.igwv_FullstepCaptionHeader
{
	background-color:#CECECE;
	background-repeat:repeat-x;
	background-image: url(images/monthview_header.jpg);
	font-weight:bold;
	border:0px;
	line-height: 16pt;
	text-align:center;
	font-weight:bold;
	font-size:8pt;
	padding:3px;
	color:Black;
}


.igwv_FullstepDayHeader
{
	background-color:#CECECE;
	background-repeat:repeat-x;
	background-image: url(images/monthview_header.jpg);
	border-width:0px;
	border-top:solid 1px #9E9E9E;
	border-bottom:solid 1px #9E9E9E;
	font-size:8pt;
	vertical-align: middle;
	text-align: center;
}


.igwv_FullstepDay
{
	background-position:bottom ;
	background-image: url(images/addnew.gif);
	font-size:8pt;
	overflow: hidden;
	cursor: pointer;
}


.igwv_FullstepAppointment
{
	background-color:White;
	font-size:8pt;
	border:solid 1px #999999;
	cursor: pointer;
	margin: 1px;
	padding: 3px;
	overflow: hidden;
}
.igwv_FullstepSelectedAppointment
{
	background-color: #FFFFFF;
	border-color:#AAAAAA;
	font-size:8pt;
	cursor: pointer;
	margin: 1px;
	padding: 3px;
	overflow: hidden;
}

.igwv_FullstepFadedAppointment
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.igwv_FullstepAllDayEvent
{
	background-color: #F5F5F5;
	font-size:8pt;
	border: solid 1px #c0c0c0;
	padding: 3px;
	overflow: hidden;
	text-align:center;
}


.igwv_FullstepNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	vertical-align:middle;
}


.igwv_FullstepDayArea
{
	border-width: 0px;
	border-left: solid 1px #9E9E9E;
}


.igwv_FullstepTodayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/active_day_header.jpg);
	color:#AAAAAA;
	font-weight: bold;
}


.igwv_FullstepToday
{
}


.igwv_FullstepSelectedAppointment
{
	background-color: #FFFFFF;
	border-color:#AAAAAA;
	text-align: center;
}


.igwv_FullstepActiveDayHeader
{
	background-color: #929292;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/header_hover.gif);
	font-weight: bold;
}


.igwv_FullstepActiveDay
{
	background-color:#F1F2F4;
	background-repeat:repeat-x;
	background-position: bottom;
	background-image: url(images/day_bg.gif);
}


.igwv_FullstepResourceButton
{
	background: #d3d3d3;
	border-width: 0;
	border-right: solid 1px #9E9E9E;   
	border-bottom: solid 1px #9E9E9E;
	padding: 4px;
	font-size: 8pt;
	color: #333;
	background-image: url(images/header.gif);
	background-repeat: repeat-x;
}

.igwv_FullstepResourceButton:focus, .igwv_FullstepResourceButtonActive
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igwv_FullstepResourceButton:hover
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igwv_FullstepMultiDayEventArrowLeft
{
      background-image: url(images/igws_arrowLeft.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}

.igwv_FullstepMultiDayEventArrowRight
{
      background-image: url(images/igws_arrowRight.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}