﻿<style>
    #tblAdjs
    {
        border: 1px solid #000;
        border-collapse: collapse;
    }
    #tblAdjs td,#tblAdjs th
    {
        padding:2px;
        border: 1px solid #000;
    }
    
    .proce,.prove   
    {
        column-width:150px; 
    }
    .den   
    {
        column-width:400px; 
    }
    .precio,.mon,.cantidad,.porcen  
    {
            column-width:100px; 
            text-align:right;        
    }
    .Fecha,.Usu
    {
            white-space:nowrap; 
            text-align:left;        
    }
    .Ultimo
    {
            display:none ;
    }
</style>

<div id="popupDetalleAdjudicacion" class="popupCN" style="display:none; position:absolute; z-index:1005; padding:0.5em; boder:0px!important; background-color:transparent!important;">    
    <img id="imgPopUp" style="position:absolute; border: none; top:0; left:0;" src="images/calendar.png" alt=""/>
    <table id="tblInfo" border="0" cellpadding="2" cellspacing="0" class="bordeDesglose" style="width:55%; z-index:1004; top: 15px; left: 10px; height: 174px;background-color:white; ">
        <tr id="filaTitulo" class="CapaTituloPanelInfo">
            <td style="padding-left:70px; height: 30px; text-align:left; vertical-align:bottom">
                <span id="totalLineaAdj" class="TituloPopUpPanelInfo">DTotal línea adjudicado</span>
            </td>
            <td id="cellImagenCerrar" style="float:right; vertical-align:top; height:30px; width:35px;">
                <img id="imgCerrar" src="images/Bt_Cerrar.png" style="border:0px;" alt=""/>
            </td>
        </tr>
        <tr id="filaSubtitulo" class="CapaSubTituloPanelInfo">
            <td colspan="2" style="text-align:left; vertical-align:top">
                <span id="lblSubTitulo" class="SubTituloPopUpPanelInfo" style="padding-left:80px">DDetalle de adjudicaciones</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height:15px; text-align:left; vertical-align:top;"></td>
        </tr>
        <tr>
            <td colspan="2">
                <table id="tblAdjs">
                    <!--Datos insertados desde jsalta.js/showDetalleTotalLineaAdj-->
                </table>
            </td>
        </tr>
    </table>         
</div>
