﻿<div id="popupDetalleArticulo">
    <div style="clear:both; float:left;">
        <div id="pnlInfo">
            <table id="tblInfo" border="0" cellpadding="2" cellspacing="0" style="width:100%; position:absolute; z-index:1004;">
                <tr id="filaTitulo" class="CapaTituloPanelInfo">
                    <td style="padding-left:70px; height: 30px; text-align:left; vertical-align:bottom">
                        <span id="lblTitulo" class="TituloPopUpPanelInfo">DArticulo</span>
                    </td>
                    <td id="cellImagenCerrar" style="position:absolute; left:650px; vertical-align:top; height:30px; width:35px;">
                        <img id="imgCerrar" src="images/Bt_Cerrar.png" style="border:0px;" alt=""/>
                    </td>
                </tr>
                <tr id="filaSubtitulo" class="CapaSubTituloPanelInfo">
                    <td colspan="2" style="text-align:left; vertical-align:top">
                        <span id="lblSubTitulo" class="SubTituloPopUpPanelInfo" style="padding-left:80px">DDetalle de articulo</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height:15px; text-align:left; vertical-align:top;"></td>
                </tr>
                <tr>
                    <td colspan="3" >
                        <div id="datosArticulo" style="clear:both; float:left; padding:10px 10px 0 10px;">
                            <div style="clear:both; float:left;">
                                <span id="lblMaterial" style="font-weight:bold">DMaterial</span>
                                <span id="txtMaterial"></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblCodigo" style="font-weight:bold">DCodigo</span>
                                <span id="txtCodigo"></span>
                            </div>
                            <div style="clear:both; float:left;">
                                <span id="lblDenominacion" style="font-weight:bold">DDenominacion</span>
                                <span id="txtDenominacion"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="tablasUON">
                            <table id="tablaAtributos_0" cellpadding="4" cellspacing="1" class= "tablaUON">
                                <thead>
                                    <tr class="headerNoWrap headerTablaAtrib">
                                        <th style="width: 50%;">
                                            <span id="lblAtributos0">DAtributos</span>
                                        </th>
                                        <th class="Negrita">
                                            <span id="lblUON0">DUON</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                         </div>
                    </td>
                </tr>
            </table>
            <table id="tblImagenPopUp" border="0" cellpadding="2" cellspacing="0" style="background-color:Transparent; 
                position:absolute; z-index:10005;">
                <tr>
                    <td style="text-align:left; vertical-align:top; padding:0px; width:80px; height:60px;">
                        <img id="imgPopUp" style="border: none;" src="images/calendar.png" alt=""/>
                    </td>
                </tr>
            </table>
        </div>        
    </div>
</div>