<style type="text/css">

.menu {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #FFFFFF; text-decoration: none}
.titulo {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 9px; font-style: bold; font-weight: bolder; color: #E1293E; text-decoration: none}
.subtitulo {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: bold; color: #000000; text-decoration: none}
.textos {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none}
.textosBL {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #FFFFFF; text-decoration: none}
.formulario {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #9C9A9C; text-decoration: none}
.subtextos {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #666666; text-decoration: none}
a:link {font-size: 10px; text-decoration:none;color:#FF0000}
a:visited {font-size: 9px; text-decoration:none;color:#666666}
a:active {font-size: 10px; text-decoration:none;color:#999999}
a:hover {  font-size: 10px;color: #000000; text-decoration: none}
.textosgris {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;color: #999999;}
a.textosgris:link {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;color: #ff0000; font-weight:bold}
a.textosgris:visited {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;color: #666666;font-weight:bold}
a.textosgris:active {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;color: #999999;font-weight:bold}
a.textosgris:hover {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;color: #666666;font-weight:bold}
INPUT {font-family:"Arial";font-size:10px;}

</style>
