﻿.bodyMuroUsuario
{
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}
.Link
{
	cursor:pointer;
	color:#ab0020;
}
.Ocultar
{
	display:none;
}
.Seleccionable
{
	background-color:#d8dfea;
	cursor:pointer;
	color:#000;
	border:solid 1px #d8dfea!important;
}
.LinkDisabled
{
	color:#B2B2B2!important;    
	cursor: default!important;
}
.fondoAlerta
{
	background-color:#FF0000;
}
.CerrarPopUp
{
	background:url("images/cerrar.gif") no-repeat scroll center center transparent;
	height:25px;
	width:25px;
	top:-0px;
	right:0px;
	position:absolute;
	cursor:pointer;
	
}
.FondoHeader
{
	width:100%;
	border:solid 1px Transparent;
	background-color:#cccccc;
	line-height:20px;
}
.TextoResaltado
{
	color:#ab0020!important;
}
.TextoAlternativo
{
	color:#777777!important;
}
.TextoOscuro
{
	color:#000000!important;
}
.TextoClaro
{
	color:#ffffff!important;
}
.TextoEnfatizado
{
	color:Green!important;
}
.Negrita
{
	font-weight:bold;
}
.Subrayado
{
	text-decoration:underline;
}
.Texto12
{
	font-size:12px;
	font-family:Arial, Verdana, sans-serif;
	color:#000000;
}
.Texto14
{
	font-size:14px;
	font-family:Arial, Verdana, sans-serif;
	color:#ab0020;
}
.Texto16
{
	font-size:16px;
	font-family:Arial, Verdana, sans-serif;
	color:#000000;
}
.Texto22
{
	font-size:22px;
	font-family:Arial, Verdana, sans-serif;
	color:#000000;
}
.textoDefecto
{
	color:#d8d8d8!important;
}
.ImagenBuscador
{
	float:left; 
	height:15px; 
	margin-left:-1px; 
	text-align:center; 
	border:solid 1px #cccccc;
	padding:1px 1px 1px 2px;
}
.CajaTextoSinBorde
{
	border:none!important;
	width:99%;
	padding-right:2px;
}
.HideBrowser
{
  position: absolute;
  top: 0;
  left: 0;
  width:0px;
  margin: 0;
  border: solid 0px transparent;
  opacity: 0;
  filter: alpha(opacity=0);
}
.Bordear
{
	border:solid 1px #d8d8d8;
}
.botonRedondeado
{
	display:inline; 	
	background-color:#ab0020;
	border-radius:5px;
	border:solid 1px #ab0020;
	color:#ffffff;	
	padding: 3px 5px 3px 5px;	
	cursor:pointer;
}
.botonRedondeado:hover
{
	background-color:#780000;
}
.Image12
{
	border:0;
	max-height:12px;	
	max-width:12px;
	vertical-align:bottom;
}
.Image16
{
	border:0;
	max-height:16px;	
	max-width:16px;
}
.Image20
{
	border:0;
	max-height:20px;
	max-width:20px;
}
.Image30
{
	border:0;
	max-height:30px;
	max-width:30px;
}
.Image40
{
	border:0;
	max-height:40px;
	max-width:40px;
}
.Image50
{
	border:0;
	max-height:50px;
	max-width:50px;
}
.Image60
{
	border:0;
	max-height:60px;
	max-width:60px;
}
.Image80
{
	border:0;
	max-height:80px;
	max-width:80px;
}
.FondoModal
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
#popupThumbnail
{
	background-color:#ffffff;
	border:solid 1px Gray;
}
.popupCN
{
	background-color:#FFFFFF; 
	border:solid 5px Gray;
}
.itemSeparadorRight
{
	border-top:solid 1px Trasparent;
	border-right:solid 1px #d8d8d8;
	border-bottom:solid 1px Trasparent;
	border-left:solid 1px Trasparent;
}
.SeparadorSup
{
	border-top:solid 1px #D2D9E7;
}
.SeparadorInf
{
	border-bottom:solid 1px #D2D9E7;
}
.divContenedor
{
	clear:both;
	float:left;
	width:100%;
	border:solid 1px #cccccc;
}
.LoggedUserImage
{
	max-height:90px;
	max-width:90px;
}
.divMenu
{
	float:left; 
	width:200px; 
	margin-right:-1px;
}
.divFijarArribaMenu
{
	left:0px;
	top:0px;
	position:fixed!important;	
	background-color:#FFFFFF;
	z-index:1;	
}
.divFijarArribaNuevoMensaje
{
	left:200px;
	top:0px;
	position:fixed!important;	
	background-color:#FFFFFF;
	z-index:1;
}
.divFijarAbajoPie
{
	position:fixed!important;
	bottom:0;
}
.divPrincipal
{	
	float:left;
	width:75%;
	border-left: solid 1px #d8d8d8;
}
.divPosicionarTrasFijacion
{
	margin-left:199px;
}
.divMenuItem
{
	clear:both; 
	float:right; 
	padding:10px;
	min-width:179px;
	border-bottom: solid 1px #d8d8d8;	
	border-right: solid 1px #d8d8d8;
}
.MenuItemMenu
{
	float:left;
	width:100%;
	margin:0px;
	list-style:none;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:0px;
	padding-top:2px;
}	
.MenuItemMenuOpcion
{
	width:100%;
	padding: 3px 0px 3px 5px;
	line-height:16px;
}
.MenuItemMenuOpcionSeleccionado
{
	background-color:#d8dfea;
	color:#000;
}
.MenuItemMenuOpcionImagen
{
	clear:both;
	float:left;
	margin-right:3px;
	vertical-align:bottom;
}
.MenuItemMenuOpcion:hover
{
	background-color:#d8dfea;
	cursor:pointer;
}
.MenuItemExpand
{
	background-image:url("images/expand.png");
	background-repeat:no-repeat;
	background-position:98%;
	cursor:pointer;
}
.MenuItemCollapse
{
	background-image:url("images/collapse.png");
	background-repeat:no-repeat;
	background-position:98%;
	cursor:pointer;
}
#divNuevosMensajes
{
	clear:both;
	float:left;
	width:100%;
	padding:10px;
}
#divMenuNuevosMensajes li
{
	display:inline;
}
.ItemNuevoMensaje
{
	float:left;
	display:inline;
	padding: 0px 5px 0px 5px;
	border:solid 1px Transparent;	
	line-height:16px;
}
.ItemNuevoMensaje:hover
{
	border:solid 1px #435c98;
	background-color:#d8dfea;
	cursor:pointer;
	color:#000;
}
.ItemNuevoMensajeSeleccionado
{
	color:#000;
	border:solid 1px #435c98;
	background-color:#d8dfea;
}
.ItemNuevoMensajeImage
{
	vertical-align:middle;
}
#divPanelNotificaciones
{
	clear:both;
	float:left;
	width:90%;
	height:30px;
	margin:5px 0px 5px 5%;
	text-align:center;
	background-color:#d8dfea;
	border:solid 2px #435c98;	
}
#divPanelNotificaciones span
{
	line-height:30px;
}
.divMuro
{
	clear:both;
	float:left;
	padding-left:10px;
	display:none;
	border-left: solid 1px #d8d8d8!important;
	min-width:95%;
}
.divMuro ul
{
	list-style:none;
	padding:0px;
}   
.divMuro ul li
{
	position:relative;
	float:left;
	width:95%;
	margin-top:5px;
	padding:5px;
	margin-bottom:5px;
} 
.divMuro ul li:hover
{
	background-color:#F2F2F2;
}
#divMensajeUrgente ul
{
	float:left;
	width:95%;
	list-style:none;
	padding:0px 2% 0px 2%;
	overflow-y:auto;
} 
#divMensajeUrgente ul li
{
	float:left;
	width:100%;
	margin-top:5px;
	padding:5px;
	margin-bottom:5px;
	overflow-y:auto;
} 
.imagenMensaje
{
	float:left;
	padding-right:5px;
	max-width:45px;
}
.msgUsuMensaje
{
	font-size: 12px;
	margin-top: 5px;
	overflow: hidden;
}
.MensajeNuevo
{
	background-color:#d8dfea;
}
.calendarioEvento
{
	width:40px; 
	height:45px; 
	float:left;
	margin-right:5px;
	border:solid 1px #d8d8d8; 
	border-radius:5px;	
}
.calendarioEvento .calendarioEventoMes
{
	background-color:#9C2A2C; 
	text-align:center; 
	height:15px; 
	line-height:15px; 
	border-top-right-radius:5px; 
	border-top-left-radius:5px;
}
.calendarioEvento .calendarioEventoDia
{
	background-color:White; 
	text-align:center; 
	height:30px; 
	line-height:30px; 
	border-bottom-right-radius:5px; 
	border-bottom-left-radius:5px;
}
.msgRespuestas
{
	float:left;
	width:100%;
	background-color:#f5f5f5; 
}
.msgUsuRespuestaNuevaImagen
{
	float:left;
	border:0;
	max-width:30px;
	max-height:30px;
	overflow:hidden;
}
.msgRespuesta
{
	float:left;
	width:100%;
	background-color:#f5f5f5;
	padding-bottom:5px;
}
.msgMeGustaInfo
{ 
	float:left;
	width:100%;
	padding-top:3px;
	padding-bottom:3px;
}
.msgMeGustaInfoUsuariosLista
{
	position:absolute; 
	padding:5px 25px 5px 5px; 
	background-color:#edeff4; 
	border:double #000;
	display:none;
	z-index:101;
}
.msgAdjuntos
{
	background-color:#edeff4;
}
.msgAdjuntoImage
{
	float:left;
}
.NuevoMensajeEtiqueta
{
	float:left;
	margin:5px 5px 0px 0px;
}
.OtrasOpciones
{
	padding:3px;
	cursor:pointer;
}
.ItemNuevoMensajePara
{
	 float:left; 
	 width:20px; 
	 height:20px; 
	 text-align:center; 
	 margin:5px -1px -1px 0px; 
	 cursor:pointer;
}
.ItemNuevoMensajePara:hover
{
	background-color:#d8dfea;	
}
.ItemNuevoMensajeParaPanel
{
	clear:both; 
	float:left; 
	display:none;
	width:100%;
}
.ItemNuevoMensajeParaSeleccionado
{
	background-color:#d8dfea;
}
.ItemParaProveedor
{
	clear:both; 
	float:left; 
	width:100%; 
	padding:2px 0px 2px 0px;
}
.ItemParaProveedor:hover
{
	background-color:#d8dfea;
}
.ItemParaProceCompras
{
	clear:both; 
	float:left; 
	width:100%;  
	padding:2px 0px 2px 0px;
}
.ItemParaProceCompras:hover
{
	background-color:#d8dfea;
}
.ItemParaEstrucCompras
{
	clear:both; 
	float:left; 
	width:100%;  
	padding:2px 0px 2px 0px;
}
.ItemParaEstrucCompras:hover
{
	background-color:#d8dfea;
}
.ItemParaGrupo
{
	clear:both; 
	float:left; 
	width:100%; 
	padding:2px 0px 2px 0px;
}
.ItemParaGrupo:hover
{
	background-color:#d8dfea;
}
.ItemParaGrupoSelected
{
	background-color:#d8dfea;
}
.divLista
{
	clear:both; 
	float:left;
	width:98%;
	margin-left:1%;
	margin-right:1%;
	overflow:auto;
	border-top:solid 1px #cccccc;
}
.ItemPara
{
	cursor:pointer;
	padding:2px;
}
.ItemParaSeleccionado
{
	background-color:#d8dfea;	
}
.divOpcionesOtrosMensajes
{
	clear:both;
	float:left;
	width:100%;
	background-color:#EDEFF4;
	padding-left:10px;
}

.divTituloAyudaBuscador
{
	background-color:#d8dfea;
}
.divInfoAyudaBuscador
{
	background-color:#F2F2F2;
}
.tableAyudaBuscador
{
	border:solid 2px #ffffff;
}

.OcultarPopUp
{
	background:url("images/ocultar.png") no-repeat scroll center center transparent;
	height:25px;
	width:25px;
	top:0px;
	right:0px;
	position:absolute;
	cursor:pointer;	
}
.MostrarPopUp
{
	background:url("images/mostrar.png") no-repeat scroll center center transparent;
	height:25px;
	width:25px;
	top:0px;
	right:0px;
	position:absolute;
	cursor:pointer;	
}
.botonFormula{border-radius:0.2em; border:solid 0.1em #424242!important; padding:0.2em; margin-top:-0.2em; vertical-align:middle; cursor:pointer;}
.escenario
{
    display:inline-block; 
    cursor:pointer; 
    line-height:2em; 
    padding:0em 1em; 
    margin:0.5em; 
    border-radius:0.5em; 
    background-color:#dfdfdf;
}
.escenarioFiltro { display:inline-block; cursor:pointer; line-height:2em; padding:0em 1em; margin:0.5em; border-radius:0.5em; background-color:#dfdfdf; }
.escenarioVista { cursor:pointer; min-width:6em; text-align:center; display:inline-block; background-color:#dfdfdf; padding:0.8em 1em; margin:0em 0.5em; border-top-left-radius:0.8em; border-top-right-radius:0.8em; }
.escenarioSeleccionado span { color:#ffffff; }
.escenarioSeleccionado { background-color:#aaaaaa!important; }
.inlineBlock
{
    display:inline-block;    
}