﻿<style type="text/css">

.menu {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #FFFFFF; text-decoration: none}
.titulo {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: bold; font-weight: bolder; color: #FFFFFF; text-decoration: none}
.subtitulo {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: bold; font-weight: bolder; color: #000000; text-decoration: none}
.titulo1P{  font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-style: normal; font-weight: normal; color: #0c4c92; text-decoration: none}
.titulo2P{  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal;  color: #0c4c92; text-decoration: none}
.titulo3P{  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal;  font-weight: normal;color: #000000; text-decoration: none}
.textos {  font-family: sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #4c4c4c; text-decoration: none}
.textosbl {  font-family: sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color: #ffffff; text-decoration: none}
.formulario {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none}
a:link {text-decoration:none;color:#000000; ; text-decoration: underline}
a:visited {text-decoration:none;color:#000000}
a:active {font-style: bold;text-decoration:none;color:#999999}
a:hover {  color: #999999; text-decoration: underline}
INPUT {font-family:"Arial";font-size:10px;}
.caja {
	border: 1px solid #cccccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: normal;
}
.registro {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; color: #000000; text-decoration: none}
a.registro:link {text-decoration:none;color:#000000; text-decoration: none}
a.registro:visited {text-decoration:none;color:#000000; text-decoration: none}
a.registro:active {text-decoration:none;color:#000000; text-decoration: none}
a.registro:hover {text-decoration:none;color:#999999; text-decoration: none}
.textosblSM {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.TextoClaro
{
	color:#ffffff!important;
}
.Negrita
{
	font-weight:bold;
}
.FondoModal
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
</style>
